{% extends 'JournalsBundle:Base:pageonecol.html.twig' %}

{% block content %}
    <div class="jumbotron text-center">
        <h1>Ваша заявка принята!</h1>
        <p>Ваша заявка на публикацию статьи в конференцию принята, спасибо за то, что воспользовались нашим сервисом!</p>
    </div>
{% endblock content %}