{% extends 'JournalsBundle:Base:pageonecol.html.twig' %}
{% set justStepForm = false %}
{% if form is defined %}
    {% if form.vars.name == 'just_step' %}
        {% set justStepForm = true %}
    {% endif %}
    {% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}
{% endif %}

{% block search %}
    <h4>Оформление заявки на публикацию статьи в конференции</h4>
{% endblock search %}

{% block content %}
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
            {% set current = null %}
            {% for step in step_context.process.orderedSteps %}
                {% if step == step_context.currentStep %}
                    {% set current = loop.index %}
                {% endif %}

                {% if current == loop.index %}
                    {% set class = " class=active" %}
                {% elseif current is null %}
                    {% set class = "" %}
                {% elseif current < loop.index %}
                    {% set class = " class=disabled" %}
                {% endif %}

                {% set link = path('sylius_flow_display', {'stepName': step_context.currentStep.name, 'scenarioAlias': step_context.process.scenarioAlias }) %}
                {% if current is null or current == loop.index %}
                    {% set link = path('sylius_flow_display', {'stepName': step.name, 'scenarioAlias': step_context.process.scenarioAlias }) %}
                {% endif %}
                <li{{ class }}>
                    <a href="{{ link }}">
                        <h4 class="list-group-item-heading">{{ 'Step'|trans({}, 'flow_steps') }} {{ loop.index }}</h4>
                        <p class="list-group-item-text">{{ (step_context.process.scenarioAlias ~ '.' ~ step.name)|trans({}, 'flow_steps') }}</p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    {% if form is defined and not justStepForm %}
        {{ form_start(form, { action: path('sylius_flow_forward', {'stepName': step_context.currentStep.name, 'scenarioAlias': step_context.process.scenarioAlias }) }) }}
    {% endif %}
    <div class="row setup-content">
        <div class="col-xs-12">
            {% block step_content %}{% endblock %}
        </div>
    </div>

    <hr />

    {% if form is defined and justStepForm %}
        {{ form_start(form, { action: path('sylius_flow_forward', {'stepName': step_context.currentStep.name, 'scenarioAlias': step_context.process.scenarioAlias }) }) }}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {% if step_context.previousStep is not null %}
            <a class="btn btn-default" href="{{ path('sylius_flow_display', {'stepName': step_context.previousStep.name, 'scenarioAlias': step_context.process.scenarioAlias }) }}">Назад</a>
            {% endif %}
        </div>
        <div class="col-md-6 text-right">
            <button class="btn btn-{{ step_context.nextStep is not null ? 'primary' : 'success' }}" type="submit">
            {% if step_context.nextStep is not null %}Вперед{% else %}Отправить{% endif %}
            </button>
        </div>
    </div>
    {% if form is defined %}
        {{ form_end(form) }}
    {% endif %}
{% endblock content %}