{% extends "AsuBundle:Default:pageonecol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Создание юр. лица</h3>
    </div>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.kind) }}
        {{ form_widget(form.kind) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
