{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование работника</h3>
    </div>

    {{ form_start(form) }}


    <div class="form-group col-md-6">
        {{ form_label(form.first_name, 'Имя') }}
        {{ form_widget(form.first_name) }}
        {{ form_errors(form.first_name) }}
    </div>

    <div class="form-group col-md-6">
        {{ form_label(form.last_name, 'Фамилия') }}
        {{ form_widget(form.last_name) }}
        {{ form_errors(form.last_name) }}
    </div>

    {% for passwordField in form.plain_password %}
        <div class="form-group col-md-6">
            {{ form_label(passwordField) }}
            {{ form_widget(passwordField) }}
        </div>
    {% endfor %}

    <div class="form-group col-md-12">
        {{ form_label(form.email, 'Email') }}
        {{ form_widget(form.email, { 'attr': {'id': 'idkfadwad'} }) }}
        {{ form_errors(form.email) }}
    </div>

    {#<div class="form-group col-md-{% if is_granted('ROLE_SUPER_ADMIN') %}6{% else %}12{% endif %}">#}
        {#{{ form_label(form.corporate, 'Юр.лицо') }}#}
        {#{{ form_widget(form.corporate, { 'attr': {'id': 'idkfa'} }) }}#}
    {#</div>#}

    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group col-md-6">
            {{ form_label(form.userRoles, 'Привилегии') }}
            {{ form_widget(form.userRoles) }}
        </div>
    {% endif %}


    {{ form_end(form) }}
{% endblock %}
