{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Отправить приглашение сотруднику</h3>
    </div>

    <div id="employee_list">
        <form id="jedit">
            <input type="hidden" name="corporate_id" id="corporate_id" value="{{ corporate.id }}" />

            <div class="form-group">
                <label>Укажите E-mail человека, которого вы хотите присоединить к вашей организации</label>
                <input id="email" name="email" class="form-control" type="text" placeholder="E-mail" />
            </div>

            <button id="send_invitation" type="submit" class="btn btn-success">Выслать приглашение</button>
        </form>
    </div>

    <script>
        $(function() {
            $('#jedit').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'Введите e-mail'
                            },
                            emailAddress: {
                                message: 'Не правильный формат e-mail'
                            }
                        }
                    }
                }
            }).on('success.form.fv', function(e) {
                save_data('jedit', '/editorum/employee/invitation/send/', '/editorum/employees/{{ corporate.id }}/');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}