{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div id="employee_list">
        <div class="page-header">
            <a href="{{ path('employee_create', {'id': corporate.id, 'type': corporate.corporateName}) }}" class="btn btn-default pull-right"
               id="publication_list_create">Добавить сотрудника</a>
            <a href="{{ path('employee_invite', {'id': corporate.id, 'type': corporate.corporateName}) }}"
               class="btn btn-default pull-right" id="publication_list_create">Пригласить сотрудника</a>
            <h3>Список сотрудников</h3>
        </div>

        <table id="elist" class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">ID</th>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>E-mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in corporate.users %}
                <tr>
                    <td class="text-right">{{ item.id }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.secondname }}</td>
                    <td>{{ item.email }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('employee_edit', {'id': item.id}) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <div class="btn btn-default btn-remove" data-id ="{{ item.id }}">
                                <span class="fa fa-trash-o text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script>
            $(function() {
                //@ToDo Переделать на удаление юзверей
                $('.btn-remove').on('click touchstart', function (e) {
                    if (confirm('Точно удалить ?')) {
                        $.ajax('{{ path('employee_ajax_remove') }}',
                                {
                                    async: false,
                                    data: {
                                        id: $(this).data('id'),
                                    },
                                    type: 'POST'
                                }
                        ).done(function (result) {
                            try {
                                var res = jQuery.parseJSON(result);
                                if (!res.success) console.log(result);
                            } catch (err) {
                                alert('err'.result);
                            }
                            window.location.href = '{{ path('corporate_employees', {'id': corporate.id, 'type':
                                corporate.corporateName}) }}';
                        }).fail(function () {
                            alert('Ошибка удаления')
                        });
                    }
                    e.stopPropagation();
                });
            });
        </script>
    </div>
{% endblock %}