{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('corporate_create', {'id': organization.id}) }}" class="btn btn-default pull-right"
           id="publication_list_create">
            Создать новое юр.лицо</a>
        <h3>Список юр.лиц</h3>
    </div>

    <div id="organizations_list">
        <table id="ilist" class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название юр.лица</th>
                <th>Тип</th>
            </tr>
            </thead>
            <tbody>
            {% for corporate in organization.corporates %}
                <tr>
                    <td>{{ corporate.id }}</td>
                    <td>{{ corporate.ru.title }}</td>
                    <td>
                        {{ kinds[corporate.kind] is defined ? kinds[corporate.kind] : '' }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            {% set corporate_edit_link = 'corporate_'~corporate.corporateName~'_edit' %}
                            <a href="{{ path(corporate_edit_link, {'id': corporate.id}) }}"
                               class="btn btn-default"><span class="fa fa-pencil-square-o"></span>
                            </a>
                            <a href="{{ path('corporate_remove', {'type': corporate.corporateName, 'id': corporate.id})
                            }}"
                               class="btn btn-default"><span class="fa fa-trash-o text-danger"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
