{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование сведений об организации</h3>
    </div>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.fullname) }}
        {{ form_widget(form.fullname) }}
        {{ form_errors(form.fullname) }}
    </div>

    {{ form_end(form) }}

    {#<form action="{{ path('editorum_org_save') }}" name="form" method="post">#}
        {#<input id="_id" name="form[_id]" type="hidden" value="{{ data.__get('_id') }}"/>#}

        {#<div class="form-group">#}
            {#<div class="checkbox">#}
                {#<input type="checkbox" id="is_default">#}
                {#<label for="check-all">Организация по умолчанию</label>#}
            {#</div>#}
        {#</div>#}
        {##}
        {#<div class="form-group">#}
            {#<label>Краткое название организации</label>#}
            {#<input id="title" name="form[name]" class="form-control" type="text"#}
                   {#placeholder="Название организации на русском" value="{{ data.__get('name') }}" required/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Полное название организации (для договора)</label>#}
            {#<input id="full_title" name="form[fullname]" class="form-control" type="text"#}
                   {#placeholder="Полное название организации" value="{{ data.__get('fullname') }}" required/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>ФИО сотрудника подписывающего договора (обычно генерального директора)</label>#}
            {#<input id="director_fio" name="form[director_fio]" class="form-control" type="text" placeholder="ФИО"#}
                   {#value="{{ data.__get('director_fio') }}" required/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>ФИО сотрудника подписывающего договора (в родительском падеже)</label>#}
            {#<input id="director_fio_r" name="form[director_fio_r]" class="form-control" type="text"#}
                   {#placeholder="ФИО в родительском падеже" value="{{ data.__get('director_fio_r') }}"/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>E-mail для отправки системных сведений (например отчетов по присвоению DOI)</label>#}
            {#<input id="feedback_email" name="form[email]" class="form-control" type="text" placeholder="E-mail"#}
                   {#value="{{ data.__get('email') }}" required/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Депозитор (CrossRef) (на английском языке)</label>#}
            {#<input id="depositor" name="form[depositor]" class="form-control" type="text"#}
                   {#placeholder="Название организации" value="{{ data.__get('depositor') }}"/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Регистрант (CrossRef) (на английском языке)</label>#}
            {#<input id="registrant" name="form[registrant]" class="form-control" type="text"#}
                   {#placeholder="Название организации" value="{{ data.__get('registrant') }}"/>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Префикс DOI для данной организации</label>#}
            {#<input id="doi_prefix" name="form[doi_prefix]" class="form-control" type="text" placeholder="Префикс"#}
                   {#value="{{ data.__get('doi_prefix') }}"/>#}
        {#</div>#}

        {#<button id="save_org" name="submit" type="submit" class="btn btn-success">Сохранить</button>#}
    {#</form>#}
{% endblock %}
