{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('organization_create') }}" class="btn btn-default pull-right"
           id="publication_list_create">Создать новую организацию</a>
        <h3>Список организаций</h3>
    </div>

    <div id="organizations_list">
        <table id="ilist" class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название организации</th>
                <th class="col-md-2"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in organizations %}
                <tr data-id="{{ item.id }}">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td class="text-right">
                        <div class="btn-group">

                            <a href="{{ path('organization_edit', {'id': item.id}) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <a href="{{ path('organization_remove', {'id': item.id}) }}" class="btn btn-default">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="fa fa-users"></span>
                                Сотрудники по юр. лицам <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {% for corporate in item.corporates %}
                                    <li>
                                        <a href="{{ path('corporate_employees',
                                        {'id': corporate.id, 'type':corporate.corporateName}) }}">
                                            {{ corporate.ru.title }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
