<form action="{{ path('user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request form-horizontal">

    <h3><span class="fa fa-lock pull-right"></span>Восстановление доступа</h3>
    <hr>
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
    {% endif %}
    
    
    <div class="form-group">
        <label class="col-sm-2 control-label" for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
        <div class="col-sm-10">
            <input type="text" id="username" name="username" class="form-control" placeholder="Введите логин" required="required" >
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" id="submit" name="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary">
        </div>
    </div>
    
</form>
