{% form_theme form 'bootstrap_3_layout.html.twig' %}

<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_resetting_reset">
    <h3><span class="fa fa-lock pull-right"></span>Восстановление доступа</h3>
    <hr>

    {#<div class="form-group">#}
        {#<label class="col-sm-2 control-label">Логин</label>#}
        {#<div class="col-sm-10">#}
            {#<input type="text" id="username" name="username" value="{{ username }}" class="form-control" placeholder="Введите email">#}
        {#</div>#}
    {#</div>#}

    {#<div class="form-group">#}
        {#<label class="col-sm-2 control-label">Пароль</label>#}
        {#<div class="col-sm-10">#}
            {#<input type="password" id="password" name="password" class="form-control" placeholder="Укажите пароль">#}
        {#</div>#}
    {#</div>#}

    
    
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-success" value="{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
