{% extends 'AsuBundle:Default:pageonecol.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>
            Список заявок на публикацию статей в конференции
            {% if requests is defined %}
                <small class="sub-header">
                    Всего <strong>{{ requests.getTotalItemCount }}</strong> заявок
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('conference_request_index') }}">Все</a>
        <a href="{{ path('conference_request_index', { 'filter': 'status:0:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:0:int' ? ' active' }}">Новые</a>
        <a href="{{ path('conference_request_index', { 'filter': 'status:2:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:2:int' ? ' active' }}">Отклоненные</a>
        <a href="{{ path('conference_request_index', { 'filter': 'status:3:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:3:int' ? ' active' }}">На доработке</a>
        <a href="{{ path('conference_request_index', { 'filter': 'status:1:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:1:int' ? ' active' }}">Принятые</a>
    </div>
    <br>
    {% if requests|length == 0 %}
        <div class="alert alert-danger">Заявок не найдено!</div>
    {% else %}
        {{ knp_pagination_render(requests) }}

        <table class="table table-hover table-border">
            {% for item in requests %}
                {% if loop.first %}
                    <thead>
                        <tr>
                            <th>{{ knp_pagination_sortable(requests, '№', 'id') }}</th>
                            <th>{{ knp_pagination_sortable(requests, 'Пользователь подавший заявку', 'user') }}</th>
                            <th>{{ knp_pagination_sortable(requests, 'Конференция', 'reference') }}</th>
                            <th>Статья для конференции</th>
                            <th>{{ knp_pagination_sortable(requests, 'Статус заявки', 'status') }}</th>
                            <th>Комментарий к заявке</th>
                            <th>{{ knp_pagination_sortable(requests, 'Дата подачи заявки', 'createdAt') }}</th>
                            <th class="text-right">
                                <i class="fa fa-cog"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                {% endif %}
                    <tr>
                        <td><a href="{{ path('conference_request_index', { 'filter': 'id:'~item.id~':int' }) }}">{{ item.id }}</a></td>
                        <td>{{ item.user.username }}</td>
                        <td><a href="{{ path('conference_show', { 'id': item.reference.id }) }}" target="_blank">{{ item.reference.ru.title }}</a></td>
                        <td><a href="{{ path('conferencearticle_edit', {'id': item.publication.id}) }}" target="_blank">{{ item.publication.en.title }}</a></td>
                        <td><span class="label label-{{ request_status(item.status).class }}">{{ request_status(item.status).msg }}</span></td>
                        <td>{{ item.comment|raw }}</td>
                        <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                        <td class="text-right">
                            <div class="btn-group btn-group-sm" data-id="{{ item.id }}">
                                {% if item.status != 1 %}
                                <a href="#" class="btn btn-success" data-toggle="tooltip" title="Принять"><i
                                            class="fa fa-check"></i></a>
                                <a href="#" class="btn btn-danger" data-toggle="tooltip" title="Отклонить"><i
                                            class="fa fa-remove"></i></a>
                                <a href="#" class="btn btn-default" data-toggle="tooltip" title="Вернуть на доработку"><i
                                            class="fa fa-share"></i></a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% if loop.last %}
                    </tbody>
                {% endif %}
            {% endfor %}
        </table>
    {% endif %}

    {% block modal %}
        <div class="modal fade" tabindex="-1" role="dialog" id="commentary-box">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Добавить комментарий</h4>
                    </div>
                    <div class="modal-body">
                        <textarea name="" id="commentary" class="form-control"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                        <button type="button" id="send" class="btn btn-primary">Отправить</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endblock modal %}
{% endblock %}

{% block page_script %}
    <script>
        $(function () {
            $('.btn-group-sm a').each(function () {
                var $box = $('#commentary-box');
                $(this).on('click', function () {
                    var request_id = $(this).parent().data('id');
                    if ($(this).find('i').hasClass('fa-check')) {
                        $.post(
                                Routing.generate(
                                        'conference_request_change_status',
                                        {
                                            id: request_id
                                        }
                                ),
                                {
                                    status: 1
                                },
                                function (data) {
                                    window.location.href = Routing.generate(
                                            'conference_request_index',
                                            {
                                                filter: 'id:'+request_id+':int'
                                            }
                                    )
                                }
                        );
                    }
                    if ($(this).find('i').hasClass('fa-remove')) {
                        $box.find('textarea').val('');
                        $box.modal('show');
                        $box.find('#send').on('click', function () {
                            $.post(
                                    Routing.generate(
                                            'conference_request_change_status',
                                            {
                                                id: request_id
                                            }
                                    ),
                                    {
                                        status: 2,
                                        comment: $box.find('textarea').val()
                                    },
                                    function (data) {
                                        $box.modal('hide');
                                        window.location.href = Routing.generate(
                                                'conference_request_index',
                                                {
                                                    filter: 'id:' + request_id + ':int'
                                                }
                                        )
                                    }
                            );
                        });
                    }
                    if ($(this).find('i').hasClass('fa-share')) {
                        $box.find('textarea').val('');
                        $box.modal('show');
                        $box.find('#send').on('click', function () {
                            $.post(
                                    Routing.generate(
                                            'conference_request_change_status',
                                            {
                                                id: request_id
                                            }
                                    ),
                                    {
                                        status: 3,
                                        comment: $box.find('textarea').val()
                                    },
                                    function (data) {
                                        $box.modal('hide');
                                        window.location.href = Routing.generate(
                                                'conference_request_index',
                                                {
                                                    filter: 'id:' + request_id + ':int'
                                                }
                                        )
                                    }
                            );
                        });
                    }
                });
            });
        });
    </script>
{% endblock page_script %}
