{% extends "AsuBundle:Default:pageonecol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Редактирование серии</h3>
    </div>

    <form id="serie_edit">
        <input id="_id" type="hidden" value="{{ id }}" />

        <div class="form-group">
            <label>Название</label>
            <input id="title" class="form-control" type="text" value="{{ data.__get('title') }}"/>
        </div>

        <div class="form-group">
            <label>Описание</label>
            <textarea name="about" id="about" class="form-control" rows="10">{{ data.__get('about')|raw }}</textarea>
        </div>

        <div class="form-group">
            <label>Описание(Англ)</label>
            <textarea name="eng_about" id="eng_about" class="form-control" rows="10">{{ data.__get('eng_about')|raw }}</textarea>
        </div>

        <button id="save" class="btn btn-success">Сохранить</button>
        {% if id != 0 %}
        <button id="remove" class="btn btn-danger pull-right">
            <span class="fa fa-trash-o"></span>
            Удалить
        </button>
        {% endif %}
    </form>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>

    <script>
        $(function() {
            var aboutRu = CKEDITOR.replace('about'),
                aboutEn = CKEDITOR.replace('eng_about');

            $('#save').on('click', function(e) {
                e.preventDefault();
                $('#about').val(aboutRu.getData());
                $('#eng_about').val(aboutEn.getData());
                save_data('serie_edit', '{{ path('serie_save') }}', '{{ path('serie_all_list') }}');
            });

            $('#remove').on('click touchstart',function(e){
                remove_data($('#_id').val(),'{{ path('serie_remove') }}','{{ path('serie_all_list') }}');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}