{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('serie_edit',{'id':0}) }}" class="btn btn-primary pull-right" id="publication_list_create">Создать
            серию</a>

        <h3>Список серий</h3>
    </div>

    <div id="series_list">
        <table id="ilist" class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="text-right">ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in series %}
                <tr>
                    <td class="text-right">{{ item.__get('_id') }}</td>
                    <td>{{ item.__get('title') }}</td>
                    <td>{{ item.__get('about')|raw }}</td>
                    <td class="td-sm">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('serie_show', { id: item.__get('_id') }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a href="{{ path('serie_edit', {'serie_id': item.__get('_id') }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>

                            <div class="btn btn-default btn-remove" data-id="{{ item.__get('_id') }}">
                                <span class="fa fa-trash-o text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script>
            $(function () {
                $('.btn-remove').on('click touchstart', function (e) {
                    remove_data($(this).data('id'), '{{ path('serie_remove') }}', '{{ path('serie_all_list') }}');
                    e.preventDefault();
                });
            });
        </script>
    </div>
{% endblock %}