{% extends "AsuBundle:Default:pageonecol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Просмотр серии</h3>
    </div>

    <table class="table table-hover">
        <tr>
            <td class="head">Название (RUS)</td>
            <td>{{ serie.title }}</td>
        </tr>
        <tr>
            <td class="head">Название (ENG)</td>
            <td>{{ serie.engTitle }}</td>
        </tr>
        <tr>
            <td class="head">Описание (RUS)</td>
            <td>{{ serie.about|raw }}</td>
        </tr>
        <tr>
            <td class="head">Описание (ENG)</td>
            <td>{{ serie.engAbout|raw }}</td>
        </tr>
    </table>
{% endblock %}