{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <table class="table table-bordered table-striped vertical-align-middle">
        <thead>
        <tr>
            <th>Организация</th>
            <th>Ограничение DOI</th>
            <th class="text-center"><span class="fa fa-cog"></span></th>
        </tr>
        </thead>
        <tbody>
        {% for item in organizations %}
            <tr>
                <td class="td-lg">{{ item.fullname }}</td>
                <td class="text-center">{{ item.doiLimit }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('doi_edit', {'id': item.id}) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="fa fa-trash-o text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
