{% extends "AsuBundle:Default:pageonecol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.doi_limit) }}
        {{ form_widget(form.doi_limit) }}
        {{ form_errors(form.doi_limit) }}
    </div>

    {{ form_end(form) }}

{% endblock %}
