{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
            </div>
        </div>
        <div class="col-md-9">
            <div class="page-header">
                <h3>{{ journal.ru.title }}</h3>
            </div>

            <p>Свидетельство о регистрации ПИ № ФС77-58665 от 2014-07-21</p>

            <dl class="dl-horizontal">
                <dt>Серия:</dt>
                <dd>без серии</dd>

                <dt>Транслитерированное название</dt>
                <dd></dd>

                <dt>Англоязычное название</dt>
                <dd>{{ journal.en.title }}</dd>

                <dt>ISSN</dt>
                <dd>{{ journal.issnOnline }}</dd>

                <dt>DOI</dt>
                <dd>{{ journal.doi }}</dd>

                <dt>Включено в ВАК</dt>
                <dd>{{ journal.statuses.is_vak ? 'Да' : 'Нет' }}</dd>

                <dt>Идентификатор в РИНЦ</dt>
                <dd></dd>

                <dt>Издатель</dt>
                <dd></dd>
            </dl>

            {% if journal.issues %}
                <h4>Свежие выпуски журнала</h4>
                <dl class="dl-horizontal">
                    {% for issue in journal.issues %}
                        <dt>{{ issue.datePublished|date('d.m.Y') }}</dt>
                        <dd>
                            <a href="{{ path('nauka_issue', {'id': issue.id}) }}">
                                Volume: {{issue.volume}}Issue: {{ issue.issue}}
                            </a>
                        </dd>
                    {% endfor %}
                </dl>
            {% endif %}

            {#{% if journal.mission %}#}
                {#<h4>Миссия журнала</h4>#}
                {#{{ journal.mission }}#}
            {#{% endif %}#}
        </div>
    </div>
{% endblock %}