{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Добавление места работы</h3>
    </div>
    {{ form_start(form) }}

    {{ form_widget(form.is_exists) }}

    <div id="selectList">
        {{ form_row(form.is_vuz) }}
        <div id="vuz">
            <div class="form-group">
                {{ form_label(form.vuz) }}
                {{ form_widget(form.vuz) }}
            </div>
        </div>
        <div id="corporate">
            <div class="form-group">
                {{ form_label(form.corporate) }}
                {{ form_widget(form.corporate) }}
            </div>
        </div>
    </div>
    <div id="byHand">
        <div class="row">
            <div class="form-group col-md-12">
                {{ form_label(form.hand.title) }}
                {{ form_widget(form.hand.title) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                {{ form_label(form.hand.country) }}
                {{ form_widget(form.hand.country) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.hand.city.ru) }} <small>| {{ 'ru'|trans }}</small>
                {{ form_widget(form.hand.city.ru) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.hand.city.en) }} <small>| {{ 'en'|trans }}</small>
                {{ form_widget(form.hand.city.en) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            {{ form_label(form.department) }}
            {{ form_widget(form.department) }}
        </div>
        <div class="form-group col-md-6">
            {{ form_label(form.position) }}
            {{ form_widget(form.position) }}
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 text-right">
            <button type="submit" class="btn btn-primary">{{'form.button.add'|trans}}</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    <script>
        $(document).ready(function () {
            $("#{{ form.vars.name }}_is_exists").showBySelect('#selectList', '#byHand');
            $("#{{ form.vars.name }}_is_vuz").showBySelect('#vuz', '#corporate');
        });
    </script>
{% endblock page_script %}
