{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if app.session.get('way[route]') is not null %}
            <a href="{{ path(app.session.get('way[route]'), { id: app.session.get('way[id]')}) }}"
               class="btn btn-warning pull-right">Вернуться к произведению</a>
        {% endif %}
        <a href="{{ path('author_job_add', { 'id': app.request.get('id') }) }}" class="btn btn-primary pull-right">Добавить место работы</a>
        <h3>Информация о работе</h3>
    </div>

    {% if entity.workplaces|length == 0 %}
        <div class="alert alert-info" role="alert">{{ 'author.job.empty'|trans }}</div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>позиция</th>
                <th>название</th>
                <th>подразделение</th>
                <th>должность</th>
                <th class="col-md-2 text-right"><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for workplace in entity.workplaces %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ workplace.place.ru.title }}</td>
                    <td>{{ workplace.department }}</td>
                    <td>{{ workplace.position }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            {% if not loop.first %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="down">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            {% endif %}
                            {% if not loop.last %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="up">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            {% endif %}
                        </div>
                        <a href="{{ path('author_job_remove', {'id': app.request.get('id'), 'jobId': workplace.id}) }}"
                           class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock content %}

{% block page_script %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="position"]').each(function () {
                $(this).on('click', function () {
                    var oldPos = $(this).data('pos'),
                            posDirection = $(this).data('direction'),
                            newPos = false;
                    switch (posDirection) {
                        case 'up':
                            newPos = oldPos + 2;
                            break;
                        case 'down':
                            newPos = oldPos;
                            if (oldPos > 0) {
                                newPos = oldPos - 1;
                            }
                            break;
                    }

                    window.location.href = Routing.generate('sortable_collection', {
                        docId: {{ app.request.get('id') }},
                        newPos: newPos,
                        oldPos: oldPos,
                        docName: 'author',
                        property: 'workplaces'
                    });
                });
            });
        });
    </script>
{% endblock page_script %}
