{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        {% if section_id > 0 %}
            <h3>Редактирование секции</h3>
        {% else %}
            <h3>Создание секции</h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.title) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.title) }}
                {{ form_errors(form.ru.title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.title) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.title) }}
                {{ form_errors(form.en.title) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}

{% endblock %}