{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if new is not defined or new == true %}
        <h3>Добавление секции сборника</h3>
        {% else %}
        {#<h3>Редактирование позиции рубрики <small>| Журнал "{{ list.issue.journal.ru.title }}" Том {{ list.issue.volume }} Номер {{ list.issue.issue }} рубрика "{{ list.rubric.ru.title }}"</small></h3>#}
        <h3>Редактирование позиции секции <small>| Конференция "{{ list.collection.conference.ru.title|raw }}"
                <br>Сборник {{ list.collection.ru.title }}
                <br>секция "{{ list.section.ru.title }}"</small></h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
