{% extends "VkrBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Создание нового пользователя для ЭБС ВКР</h3>
    </div>

    <form name="add_user" action="{{ path('save_vkr_user') }}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" class="form-control" placeholder="Имя пользователя">
                </div>

                <div class="form-group">
                    <label>Пароль</label>
                    <input type="text" name="password" class="form-control" placeholder="Пароль">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" name="email" class="form-control" placeholder="Email">
                </div>

                <div class="form-group">
                    <label>Название учебного заведения</label>
                    <select name="university_id" class="form-control"></select>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Добавить пользователя</button>
    </form>

{% endblock %}