<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editorum</title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
    <style>
        .login{
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .login .checkbox{
            padding-top: 0;
        }
    </style>
</head>
<body>

{#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
    {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}
    {#<a href="{{ path('fos_user_security_logout') }}">#}
        {#{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
    {#</a>#}
{#{% else %}#}
    {#<a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>#}
{#{% endif %}#}

<form action="{{ path("fos_user_security_check") }}" method="post" id="login-vkr" class="form-horizontal login">
    <h3><span class="fa fa-lock pull-right"></span>Вход</h3>
    <hr>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

    <div class="form-group">
        <label class="col-sm-2 control-label">Логин</label>
        <div class="col-sm-10">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Введите email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" id="password" name="_password" class="form-control" placeholder="Укажите пароль">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Запомнить меня
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" id="_submit" name="_submit" value="Войти" class="btn btn-primary">
            <a href="#" class="btn btn-default">Закрыть</a>
        </div>
    </div>
</form>

<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
<script>
    $(function() {
        $('#login-vkr').formValidation({
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            locale: 'ru_RU',
            fields: {
                _username: {
                    validators: {
                        notEmpty: {
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'Не верный формат email'
                        }
                    }
                },
                _password: {
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 8,
                            message: 'Пароль должен быть не менее 8'
                        },
                        regexp: {
                            regexp: /(?=.*\d)(?=.*[a-z])/,
                            message: 'Пароль должен содержать буквы и цыфры'
                        }
                    }
                }
            }
        }).on('prevalidate.form.fv', function() {
            $('.fa-lock').removeClass('fa-lock').addClass('fa-unlock');
        }).on('success.form.fv', function() {

        });

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                $.bootstrapGrowl('{{ message|trans({}, 'FOSUserBundle') }}', {
                    type: 'success',
                    align: 'right',
                    width: 300,
                    stackup_spacing: 30
                });
            {% endfor %}
        {% endfor %}

        {% if error %}
            $.bootstrapGrowl('{{ error|trans({}, 'FOSUserBundle') }}', {
                type: 'danger',
                align: 'right',
                width: 300,
                stackup_spacing: 30
            });
        {% endif %}
    });
</script>
</body>
</html>