<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editorum</title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/journals/css/journals.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/lib.js') }}"></script>
    <script src="{{ asset('bundles/journals/js/jquery.autocomplite.js') }}"></script>
    {% block head %}
    {% endblock %}
    <style>
        header{
            padding-bottom: 0;
        }
        .content {
            padding-top: 71px;
        }
    </style>
</head>
<body>
<div class = 'list-group sub_menu hide'>
    <a href="#" class="list-group-item prevDefault change_folder">Изменить</a>
    <a href="#" class="list-group-item prevDefault remove_folder">Удалить</a>
    <a href="#" class="list-group-item prevDefault create_folder">Создать папку</a>
</div>

<header id="position_top">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Меню</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/vkr/"></a>
                </div>

                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="fa fa-user"></span> {{ username }}</a></li>
                        <li><a href="/logout/"><span class="fa fa-sign-out"></span> Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<div class="content container">
    {% block content %}{% endblock %}
    <div class="pull-right hide" id="up">
        <div class="btn btn-default">
            <span class="fa fa-long-arrow-up"></span>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <hr>
        &copy; Editorum <span class="year"></span>
    </div>
</footer>


<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/journals/js/search.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
</body>
</html>