{% extends "VkrBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <!--ol class="breadcrumb">
        <li><a href="/nauka/">Главная</a></li>
        <li><a href="/selfpublishing/">Профиль</a></li>
        <li class="active">ВКР</li>
    </ol-->

    <div class="page-header">
        <div class="btn-toolbar pull-right">
            <!--div class="dropdown">
                <div data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                    <span class="fa fa-download"></span>
                    Экспорт статистики в файл
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href="#"><span class="fa fa-file-excel-o"></span> XLS</a></li>
                    <li><a href="#"><span class="fa fa-file-pdf-o"></span> PDF</a></li>
                </ul>
            </div-->

            <div class="btn btn-warning" data-toggle="modal" data-target="#modal-upload-vkr">
                <span class="fa fa-upload"></span> Загрузить
            </div>
        </div>

        <h3>ЭБС ВКР <span class="text-muted">{{ university }}</span></h3>
    </div>

    <div class="vkr">
        <div class="btn-toolbar pull-right">
            <span class="label label-success" id="counter" data-toggle="tooltip" data-placement="top" title="Выделено">0</span>

            <div class="checkbox">
                <input type="checkbox" id="check-all">
                <label for="check-all">Выделить все</label>
            </div>
            <a href="#modal-confirm" class="btn btn-danger disabled" data-toggle="modal">Удалить выделенное</a>
        </div>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-1" data-toggle="tab">Все</a></li>
            {#<li><a href="#tab-2" data-toggle="tab">Бакалавриат</a></li>#}
            {#<li><a href="#tab-3" data-toggle="tab">Специалитет</a></li>#}
            {#<li><a href="#tab-4" data-toggle="tab">Магистратура</a></li>#}
            {#<li><a href="#tab-5" data-toggle="tab">Статистика по ВКР</a></li>#}
            {#<li><a href="#tab-6" data-toggle="tab">Поиск по ВКР</a></li>#}
            <li><a href="#tab-7" data-toggle="tab">Шаблоны титульных листов</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Помощь <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#tab-8-1" data-toggle="tab">Инструкция по загрузке ВКР</a></li>
                    <li><a href="#tab-8-2" data-toggle="tab">Инструкция по заполнению шаблонов титульных листов</a></li>
                    <li><a href="{{ asset('bundles/vkr/images/Contract.docx') }}" target="_blank">Типовой договор неисключительной лицензии для студентов <span class="fa fa-file-word-o"></span></a></li>
                </ul>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
                <br>

                {% for vkr in vkrs %}
                    <div class="vkr-item">
                        <div class="clearfix">
                            <div class="btn-toolbar pull-right">
                                <div class="btn btn-default js-remove_vkr" data-toggle="tooltip" data-placement="top" title="Удалить" data-value="{{ vkr.__get('_id') }}">
                                    <span class="fa fa-trash-o text-danger"></span>
                                </div>
                                <a class="btn btn-default"  data-toggle="tooltip" data-placement="top" title="Редактировать" href="/vkr/edit/{{ vkr.__get('_id') }}/">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                                <a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Скачать"  href="/{{ vkr.__get('path') }}">
                                    <span class="fa fa-download"></span>
                                </a>
                            </div>

                            <div class="checkbox checkbox-inline">
                                <label><input type="checkbox" class="js-vkr_checkbox" data-id="{{ vkr.__get('_id') }}"></label>
                            </div>
                            <a href="#" class="btn btn-link">{{ vkr.__get('title') }}</a>
                        </div>

                        <table class="table table-striped table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th colspan="2">Название учебного заведения</th>
                                <th>Кафедра</th>
                                <th>Рецензент</th>
                                {#<th>Заведующий кафедрой</th>#}
                                <th>По направлению</th>
                                <th>Автор</th>
                                <th>Группа</th>
                                <th>Руководитель</th>
                                <th>Оригинальность</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="2">{{ vkr.__get('organization') }}</td>
                                <td>{{ vkr.__get('department') }}</td>
                                <td>{{ vkr.__get('reviewer') }}</td>
                                {#<td>{{ vkr.__get('head_department') }}</td>#}
                                <td>{{ vkr.__get('direction') }}</td>
                                <td>{{ vkr.__get('author') }}</td>
                                <td>{{ vkr.__get('group') }}</td>
                                <td>{{ vkr.__get('head') }}</td>
                                <td class="text-center">{{ vkr.__get('original') }}%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

            <div class="tab-pane" id="tab-2">

            </div>

            <div class="tab-pane" id="tab-3">

            </div>

            <div class="tab-pane" id="tab-4">

            </div>

            <div class="tab-pane" id="tab-5">
                <br>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Средняя доля оригинальных блоков в работе</th>
                        <th>Доля работ с оценкой оригинальности текста менее 70%</th>
                        <th>Доля работ с оценкой оригинальности текста более 80%</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">50%</td>
                        <td class="text-center">125</td>
                        <td class="text-center">12</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane" id="tab-6">
                <br>
                <form>
                    <div class="form-group">
                        <label>Название ВКР</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Название учебного заведения</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Рецензент</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>По направлению</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Руководитель</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Кафедра</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Заведующий кафедрой</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Студент</label>
                                <input type="text" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Консультант</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            Поисковый по тексту
                            <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле предложения, фразы или ключевые слова, которые должны встречаться в текстах искомых публикаций и которые должны отражать содержание этих публикаций"></span>
                        </label>
                        <input type="text" class="form-control">
                    </div>

                    <button class="btn btn-primary">Поиск</button>
                </form>
            </div>

            <div class="tab-pane" id="tab-7">
                <br>
                <table class="table table-condensed table-align-vertical">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th class="text-right">Действие</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><p>Шаблон титульного листа выпускной работы бакалавра</p></td>
                            <td class="text-right">
                                <a href="/temp/vkr/patterns/pattern_bakalavr.docx" class="btn btn-default"><span class="fa fa-download"></span></a>
                            </td>
                        </tr>
                        <tr>
                            <td><p>Шаблон титульного листа выпускной работы магистра</p></td>
                            <td class="text-right">
                                <a href="/temp/vkr/patterns/pattern_magistr.docx" class="btn btn-default"><span class="fa fa-download"></span></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <a href="#collapseOne" class="btn btn-link" data-toggle="collapse">Инструкция по заполнению шаблонов титульных листов</a>
                <a href="{{ asset('bundles/vkr/images/Instruction.docx') }}" class="btn btn-default" target="_blank"><span class="fa fa-file-word-o"></span> Скачать</a>
                <div id="collapseOne" class="panel-collapse collapse">
                    <br>
                    <p>Шаблоны предназначены для рассылки студентам, чтобы они использовали их при подготовке титульных листов в своих ВКР.</p>
                    <p><strong>Важно!</strong> Студенты должны готовить титульный лист путем заполнения шаблона, а не создания новых файлов, пусть и похожих визуально.</p>
                    <p>Шаблон представляет собой набор полей для заполнения.</p>
                    <p>Текст может вводиться только в поля, остальное пространство листа недоступно для редактирования.</p>
                    <p>При вводе текста в поля не нужно использовать дополнительное форматирование.</p>
                    <p>Поля для ввода текста обозначены серым текстом.</p>
                    <p>Защищенные от редактирования названия полей можно выбирать:</p>
                    <ul>
                        <li>Институт или Факультет</li>
                        <li>Кафедра или Департамент</li>
                        <li>Направление или Специальность</li>
                        <li>Квалификация (степень) или Магистерская программа</li>
                    </ul>
                    <p>При щелчке на эти названия полей справа будет появляться стрелка, при нажатии на нее откроется выпадающий список, из которого можно выбрать нужный вариант.</p>
                    <p>При сохранении можно менять название файла, но не его разрешение (<em>.docx</em>).</p>
                    <p>Титульный лист, получившийся после заполнения шаблона, должен быть добавлен к ВКР: быть первой страницей файла ВКР в формате .docx.</p>
                    <p><strong>!</strong> Возможно, в первый раз файл будет открыт в режиме защищенного просмотра и недоступен для заполнения. Об этом будет говорить желтая полоса «ЗАЩИЩЕННЫЙ ПРОСМОТР» в верху файла. Для того, чтобы шаблон можно было заполнить, необходимо нажать на кнопку «Разрешить редактирование» на желтой полосе.<br><br></p>

                    <p>Если шаблон не соответствует требованиям вуза к титульному листу ВКР, как можно быстрее обратитесь к представителю «Эдиторум». Мы доработаем шаблон до нужного Вам вида.</p>
                </div>
            </div>

            <div class="tab-pane" id="tab-8-1">
                <br>
                <h3>Инструкция по загрузке ВКР</h3>
                <br>
                <p>Загрузка ВКР осуществляется через <strong>рабочий модуль вуза</strong> (РМВ).<br>
                Доступ к РМВ предоставляется только авторизованным сотрудникам Заказчика.<br><br></p>

                <h4>Требования к загружаемым ВКР</h4>
                <p>Каждая ВКР должна представлять собой 1 файл в формате <em>.docx</em>. Первой страницей файла должен быть титульный лист с указанием основных сведений о ВКР (тема, автор, кафедра и т.д.), созданные в шаблоне.</p>
                <p>Можно загружать ВКР по одной (<em>.docx</em>) или же по несколько.</p>
                <p>Для единовременной загрузки нескольких ВКР, работы должны быть представлены архивами в формате <em>.rar</em> или <em>.zip</em>, объемом не больше 100 Мб. Требования к файлам ВКР в архиве такие же, как и к файлам ВКР, загружаемым по одной.<br><br></p>

                <h4>Просмотр загруженных ВКР</h4>
                <p>После загрузки ВКР автоматически появляется информация о загруженной(ых) ВКР в виде таблицы:</p>
                <ul>
                    <li>Название учебного заведения</li>
                    <li>Кафедра</li>
                    <li>Рецензент</li>
                    <li>Заведующий кафедрой</li>
                    <li>По направлению</li>
                    <li>Студент</li>
                    <li>Руководитель</li>
                    <li>Консультант</li>
                    <li>Оригинальность</li>
                </ul>
                <p>Одновременно с загрузкой осуществляется анализ ВКР на объем заимствований. Результаты анализа выводятся в таблице с информацией о ВКР (графа “Оригинальность”).</p>
                <p>Текст каждой ВКР можно скачать на свой компьютер, информацию о ВКР можно редактировать, также можно удалить выбранные ВКР.</p>
            </div>

            <div class="tab-pane" id="tab-8-2">
                <br>
                <h3>Инструкция по заполнению шаблонов титульных листов</h3>
                <br>
                <p>Шаблоны предназначены для рассылки студентам, чтобы они использовали их при подготовке титульных листов в своих ВКР.</p>
                <p><strong>Важно!</strong> Студенты должны готовить титульный лист путем заполнения шаблона, а не создания новых файлов, пусть и похожих визуально.</p>
                <p>Шаблон представляет собой набор полей для заполнения.</p>
                <p>Текст может вводиться только в поля, остальное пространство листа недоступно для редактирования.</p>
                <p>При вводе текста в поля не нужно использовать дополнительное форматирование.</p>
                <p>Поля для ввода текста обозначены серым текстом.</p>
                <p>Защищенные от редактирования названия полей можно выбирать:</p>
                <ul>
                    <li>Институт или Факультет</li>
                    <li>Кафедра или Департамент</li>
                    <li>Направление или Специальность</li>
                    <li>Квалификация (степень) или Магистерская программа</li>
                </ul>
                <p>При щелчке на эти названия полей справа будет появляться стрелка, при нажатии на нее откроется выпадающий список, из которого можно выбрать нужный вариант.</p>
                <p>При сохранении можно менять название файла, но не его разрешение (<em>.docx</em>).</p>
                <p>Титульный лист, получившийся после заполнения шаблона, должен быть добавлен к ВКР: быть первой страницей файла ВКР в формате .docx.</p>
                <p><strong>!</strong> Возможно, в первый раз файл будет открыт в режиме защищенного просмотра и недоступен для заполнения. Об этом будет говорить желтая полоса «ЗАЩИЩЕННЫЙ ПРОСМОТР» в верху файла. Для того, чтобы шаблон можно было заполнить, необходимо нажать на кнопку «Разрешить редактирование» на желтой полосе.<br><br></p>

                <p>Если шаблон не соответствует требованиям вуза к титульному листу ВКР, как можно быстрее обратитесь к представителю «Эдиторум». Мы доработаем шаблон до нужного Вам вида.</p>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-upload-vkr">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Загрузить ВКР</h4>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" name="form">
                        <input id="upload-vkr-input" type="file" name="form[files][]" multiple data-allowed-file-extensions='["rar", "zip", "docx", "tar.gz"]'>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Подтверждение</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить?</p>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" data-dismiss="modal">Нет</div>
                    <div class="btn btn-primary" data-dismiss="modal" id="js-delete_selected">Да</div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>

    <script>

        $(function(){

            $('.js-remove_vkr').on('click',function(e) {
                remove_data($(this).data('value'), '/vkr/remove/'+$(this).data('value')+'/', '/vkr/');
                e.preventDefault();
            });

            $('#js-delete_selected').on('click', function(e) {

                var ids = [];
                $('.js-vkr_checkbox:checked').each(function() {
                    ids.push($(this).data('id'));
                });
                $.ajax('/vkr/batchremove/', {
                    async: false,
                    data: {vkrs: ids},
                    type: 'POST'
                })
                .done(function (result) {
                    var res = jQuery.parseJSON(result);
                    if (res.success == true)
                       location.reload()
                });
                e.preventDefault();
            });

            var checkbox = $('.vkr-item').find(':checkbox'),
                btnRemove = $('.btn-toolbar .btn-danger');

            $('#check-all').prop('checked', false).change().change(function(){
                $(this).is(':checked') ? checkbox.prop('checked', true).change() : checkbox.prop('checked', false).change();
            });
            checkbox.prop('checked', false).change().change(function(){
                var count = checkbox.filter(':checked').length,
                    table = $(this).closest('.vkr-item').find('.table thead tr');

                $('#counter').text(count);
                count > 0 ? btnRemove.removeClass('disabled') : btnRemove.addClass('disabled');
                $(this).is(':checked') ? table.addClass('success') : table.removeClass('success');
            });

            $('#upload-vkr-input').fileinput({
                language: 'ru',
                uploadUrl: "{{ path('vkr_upload') }}",
                uploadAsync: false,
                previewFileIcon: '<span class="fa fa-file"></span>',
                allowedPreviewTypes: null,
                previewFileIconSettings: {
                    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'gz': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'rar': '<i class="fa fa-file-archive-o text-muted"></i>'
                }
            }).on('filebatchpreupload', function(event, data){
//                var intervalListener = self.setInterval(function () {progress()}, 1000);
//                function progress() {
//                    if(parseInt($('.kv-upload-progress .progress-bar').text()) == 100){
//                        $('.file-preview-status').after('<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button><p>Тексты ВКР проходят проверку на заимствования. Пожалуйста подождите.</p></div>');
//                        window.clearInterval(intervalListener);
//                    }
//                }
            }).on('filebatchuploadsuccess', function(event, data){
                var out = '';
                if (data.files.length > 0) {
                    $.each(data.files, function (key, file) {
//                        out = out + '<li>' + 'Файл # ' + (key + 1) + ' - ' + file.name + ' загружен.' + '</li>';
                        out = out + '<p>Файл # ' + (key + 1) + ' - ' + file.name + ' загружен.' + '</p>';
                    });
                    $('.file-preview-status').next().after('<div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button><ul>' + out + '</ul><p>Проверка на заимствования завершена.</p><p><strong>Закройте окно!</strong></p></div>');
                    $('#modal-upload-vkr').on('hidden.bs.modal', function () {
                        location.reload();
                    });
                }
            }).on('filebatchselected', function(event, files) {
                $('.file-input .alert').remove();
            });
        });
    </script>
{% endblock %}