{% extends "VkrBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <!--ol class="breadcrumb">
        <li><a href="/nauka/">Главная</a></li>
        <li><a href="/selfpublishing/">Профиль</a></li>
        <li class="active">ВКР</li>
    </ol-->

    <div class="page-header">
        <h3>Редактирование мета-данных ВКР</h3>
    </div>


    <form id="vkr_editor">
        <input id="_id" type="hidden" value="{{ vkr.__get('_id') }}" />

        <div class="form-group">
            <label>Название ВКР</label>
            <input type="text" class="form-control" id="title" value="{{ vkr.__get('title') }}">
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Название учебного заведения</label>
                    <input type="text" class="form-control" id="organization" value="{{ vkr.__get('organization') }}">
                </div>

                <div class="form-group">
                    <label>Рецензент</label>
                    <input type="text" class="form-control" id="reviewer" value="{{ vkr.__get('reviewer') }}">
                </div>

                <div class="form-group">
                    <label>По направлению</label>
                    <input type="text" class="form-control" id="direction" value="{{ vkr.__get('direction') }}">
                </div>

                <div class="form-group">
                    <label>Руководитель</label>
                    <input type="text" class="form-control" id="head" value="{{ vkr.__get('head') }}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Кафедра</label>
                    <input type="text" class="form-control" id="department" value="{{ vkr.__get('department') }}">
                </div>

                <div class="form-group">
                    <label>Заведующий кафедрой</label>
                    <input type="text" class="form-control" id="head_department" value="{{ vkr.__get('head_department') }}">
                </div>

                <div class="form-group">
                    <label>Автор</label>
                    <input type="text" class="form-control" id="author" value="{{ vkr.__get('author') }}">
                </div>

                <div class="form-group">
                    <label>Консультант</label>
                    <input type="text" class="form-control" id="consultant" value="{{ vkr.__get('consultant') }}">
                </div>
            </div>
        </div>

        <a href="/vkr/" class="btn btn-default pull-right">Отмена</a>
        <button class="btn btn-primary" id="save">Сохранить</button>
    </form>

    <script>
        $(function() {
            /*$('#lang').val('
            {#{{ data.__get('lang') }}#}');*/
            $('#save').on('click touchstart', function (e) {
                save_data('vkr_editor', '/vkr/save/{{ vkr.__get('_id') }}/', '/vkr/');
                e.preventDefault();
            });
        });
    </script>

{% endblock %}