{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}
{% form_theme newAuthorForm 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Авторы статьи "{{ entity.ru.title }}"</h3>
    </div>

    <div class="row">
        {% if entity.authors|length > 0 %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Дата рождения</th>
                <th>Город</th>
                <th>Места работы</th>
                <th class="text-right"><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for author in entity.authors %}
                <tr>
                    <td>{{ author.ru.fio }}</td>
                    <td>{{ author.birth|date('d.m.Y') }}</td>
                    <td>{{ author.city }}</td>
                    <td>
                        <ul>{% for workplace in author.workplaces %}
                            <li>{{ workplace.place.ru.title }} ({{ workplace.department }}, {{ workplace.position }})</li>
                        {% endfor %}</ul>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                        {% if is_granted('ROLE_EDIT') %}
                            {% if not loop.first %}
                            <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                    data-toggle="position" data-direction="down">
                                <i class="fa fa-arrow-up"></i>
                            </button>
                            {% endif %}
                            {% if not loop.last %}
                            <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                    data-toggle="position" data-direction="up">
                                <i class="fa fa-arrow-down"></i>
                            </button>
                            {% endif %}
                            <a href="{{ path('author_edit', { id: author.id, 'way[route]': author_article_route, 'way[id]': entity.id }) }}"
                               class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil"></i>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_DELETE') %}
                            <a href="{{ path(author_remove_route, {'authorId': author.id, 'id': entity.id}) }}"
                               class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="well">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">Добавить</a></li>
            <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">Создать</a></li>
        </ul>

        {% if is_granted('ROLE_EDIT') %}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="existing">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-10">
                        <div class="form-group">
                            {{ form_label(form.author) }}
                            {{ form_widget(form.author) }}
                        </div>
                    </div>
                    <div class="bottom-align-text col-md-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Добавить</button>
                        </div>
                    </div>
                </div>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div role="tabpanel" class="tab-pane" id="new">
                {{ form_start(newAuthorForm) }}
                <fieldset>
                    <legend>{{ 'ru'|trans|capitalize }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.ru.last_name) }}
                            {{ form_widget(newAuthorForm.ru.last_name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.ru.first_name) }}
                            {{ form_widget(newAuthorForm.ru.first_name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.ru.second_name) }}
                            {{ form_widget(newAuthorForm.ru.second_name) }}
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ 'en'|trans|capitalize }}</legend>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.en.last_name) }}
                            {{ form_widget(newAuthorForm.en.last_name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.en.first_name) }}
                            {{ form_widget(newAuthorForm.en.first_name) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_label(newAuthorForm.en.second_name) }}
                            {{ form_widget(newAuthorForm.en.second_name) }}
                        </div>
                    </div>
                </fieldset>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(newAuthorForm.reg_country) }}
                        {{ form_widget(newAuthorForm.reg_country) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_label(newAuthorForm.reg_region) }}
                        {{ form_widget(newAuthorForm.reg_region) }}
                    </div>
                </div>
                {{ form_widget(newAuthorForm) }}
                <div class="form-group text-right">
                    <br>
                    <button type="submit" class="btn btn-primary">{{ 'form.button.create'|trans }}</button>
                </div>
                {{ form_end(newAuthorForm) }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/asu/lib/ajax-bootstrap-select/css/ajax-bootstrap-select.min.css') }}">
    <style>
        .row {
            position: relative;
        }

        .bottom-align-text {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
{% endblock head %}

{% block page_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/asu/lib/ajax-bootstrap-select/js/ajax-bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/lib/ajax-bootstrap-select/js/locale/ajax-bootstrap-select.' ~ app.request.locale ~ '.js') }}"></script>
    <script>
        $('#{{ newAuthorForm.reg_country.vars.id }}').disableSelect('#{{ newAuthorForm.reg_region.vars.id }}');
        $('[id$=author]').selectpicker({
            liveSearch: true
        }).ajaxSelectPicker({
            ajax: {
                url: '{{ path('ajax_authors') }}',
                {% verbatim %}
                data: function () {
                    var params = {
                        q: '{{{q}}}'
                    };
                    return params;
                }
                {% endverbatim %}
            },
            preprocessData: function (data) {
                var authors = [];
                if (data.hasOwnProperty('items')) {
                    var len = data.items.length;
                    for (var i = 0; i < len; i++) {
                        var curr = data.items[i];
                        authors.push(
                            {
                                'value': curr.id,
                                'text': curr.fio,
                                'data': {
                                    'subtext': curr.birth
                                },
                                'disabled': false
                            }
                        );
                    }
                }
                return authors;
            },
            preserveSelected: false
        });

        $(document).ready(function () {
            $('[data-toggle="position"]').each(function () {
                $(this).on('click', function () {
                    var oldPos = $(this).data('pos'),
                            posDirection = $(this).data('direction'),
                            newPos = false;
                    switch (posDirection) {
                        case 'up':
                            newPos = oldPos + 2;
                            break;
                        case 'down':
                            newPos = oldPos;
                            if (oldPos > 0) {
                                newPos = oldPos - 1;
                            }
                            break;
                    }

                    window.location.href = Routing.generate('sortable_collection', {
                        docId: {{ app.request.get('id') }},
                        newPos: newPos,
                        oldPos: oldPos,
                        docName: '{{ entity.publicationName }}',
                        property: '{{ property|default('authors') }}'
                    });
                });
            });
        });
    </script>
{% endblock page_script %}
