{% extends '@Asu/Default/pagetwocol.html.twig' %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование главы "{{ entity.ru.title|default(null) }}" |
            <small>"{{ entity.publication.ru.title|default(null) }}"</small>
        </h3>
    </div>

    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
    <div class="form-group">
        {{ form_label(form.ru.title) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.title) }}
        {{ form_errors(form.ru.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.annotation) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.annotation) }}
        {{ form_errors(form.ru.annotation) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.keywords) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.keywords) }}
        {{ form_errors(form.ru.keywords) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.title) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.title) }}
        {{ form_errors(form.en.title) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.annotation) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.annotation) }}
        {{ form_errors(form.en.annotation) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.keywords) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.keywords) }}
        {{ form_errors(form.en.keywords) }}
    </div>

    {% if form.authors is defined %}
        <div class="form-group">
            {{ form_label(form.authors) }}
            {{ form_widget(form.authors) }}
            {{ form_errors(form.authors) }}
        </div>
    {% endif %}

    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.text) }}
        {{ form_widget(form.text) }}
        {{ form_errors(form.text) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.first_page) }}
                {{ form_widget(form.first_page) }}
                {{ form_errors(form.first_page) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.last_page) }}
                {{ form_widget(form.last_page) }}
                {{ form_errors(form.last_page) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    <script>
        $(function () {
            var form = $('[name="chapter_edit"]');

            form.formValidation({
                framework: 'bootstrap',
                excluded: [':disabled'],
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    "chapter_edit[uri]": {
                        validators: {
                            regexp: {
                                regexp: /^https?:\/\/.*$/i,
                                message: 'Ссылка должна начинаться с "http://" или "https://"'
                            }
                        }
                    }
                }
            });
        });
    </script>
    {{ parent() }}
{% endblock %}