{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Список глав произведения |
            <small>"{{ entity.ru.title|default(null) }}"</small>
        </h3>
    </div>

    <div class="row">
        {% if entity.chapters|length == 0 %}
            <div class="alert alert-info" id="chapters_empty">
                <p>Для данного произведения еще не указано ни одной главы.</p>
            </div>
        {% else %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Порядок</th>
                    <th>Название</th>
                    <th class="text-right"><i class="fa fa-cog"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for chapter in entity.chapters %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ chapter.ru.title }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                            {% if is_granted('ROLE_EDIT') %}
                                {% if not loop.first %}
                                    <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                            data-toggle="position" data-direction="down">
                                        <i class="fa fa-arrow-up"></i>
                                    </button>
                                {% endif %}
                                {% if not loop.last %}
                                    <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                            data-toggle="position" data-direction="up">
                                        <i class="fa fa-arrow-down"></i>
                                    </button>
                                {% endif %}
                                <a href="{{ path(chapter_edit_path, {'id': chapter.id, 'publication_id': entity.id}) }}"
                                   class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') %}
                                <a href="{{ path(chapter_remove_path, {'id': chapter.id, 'publication_id': entity.id}) }}"
                                   class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></a>
                            {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

    <div class="well">
        <div class="row">
            {{ form_start(form) }}
            <div class="col-md-{{ form.authors is defined ? '6' : '10' }}">
                <div class="form-group">
                    {{ form_label(form.ru.title) }}
                    {{ form_widget(form.ru.title) }}
                </div>
            </div>
            {% if form.authors is defined %}
                <div class="col-md-6">
                    {{ form_label(form.authors) }}
                    {{ form_widget(form.authors) }}
                </div>
            {% endif %}
            <div class="col-md-{{ form.authors is defined ? '12 row text-right' : '2 bottom-align-text' }}">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Добавить главу</button>
                </div>
            </div>
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block head %}
    <link rel="stylesheet"
          href="{{ asset('bundles/asu/lib/ajax-bootstrap-select/css/ajax-bootstrap-select.min.css') }}">
    <style>
        .row {
            position: relative;
        }

        .bottom-align-text {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
{% endblock head %}

{% block page_script %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="position"]').each(function () {
                $(this).on('click', function () {
                    var oldPos = $(this).data('pos'),
                            posDirection = $(this).data('direction'),
                            newPos = false;
                    switch (posDirection) {
                        case 'up':
                            newPos = oldPos + 2;
                            break;
                        case 'down':
                            newPos = oldPos;
                            if (oldPos > 0) {
                                newPos = oldPos - 1;
                            }
                            break;
                    }

                    window.location.href = Routing.generate('sortable_collection', {
                        docId: {{ app.request.get('id') }},
                        newPos: newPos,
                        oldPos: oldPos,
                        docName: '{{ entity.publicationName }}',
                        property: '{{ property|default('chapters') }}'
                    });
                });
            });
        });
    </script>
{% endblock page_script %}
