{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% macro classif_select(classif, entity) %}
    <div class="col-md-4">
        <div class="form-group">
            <label for='{{ classif.systemName }}'>Выберите {{ classif.name }}<sup>*</sup></label>
            <select id="{{ classif.systemName }}" data-size="15" multiple class="js-classif_select"
                    data-live-search="true" data-width="100%" data-selected-text-format="count"
                    data-none-selected-text="Ничего не выбрано">
                {% for item in classif.children %}

                    {% if item.children is defined %}
                        <optgroup label="{{ item.title }}">

                            {% for children in item.children %}
                                <option value="{{ children.new_code }}"
                                        {% if attribute(entity, classif.systemName) is not null
                                        and is_in_array(children.new_code, attribute(entity, classif.systemName)) %}
                                            selected
                                        {% endif %}
                                >
                                    {{ children.title }}, {{ children.new_code }}
                                </option>
                            {% endfor %}

                        </optgroup>
                    {% else %}
                        <optgroup label="{{ item.title }}">
                            <option class="parent" value="{{ item.new_code }}"
                                    {% if attribute(entity, classif.systemName) is not null
                                    and is_in_array(item.new_code, attribute(entity, classif.systemName)) %}
                                        selected
                                    {% endif %}
                            >
                                {{ item.title }}, {{ item.new_code }}</option>
                        </optgroup>
                    {% endif %}

                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}

{% macro classif_select_deep(classif, entity) %}
    <div class="col-md-4">
        <div class="form-group">
            <label for='{{ classif.systemName }}'>Выберите {{ classif.name }}<sup>*</sup></label>
            <select id="{{ classif.systemName }}" data-size="15" multiple class="js-classif_select"
                    data-live-search="true" data-width="100%" data-selected-text-format="count"
                    data-none-selected-text="Ничего не выбрано">
                {% for item_0 in classif.children %}
                    <optgroup label="{{ item_0.title }}">

                        {% if item_0.children is defined %}
                            {% for item_1 in item_0.children %}
                                <option value="{{ item_1.new_code }}"
                                        {% if attribute(entity, classif.systemName) is not null
                                        and is_in_array(item_1.new_code, attribute(entity, classif.systemName)) %}
                                            selected
                                        {% endif %}
                                >
                                    {{ item_1.title }}, {{ item_1.new_code }}
                                </option>

                                {% if item_1.children is defined %}
                                    {% for item_2 in item_1.children %}
                                        <option value="{{ item_2.new_code }}"
                                                {% if attribute(entity, classif.systemName) is not null
                                                and is_in_array(item_2.new_code, attribute(entity, classif.systemName)) %}
                                                    selected
                                                {% endif %}
                                        >
                                            {{ item_2.title }}, {{ item_2.new_code }}
                                        </option>

                                        {% if item_2.children is defined %}
                                            {% for item_3 in item_2.children %}
                                                <option value="{{ item_3.new_code }}"
                                                        {% if attribute(entity, classif.systemName) is not null
                                                        and is_in_array(item_3.new_code, attribute(entity, classif.systemName)) %}
                                                            selected
                                                        {% endif %}
                                                >
                                                    {{ item_3.title }}, {{ item_3.new_code }}
                                                </option>
                                            {% endfor %}
                                        {% endif %}

                                    {% endfor %}
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
{% endmacro %}


{% block content %}

    {% import _self as template %}

    <div class="page-header">
        <h3>Классификаторы
            {% if entity.ru is defined %}
                | <small>"{{ entity.ru.title }}"</small>
            {% else %}
                | <small>
                    Журнал "{{ entity.journal.ru.title|raw }}" Том {{ entity.volume }} Номер {{ entity.issue }}
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="row">
        {{ template.classif_select(classifs.udk, entity) }}
        {{ template.classif_select(classifs.grnti, entity) }}
        {{ template.classif_select(classifs.okso, entity) }}
        {{ template.classif_select_deep(classifs.tbk, entity) }}
        {{ template.classif_select_deep(classifs.bbk, entity) }}
    </div>

{% endblock %}

{% block page_script %}
    <script>
        $(document).ready(function() {
            $('.js-classif_select').change(function(e) {
                e.stopPropagation();

                $.ajax(Routing.generate("ajax_classif_update", {
                    "name": $(this).attr('id'),
                    "value": $(this).val(),
                    "object_id": {{ entity.id }},
                    "object_class": '{{ entity.ObjectName }}'
                }), {
                    async: false,
                    type: 'POST'
                }).done(function(result) {
//                    var res = jQuery.parseJSON(result);
                });
            });
        });
    </script>
{% endblock %}
