{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>

    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.title) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.title) }}
                {{ form_errors(form.ru.title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.title) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.title) }}
                {{ form_errors(form.en.title) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.editorum_prefix) }}
                {{ form_widget(form.statuses.editorum_prefix, { 'id': 'editorum_prefix'}) }}
                {{ form_errors(form.statuses.editorum_prefix) }}
            </div>
        </div>
    </div>

    <div class="row" id="doi_data">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.doi_prefix) }}
                {{ form_widget(form.doi_prefix) }}
                {{ form_errors(form.doi_prefix) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.doi_login) }}
                {{ form_widget(form.doi_login) }}
                {{ form_errors(form.doi_login) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.doi_pass) }}
                {{ form_widget(form.doi_pass) }}
                {{ form_errors(form.doi_pass) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.rinc_title) }}
                {{ form_widget(form.rinc_title) }}
                {{ form_errors(form.rinc_title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.rinc_id) }}
                {{ form_widget(form.rinc_id) }}
                {{ form_errors(form.rinc_id) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script>
        $(function () {
            $('#editorum_prefix').showAndHide('#doi_data', true);
        });
    </script>
{% endblock %}
