{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        {#{% if is_granted('ROLE_EDIT') %}#}
        <a href="{{ path('document_doi_create', {'type': document_type, 'id': app.request.get('id')}) }}"
           class="btn btn-primary pull-right">Отправить запрос DOI</a>
        {#{% endif %}#}
        <h3>Запросы DOI
            {% if document.ru is defined %}
                | <small>"{{ document.ru.title|default('Без названия') }}"</small>
            {% else %}
                | <small>
                    Журнал "{{ document.journal.ru.title|raw }}" Том {{ document.volume }} Номер {{ document.issue }}
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="row">

        {#<form action="{{ path('article_list') }}"  method="post" >#}
        {#<div class="form-group" id="publication_list">#}
        {#<div class="row">#}
        {#<div class="col-md-8">#}
        {#<label>Название монографии</label>#}
        {#<div class="input-group">#}
        {#<input class="form-control" id="publication_list_search" name="search">#}
        {#<div class="input-group-btn">#}
        {#<button class="btn btn-default" type="submit">#}
        {#<span class="fa fa-search"></span>#}
        {#</button>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

        {#<div class="col-md-4">#}
        {#<label>Формат списка</label>#}
        {#<select class="form-control" id="publication_list_type">#}
        {#<option value="doirinc">Присвоение DOI и РИНЦ</option>#}
        {#</select>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}
        {#</form>#}

        {#<div class="btn-group btn-group-justified">#}
        {#<a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"#}
        {#href="{{ path('monography_list') }}">Все</a>#}
        {#<a href="{{ path('monography_list', { 'filter': 'is_published:0:bool' }) }}"#}
        {#class="btn btn-default{{ app.request.get('filter') == 'is_published:0:bool' ? ' active' }}">В работе</a>#}
        {#<a class="btn btn-default{{ app.request.get('filter') == 'is_published:1:bool' ? ' active' }}"#}
        {#href="{{ path('monography_list', { 'filter': 'is_published:1:bool' }) }}">Опубликованные</a>#}
        {#<a href="#" class="btn btn-default">Новые</a>#}
        {#<a href="#" class="btn btn-default">Отклоненные</a>#}
        {#<a href="#" class="btn btn-default">На проверке</a>#}
        {#<a href="#" class="btn btn-default">На доработке</a>#}
        {#<a href="#" class="btn btn-default">Принятые</a>#}
        {#</div>#}

        <br />

        {{ knp_pagination_render(pagination) }}

        <table class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-center">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                <th>Класс</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'status') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td class="text-center">{{ item.getId() }}</td>
                    <td>{{ item.document.ObjectName }}</td>
                    <td>
                        {% if kinds[item.status] is defined %}
                            <span class="label {{ kinds[item.status].class }}">
                                    {{ kinds[item.status].label }}
                                </span>
                        {% endif %}
                    </td>
                    <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ item.updatedAt|date('d.m.Y H:i') }}</td>
                    <td class="td-sm">
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default"
                               data-toggle="collapse" href="#collapse_{{ item.id }}">
                                <span class="fa fa-eye"></span>
                            </a>
                            {#{% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}#}
                            <a href="{{ path('document_doi_remove', {'type': document_type, 'id': item.id }) }}"
                               class="btn btn-default btn-remove"><span class="fa fa-trash-o text-danger"></span>
                            </a>
                            {#{% endif %}#}
                        </div>
                    </td>
                </tr>
                <tr id="collapse_{{ item.id }}" class="collapse">
                    <td colspan="7">
                        <div class="panel-body">
                            <pre lang="xml" style="max-width: 1340px;overflow-x: scroll;">{{ item.xml }}</pre>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

    </div>

{% endblock %}

{% block page_script %}
    {{ parent() }}
    <script>
                $(function () {
                    $('tr td:not(:last-child)').click(function(){
                        location.href = $(this).parent().data('link');
                    });

                    $('.btn-remove').on('click touchstart', function (e) {
                        if(!confirm('Точно удалить?')){
                            e.preventDefault();
                        }
                        e.stopPropagation();
                    });
                });
    </script>
{% endblock %}