{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Загрузить файл |
            <small>"{{ article.ru.title|default(null) }}"</small></h3>
    </div>

    {% set errors = app.session.flashBag.get('error') %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <strong>Ошибка!</strong> При загрузке файлов произошли следующие ошибки:
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if is_granted('ROLE_EDIT') %}
        {{ form_start(form) }}
        {{ form_widget(form.path) }}
        {{ form_end(form) }}
    {% endif %}

    <table class="table table-hover table-border">
        <thead>
        <tr>
            <th>Имя файла</th>
            <th>Размер</th>
            <th>Тип файла</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td><a href="{{ asset(file.path) }}" target="_blank">{{ file.originalName is not null ? file.originalName : file.name }}</a></td>
                <td>{{ (file.size/(1024*1024))|round(2) }} МБ</td>
                <td>{{ file.mimeType }}</td>
                <td class="text-right">
                    {% if is_granted('ROLE_DELETE') %}
                        <a href="{{ path(file_remove_path, { 'file_id': file.id, 'id': app.request.get('id') }) }}"
                           class="btn btn-danger"><span class="fa fa-trash"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_'~app.request.locale~'.js') }}"></script>
    <script>
        $(function () {
            $("[id$=path]").fileinput({
                language: '{{ app.request.locale }}',
                uploadUrl: '{{ form.vars.action }}',
                uploadAsync: true,
                dropZoneEnabled: true,
                previewFileIcon: '<span class="fa fa-file"></span>',
                allowedPreviewTypes: null,
                previewFileIconSettings: {
                    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'gz': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'rar': '<i class="fa fa-file-archive-o text-muted"></i>'
                }
            }).on('filebatchuploadsuccess', function (event, data) {
                var out = '';
                if (data.files.length > 0) {
                    $.each(data.files, function (key, file) {
                        out = out + '<li>' + 'Файл # ' + (key + 1) + ' - ' + file.name + ' загружен.' + '</li>';
                    });
                    $('.file-preview-status').after('<div class="alert alert-success" id="files-alert"><button type="button" class="close" data-dismiss="alert">&times;</button><ul>' + out + '</ul></div>');
                }
            }).on('filebatchselected', function (event, files) {
                $('#files-alert').remove();
            });
        });
    </script>
{% endblock page_script %}