{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path(add_path, { 'id': app.request.get('id') }) }}" class="btn btn-primary pull-right">
                Загрузить список литературы
            </a>
        {% endif %}
        <h3>Список использованной в произведении литературы |
            <small>"{{ entity.ru.title|default(null) }}"</small></h3>
    </div>

    {% set errors = app.session.flashBag.get('error') %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger"><strong>Внимание!</strong> Во время предыдущей операции произошли следующие ошибки:
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <table class="table table-striped table-hover table-border">
        <thead>
        <tr>
            <th>#</th>
            <th>Текст ссылки</th>
            <th>Транслитерованный текст ссылки</th>
            <th class="text-center">
                <span class="fa fa-cog"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for reference in entity.references %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ reference.ru.text }}</td>
                <td>{{ reference.en.text }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        {% if is_granted('ROLE_EDIT') %}
                            {% if not loop.first %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="down">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            {% endif %}
                            {% if not loop.last %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="up">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            {% endif %}
                            <a href="{{ path(reference_edit_path, { 'id': reference.id,
                                'publication_id': app.request.get('id') }) }}"
                               class="btn btn-default btn-sm"><span class="fa fa-pencil"></span></a>
                        {% endif %}
                        {% if is_granted('ROLE_DELETE') %}
                        <a href="{{ path(reference_remove_path, { 'id': reference.id,
                            'publication_id': app.request.get('id') }) }}"
                           class="btn btn-default btn-sm"><span class="fa fa-trash text-danger"></span></a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            {% if is_granted('ROLE_DELETE') %}
                <tr>
                    <td colspan="4" class="text-right"><a href="{{ path(delete_all_path, { id: entity.id }) }}" class="btn btn-danger">Удалить все</a></td>
                </tr>
            {% endif %}
        </tfoot>
    </table>

{% endblock %}

{% block page_script %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="position"]').each(function () {
                $(this).on('click', function () {
                    var oldPos = $(this).data('pos'),
                            posDirection = $(this).data('direction'),
                            newPos = false;
                    switch (posDirection) {
                        case 'up':
                            newPos = oldPos + 2;
                            break;
                        case 'down':
                            newPos = oldPos;
                            if (oldPos > 0) {
                                newPos = oldPos - 1;
                            }
                            break;
                    }

                    window.location.href = Routing.generate('sortable_collection', {
                        docId: {{ app.request.get('id') }},
                        newPos: newPos,
                        oldPos: oldPos,
                        docName: '{{ entity.publicationName }}',
                        property: '{{ property|default('authors') }}'
                    });
                });
            });
        });
    </script>
{% endblock page_script %}
