{% extends '@Asu/Default/pagetwocol.html.twig' %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {#{{ form_label(form.position) }}#}
        {#<div class="input-group spinner">#}
            {#{{ form_widget(form.position) }}#}
            {#<div class="input-group-btn-vertical">#}
                {#<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>#}
                {#<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>#}
            {#</div>#}
        {#</div>#}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.text) }}
        {{ form_widget(form.ru.text) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.text) }}
        {{ form_widget(form.en.text) }}
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}
