{% extends '@Asu/Default/pagetwocol.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        <strong>Внимание!</strong> В случае, если список не пустой, все последующие записи будут добавляться в конец списка!<br>
        <strong>Формат записи:</strong> 1. Название литературы (1 строка = 1 запись)
    </div>

    {%if formerrors is defined %}
        {% if formerrors == true %}
            <div class="alert alert-info" >
                <strong> Ошибка. Укажите список литературы в формате "1. ТЕКСТ" (цифра, точки, пробел, текст) </strong>
            </div>
        {% endif %}
    {% endif %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.list_ru) }}
        {{ form_widget(form.list_ru) }}
    </div>
    <div class="form-group">
        {{ form_label(form.list_en) }}
        {{ form_widget(form.list_en) }}
    </div>
    {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script>
        $(function() {
            $('[name="asu_bundle_reference_add_form[list_ru]"] , [name="asu_bundle_reference_add_form[list_en]"]').change(function() {
                var ar = $(this).val().split("\n");
                var f = 0;
                var ar_result = [];
                ar.forEach(function(item, i, ar) {
                    var inum =   item.split(".");
                    ar_result[i] = inum[0];
                });

                for (var i = 0; i < ar_result.length; i++) {
                    for (var j = i+1; j < ar_result.length; j++) {
                        if (ar_result[j] == ar_result[i]) f = 1;
                    }
                }
                if (f==1) {
                    $('#asu_bundle_reference_add_form_save').attr({"disabled":"disabled"});
                    alert('Дублируются порядковые номера списка литературы');
                }
            });
        });

        $(function() {
            $('[name="asu_bundle_reference_add_form"]').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    'asu_bundle_reference_add_form[list_ru]': {
                        validators: {
                            notEmpty: {
                                message: 'Поле не заполненно'
                            },
                            regexp: {
                                regexp: /^(\d+\. .+[\n]?)+$/,
                                message: 'Ошибка. Укажите список литературы в формате "1. ТЕКСТ" (цифра, точки, пробел, текст)'
                            }
                        }
                    },
                    'asu_bundle_reference_add_form[list_en]': {
                        validators: {
                            regexp: {
                                regexp:  /^(\d+\. .+[\n]?)+$/,
                                message: 'Ошибка. Укажите список литературы в формате "1. ТЕКСТ" (цифра, точки, пробел, текст)'
                            }
                        }
                    }
                }
            });

        });
    </script>
{% endblock %}
