{% extends "@Asu/Default/pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Текст статьи "{{ entity.ru.title }}"</h3>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.text) }}
    <br>
    <div class="form-group pull-right">
        <button class="btn btn-success" type="submit">{{ 'form.button.save'|trans }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block page_script %}
    {{ parent() }}

    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('{{ form.vars.full_name }}[text]', {
                filebrowserBrowseUrl: Routing.generate('filestorage_browse'),
                filebrowserUploadUrl: Routing.generate('filestorage_upload')
            });
        });
    </script>
{% endblock page_script %}