{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Проверка на готовность к публикации
            {% if document.ru is defined %}
                | <small>"{{ document.ru.title|default('Без названия') }}"</small>
            {% else %}
                | <small>
                Журнал "{{ document.journal.ru.title|raw }}" Том {{ document.volume }} Номер {{ document.issue }}
            </small>
            {% endif %}
        </h3>
        <small>После публикации не забудьте обновить DOI, если запрашивали его до публикации</small>
    </div>

    <div class="row">
        <p class="bg-warning"> </p>

        {% for error in result.errors %}
            <p class="text-danger"> {{ error }}</p>
        {% endfor %}

        {% for article in result.art_errors %}
            <p class="text-danger">Статья не готова к публикации.
                <a href="{{ article.url }}">{{ article.title}}</a>
            </p>
        {% endfor %}

        {% set disabled = 'disabled' %}

        {% if document.statuses.valid is defined and document.statuses.valid == 1 %}
            <p class="text-success">Готово к публикации!</p>
            {% set disabled = '' %}
        {% endif %}

        {% if document.publicate is defined %}
            <a class="btn btn-success {{ disabled|default(null) }}"
               href="{{ path('publication_publicate', {'id': document.id, 'type': document.objectname}) }}">
                Опубликовать</a>
        {% endif %}

    </div>
{% endblock %}

{% block page_script %}
{% endblock page_script %}
