{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% block content %}
    {% if is_granted('ROLE_EDIT') %}
        <a href="{{ path('collection_create', {'id': conference.id }) }}" class="btn btn-primary pull-right"
           id="publication_list_create">Добавить сборник</a>
    {% endif %}
    <h3>Список сборников | <small>Конференция "{{ conference.ru.title|raw }}"</small></h3>
    <br>
    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Название русское</th>
                <th>Название английское</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.ru.title }}</td>
                    <td>{{ item.en.title }}</td>
                    <td>
                        {% if kinds[item.statuses.status] is defined %}
                            <span class="label {{ kinds[item.statuses.status].class }}">
                                {{ kinds[item.statuses.status].label }}
                            </span>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('collection_show', {'id': item.id}) }}" class="btn btn-default btn-remove">
                                <span class="fa fa-eye"></span>
                            </a>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('collection_edit', {'id': item.id}) }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                            <a href='{{ path('collection_remove', {'id': item.id}) }}' class="btn btn-default
                                btn-remove">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(function () {
            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить?')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}