{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <h3>Список секций | <small>Конференция "{{ conference.ru.title|raw }}"</small></h3>
    <br>

    {% if is_granted('ROLE_EDIT') %}
    <div class="well">
        {{ form_start(form, {action: path('section_edit', {id: app.request.get('id')})}) }}
        {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
        {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    {{ form_label(form.ru.title) }}
                    <small>| {{ ru }}</small>
                    {{ form_widget(form.ru.title) }}
                    {{ form_errors(form.ru.title) }}
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    {{ form_label(form.en.title) }}
                    <small>| {{ en }}</small>
                    {{ form_widget(form.en.title) }}
                    {{ form_errors(form.en.title) }}
                </div>
            </div>
            <div class="bottom-align-text col-md-2">
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Добавить</button>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
    {% endif %}

    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Название русское</th>
                <th>Название английское</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in conference.sections %}
                <tr>
                    <td><a href="#" data-handler="x-editable" data-pk="{{ item.id }}" data-name="ru.title">{{ item.ru.title }}</a></td>
                    <td><a href="#" data-handler="x-editable" data-pk="{{ item.id }}" data-name="en.title">{{ item.en.title }}</a></td>
                    <td class="text-right">
                        {% if is_granted('ROLE_DELETE') %}
                            <div class="btn-group">
                                <a href="{{ path('section_remove', {'section_id': item.id, 'id': conference.id}) }}"
                                   class="btn btn-default btn-remove"><span class="fa fa-trash-o text-danger"></span>
                                </a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block head %}
    <style>
        .row {
            position: relative;
        }

        .bottom-align-text {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    </style>
{% endblock head %}

{% block page_script %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/asu/js/x-editable/bootstrap3-editable/css/bootstrap-editable.css') }}">
    <script src="{{ asset('bundles/asu/js/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('[data-handler=x-editable]').each(function () {
                $(this).editable({
                    url: Routing.generate('ajax_journal_sections'),
                    mode: 'inline',
                    ajaxOptions: {
                        type: 'put',
                        dataType: 'json'
                    }
                });
            });
        });
    </script>
{% endblock page_script %}
