{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    {% if is_granted('ROLE_EDIT') %}
        <a href="{{ path('conference_create') }}" class="btn btn-primary pull-right"
           id="conference_list_create">Создать конференцию</a>
    {% endif %}
    <h3>
        Список конференций
        {% if pagination is defined %}
            <small class="sub-header">
                Всего <strong>{{ pagination.getTotalItemCount }}</strong> конференций
            </small>
        {% endif %}
    </h3>
    <br>

    <div id="search" class="live-search">
        <div class="form-group">
            <input type="text" name="search" value="" placeholder="Поиск" class="form-control">

            <div class="btn">
                <span class="fa fa-remove text-danger"></span>
            </div>
        </div>

        <div class="alert alert-success">
            Найдено <strong></strong> документов.
        </div>

        <div class="alert alert-danger">
            <p>Ничего не найдено</p>
        </div>
    </div>


    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('conference_list') }}">Все</a>
        <a href="{{ path('conference_list', { 'filter': 'status:400:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:400:int' ? ' active' }}">Неактивная</a>
        <a href="{{ path('conference_list', { 'filter': 'status:500:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:500:int' ? ' active' }}">Активная</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:600:int' ? ' active' }}"
           href="{{ path('conference_list', { 'filter': 'status:600:int' }) }}">Закрыта</a>
    </div>
    <br>

    {{ knp_pagination_render(pagination) }}

    <div id="conference_list">
        <table id="jlist" class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                <th class="td-lg">{{ knp_pagination_sortable(pagination, 'Название', 'ru.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'is_in_work') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Год', 'dt_finish') }}</th>
                <th class="text-nowrap">{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                <th class="text-nowrap">{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr data-id="{{ item.id }}">
                    <td class="text-right">{{ item.id }}</td>
                    <td>{{ item.ru.title }}</td>
                    <td>
                        {% if kinds[item.statuses.status] is defined %}
                            <span class="label {{ kinds[item.statuses.status].class }}">
                                    {{ kinds[item.statuses.status].label }}
                                </span>
                        {% endif %}
                    </td>
                    <td>{{ item.dateFinish|date('d.m.Y') }}</td>
                    <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ item.updatedAt|date('d.m.Y H:i') }}</td>
                    <td class="td-sm">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('conference_show', { 'id': item.id }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span></a>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('conference_edit',{ 'id': item.id }) }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') %}
                                <a href="{{ path('conference_remove',{ 'id': item.id }) }}" class="btn btn-default
                                    btn-remove"><span class="fa fa-trash-o text-danger"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>

    <script>
        $(function () {
            var search = $('#search'),
                searchInput = search.find(':text'),
                searchReset = search.find('.btn'),
                searchCounter = search.find('.alert-success'),
                noResults = '#search .alert-danger',
                resultsCounter = $('#result_count');

            searchInput.quicksearch('.table tbody tr', {
                noResults: noResults,
                onAfter: function () {
                    var total = $('tbody tr').length, count = $('tbody tr:visible').length;
                    if(count <= 0 || count == total || count == (total - 1 && $(noResults).is(':hidden'))){
                        searchCounter.hide();
                        resultsCounter.show();
                    }else{
                        searchCounter.show().find('strong').text(count);
                        resultsCounter.hide();
                    }

                    if($(noResults).is(':visible')){
                        resultsCounter.hide();
                    }
                }
            });
            searchInput.val('').on('keyup', function () {
                $(this).val().length > 0 ? searchReset.show() : searchReset.hide();
            });
            searchReset.click(function () {
                searchInput.val('');
                search.find('.alert').hide();
                $('.table').find('tr:hidden').show();
                $(this).hide();
            });

            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить?')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
