{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="/conference/edit/{{ conference.__get('_id') }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>Просмотр конференции</h3>
    </div>

    <table class="table-data">
        <tbody>
            <tr>
                <td>Показывана на сайте naukaru.ru?</td>
                <td>{{ conference.__get('is_show_nauka') ? 'Да' : 'Нет' }}</td>
            </tr>
            <tr>
                <td>Статус</td>
                <td>
                {% if conference.__get('is_in_work') %}
                    <span class="status text-success">Выходит</span>
                {% else %}
                    <span class="status text-primary">В работе</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Название Конференции (RUS)</td>
                <td><h4>{{ conference.__get('ru').title }}</h4></td>
            </tr>
            <tr>
                <td>Название Конференции (ENG)</td>
                <td>{{ conference.__get('en').title }}</td>
            </tr>
            <tr>
                <td>Порядковый номер конференции</td>
                <td>{{ conference.__get('num') }}</td>
            </tr>
            <tr>
                <td>Страна, в которой находится ВУЗ (RUS)</td>
                <td>{{ conference.country.__get('title') }}</td>
            </tr>
            <tr>
                <td>Город проведения</td>
                <td>{{ conference.__get('ru').city }}</td>
            </tr>
            <tr>
                <td>Город проведения (англ)</td>
                <td>{{ conference.__get('en').city }}</td>
            </tr>
            <tr>
                <td>Дата начала конференции</td>
                <td>{{ conference.__get('dt_start')|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <td>Дата завершения конференции</td>
                <td>{{ conference.__get('dt_finish')|date('d.m.Y H:i') }}</td>
            </tr>
            <tr>
                <td>Составляемый сборник</td>
                <td>{{ conference.publication.__get('ru') is not null ? conference.publication.__get('ru').title : 'Отсутствует' }}</td>
            </tr>
            <tr>
                <td>Описание конференции</td>
                <td>{{ conference.__get('html')|raw }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
