{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>
            {% if conference.id is not null %}
                Редактирование
            {% else %}
                Создание
            {% endif %}
            конференции | <small>"{{ conference.ru.title|default(null) }}"</small>
        </h3>
    </div>

    {{ form_start(form) }}

    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}

     <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.date_start) }}
                {{ form_widget(form.date_start) }}
                {{ form_errors(form.date_start) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.date_finish) }}
                {{ form_widget(form.date_finish) }}
                {{ form_errors(form.date_finish) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.languages) }}
        {{ form_widget(form.languages) }}
        {{ form_errors(form.languages) }}
    </div>

    <div class="form-group">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        {{ form_errors(form.country) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_in_rinc) }}
                {{ form_widget(form.statuses.is_in_rinc) }}
                {{ form_errors(form.statuses.is_in_rinc) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.request_start) }}
                {{ form_widget(form.request_start) }}
                {{ form_errors(form.request_start) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.request_finish) }}
                {{ form_widget(form.request_finish) }}
                {{ form_errors(form.request_finish) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.number) }}
        {{ form_widget(form.number) }}
        {{ form_errors(form.number) }}
    </div>


    {% if not is_publishing  %}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.ru.title) }}
                    <small>| {{ ru }}</small>
                    {{ form_widget(form.ru.title) }}
                    {{ form_errors(form.ru.title) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.en.title) }}
                    <small>| {{ en }}</small>
                    {{ form_widget(form.en.title) }}
                    {{ form_errors(form.en.title) }}
                </div>
            </div>
        </div>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group">
            {{ form_label(form.publisher) }}
            {{ form_widget(form.publisher) }}
            {{ form_errors(form.publisher) }}
        </div>
    {% endif %}

    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.city) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.city) }}
                {{ form_errors(form.ru.city) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.city) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.city) }}
                {{ form_errors(form.en.city) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.html) }}
        {{ form_widget(form.html) }}
        {{ form_errors(form.html) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script>
        $(function () {
            $('#conference_html').ckeditor();
        });
    </script>
{% endblock %}