{% macro array_to_table(array) %}
    {% if array is iterable %}
    <table class="table table-hover table-border">
        {% for item in array %}
            {% if loop.first %}
                <thead>
                <tr>
                    {% for th, val in item %}
                        <th>{{ th }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
            {% endif %}
            <tr>
                {% for th, val in item %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% if loop.last %}
                </tbody>
            {% endif %}
        {% endfor %}
    </table>
    {% endif %}
{% endmacro %}