{% extends 'bootstrap_3_layout.html.twig' %}

{%- block form_label -%}
    {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {% if attrname != 'help' %}{{ attrname }}="{{ attrvalue }}"{% endif %}{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}{% if form.vars.required == true %}<sup
            data-toggle="tooltip" data-placement="top" title="{{ translation_domain is same as(false) ? 'Field is required!' : 'form.field.required'|trans({}, translation_domain) }}">*</sup>{% endif %}</label>
        {% if label_attr.help is defined %}
            <span class="help-block"><small>{{ translation_domain is same as(false) ? label_attr.help : label_attr.help|trans({}, translation_domain) }}</small></span>
        {% endif %}
    {%- endif -%}
{%- endblock form_label -%}

{% block choice_button_widget -%}
    <div class="form-group">
        <div class="btn-group" data-toggle="buttons" role="group" {{ block('widget_container_attributes') -}}>
            {% for choice in form.vars.choices %}
                {% set class = 'btn btn-default' %}
                {% set checked = '' %}
                {% if (form.vars.data is null and loop.index == 1) or form.vars.data == choice.data %}
                    {% set class = class ~ ' active' %}
                    {% set checked = ' checked' %}
                {% endif %}
                <label class="{{ class }}">
                    <input type="{{ multiple ? 'checkbox' : 'radio' }}" name="{{ full_name }}{{ multiple ? '[]' }}"
                           value="{{ choice.value }}"
                           autocomplete="off" {{ checked }}>{{ choice.label|trans }}</label>
            {% endfor %}
        </div>
    </div>
{%- endblock choice_button_widget %}

{% block integer_widget -%}
    <div class="input-group">
        <div class="input-group-btn">
            <span class="btn btn-primary" id="{{ id }}_minus">
                <i class="fa fa-minus"></i>
            </span>
        </div>
        <input type="number" class="form-control text-center" id="{{ id }}" name="{{ full_name }}" value="{{ value is empty ? 0 : value }}"
                {{ block('widget_attributes') }}>
        <div class="input-group-btn">
            <span class="btn btn-primary" id="{{ id }}_plus">
                <i class="fa fa-plus"></i>
            </span>
        </div>
        <script>
            $(document).ready(function () {
                var $field = $("#{{ id }}");
                var step = parseFloat($field.attr("step")),
                    min = parseFloat($field.attr("min")),
                    max = parseFloat($field.attr("max"));

                if (isNaN(step)) {
                    step = 1;
                }

                $("#{{ id }}_minus").click(function () {
                    var fieldVal = parseFloat($field.val() == "" ? 0 : $field.val());
                    var value = fieldVal - step;

                    if (value >= min || isNaN(min)) {
                        $field.val(value);
                    }
                });

                $("#{{ id }}_plus").click(function () {
                    var fieldVal = parseFloat($field.val() == "" ? 0 : $field.val());
                    var value = fieldVal + step;

                    if (value <= max || isNaN(max)) {
                        $field.val(value);
                    }
                });
            });
        </script>
    </div>
{%- endblock integer_widget %}

{% block date_widget -%}
    {% if widget == 'single_text' %}
        <script>
            $(document).ready(function () {
                $('[name="{{ full_name }}"]').datepicker({language: 'ru', format: 'yyyy-mm-dd'});
                $('[name="{{ full_name }}"]').find(':text').mask('9999-99-99');
            });
        </script>
        <div class="input-group date" {{ block('widget_container_attributes') -}}>
            <input type="text" class="form-control" {{ block('widget_attributes') }} value="{{ value is not empty ? value|date('Y-m-d') }}">

            <div class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </div>
        </div>
        {{ form_errors(form) }}
    {% else -%}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) -%}
        {% if datetime is not defined or not datetime -%}
            <div {{ block('widget_container_attributes') -}}>
        {%- endif %}
        {{- date_pattern|replace({
            '{{ year }}': form_widget(form.year, {attr: {class: 'col-md-4'}}),
            '{{ month }}': form_widget(form.month, {attr: {class: 'col-md-4'}}),
            '{{ day }}': form_widget(form.day, {attr: {class: 'col-md-4'}}),
        })|raw -}}
        {% if datetime is not defined or not datetime -%}
            </div>
        {%- endif -%}
    {% endif %}
{%- endblock date_widget %}

{% block classificator -%}

    <div class="form-group">
        <label for='udk'>{{ form.vars.class.name }}<sup>*</sup></label>
        <select name='udk' data-size="15" multiple
                data-live-search="true" data-width="100%" title="Выбирете {{ udk.name }}"
                data-selected-text-format="count">
            {% for item in udk.childrens %}
                {% if item.title is defined %}
                    {% if item.childrens is defined %}
                    <optgroup label="{{ item.title }}">
                        <option class="parent"
                                {% if is_in_array(conference.__get('classif_'~classif.type), item.new_code) %}
                                selected
                                {% endif %}value="{{ item.new_code }}"
                        >Выбрать весь раздел
                        </option>

                        {% for children in item.childrens %}
                            <option
                                    {% if is_in_array(conference.__get('classif_'~classif.type), children.new_code) %}
                                        selected
                                    {% endif %}
                                    value="{{ children.new_code }}">
                                {{ children.title }}, {{ children.new_code }}
                            </option>

                        {% endfor %}

                        {% if item.childrens is defined %}
                            </optgroup>
                        {% endif %}
                    {% else %}
                        <optgroup label="{{ item.title }}">
                            <option class="parent"
                                    {% if is_in_array(conference.__get('classif_'~classif.type), item.new_code) %}
                                        selected
                                    {% endif %}
                                    value="{{ item.new_code }}">{{ item.title }}
                                , {{ item.new_code }}</option>
                        </optgroup>
                    {% endif %}

                {% endif %}

            {% endfor %}
        </select>
    </div>
{%- endblock classificator %}