{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

{# TODO: remove after refactoring #}
{#<form enctype="multipart/form-data" accept-charset="utf-8">#}
    {#<input id="form_files" name="form[files][]" type="file" class="file-loading" multiple>#}
    {#<br />#}
    {#<button id="save" class="btn btn-success">Сохранить</button>#}
{#</form>#}


{% block page_script %}

    {% javascripts
    '@DocumentBundle/Resources/public/js/fileinput.js'
    '@DocumentBundle/Resources/public/js/fileinput_locale_ru.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $("#form_files").fileinput({
                language: 'ru',
                maxFileCount: 5,
                uploadUrl: "{{ path('document_upload') }}",
                uploadAsync: false,
                previewFileIcon: '<span class="fa fa-file"></span>',
                allowedPreviewTypes: null,
                allowedFileExtensions: ['odt', 'doc', 'docx', 'zip', 'rar'],
                previewFileIconSettings: {
                    'odt': '<i class="fa fa-file-word-o text-primary"></i>',
                    'doc': '<i class="fa fa-file-word-o text-primary"></i>',
                    'docx': '<i class="fa fa-file-word-o text-primary"></i>',
                    'zip': '<i class="fa fa-file-archive-o text-muted"></i>',
                    'rar': '<i class="fa fa-file-archive-o text-muted"></i>'
                },
                slugCallback: function(filename) {
                    return filename.replace(/[\-\[\]\/\{}:;#%=\*\+\?\\\^\$\|<>&"']/g, '').replace(/\s\s+/g, ' ').replace(/\s\./g, '.').replace(/\(\s/g, '(').replace(/^\s+/, '');
                }
            }).on('filebatchuploadsuccess', function(event, data){
                var out = '';
                if (data.files.length > 0) {
                    $.each(data.files, function(key, file) {
                        out = out + '<li>' + 'Файл # ' + (key + 1) + ' - '  +  file.name + ' загружен.' + '</li>';
                    });
                    $('.file-preview-status').after('<div class="alert alert-success" id="files-alert"><button type="button" class="close" data-dismiss="alert">&times;</button><ul>'+out+'</ul></div>');
                    window.location.href = '{{ path('document_index') }}'
                }
            }).on('filebatchselected', function(event, files) {
                $('#files-alert').remove();
            });
        });
    </script>

{% endblock %}