{% extends "DocumentBundle:Document:template.html.twig" %}

{% block content %}

    <div class="page-header">
        <h3>Создание документа</h3>
    </div>

    {{ include('DocumentBundle:Document:_form.html.twig', { 'form': form }) }}

{% endblock %}