{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}

    <div class="page-header">
        <div class="btn-toolbar pull-right">
            <div class="btn btn-warning" data-toggle="modal" data-target="#modal-upload">
                <span class="fa fa-upload"></span> Загрузить
            </div>
        </div>
    </div>

    {% if documents|length > 0 %}
        <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">ID</th>
                {#<th>Название документа</th>#}
                {#<th>Пользователь</th>#}
                <th>Сущность</th>
                <th>ID сущности</th>
                {#<th>Ревизия</th>#}
                <th>Хранилиище</th>
                {#<th>Полный путь</th>#}
                <th>Директория</th>
                <th>Наименование файла</th>
                <th>Расширение файла</th>
                <th>Тип файла</th>
                <th>Размер файла</th>
                <th>Дата создания</th>
                <th>Дата обновления</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in documents %}
                <tr data-id="{{ item._id }}">
                    <td class="text-right">{{ item._id }}</td>
                    {#<td>{{ item.name }}</td>#}
                    {#<td>{{ item.user_id }}</td>#}
                    <td>{{ item.entity }}</td>
                    <td>{{ item.entity_id }}</td>
                    {#<td>{{ item.revision }}</td>#}
                    <td>{{ item.storage }}</td>
                    {#<td>{{ item.fullpath }}</td>#}
                    <td>{{ item.dirname }}</td>
                    <td>{{ item.filename }}</td>
                    <td>{{ item.extension }}</td>
                    <td>{{ item.mimetype }}</td>
                    <td>{{ item.size }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.updated_at }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('document_edit', {'id': item._id}) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <div class="btn btn-default btn-remove" data-id ="{{ item._id }}">
                                <span class="fa fa-trash-o text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>Документы в системе отсутствуют.</div>
    {% endif %}


    <div class="modal fade" id="modal-upload">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Загрузить документы</h4>
                </div>
                <div class="modal-body">
                    {{ include('DocumentBundle:Document:_form.html.twig', { 'form': form }) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modal-confirm">
        <div class="modal-dialog modal-sm">
            <div class="modal-content text-center">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Подтверждение</h4>
                </div>
                <div class="modal-body">
                    <p>Вы уверены, что хотите удалить?</p>
                </div>
                <div class="modal-footer">
                    <div class="btn btn-default" data-dismiss="modal">Нет</div>
                    <div class="btn btn-primary" data-dismiss="modal" id="js-delete_selected">Да</div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endblock %}