{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    {% if documents|length > 0 %}
        <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">ID</th>
                <th>Наименование файла</th>
            </tr>
            </thead>
            <tbody>
            {% for item in documents %}
                <tr data-id="{{ item._id }}">
                    <td class="text-right">{{ item._id }}</td>
                    <td>{{ item.filename }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="/pub/metadata/{{ item._id }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <div class="btn btn-default btn-remove" data-id ="{{ item._id }}">
                                <span class="fa fa-trash-o text-danger"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>Документы в системе отсутствуют.</div>
    {% endif %}
{% endblock %}