<!-- Modal -->
    <div class="modal fade" id="modal_login" role="dialog">
        <form id="login" method="post" action="{{ path("fos_user_security_check") }}">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Вход</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Логин</label>
                            <input type="tel" name="login" class="form-control" id="login" placeholder="Введите email">
                        </div>
                        <div class="form-group">
                            <label>Пароль</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Укажите пароль">
                        </div>
                    </div>
                    <div class="modal-footer">
                        {#<a href="/registration/password/forgot/">Забыли пароль?</a>#}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button id="login_do" type="submit" class="json_button btn btn-primary">Войти</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

{#<script>#}
    {#$(function() {#}
        {#$('#login').formValidation({#}
            {#icon: {#}
                {#valid: 'glyphicon glyphicon-ok',#}
                {#invalid: 'glyphicon glyphicon-remove',#}
                {#validating: 'glyphicon glyphicon-refresh'#}
            {#},#}
            {#locale: 'ru_RU',#}
            {#fields: {#}
                {#login: {#}
                    {#validators: {#}
                        {#notEmpty: {#}
                        {#},#}
                        {#regexp: {#}
                            {#regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',#}
                            {#message: 'Не верный формат email'#}
                        {#}#}
                    {#}#}
                {#},#}
                {#password: {#}
                    {#validators: {#}
                        {#notEmpty: {#}
                        {#},#}
                        {#stringLength: {#}
                            {#min: 8,#}
                            {#message: 'Пароль должен быть не менее 8'#}
                        {#},#}
                        {#regexp: {#}
                            {#regexp: /(?=.*\d)(?=.*[a-z])/,#}
                            {#message: 'Пароль должен содержать буквы и цыфры'#}
                        {#}#}
                    {#}#}
                {#}#}
            {#}#}
        {#}).on('success.form.fv', function(e) {#}
            {#e.preventDefault();#}
            {#submit_data('login', '/login/do/');#}
        {#});#}
    {#});#}
{#</script>#}
