{% extends "UserBundle::layout.html.twig" %}

{% block content %}

<h4>Приветствуем Вас на портале Editorum</h4>

<form action="{{ path("fos_user_security_check") }}" method="post" id="login" class="form-horizontal login">
    <h3 class="text-center">Авторизация в системе "EDITORUM"</h3>
    <hr>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

    <div class="form-group">
        <label class="col-sm-12 control-label">Имя пользователя или E-mail</label>
        <div class="col-sm-12">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="Введите email">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-12 control-label">Пароль</label>
        <div class="col-sm-12">
            <input type="password" id="password" name="_password" class="form-control" placeholder="Укажите пароль">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Запомнить меня
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 text-center">
            <input type="submit" id="_submit" name="_submit" value="Авторизоваться" class="btn btn-default col-sm-12">



            <span class="label-form text-right col-sm-12"><a href="{{ path('user_resetting_request') }}">Забыли пароль?</a></span>

            <span class="label-form">У Вас еще нет аккаунта?</span>
            <a class="btn btn-default col-sm-12" href="{{ path('user_registration') }}">Зарегестрироваться</a>

        </div>
    </div>


</form>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
<script>
    $(function() {
        $('#login').formValidation({
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            locale: 'ru_RU',
            fields: {
                _username: {
                    validators: {
                        notEmpty: {
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'Не верный формат email'
                        }
                    }
                },
                _password: {
                    validators: {
                        notEmpty: {
                        },
                        stringLength: {
                            min: 2,
                            message: 'Пароль должен быть не менее 2'
                        }
                    }
                }
            }
        }).on('prevalidate.form.fv', function() {
            $('.fa-lock').removeClass('fa-lock').addClass('fa-unlock');
        }).on('success.form.fv', function() {
            //
        });
    });
</script>

{% endblock %}
