{% extends '@Asu/Default/pageonecol.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="alert alert-info">
        <strong>Внимание!</strong> В случае, если список не пустой, все последующие записи будут добавляться в конец списка!<br>
        <strong>Формат записи:</strong> 1. Название литературы (1 строка = 1 запись)
    </div>

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.list_ru) }}
            {{ form_widget(form.list_ru) }}
        </div>
        <div class="form-group">
            {{ form_label(form.list_en) }}
            {{ form_widget(form.list_en) }}
        </div>
        {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script>
        $(function() {
            var listRu = CKEDITOR.replace('list_ru'),
                listEn = CKEDITOR.replace('list_en');


        });
    </script>
{% endblock %}
