{% extends '@Asu/Default/pageonecol.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.position) }}
        <div class="input-group spinner">
            {{ form_widget(form.position) }}
            <div class="input-group-btn-vertical">
                <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
            </div>
        </div>
    </div>
        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_widget(form.text) }}
        </div>
        <div class="form-group">
            {{ form_label(form.text_translit) }}
            {{ form_widget(form.text_translit) }}
        </div>
        {{ form_widget(form.save) }}
    {{ form_end(form) }}
{% endblock content %}
