{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>ЭБС <span class="text-muted">{{ title }}</span></h3>
    </div>

    <form action="{{ path('university_save') }}" method="post">
        <input type="hidden" name="_id" value="{{ university.__get('_id') }}">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Название учебного заведения</label>
                    <input type="text" name="title" class="form-control" value="{{ university.__get('title') }}" required>
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label>Название учебного заведения на Английском</label>
                    <input type="text" name="eng_title" class="form-control" value="{{ university.__get('eng_title') }}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Страна</label>
                    <select name="country_id" class="form-control" data-live-search="true" title="Выберите страну">
                        {% for item in countries %}
                            <option value="{{ item.__get('_id') }}"
                                    {% if university.__get('country_id') == item.__get('_id') %}
                                        selected
                                    {% endif %}
                            >{{ item.__get('title') }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Город</label>
                    <input type="text" name="city" class="form-control" value="{{ university.__get('city') }}">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Город на Английском</label>
                    <input type="text" name="eng_city" class="form-control" value="{{ university.__get('eng_city') }}">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
{% endblock %}
