{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <a href="{{ path('university_add') }}" class="btn btn-success pull-right">
        <span class="fa fa-user-plus"></span>
        Добавить ВУЗ
    </a>
    <h3>ЭБС <span class="text-muted">Управление ВУЗами</span></h3>
    <br>

    <div class="form-group">
        <input type="text" name="search" value="" id="search" placeholder="Поиск" class="form-control">
    </div>

    <table class="table table-bordered table-striped vertical-align-middle">
        <thead>
        <tr>
            <th>№</th>
            <th>Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in universities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="table">{{ item.__get('title') }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('university_edit', {'id' : item.__get('_id')}) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a href="#" class="btn btn-default">
                            <span class="fa fa-trash-o text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>
    <script>
        $(function(){
            $('input#search').quicksearch('.table tbody tr');
        });
    </script>
{% endblock %}
