{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <a href="{{ path('employee_edit', {'id' : 0}) }}" class="btn btn-success pull-right">
        <span class="fa fa-user-plus"></span>
        Добавить пользователя
    </a>
    <h3>ЭБС <span class="text-muted">Управление пользователями</span></h3>
    <br>

    {% if users is defined %}
        <div class="alert alert-sm alert-success pull-right">
            <p class="result">Всего <strong id="result_count">{{ users.getTotalItemCount }}</strong> пользователь(я/ей).
            </p>
        </div>
    {% endif %}

    {{ knp_pagination_render(users) }}

    <table class="table table-bordered table-striped vertical-align-middle">
        <thead>
        <tr>
            <th>№</th>
            <th>Имя</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td class="table">{{ item.username }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('employee_edit', {'id' : item.id}) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a href="{{  path('employee_drop', {'id' : item.id}) }}" class="btn btn-default">
                            <span class="fa fa-trash-o text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
