{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>ЭБС <span class="text-muted">{{ title }}</span></h3>
        <br>
    </div>

    <form action="{{ path('employee_save') }}" method="post">
        <input type="hidden" name="_id" value="{{ user.id }}">

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" class="form-control" placeholder="Имя пользователя"
                           value="{{ user.username }}" required>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" placeholder="Пароль"
                            {% if user.id is null %}
                                required
                            {% endif %}
                    >
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email" value="{{ user.email }}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <a href="{{ path('editorum_org_edit') }}" class="btn btn-primary">Добавить организацию</a>
        </div>

        <div class="form-group">
            <label>Название организации</label>
            <select name="organization_id" class="form-control" data-live-search="true" title="Выберите организацию">
                {% for item in organizations %}
                    <option value="{{ item.__get('_id') }}"
                            {#{% if user.getOrganization() == item.__get('_id') %}#}
                            {#selected#}
                            {#{% endif %}#}
                    >{{ item.__get('name') }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Должность</label>
            <select name="agreement_type" class="form-control" title="Выберите должность сотрудника">
                <option value="chief_editor">Главный редактор</option>
                <option value="editor">Редактор</option>
                <option value="editoral_manager">Менеджер редакции</option>
                <option value="elsa_admin">Администратор ЭБС</option>
            </select>
        </div>

        <div class="form-group">
            <a href="{{ path('university_add') }}" class="btn btn-primary">Добавить ВУЗ</a>
        </div>

        <div class="form-group">
            <label>Название учебного заведения</label>
            <select name="university_id" class="form-control" data-live-search="true" title="Выберите ВУЗ">
                {% for item in universities %}
                    <option value="{{ item.__get('_id') }}"
                            {#{% if user.getuniversity == item.__get('_id') %}#}
                            {#selected#}
                            {#{% endif %}#}
                    >{{ item.__get('title') }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
    
    <div>
        <br />
        <h4>Договоры пользователя:</h4>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>№</th>
                <th>Наименование</th>
                <th nowrap="true">Сторона 1</th>
                <th nowrap="true">Сторона 2</th>
                <th nowrap="true">Дата оформления</th>
                <th>Состояние</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for agreement in agreements %}
                {%  set item = agreement.getMutant  %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td class="table">{{ item.__get('title') }}</td>
                    <td>{{ item.getSourceSideName }}</td>
                    <td>{{ item.getDestinationSideName }}</td>
                    <td>{{ item.getCreatedAt }}</td>
                    <td>{{ item.__get('is_active') ? 'Активен' : 'Неактивен'}}</td>
                    <td>{{ item.getStatusName }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
    </div>
{% endblock %}
