<!DOCTYPE html>
<html>
<head lang="en">
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/publication.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
<div id="bf-canvas">
</div>
<div id="bf-cemetery" class="bf-hidden">
</div>

<!--
            ШАБЛОНЫ СТРАНИЦ
-->

<template id="layout_fullscreen">
    <div>
        <div id="position_topmenu"></div>
        <div class="row">
            <div id="position_main" class="col-md-12"></div>
        </div>
    </div>

</template>

<template id="layout_twocolumn">
    <div>
        <div id="position_top"></div>
        <div class="row">
            <div id="position_left" class="col-md-3"></div>
            <div id="position_right" class="col-md-9"></div>
        </div>
    </div>
</template>


<!--

            ШАБЛОНЫ БЛОКОВ

-->

<template id="template_top_menu">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Editorum</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Периодика<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#publication.list">Статьи</a></li>
                            <li><a href="#journal.list">Журналы</a></li>
                            <li><a href="#journal.issuelist ">Номера</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Авторы<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#author.list">Авторы</a></li>
                            <!-- li><a href="#">Договоры</a></li -->
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Мое издательство<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Сотрудники</a></li>
                            <!-- li><a href="#">Финансы</a></li -->
                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <!-- li><a href="#publication.tasklist"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span> Задачи <span id="tasknum" class="badge label-success">2</span></a></li -->
                    <li class="dropdown">
                        <a href="#user.profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Шемятенков Игорь <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#user.profile">Мой профиль</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#user.exit">Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<template id="template_publication_menu">
    <div id="publication_menu">
        <ul class="nav nav-pills nav-stacked">
            <li id="metadata" class="active"><a href="#publication.metadata" data-open="metadata_article">Общая информация</a></li>
            <li id="authorslist"><a href="#publication.authorslist" data-open="metadata_authorslist">Список авторов</a></li>
            <li id="authoredit"><a href="#publication.authoredit">Данные авторов</a>
                <ul id="authorsmenu">
                </ul></li>
            <!-- li id="fees"><a href="#publication.fees">Распределение гонорара</a></li -->
            <li id="files"><a href="#publication.files">Файлы</a></li>
            <!-- li id="text"><a href="#publication.text">Текст</a></li -->
            <!-- li id="agreement"><a href="#publication.agreement">Договор</a></li -->
            <li id="description"><a href="#publication.description" data-open="metadata_description">Описание произведения</a></li>
            <!-- li id="cover"><a href="#publication.cover">Обложка</a></li -->
            <!-- li id="contents"><a href="#publication.contents">Оглавление</a></li -->
            <li id="references"><a href="#publication.references">Список литературы</a></li>
            <hr />
            <li id="publish" class="notavailable"><a href="#publication.publish">Дистрибьюция</a></li>
            <li id="manage" class="notavailable"><a href="#publication.manage">Управление</a></li>
            <!-- li id="tasks"><a href="#publication.tasks">Задачи</a></li -->
        </ul>
    </div>
</template>

<template id="template_publication_list">
    <div id="publication_list">
        <form class="form-inline">
            <legend>Список произведений</legend>
            <div class="form-group">
                <button class="btn btn-default" id="publication_list_create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Создать произведение</button>
            </div>
            <div class="form-group">
                <div class="input-group">
                <input class="form-control" id="publication_list_search" placeholder="Название произведения" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </div>
            <div class="form-group pull-right">
                <label for="pubication_list_type">Формат списка</label>
                <select class="form-control" id="publication_list_type">
                    <option value="doirinc">Присвоение DOI и РИНЦ</option>
                </select>
            </div>
        </form>
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Тип</th>
                <th>Название произведения</th>
            </tr>
            </thead>
            <tbody id="publication_list_content">
            </tbody>
        </table>
    </div>
</template>

<template id="template_publication_list_item">
    <tr id="publication_list_item">
        <td></td>
        <td></td>
        <td><a href=""></a></td>
    </tr>
</template>

<template id="template_publication_create">
    <div class="publication_forms" id="publication_create">
        <h1>Создать новое произведение</h1>
        <table class="form-table">
            <tr>
                <td>
                    <label for="i_title">Укажите название произведения</label>
                    <input data-src="title" class="form-control" id="i_title" type="text" value="" placeholder="Введите название произведения" />
                </td>
                <td>
                    <div class="ed-message" id="m_title">Для создания произведения обязательно укзать его название.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="i_type">Выберите тип произведения</label>
                    <select data-src="type"  class="form-control" id="i_type">
                        <option value="none">Выберите тип произведения</option>
                        <option value="article">Статья</option>
                        <option value="monography">Монография</option>
                        <option value="science">Учебное издание</option>
                    </select>
                </td>
                <td>
                    <div class="ed-message" id="m_type">Различные типы произведений требуют указания различных данных. Будьте внимательны, изменить тип произведения в дальнейшем нельзя!</div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label><input type="checkbox" value="1" checked="true" />&nbsp;Я ознакомлен с требованиями редакции и знаю, что заявки, оформленные не в соответствии с требованиями, не рассматриваются</label>

                </td>
            </tr>
            <tr><td colspan="2">
                    <a id="publication_create_btn" class="btn disabled btn-large" href="#publication.metadata">Создать произведение</a>
                </td></tr>

        </table>
    </div>
</template>


<template id="template_publication_metadata">
    <div id="publication_metadata">
        <h1>Общая информация о статье</h1>
        <table class="form-table">
            <tr>
                <td>
                    <label for="i_journal">Выберите журнал, в котором вы хотите опубликовать статью</label>
                    <select data-src="journal" class="form-control" id="i_journal">
                        <option value="0">Выберите журнал</option>
                        <option value="1">Тестовый журнал 1</option>
                        <option value="2">Тестовый журнал 2</option>
                    </select>
                </td>
                <td>
                    <div class="ed-message" id="m_journal">Выберите журнал.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="i_authorpages">Объем произведения в авторских листах</label>
                    <input data-src="authorpages" class="form-control" id="i_authorpages" type="number" value="0" />
                </td>
                <td>
                    <div class="ed-message" id="m_authorpages">Один авторский лист - это 40 тысяч знаков, включая пробелы.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Есть ли у стать рецензенты?</label><br />
                    <div class="btn-group btn-selector" role="group">
                        <button type="button" class="btn btn-primary">Рецензентов нет</button>
                        <button type="button" class="btn btn-default">Рецензенты есть</button>
                    </div>
                </td>
                <td>
                    <div class="ed-message">Если у статьи нет рецензентов, то мы попытаемся найти их для вас.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Издавалась ли статья ранее?</label><br />
                    <div class="btn-group btn-selector" role="group">
                        <button id="i_unpublished_before" type="button" class="btn btn-primary">Нет, не издавалась</button>
                        <button id="i_published_before" type="button" class="btn btn-default">Издавалась</button>
                    </div><br /><br />
                    <div id="journal_before" class="ed-info bf-hidden">
                        <label>У вас есть письменный договор с издательством на публикацию?</label><br />
                        <div class="btn-group btn-selector" role="group">
                            <button type="button" class="btn btn-primary">Нет</button>
                            <button type="button" class="btn btn-default">Да</button>
                        </div>
                        <label for="i_journal_before">Наименование периодического издания, в котором публиковалась статья</label>
                        <input data-src="title" class="form-control" id="i_journal_before" type="text" value="" placeholder="Укажите название журнала" />
                        <label for="i_journal_before_year">Наименование периодического издания, в котором публиковалась статья</label>
                        <input data-src="title" class="form-control" id="i_journal_before_year" type="number" value="2010" />
                        <label for="i_journal_before_issue">Укажите номер выпуска периодического издания, в котором была опубликована статья</label>
                        <input data-src="title" class="form-control" id="i_journal_before_issue" type="text" value="" placeholder="Номер выпуска" />
                        <label for="i_journal_before_page_from">Номера страниц, на которых была опубликована статья</label>
                        <input data-src="title" class="form-control" id="i_journal_before_page_from" type="text" value="" placeholder="с" />
                        <input data-src="title" class="form-control" id="i_journal_before_page_to" type="text" value="" placeholder="по" />
                    </div>
                </td>
                <td>
                </td>
            </tr>

            <tr><td colspan="2">
                    <a id="publication_metadata_btn" class="btn btn-large" href="#publication.authorslist">Сохранить и продолжить</a>
                </td></tr>
        </table>
    </div>
</template>

<template id="template_publication_authorslist">
    <div id="publication_authorslist">
        <h1>Список авторов</h1>
        <div class="ed-message">Управляйте списком соавторов произведения:
            <ul>
                <li>Добавляйте соавторов с помощью кнопки  "Добавить соавтора"</li>
                <li>Если вы ошиблись при добавлении, используйте кнопк "Удалить", рядом с ФИО автора</li>
                <li>Используйте кнопки вверх и вниз, чтобы расположить соавторов в том порядке, в котором они будут указываться для произведения</li>
                <li>Когда вы завершите работу над списком авторов, нажмите кнопку "Список авторов верен"</li>
            </ul>
        </div>
        <br />
        <ol id="coauthors">
            <li>Шемятенков Игорь Викторович</li>
        </ol>
        <button id="coauthor_add" class="btn btn-primary">Добавить соавтора</button>
        <a href="#publication.authoredit.0" id="publication_authorslist_btn" class="btn btn-success">Все соавторы добавлены. Перейти к следующему шагу</a>
        <div class="ed-hidden"  id="coauthor_add_form" >
            <h2>Добавление автора произведения</h2>
            <div id="coauthor_add_msg" class="ed-message"><p>Возможно ваш соавтор уже зарегистрирован в нашей базе данных. Чтобы найти его, нужно указать его: номер телефона, e-mail или СНИЛС.</p></div><br />
            <label for="d_fio">Укажите ФИО автора произведения, которого вы хотите добавить.</label>
            <input class="form-control" type="text" id="d_fio" value="" placeholer="Укажите ФИО соавтора" />
            <br />
            <label for="d_authorslist_identification">Выберите тип данных, которые вы можете указать про добавляемого автора, чтобы мы могли найти его в нашей базе данных.</label>
            <select class="form-control" id="d_authorslist_identification">
                <option value="none">Выберите тип идентификации</option>
                <option value="email">E-mail</option>
                <option value="phone">Телефон</option>
                <option value="snils">СНИЛС</option>
            </select>
            <div id="d_identify_email" class="d_identify ed-hidden">
                <label for="d_authorslist_email">Введите email добавляемого автора</label>
                <input class="form-control" id="d_authorslist_email" type="email" placeholder="Укажите email" />
            </div>
            <div id="d_identify_phone" class="d_identify ed-hidden">
                <label for="d_authorslist_phone">Введите номер мобильного телефона добавляемого автора</label>
                <input class="form-control" id="d_authorslist_phone" type="tel" placeholder="Укажите номер мобильного" />
            </div>
            <div id="d_identify_snils" class="d_identify ed-hidden">
                <label for="d_authorslist_snils">Введите номер СНИЛС добавляемого автора</label>
                <input class="form-control" id="d_authorslist_snils" type="text" placeholder="Укажите СНИЛС" />
            </div>
            <br />
            <button id="coauthor_add_btn" class="btn btn-success">Добавить автора</button>
            <button id="coauthor_add_cancel" class="btn btn-danger">Отменить</button>
        </div>
    </div>
</template>

<template id="template_publication_authoredit">
    <div id="publication_authoredit">
        <h1>Редактируем сведения об авторе</h1>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Общие сведения</a></li>
            <li><a href="#">Научные сведения</a></li>
            <li><a href="#">Банковские реквизиты</a></li>
        </ul>
        <div id="author_common">
            <label for="d_last_name">Фамилия</label>
            <input class="form-control" type="text" id="d_last_name" value="" placeholer="Фамилия" />
            <label for="d_first_name">Фамилия</label>
            <input class="form-control" type="text" id="d_first_name" value="" placeholer="Имя" />
            <label for="d_second_name">Отчество </label>
            <input class="form-control" type="text" id="d_second_name" value="" placeholer="Отчество" />
        </div>


    </div>
</template>

<template id="template_publication_fees">
    <div id="publication_fees">
        <h1>Распределение гонорара</h1>
        <table class="form-table">
            <tr>
                <td>
                    <ol>
                        <li>Шемятенков Игорь Викторович <input class="form-control" type="number" value="50"></li>
                        <li>Кузьмин Александр Сергеевич <input class="form-control" type="number" value="50"></li>
                    </ol>
                    <h2>Итого: 100%</h2>
                    <a id="publication_fees_btn" class="btn btn-success btn-large" href="#publication.files">Сохранить и продолжить</a>
                </td>
                <td>
                    <div id="fees_msg" class="ed-message"><p>Укажите процентное распределение гонорара между соавторами. Сумма должна быть равна 100%.</p></div>

                </td>
            </tr>
        </table>
    </div>
</template>


<template id="template_publication_files">
    <div id="publication_files">
        <h1>Загрузите файлы произведения</h1>
        <br />
        <table class="table table-condensed table-striked">
            <thead>
            <tr>
                <th>Имя файлы</th>
                <th>Тип</th>
                <th>Размер</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="4">
                    <div class="ed-info">Вы еще не загрузили ни одного файлы. Перетащите файлы произведения: текстовые документы, изображения в хорошем качестве, на область ниже или воспользуйтесь кнопкой "Выберите файл".</div>
                </td>
            </tr>
            </tbody>
        </table>
        <br />
        <br />
        <div class="zupload"><br /><br /><br /><br /><h1>Перетащите файлы сюда</h1><br /><br /><br /><br /></div>
        <input id="iupload" type="file" class="form-control">
        <br />
        <a id="publication_files_btn" class="btn btn-success btn-large" href="#publication.text">Все файлы загружены</a>
    </div>
</template>


<template id="template_publication_text">
    <div id="publication_text">
        <h1>Работа над текстом произведения</h1>
        <br /><br />

        <h2>Здесь будет WYSIWYG редактор</h2>
        <br /><br />
        <a id="publication_text_btn" class="btn btn-success btn-large" href="#publication.agreement">Работа над текстом завершена</a>
    </div>
</template>


<template id="template_publication_cover">
    <div id="publication_cover">
        <h1>Генерация обложки</h1>
        <br /><br />

        <h2>Здесь будет генератор обложек</h2>
        <br /><br />
        <a id="publication_cover_btn" class="btn btn-success btn-large" href="#publication.contents">Обложка готова</a>
    </div>
</template>

<template id="template_publication_agreement">
    <div id="publication_agreement">
        <h1>Договор. Интерфейс издательства</h1>
        <div class="ed-info"><p>Автор еще не указал данные соавторов</p></div><br />
        <a id="publication_agreement_btn1" class="btn disabled btn-large" href="#publication.agreement">Сгенерировать договор</a>
        <br /><br />
        <h1>Договор. Интерфейс автора</h1>
        <div class="ed-info"><p>Нужно вначале указать список соавторов и их данные</p></div><br />
        <a id="publication_agreement_btn2" class="btn disabled btn-large" href="#publication.agreement">Договор подписан и отправлен</a>
    </div>
</template>

<template id="template_publication_description">
    <div id="publication_description">
        <h1>Описание произведения</h1>
        <h2>Укажите рубрики для произведения</h2>
        <div>
            <p>Чтобы читатели и покупатели могли легко найти ваше произведение, необходимо указать к каким рубрикам относится.</p>
            <label for="okso">Выберите рубрику по ОКСО</label>
            <div class="input-group">
                <input id="okso" type="text" class="form-control" placeholder="Начните ввод кода ОКСО или часть названия">
                <span class="input-group-btn">
                    <button id="okso_button" class="btn btn-default" type="button">Выбрать из справочника ОКСО</button>
                </span>
            </div>
            <label for="grnti">Выберите рубрику по ГРНТИ</label>
            <div class="input-group">
                <input id="grnti" type="text" class="form-control" placeholder="Начните ввод кода ГРНТИ или часть названия">
                <span class="input-group-btn">
                    <button id="grnti_button" class="btn btn-default" type="button">Выбрать из справочника ГРНТИ</button>
                </span>
            </div>
        </div>
        <hr />
        <h2>Опишите произведение на русском языке</h2>
        <table class="form-table">
            <tr>
                <td>
                    <label for="i_keyrus">Ключевые слова на русском языке</label>
                    <input type="text" class="form-control" id="i_keyrus" placeholder="Введите ключевые слова"></textarea>
                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td>
                    <label for="i_annotationrus">Аннотация к произведению на русском языке (от 100 до 250 слов)</label>
                    <textarea rows="8" class="form-control actWordCount" data-min="100" data-max="250" id="i_annotationrus" placeholder="Введите текст аннотации"></textarea>
                </td>
                <td>
                    <div class="ed-message" id="m_annotationrus">Начните ввод слов</div>
                </td>
            </tr>
        </table>
        <hr />
        <h2>Опишите произведение на английском языке</h2>
        <a id="autotranslate" class="btn btn-primary btn-large" href="#publication.description">Перевести описание произведения на английский</a>
        <table class="form-table">
            <tr>
                <td>
                    <label for="i_keyeng">Ключевые слова на русском языке</label>
                    <input type="text" class="form-control" id="i_keyeng" placeholder="Введите ключевые слова"></textarea>
                </td>
                <td>

                </td>
            </tr>

            <tr>
                <td>
                    <label for="i_annotationeng">Аннотация к произведению на английском языке (от 100 до 250 слов)</label>
                    <textarea rows="8" class="form-control actWordCount" data-min="100" data-max="250" id="i_annotationeng" placeholder="Введите текст аннотации"></textarea>
                </td>
                <td>
                    <div class="ed-message" id="m_annotationeng">Начните ввод слов</div>
                </td>
            </tr>
        </table>
        <a id="publication_description_btn" class="btn btn-success btn-large" href="#publication.cover">Сохранить описание и продолжить</a>
    </div>

</template>

<template id="template_publication_contents">
    <div id="publication_contents">
        <h1>Создание оглавления произведения</h1>
        <a id="publication_contents_btn" class="btn btn-success btn-large" href="#publication.references">Сохранить оглавление и продолжить</a>
    </div>
</template>

<template id="template_publication_references">
    <div id="publication_references">
        <h1>Список использованной литературы</h1>
        <a id="publication_references_btn" class="btn btn-success btn-large" href="#publication.metadata">Сохранить список литературы и продолжить</a>
    </div>
</template>


<template id="template_publication_tasks">
    <div id="publication_tasks">
        <h1>Список задач, связанных с данным произведением</h1>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Исполнитель</th>
                <th>Роль</th>
                <th>Описание</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody id="task_list">
            <tr><td colspan="5">
                    <div class="ed-info">С данным произведением еще не связано ни одной задачи. Воспользуйтесь формой внизу, чтобы создать новую задачу</div>
                </td></tr>
            </tbody>
        </table>
        <h1>Создать новую задачу</h1>
        <select id="tasktype" class="form-control">
            <option value="0">Выберите тип задачи</option>
            <option value="1">Заполнить список соавторов</option>
        </select>
        <br />
        <a id="task_create" href="#publication.tasks" class="btn btn-large disabled">Создать задачу</a>
    </div>
</template>


<template id="template_publication_tasklist">
    <div id="publication_tasklist">
        <h1>Мои задачи</h1>
        <table class="table table-striped table-condensed">
            <thead>
            <tr>
                <th>ID</th>
                <th>Произведение</th>
                <th>Описание</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11</td>
                <td><a href="#">Маммография у пресмыкающихся</a></td>
                <td><a href="#">Тестовая задача</a></td>
                <td>Не в работе</td>
            </tr>
            <tr>
                <td>14</td>
                <td><a href="#">Маммография у пресмыкающихся</a></td>
                <td><a href="#">Заполнить список соавторов</a></td>
                <td>Не в работе</td>
            </tr>
            <tr>
                <td>48</td>
                <td><a href="#publication.metadata">Геометрия ада</a></td>
                <td><a href="#publication.authorslist">Заполнить список соавторов</a></td>
                <td>Не в работе</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>


<template id="template_publication_publish">
    <div id="publication_publish">
        <h1>Опубликовать произведение</h1>
        <div class="ed-info"><p>Выберите сайты, электронные библиотеки, на которых вы хотите опубликовать данный материал</p></div>
        <br />
        <label><h2><input id="publish_editorum" type="checkbox">&nbsp;Опубликовать на lib.editorum.ru (бесплатная публикация для пользователей editorum.ru)</h2></label>
        <div id="editorum_publish_details" class="bf-hidden ed-info">
            <label for="publish_editorum_type">Выберите тип опубликования</label>
            <select id="publish_editorum_type" class="form-control">
                <option>Не выбран</option>
                <option>Полный текст</option>
                <option>Только метаданные</option>
            </select>
            <br />
            <a id="editorum_publish_do" class="btn btn-large disabled" href="#">Опубликовать на lib.editorum.ru</a>
        </div>
        <label><h2><input id="publish_osci" type="checkbox">&nbsp;Опубликовать на OpenScience.ru (портал бесплатного доступа)</h2></label>

    </div>
</template>


<template id="template_publication_manage">
    <div id="publication_manage">
        <h1>Управление произведением</h1>
        <h2>Получить DOI</h2>
        <div class="ed-info">
            <p id="doi_msg">Произведение не опубликовано. Для отправки данных DOI, необходимо, чтобы произведение было доступно в сети Интернет.</p>
            <div id="doi_form" class="bf-hidden">
                <label for="doi_source">Выберите Интернет ресурс, на которой будет вести ссылка DOI</label>
                <select id="doi_source" class="form-control">
                    <option value="0">Не выбран</option>
                    <option value="editorum">lib.editorum.ru</option>
                </select>
            </div><br />
            <a id="doi_do" class="btn btn-large disabled" href="#">Получить DOI</a>
            <a target="_blank" href="http://dx.doi.org"">Проверить работоспособность DOI</a>

        </div>
        <br />
        <h2>Отправить в РИНЦ</h2>
        <div class="ed-info">
            <p>Данные для отправки в РИНЦ не заполнены.</p>
            <a id="rinc_do" class="btn btn-large disabled" href="#">Отправить в РИНЦ</a>
        </div>
        <br />

    </div>
</template>


<!--

  ***************** ЖУРНАЛ    ***********************

-->


<template id="template_journal_list">
    <div id="journal_list">
        <form class="form-inline">
            <legend>Список журналов</legend>
            <div class="form-group">
                <button class="btn btn-default" id="journal_list_create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Создать журнал</button>
            </div>
            <div class="form-group pull-right">
                <label for="pubication_list_type">Формат списка</label>
                <select class="form-control" id="publication_list_type">
                    <option value="doirinc">Обычный вид</option>
                </select>
            </div>
        </form>
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>Название журнала</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody id="publication_list_content">
            </tbody>
        </table>
    </div>
</template>

<template id="template_journal_create">
    <div class="journal_forms" id="journal_create">
        <h1>Создать новое произведение</h1>
        <table class="form-table">
            {% use "AsuBundle:Default/journal:journal_form.html.twig" %}
            {% block journal_form %}
                {{ parent() }}
            {% endblock %}

            <tr>
                <td colspan="2">
                    <label><input type="checkbox" value="1" checked="true" />&nbsp;Я ознакомлен с требованиями редакции и знаю, что заявки, оформленные не в соответствии с требованиями, не рассматриваются</label>

                </td>
            </tr>
            <tr><td colspan="2">
                    <a id="journal_create_btn" class="btn disabled btn-large" href="#journal.metadata">Создать журнал</a>
                </td></tr>

        </table>
    </div>
</template>

<template id="template_issue_list">
    <div id="issue_list">
        <a href="#issue.create" class="btn btn-warning btn-large pull-right">Создать номер</a>
        <h1>Список номеров</h1>
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Журнала</th>
                <th>Volume</th>
                <th>Issue</th>
                <th>Дата публикации</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="5">
                    <div class="ed-info">
                        Вы еще не создали ни одного номера журнала. Для создания, нажмите кнопку "Создать номер" справа вверху.
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

{#    +++++++++   АВТОР     +++++++++     #}

<template id="template_author_list">
    <div id="author_list">
        <form class="form-inline">
            <legend>Список авторов</legend>
            <div class="form-group">
                <button class="btn btn-default" id="author_list_create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Создать автора</button>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="author_list_search" placeholder="Имя автора" />
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </div>
            </div>
            <div class="form-group pull-right">
                <label for="author_list_type">Формат списка</label>
                {#<select class="form-control" id="author_list_type">#}
                    {#<option value="doirinc">Присвоение DOI и РИНЦ</option>#}
                {#</select>#}
            </div>
        </form>
        <table class="table table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody id="author_list_content">
            </tbody>
        </table>
    </div>
</template>

<template id="template_author_create">
    <div class="author_forms" id="author_create">
        <h1>Создать нового автора</h1>
        <table class="form-table">
            {% use "AsuBundle:Default/author:author_form.html.twig" %}
            {% block author_form %}
                {{ parent() }}
            {% endblock %}
            <tr>
                <td colspan="2">
                    <label><input type="checkbox" value="1" checked="true" />&nbsp;Я ознакомлен с требованиями редакции и знаю, что заявки, оформленные не в соответствии с требованиями, не рассматриваются</label>

                </td>
            </tr>
            <tr><td colspan="2">
                    <a id="author_create_btn" class="btn disabled btn-large" href="#author.metadata">Создать автора</a>
                </td></tr>

        </table>

    </div>
</template>

<script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bframe.js') }}"></script>
<script src="{{ asset('bundles/asu/js/publication_controllers.js') }}"></script>
<script src="{{ asset('bundles/asu/js/publication_blocks.js') }}"></script>
<script src="{{ asset('bundles/asu/js/journal_controllers.js') }}"></script>
<script src="{{ asset('bundles/asu/js/journal_blocks.js') }}"></script>
<script src="{{ asset('bundles/asu/js/journal_model.js') }}"></script>
<script src="{{ asset('bundles/asu/js/author_controllers.js') }}"></script>
<script src="{{ asset('bundles/asu/js/author_blocks.js') }}"></script>
<script src="{{ asset('bundles/asu/js/author_model.js') }}"></script>
<script src="{{ asset('bundles/asu/js/common_blocks.js') }}"></script>
<script src="{{ asset('bundles/asu/js/publication_model.js') }}"></script>
<script src="{{ asset('bundles/asu/js/editorum.js') }}"></script>



<script>
    $(function() {
        console.log('Application Initialization');
        bframe = new ClassBFrame({});
        bframe.init({
            default_controller: 'publication.list',
            'controllers': {
                'publication':  new PublicationController(),
                'journal':      new JournalController(),
                'author':      new AuthorController()
            },
            'models': {
                'pubs': new PublicationModel(),
                'journal': new JournalModel(),
                'author': new AuthorModel()
            }

        });
    });
</script>
</body>
</html>
