{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Заключение договора</h3>
    </div>

    <form id="iedit">
        <input id="_id" type="hidden" value="{{ pub.__get('_id') }}" />

        <div class="form-group">
            <label>Выберите шаблон договора</label>
            <select class="form-control" id="agreement_template_id">
                <option value="0">Не выбран</option>
                {% for item in templates %}

                    <option value="{{ item.__get('_id') }}"
                    {% if pub.__get('agreement_template_id') == item.__get('_id') %}
                        selected="true"
                    {% endif %}
                    >{{ item.__get('title') }}</option>
                {% endfor %}
            </select>
        </div>

        <button id="save" class="btn btn-success">Сохранить</button>
        <button id="generate" class="btn btn-success">Сгенерировать договора</button>
    </form>

    <script language="JavaScript">
        $(function() {
            $('#save').on('click touchstart', function(e) {
                save_data('iedit', '/agreement/template/select/do/%id%/', '/agreement/template/select/%id%/');
                e.preventDefault();
            });
            $('#generate').on('click touchstart', function(e) {
                save_data('iedit', '/agreement/template/select/do/%id%/', '/agreement/generate/%id%/');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}