{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Список договоров</h3>
    </div>

    <div id="series_list">
        <table id="ilist" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-right">ID</th>
                    <th>Номер</th>
                    <th>Произведение</th>
                    <th>Автор</th>
                    <th>Текст</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for item in agreements %}
                    <tr data-id="{{ item.__get('_id') }}">
                        <td class="text-right">{{ item.__get('_id') }}</td>
                        <td>{{ item.__get('number') }}</td>
                        <td>{{ item.__get('pubname') }}</td>
                        <td>{{ item.__get('authorlist') }}</td>
                        <td><a href="{{ item.__get('textlink') }}">Текст договора</a></td>
                        <td>Не получен</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}