<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <legend>Редактирование главы</legend>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1 text-left">
        <form class="fv-form fv-form-bootstrap" id="chapter_form_edit">
            <input id="_id" value="{{ chapter.__get('_id') }}" class='hide'>

            <div class="form-group">
                <label for="num">Номер главы</label>
                <input type="text" id="num" placeholder="Номер главы" class="form-control"
                       value="{{ chapter.__get('num') }}">
            </div>
            <div class="form-group">
                <label for="title">Название</label>

                <div class="controls">
                    <input type="text" id="title" placeholder="Название" class="form-control"
                           value="{{ chapter.__get('title') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="title">Название Англ.</label>

                <div class="controls">
                    <input type="text" id="title_eng" placeholder="Название" class="form-control"
                           value="{{ chapter.__get('title_eng') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="keywords">Ключевые слова на русском языке.<br>
                    <small>Перечислите ключевые слова через запятую, начните с маленькой буквы, в конце поставьте точку.
                        Пример:
                        <i>сертификация, технический регламент, нормативно-технические документы, Таможенный Союз,
                            нормативно-техническое регулирование.</i>
                    </small>
                </label>

                <div class="controls">
                    <textarea id="keywords" class="form-control"
                              placeholder="Введите через запятую ключевые слова, характеризующие это произведение"
                              rows="4">{{ chapter.__get('keywords') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="eng-keywords">Ключевые слова на английском языке.<br>
                    <small>Перечислите ключевые слова через запятую, начните с маленькой буквы, в конце поставьте точку.
                        Пример:
                        <i>certification, technical regulations, technical regulation documents, Customs Union,
                            normative and technical regulation.</i>
                    </small>
                </label>

                <div class="controls">
                    <textarea id="eng_keywords" class="form-control"
                              placeholder="Введите через запятую ключевые слова, характеризующие это произведение"
                              rows="4">{{ chapter.__get('eng_keywords') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="page_from">Страница с</label>

                <div class="controls">
                    <input type="text" id="page_from" placeholder="Название" class="form-control"
                           value="{{ chapter.__get('page_from') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="page_to">Страница по</label>

                <div class="controls">
                    <input type="text" id="page_to" placeholder="Название" class="form-control"
                           value="{{ chapter.__get('page_to') }}">
                </div>
            </div>
            <div class="form-group">
                <label for="annotation">Аннотация главы на русском языке</label>

                <div class="controls">
                    <textarea id="annotation" class="form-control"
                              placeholder="Введите текст аннотации"
                              rows="4">{{ chapter.__get('annotation') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="annotation_eng">Аннотация главы на английском языке</label>

                <div class="controls">
                    <textarea id="annotation_eng" class="form-control"
                              placeholder="Введите текст аннотации"
                              rows="4">{{ chapter.__get('annotation_eng') }}</textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="znanium_link">Ссылка на знаниум</label>

                <div class="controls">
                    <input type="text" id="znanium_link" placeholder="Ссылка на знаниум" class="form-control" value="{{  chapter.__get('znanium_link') }}">
                </div>
            </div>
            <button type="button" id="save_chapter" class="btn btn-success">Сохранить</button>
        </form>
    </div>

</div><br><br>
