{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Создание издательского проекта</h3>
    </div>

    {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.title, 'Название проекта') }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
        </div>

        <div class="form-group">
            {{ form_label(form.entity_type, 'Тип проекта') }}
            {{ form_widget(form.entity_type, { 'attr': {'class': 'form-control'} }) }}
        </div>

        {{ form_widget(form.create, { 'label': 'Сохранить', 'attr': {'class': 'btn btn-success'} }) }}

    {{ form_end(form) }}

{% endblock %}