{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div>
        <form>
            <legend>Присвоение DOI</legend>
        </form>
        <p>Данные для получения DOI отправлены в Crossref</p>

    </div>
{% endblock %}
