{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div>
        <form>
            <legend>Сообщения, возникшие при формировании запроса</legend>
        </form>
        <ul>
            {% if errors|length == 0 %}
                <p>Формирование прошло без ошибок</p>
            {% else %}
                {% for item in errors %}
                    <li>{{ item }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}