{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div>
        <form id="jedit">
            <input id="_id" type="hidden" value="{{ id }}" />
            <legend>Редактирование сведений о сотруднике</legend>

            <label for="email">E-mail сотрудника. Используется как логин для авторизации в системе</label>
            <div id="email_div" class="has-feedback">
                <input id="email" class="form-control" type="text" placeholder="E-mail" value="{{ data.__get('email') }}"/>
                <span id="email_ok" class="bf-hidden glyphicon glyphicon-ok form-control-feedback"></span>
                <span id="email_error" class="bf-hidden glyphicon glyphicon-remove form-control-feedback"></span>
            </div>

            <label for="password">Пароль</label>
            <p>Указывайте пароль, только если вы хотите установить новый. Если вы хотите оставить пароль без изменений, оставьте поле пустым</p>
            <div id="password_div">
                <input id="password" class="form-control" type="password" />
            </div>

            <label for="last_name">Фамилия</label>
            <div id="last_name_div" class="has-feedback">
                <input id="last_name" class="form-control" type="text" placeholder="Фамилия" value="{{ data.__get('last_name') }}"/>
                <span id="last_name_ok" class="bf-hidden glyphicon glyphicon-ok form-control-feedback"></span>
                <span id="last_name_error" class="bf-hidden glyphicon glyphicon-remove form-control-feedback"></span>
            </div>

            <label for="first_name">Имя</label>
            <div id="first_name_div" class="has-feedback">
                <input id="first_name" class="form-control" type="text" placeholder="Имя" value="{{ data.__get('first_name') }}"/>
                <span id="first_name_ok" class="bf-hidden glyphicon glyphicon-ok form-control-feedback"></span>
                <span id="first_name_error" class="bf-hidden glyphicon glyphicon-remove form-control-feedback"></span>
            </div>

            <label for="second_name">Отчество</label>
            <div id="second_name_div" class="has-feedback">
                <input id="second_name" class="form-control" type="text" placeholder="Имя" value="{{ data.__get('second_name') }}"/>
                <span id="second_name_ok" class="bf-hidden glyphicon glyphicon-ok form-control-feedback"></span>
                <span id="second_name_error" class="bf-hidden glyphicon glyphicon-remove form-control-feedback"></span>
            </div>

            <br />

            <button id="save" class="btn btn-large btn-success">Сохранить</button>
        </form>
    </div>
    <script>
        $(function() {

            $('#save').on('click touchstart', function(e) {
                var errors = validate_empty(['email', 'last_name', 'first_name', 'second_name']);
                if (errors == 0)
                    save_data('jedit', '/employee/save/', '/employee');

                e.preventDefault();
            });
        });
    </script>
{% endblock %}