{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div id="publication_list">
        <form class="form-inline">
            <legend>Просмотр лога</legend>
        </form>
        <textarea class="col-md-12" rows="20">
            {{ data.__get('xml') }}
        </textarea>
    </div>
{% endblock %}