{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Логи отправки данных в DOI и РИНЦ</h3>
    </div>

    <div id="publication_list">
        <table id="jlist" class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Дата и время</th>
                </tr>
            </thead>
            <tbody>
                {% for item in logs %}
                    <tr data-id="{{ item._id }}">
                        <td>{{ item._id }}</td>
                        <td>{{ item.dt }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            $(function() {
                $('#jlist tbody tr').on('click touchstart', function() {
                    window.location.href='/log/'+$(this).attr('data-id')+'/';
                });
            });
        </script>
    </div>
{% endblock %}