<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic&subset=latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/publication.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/lib.js') }}"></script>
</head>
<body>

<header id="position_top">
        {% block topmenu %}
            {% include "AsuBundle:Parts:mainmenu.html.twig" %}
        {% endblock %}
</header>

<section class="wrapper-content">
        <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1">
            {% include "AsuBundle:Parts:leftmenu.html.twig" %}
        </div>
        <div class="col-sm-10 col-xs-10 col-md-10 col-lg-10 content" >
            {% block content %}{% endblock %}
            <div class="pull-right hide" id="up">
                <div class="btn btn-default">
                    <span class="fa fa-long-arrow-up"></span>
                </div>
            </div>
        </div>
</section>



<footer>
     &copy; Powered by Editorum <span class="year"></span>
</footer>

{% block registration %}
    {% include "AsuBundle:Parts:registration.html.twig" %}
{% endblock %}

{% block login %}
    {% include "AsuBundle:Parts:login.html.twig" %}
{% endblock %}

<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script>
    $(function() {
        {% for type, messages in app.session.flashBag.all %}
        {% set message_type = 'info' %}
        {% if type == 'error' %}
            {% set message_type = 'danger' %}
        {% endif %}
        {% if type == 'notice' %}
            {% set message_type = 'success' %}
        {% endif %}
        {% for message in messages %}
        $.bootstrapGrowl('{{ message|trim('.')|trans({}, 'app') }}', {
            type: '{{ message_type }}',
            align: 'right',
            width: 300,
            stackup_spacing: 30
        });
        {% endfor %}
        {% endfor %}
    });
</script>
<script src="{{ asset('bundles/asu/js/leftmenu.js') }}"></script>
{% block page_script %}
{% endblock %}

</body>
</html>
