{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="page-header">
        {% if new is not defined or new == true %}
        <h3>Добавление рубрики номера</h3>
        {% else %}
        <h3>Редактирование позиции рубрики <small>| Журнал "{{ list.issue.journal.ru.title|raw }}" Том {{ list.issue
                .volume }} Номер {{ list.issue.issue }} рубрика "{{ list.rubric.ru.title }}"</small></h3>
        {% endif %}
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
