{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block head %}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>

    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.title) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.title) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.title) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.title) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
