{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="/task/create/{{ id }}" class="btn btn-default pull-right" id="task_list_create">Создать новую задачу</a>
        <h3>Список задач</h3>
    </div>
    {% if (tasks.isEmpty()) %}
        <div class="alert alert-warning">Для данного произведения еще не указано ни одной задачи</div>
    {% else %}
        <table class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Статус</th>
                <th>Название</th>
                <th>Ссылка</th>
                <th>Исполнитель</th>
            </tr>
            </thead>
            <tbody>
                {% for item in tasks %}
                    <tr>
                        <td>{{  item.__get('hstatus') }}</td>
                        <td>{{  item.__get('title') }}</td>
                        <td>{{  item.__get('link') }}</td>
                        <td>{{  item.__get('reciver_id') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
