{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Создание задачи</h3>
    </div>

    <form id="task_edit">
        <input id="_id" type="hidden" value="{{ id }}" />

        <div class="form-group">
            <label>Тип получателя</label>
            <select class="form-control" id="recipient_type">
                <option value="0">Не выбрано</option>
                <option value="1">Автор</option>
                <option value="2">Сотрудник</option>
            </select>
        </div>

        <div id="author_select" class="bf-hidden rec-pages">
            {% if (authors.isEmpty()) %}
                <div class="alert alert-warning">Произведению не назначены авторы</div>
            {% else %}
                <div class="form-group">
                    <label>Выберите автора</label>
                        <select class="form-control" id="author_id">
                            <option value="0">Выберите автора</option>
                            {% for author in authors %}
                                <option value="{{ author.__get('_id') }}">{{ author.__get('fio') }}</option>
                            {% endfor %}
                        </select>
                </div>
            {% endif %}
        </div>

        <div id="employee_select" class="bf-hidden rec-pages">
            {% if (employee.isEmpty()) %}
                <div class="alert alert-warning">В издательстве отсутствуют сотрудники</div>
            {% else %}
                <div class="form-group">
                    <label>Выберите сотрудника</label>
                    <select class="form-control" id="emp_id">
                        <option value="0">Выберите сорудника</option>
                        {% for emp in employee %}
                            <option value="{{ emp.__get('_id') }}">{{ emp.__get('fio') }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>

        <div class="task_selector bf-hidden" id="author_tasks">
            {% if (atasks|length) %}
                <div class="alert alert-warning">Шаблоны задач для авторов отсутствуют</div>
            {% else %}
                <div class="form-group">
                    <label>Выберите шаблон</label>
                    <select class="form-control" id="emp_id">
                        <option value="0">Выберите шаблон</option>
                        {% for class, title in atasks %}
                            <option value="{{ class }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>

        <div class="task_selector bf-hidden" id="emp_tasks">
            {% if (etasks|length) %}
                <div class="alert alert-warning">Шаблоны задач для сотрудников отсутствуют</div>
            {% else %}
                <div class="form-group">
                    <label>Выберите шаблон</label>
                    <select class="form-control" id="emp_id">
                        <option value="0">Выберите шаблон</option>
                        {% for class,title in etasks %}
                            <option value="{{ class }}">{{ title }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        </div>

        <div class="form-group bf-hidden">
            <label>Описание</label>
            <textarea id="about" class="form-control" rows="10">{{ data.__get('text')|raw }}</textarea>
        </div>

        <button id="save" class="btn btn-success bf-hidden">Сохранить</button>
    </form>
    <script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>
    <script>
        $(function() {

            /**
             * Отображаем соответствующий select при выборе типа исполнителя задачи
             */
            $('#recipient_type').on('change', function()
            {
                var type = $('#recipient_type').val();
                $('.rec-pages').addClass('bf-hidden');
                if (type == 1)
                    $('#author_select').removeClass('bf-hidden');
                if (type == 2)
                    $('#employee_select').removeClass('bf-hidden');
            });

            function redraw()
            {
                console.log('REDRAW');
                $('.task_selector').addClass('bf-hidden');



                if ($('#recipient_type').val() == 1)
                {
                    console.log($('#author_id').val());
                    if ($('#author_id').val() > 0)
                        $('#author_tasks').removeClass('bf-hidden');
                }

                if ($('#recipient_type').val() == 2)
                {
                    console.log($('#emp_id').val());
                    if ($('#emp_id').val() > 0)
                        $('#emp_tasks').removeClass('bf-hidden');
                }
            }

            /**
             * При выборе исполнителя/автора - показываем выбор шаблона
             */
            $('#author_id').on('change', redraw);
            $('#emp_id').on('change', redraw);

            $('#save').on('click touchstart', function(e) {
                save_data('serie_edit', '/serie/save/', '/series/');
                e.preventDefault();
            });

            $('#remove').on('click touchstart',function(e){
                remove_data($('#_id').val(),'/serie/remove/','/series/');
                e.preventDefault();
            });

            tinymce.init({
                selector: "#about",
                language: "ru",
                min_height: 300,
                plugins: [
                    "advlist autolink lists link image",
                    "searchreplace visualblocks code paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fullscreen"
            });

        });
    </script>
{% endblock %}
