{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Ваши сообщения</h3>
    </div>

    <div id="series_list">
        {% if (tasks.isEmpty()) %}
            <div class="alert alert-danger">
                <p>У вас еще нет ни одного полученного сообщения</p>
            </div>
        {% else %}
            <table id="ilist" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Произведение</th>
                        <th>Тема сообщения</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tasks %}
                        <tr data-id="{{ item.__get('_id') }}">
                            <td>{{ item.__get('hstatus') }}</td>
                            <td>{{ item.__get('hobjectname') }}</td>
                            <td>{{ item.__get('title') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                $(function() {
                    $('#ilist tbody tr').on('click touchstart', function() {
                        window.location.href='/task/view/'+$(this).attr('data-id')+'/';
                    });
                });
            </script>
        {% endif %}
    </div>
{% endblock %}