{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="/agreement/template/edit/0/" class="btn btn-default pull-right" id="publication_list_create">Создать новый шаблон</a>
        <h3>Список шаблонов договоров</h3>
    </div>

    <div id="series_list">
        <table id="ilist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">ID</th>
                    <th>Тип договора</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in templates %}
                    <tr data-id="{{ item.__get('_id') }}">
                        <td class="text-right">{{ item.__get('_id') }}</td>
                        <td>{{ item.__get('collective') }}</td>
                        <td>{{ item.__get('title') }}</td>
                        <td>{{ item.__get('descr') }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="/agreement/template/edit/{{ item.__get('_id') }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                                <div class="btn btn-danger">
                                    <span class="fa fa-trash-o"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(function() {
            $('.btn-danger').on('click touchstart', function(e){
                remove_data($(this).closest('tr').data('id'),'/agreement/template/remove/','/agreement/templates/');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}