{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование шаблона договора</h3>
    </div>

    <form id="jedit">
        <input id="_id" type="hidden" value="{{ id }}" />

        <div class="form-group">
            <label>Название шаблона</label>
            <input id="title" class="form-control" type="text" placeholder="Название на русском" value="{{ data.__get('title') }}" />
        </div>

        <div class="form-group">
            <label>Описание шаблона</label>
            <textarea id="descr" class="form-control" placeholder="Описание шаблона для простоты использования">{{ data.__get('descr')|raw }}</textarea>
        </div>

        <div class="form-group">
            <label>Выберите базовый класс для договора</label>
            <select id="master_class" class="form-control">
                {% for key,agr in master_classes %}
                    <option value="{{ key }}">{{ agr }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label>Укажите тип договора</label>
            <select id="is_collective" class="form-control">
                <option value="0">Не указан</option>
                <option value="1">Индивидуальный</option>
                <option value="2">Коллективный</option>
            </select>
        </div>

        <div class="form-group">
            <label>Шаблон договора Twig</label>
            <textarea rows="20" class="form-control" id="template" placeholder="Код шаблона Twig">{{ data.__get('template') }}</textarea>
        </div>

        <button id="save_template" class="btn btn-success">Сохранить</button>
        {% if id != 0 %}
            <button id="remove" class="btn btn-danger pull-right">
                <span class="fa fa-trash-o"></span>
                Удалить
            </button>
        {% endif %}
    </form>

    <script>
        $(function() {
            $('#save_template').on('click touchstart', function(e){
                if ($('#is_collective').val() == 0)
                    alert('Не выбран тип договора');
                else
                    save_data('jedit', '/agreement/template/save/', '/agreement/templates/');
                e.preventDefault();
            });
            $('#remove_template').on('click touchstart', function(e){
                remove_data($('#_id').val(),'/agreement/template/remove/','/agreement/templates/');
                e.preventDefault();
            });

        });
    </script>
{% endblock %}