{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Список зарегистрированных пользователей</h3>
    </div>

    <div id="issues_list">
        <table id="ilist" class="table table-striped table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">ID</th>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>E-mail</th>
                    <th>Телефон</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in persons %}
                    <tr>
                        <td class="text-right">{{ item.__get('_id') }}</td>
                        <td>{{ item.__get('last_name') }}</td>
                        <td>{{ item.__get('first_name') }}</td>
                        <td>{{ item.__get('second_name') }}</td>
                        <td>{{ item.__get('email') }}</td>
                        <td>{{ item.__get('phone') }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="/editorum/person/{{ item.__get('_id') }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                                <div class="btn btn-default btn-remove" data-id ="{{ item.__get('_id') }}">
                                    <span class="fa fa-trash-o text-danger"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <script>
            $(function() {

            });
        </script>
    </div>
{% endblock %}