{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('publication_metadata', {'id': article.id}) }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>Просмотр произведения</h3>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Метаданные</a></li>
        <li><a href="#tab2" data-toggle="tab">Авторы</a></li>
        <li><a href="#tab4" data-toggle="tab">Спислит</a></li>
        <!--li><a href="#tab5" data-toggle="tab">Договоры</a></li-->
        <li><a href="#tab6" data-toggle="tab">Управление</a></li>
        {#<li><a href="#tab7" data-toggle="tab">История</a></li>#}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table-data">
                <thead>
                    <tr>
                        <th>Общие сведения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Заголовок (RUS)</td>
                        <td><h4>{{ article.ru.title }}</h4></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Обложка</td>#}
                        {#<td>#}
                            {#<div class="thumbnail">#}
                                {#<img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">#}
                            {#</div>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>PDF-файл</td>#}
                        {#<td><a href="{{ path('pdf_reader', {'id': app.request.get('id')}) }}"><span class="fa fa-file-pdf-o text-danger"></span> Посмотреть PDF</a></td>#}
                    {#</tr>#}

                    {#<tr id="DatePickerYear">#}
                        {#<td>Год издания</td>#}
                        {#<td>{{ article.publishedyear }}</td>#}
                    {#</tr>#}
                    <tr>
                        <td>ISSN журнала</td>
                        <td>{{ article.journal.issnprint }}</td>
                    </tr>
                    <tr>
                        <td>ISSN-онлайн журнала</td>
                        <td>{{ article.journal.issnonline }}</td>
                    </tr>
                    <tr>
                        <td>Издатель</td>
                        <td>{{ article.publisher.ru.title }}</td>
                    </tr>
                    <tr>
                        <td>Аннотация (RUS)</td>
                        <td>{{ article.ru.annotation|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Ключевые слова (RUS)</td>
                        <td>{{ article.ru.keywords|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Количество авторских листов</td>
                        <td>{{ article.authorpages }}</td>
                    </tr>
                    <tr>
                        <td>Всего страниц</td>
                        <td>{{ article.pagetotal }}</td>
                    </tr>
                    <tr>
                        <td>Заголовок (ENG)</td>
                        <td>{{ article.en.title|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Аннотация (ENG)</td>
                        <td>{{ article.en.annotation|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Ключевые слова (ENG)</td>
                        <td>{{ article.en.keywords|default(null) }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2 head">Язык материала</td>
                        <td>{{ article.lang }}</td>
                    </tr>
                    <tr>
                        <td>Ссылка на znanium</td>
                        <td><a href="" target="_blank"></a></td>
                    </tr>
                    <tr>
                        <td>Гриф</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Рецензенты</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Комментарий</td>
                        <td>{{ article.comment }}</td>
                    </tr>
                    <tr>
                        <td>Рубрики</td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Депонированный файл</td>#}
                        {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Договор с другим издательством</td>#}
                        {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                    {#</tr>#}
                    <tr>
                        <td>Идентификатор РИНЦ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка РИНЦ</td>
                        <td><a href="#" target="_blank"></a></td>
                    </tr>
                    <tr>
                        <td>Дополнительные сведения</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Номер издания</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Номер УДК</td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Текст</td>#}
                        {#<td>{{ article.__get('text') | raw }}</td>#}
                    {#</tr>#}
                    <tr>
                        <td>Показано на naukaru.ru?</td>
                        <td>{{ article.statuses.is_show_nauka ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Адрес в сети</td>
                        <td>{% if article.uri is not empty %}<a href="{{ article.uri }}" target="_blank">{{ article.uri }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        <td>
                            {% if kinds[article.statuses.status] is defined %}
                                <span class="label {{ kinds[article.statuses.status].class }}">
                                    {{ kinds[article.statuses.status].label }}
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ article.createdat|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>Дата обновления</td>
                        <td>{{ article.updatedat|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>Журнал</td>
                        <td>{{ article.journal.ru.title|raw }}</td>
                    </tr>
                    <tr>
                        <td>Есть ли у произведения рецензенты?</td>
                        <td>{{ article.statuses.has_reviewers ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Публиковалось ли произведение ранее?</td>
                        <td>{{ article.statuses.has_published ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Дата публикации произведения</td>
                        <td>{{ article.datepublished|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>DOI</td>
                        <td><a href="http://dx.doi.org/{{ article.doi }}" target="_blank">{{ article.doi }}</a></td>
                    </tr>
                    <tr>
                        <td>Страница с</td>
                        <td>{{ article.firstpage }}</td>
                    </tr>
                    <tr>
                        <td>Страница по</td>
                        <td>{{ article.lastpage }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Классификаторы</th>
                    </tr>
                </thead>
                <tbody>
                    {#{% for classif in classifs %}#}
                        {#<tr>#}
                            {#<td>{{ classif.name }}</td>#}
                            {#<td>#}
                                {#{{ article.classif('classif_'~classif.type) ?#}
                                {#article.classif('classif_'~classif.type) :#}
                                {#'не присвоен'#}
                                {#}}#}
                            {#</td>#}
                        {#</tr>#}
                    {#{% endfor %}#}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="{{ path('article_authors', {'id': article.id}) }}"><span class="fa
                    fa-user-plus"></span> Добавить автора</a>
                    <a class="btn btn-success" href="#">Пригласить авторов</a>
                </div>
            </div>

            <table class="table table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>ФИО автора</th>
                        {#<th>Email оповещение</th>#}
                        {#<th>Гонорар %</th>#}
                        {#<th>Город</th>#}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for author in article.authors %}
                    <tr>
                        <td>{{ author.ru.fio }}</td>
                        {#<td></td>#}
                        {#<td><input type="text" class="form-control input-small"></td>#}
                        {#<td></td>#}
                        <td class="text-right">
                            <a href="{{ path('author_show',{'id':author.id}) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#<div class="btn btn-primary">Изменить распределение гонорара</div>#}
            {#<br><br>#}

            {#<h4>Шаблон письма оповещения <br><small>(отправляется при первичной генерации договора или при отправке оповешения автору)</small></h4><br>#}

            {#<div class="form-group">#}
                {#<textarea id="html" class="form-control" rows="5"></textarea>#}
            {#</div>#}

            {#<button class="btn btn-success">Сохранить</button>#}
            {#<br><br>#}

            {#<p><strong>Переменные используемы а шаблоне:</strong></p>#}
            {#<ul class="list-unstyled">#}
                {#<li>{_NAME_} - Ф.И.О. автора</li>#}
                {#<li>{_CONTRACT_} - ссылка на договор</li>#}
                {#<li>{_PUB_TITLE_} - название произведения</li>#}
            {#</ul>#}
        </div>

        <div class="tab-pane" id="tab4">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Загрузить список</a>
            </div>

            <table class="table table-hover table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Источник</th>
                        <th>Источник (транслит)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for ref in article.references %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ ref.text }}</td>
                        <td></td>
                        <td class="text-right">
                            <a href="#" class="btn btn-default">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab5">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="#">Сгенерировать договор</a>
                    <a class="btn btn-success" href="#">Приложить договор</a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab6">
            <table class="table table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>Объект</th>
                        <th>Состояние</th>
                        <th>Действие</th>
                        <th>Задачи</th>
                    </tr>
                </thead>
                <tbody>
                    {#<tr>#}
                        {#<td>Состояние заявки на издание:</td>#}
                        {#<td><div class="label label-warning">Заявка принята</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Изображения:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Дополнительные сведения:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Текст:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Договор:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Рубрики:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>#}
                            {#<div class="btn-group btn-group-sm">#}
                                {#<a href="#" class="btn btn-default">Назначить рубрики</a>#}
                                {#<a href="#" class="btn btn-default">Делегировать</a>#}
                            {#</div>#}
                        {#</td>#}
                        {#<td></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Рецензия:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Гриф:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Обложка:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Корректура:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Редактура:</td>#}
                        {#<td><div class="label label-warning">Заявка принята</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Макет:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Готовность:</td>#}
                        {#<td><div class="label label-success">Работы завершены</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Naukaru.ru:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Znanium.com:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Academuspublishing.com:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td><a class="btn btn-sm btn-default" href="#">Опубликовать</a></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                    <tr>
                        <td>DOI:</td>
                        <td><a target="_blank" href="http://dx.doi.org/10.12737/2477">10.12737/2477</a></td>
                        <td><a class="btn btn-sm btn-default" href="#">Присвоить/обновить DOI</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>РИНЦ:</td>
                        <td>??</td>
                        <td><a class="btn btn-sm btn-default" href="#">Сгенерировать данные РИНЦ</a></td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Тарификация:</td>#}
                        {#<td>Тариф не выбран:0 руб.</td>#}
                        {#<td><a class="btn btn-sm btn-default" href="#">Установить стоимость</a></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab7">
            <table class="table">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Пользователь</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11-09-2014 15:06:25</td>
                        <td>Букин Денис Юрьевич</td>
                        <td>Редактирование метаданных произведения. Изменено кол-во авторских листов произведения. Изменен номер УДК. </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>

    <script>
        $(function () {
            tinymce.init({
                selector: "#html",
                language: "ru",
                height: 500,
                plugins: [
                    "advlist autolink lists link image",
                    "searchreplace visualblocks code paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });
        });

    </script>
{% endblock %}