{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}

    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path('article_create') }}" class="btn btn-primary pull-right" id="publication_list_create">Создать статью</a>
        {% endif %}
        <h3>Список статей
            {% if pagination is defined %}
                <small class="sub-header">
                    Всего <strong>{{ pagination.getTotalItemCount }}</strong> произведений
                </small>
            {% endif %}
        </h3>
    </div>

    <form action="{{ path('article_list') }}"  method="post" >
        <div class="form-group" id="publication_list">
            <div class="row">
                <div class="col-md-8">
                    <label>Название статьи</label>
                    <div class="input-group">
                        <input class="form-control" id="publication_list_search" name="search" value="{{ search_txt }}">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Формат списка</label>
                    <select class="form-control" id="publication_list_type">
                        <option value="doirinc">Присвоение DOI и РИНЦ</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('article_list') }}">Все</a>
        {#<a href="{{ path('issue_all_list', { 'filter': 'status:100:int' }) }}"#}
           {#class="btn btn-default{{ app.request.get('filter') == 'status:100:int' ? ' active' }}">Новый</a>#}
        <a href="{{ path('article_list', { 'filter': 'status:200:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:200:int' ? ' active' }}">В работе</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:300:int' ? ' active' }}"
           href="{{ path('article_list', { 'filter': 'status:300:int' }) }}">Опубликован</a>
    </div>
    <br>

    {{ knp_pagination_render(pagination) }}

        <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название произведения', 'ru.title') }}</th>
                    <th>Авторы</th>
                    <th>Статус</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Журнал', 'journal_title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Создатель', 'user_id') }}</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody id="publication_list_content">
            {% for item in pagination %}
            <tr data-id="{{ item.id }}">
                <td class="text-right">{{ item.id }}</td>
                <td>{{ item.ru.title }}</td>
                <td>
                    {% for author in item.authors %}
                        {{ author.ru.fio }}
                        {{ loop.last ? ', ' }}
                    {% endfor %}
                </td>
                <td>
                    {% if kinds[item.statuses.status] is defined %}
                        <span class="label {{ kinds[item.statuses.status].class }}">
                            {{ kinds[item.statuses.status].label }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ item.journal is null ? '' : item.journal.ru.title|raw }}</td>
                <td>{{ item.createdat|date('d.m.Y H:i') }}</td>
                <td>{{ item.updatedat|date('d.m.Y H:i') }}</td>
                <td>
                    {#{{ item.user is not empty ? item.user.username }}#}
                </td>
                <td class="td-sm">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('article_show', { id: item.id }) }}" class="btn btn-default">
                            <span class="fa fa-eye"></span>
                        </a>
                        {% if is_granted('ROLE_EDIT') %}
                            <a href="{{ path('article_edit', {'id': item.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                        {% endif %}

                        {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                            <a href="{{ path('article_remove', {'id': item.id }) }}" class="btn btn-default btn-remove">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ knp_pagination_render(pagination) }}

        <div class="tab-pane" id="tab2">

        </div>

        <div class="tab-pane" id="tab3">

        </div>

        <div class="tab-pane" id="tab4">

        </div>

{% endblock %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(function () {
            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить?')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}