{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование статьи для конференции | <small>"{{ article.ru.title|default(null) }}"</small></h3>
    </div>

    {{ form_start(form) }}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_opened) }}
                {{ form_widget(form.statuses.is_opened) }}
                {{ form_errors(form.statuses.is_opened) }}
            </div>
        </div>
    </div>

    {% if article.statuses.status != st_published %}

        {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
        {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.statuses.has_published) }}
                    {{ form_widget(form.statuses.has_published) }}
                    {{ form_errors(form.statuses.has_published) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.statuses.has_reviewers) }}
                    {{ form_widget(form.statuses.has_reviewers) }}
                    {{ form_errors(form.statuses.has_reviewers) }}
                </div>
            </div>

            <div class="col-md-6 previously_published">
                <div class="form-group">
                    {{ form_label(form.previously_published) }}
                    {{ form_widget(form.previously_published) }}
                    {{ form_errors(form.previously_published) }}
                </div>
            </div>

        </div>

        <div class="form-group">
            {{ form_label(form.languages) }}
            {{ form_widget(form.languages) }}
            {{ form_errors(form.languages) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ru.title) }}
            <small>| {{ ru }}</small>
            {{ form_widget(form.ru.title) }}
            {{ form_errors(form.ru.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ru.keywords) }}
            <small>| {{ ru }}</small>
            {{ form_widget(form.ru.keywords) }}
            {{ form_errors(form.ru.keywords) }}
        </div>

        <div class="form-group">
            {{ form_label(form.ru.annotation) }}
            <small>| {{ ru }}</small>
            {{ form_widget(form.ru.annotation) }}
            {{ form_errors(form.ru.annotation) }}
        </div>

        <div class="form-group">
            {{ form_label(form.en.title) }}
            <small>| {{ en }}</small>
            {{ form_widget(form.en.title) }}
            {{ form_errors(form.en.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.en.keywords) }}
            <small>| {{ en }}</small>
            {{ form_widget(form.en.keywords) }}
            {{ form_errors(form.en.keywords) }}
        </div>

        <div class="form-group">
            {{ form_label(form.en.annotation) }}
            <small>| {{ en }}</small>
            {{ form_widget(form.en.annotation) }}
            {{ form_errors(form.en.annotation) }}
        </div>

        <div class="form-group">
            {{ form_label(form.depofile) }}
            {{ form_widget(form.depofile) }}
            {{ form_errors(form.depofile) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.first_page) }}
                    <sup>*</sup>
                    {{ form_widget(form.first_page) }}
                    {{ form_errors(form.first_page) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.last_page) }}
                    <sup>*</sup>
                    {{ form_widget(form.last_page) }}
                    {{ form_errors(form.last_page) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.author_pages) }}
            {{ form_widget(form.author_pages) }}
            {{ form_errors(form.author_pages) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                {{ form_label(form.conference) }}
                {{ form_widget(form.conference) }}
                {{ form_errors(form.conference) }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.section) }}
            {{ form_widget(form.section) }}
            {{ form_errors(form.section) }}
        </div>

    {% endif %}

    <div class="form-group">
        {{ form_label(form.rinc_url) }}
        {{ form_widget(form.rinc_url) }}
        {{ form_errors(form.rinc_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>
    <script language="javascript">
        $(function () {
            var date = new Date(),
                    year = date.getFullYear(),
                    month = ('0' + date.getMonth()).slice(-2),
                    day = ('0' + date.getDate()).slice(-2),
                    today = day + '.' + month + '.' + year;

            $('#jedit').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    magazine: {
                        validators: {
                            notEmpty: {
                                message: 'Выберите журнал'
                            }
                        }
                    },
                    title_ru: {
                        validators: {
                            notEmpty: {
                                message: 'Введите заголовок на русском'
                            }
                        }
                    },
                    title_en: {
                        validators: {
                            notEmpty: {
                                message: 'Введите заголовок на английском'
                            }
                        }
                    },
                    keywords_ru: {
                        validators: {
                            notEmpty: {
                                message: 'Введите ключевые слова'
                            }
                        }
                    },
                    keywords_en: {
                        validators: {
                            notEmpty: {
                                message: 'Введите ключевые слова'
                            }
                        }
                    },
                    published_date_1: {
                        validators: {
                            notEmpty: {
                                message: 'Введите дату'
                            },
                            date: {
                                message: 'Неправильная дата',
                                format: 'DD.MM.YYYY',
                                min: '01.01.1970',
                                max: today
                            }
                        }
                    },
                    published_date_2: {
                        validators: {
                            notEmpty: {
                                message: 'Введите дату'
                            },
                            date: {
                                message: 'Неправильная дата',
                                format: 'DD.MM.YYYY',
                                min: '01.01.1970',
                                max: today
                            }
                        }
                    },
                    doi: {
                        validators: {
                            notEmpty: {
                                message: 'Введите DOI'
                            }
                        }
                    },
                    author_pages: {
                        validators: {
                            notEmpty: {
                                message: 'Введите количество листов'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Количество листов должно быть больше 0'
                            }
                        }
                    },
//                    pages_total: {
//                        validators: {
//                            notEmpty: {
//                                message: 'Введите количество листов'
//                            },
//                            integer: {
//                                message: 'Можно вводить только цифры'
//                            },
//                            between: {
//                                min: 1,
//                                max: 100000,
//                                message: 'Количество листов должно быть больше 0'
//                            }
//                        }
//                    },
                    page_first: {
                        row: '.col-md-6',
                        validators: {
                            notEmpty: {
                                message: 'Введите номер страницы'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Номер страницы должен быть больше 0'
                            }
                        }
                    },
                    page_last: {
                        row: '.col-md-6',
                        validators: {
                            notEmpty: {
                                message: 'Введите номер страницы'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Номер страницы должен быть больше 0'
                            }
                        }
                    }
                }
            }).on('success.form.fv', function (e) {
                e.preventDefault();
                save_data(
                    'jedit',
                    '{{ path('publication_create_save') }}',
                    '{{ path('publication_authors', {'id':article.id}) }}'
                );
            });

            var journalID = $('#journal_id'),
                rubricID = $('#issue_rubric_id_div');

            {#{% if article.__get('journal_id') is defined %}#}
                {#journalID.val('{{ article.__get('journal_id') }}');#}
            {#{% endif %}#}

//            console.log(journalID.val());
            if(journalID.val() == null){
                rubricID.addClass('hide');
            }
            journalID.change(function(){
                rubricID.removeClass('hide');
                //Подгружаем рубрики при смене журнала
                $.ajax(Routing.generate("ajax_journal_rubrics", { id: journalID.val() }),{
                            async: false,
                            type: 'POST'
                }).done(function(result) {
                    var res = jQuery.parseJSON(result);
                    console.log(res);
                    var rubrics = '';
                    for (var id in res.rubrics){
                        rubrics += '<option value="' + id + '">' + res.rubrics[id] + '</option>'
                    }
                    console.log(rubrics);
                    $('#issue_rubric_id').html(rubrics).selectpicker('refresh');
                });
            });

            var ru = $('[data-lang="RUS"]'), en = $('[data-lang="ENG"]');
            $('#lang').change(function () {
                var lang = $(this).val();

                if (lang == 'ENG') {
                    en.removeClass('hide');
                    ru.addClass('hide');
                } else if (lang == 'RUS') {
                    en.addClass('hide');
                    ru.removeClass('hide');
                }
            });

            var text_max = 500;
            $('#ru_annotation, #en_annotation, #ru_keywords, #en_keywords').each(function () {
                var counter = $(this).closest('.form-group').find('.counter');
                $(this).val().length > 0 ? counter.text(text_max - $(this).val().length) : counter.text(text_max);
                $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                $(this).keyup(function () {
                    counter.text(text_max - $(this).val().length);
                    $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                });
            });
        });

        $(function () {
            $('[id$=depofile]').fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
//                allowedFileTypes: ['image'],
                allowedFileExtensions: [
                    'odt',
                    'rtf',
                    'pdf',
                    'doc',
                    'docx'
                ],
                maxFileSize: 2000,
                removeFromPreviewOnError: true,
                overwriteInitial: false{% if article.depofile is not null %},
                defaultPreviewContent: '<a href="{{ asset(article.depofile) }}" target="_blank">{{ article.depofile }}</a>'{% endif %}
            }).on('fileuploaded', function (event, data) {
                var response = data.response;
                $(this).fileinput('refresh', {
                    showPreview: false,
                    showUpload: false
                }).fileinput('clear').fileinput('enable');
            }).on('change', function (event) {
                $(this).fileinput('refresh', {showPreview: true, showUpload: false});
            }).on('fileclear', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            }).on('filereset', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            });

            $('div[id*="has_published"]').showAndHide(".previously_published");
        });
    </script>
{% endblock %}
