{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}

    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path('conferencearticle_create') }}" class="btn btn-primary pull-right"
               id="publication_list_create">Создать статью для конференции</a>
        {% endif %}
        <h3>Список статей
            {% if pagination is defined %}
                <small class="sub-header">
                    Всего <strong>{{ pagination.getTotalItemCount }}</strong> произведений
                </small>
            {% endif %}
        </h3>
    </div>

    <form action="{{ path('conferencearticle_list') }}"  method="post" >
        <div class="form-group" id="publication_list">
            <div class="row">
                {#<div class="col-md-8">#}
                <div class="col-md-12">
                    <label>Название статьи</label>
                    <div class="input-group">
                        <input class="form-control" id="publication_list_search" name="search" value="{{ search_txt }}">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>

                {#<div class="col-md-4">#}
                    {#<label>Формат списка</label>#}
                    {#<select class="form-control" id="publication_list_type">#}
                        {#<option value="doirinc">Присвоение DOI и РИНЦ</option>#}
                    {#</select>#}
                {#</div>#}
            </div>
        </div>
    </form>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('conferencearticle_list') }}">Все</a>
        <a href="{{ path('conferencearticle_list', { 'filter': 'status:200:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:200:int' ? ' active' }}">В работе</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:300:int' ? ' active' }}"
           href="{{ path('conferencearticle_list', { 'filter': 'status:300:int' }) }}">Опубликован</a>
    </div>
    <br>

    {{ knp_pagination_render(pagination) }}

        <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название произведения', 'ru.title') }}</th>
                    <th>Авторы</th>
                    <th>Статус</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Конференция', 'conference.ru.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Создатель', 'user_id') }}</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody id="publication_list_content">
            {% for item in pagination %}
                {#{{ dump(item) }}#}
            <tr data-id="{{ item.id }}">
                <td class="text-right">{{ item.getId() }}</td>
                <td>{{ item.ru.title }}</td>
                <td>
                    {% for author in item.authors %}
                        {{ author.ru.fio }}
                        {{ loop.index < item.authors|length ? ', ' }}
                    {% endfor %}
                </td>
                <td>
                    {% if kinds[item.statuses.status] is defined %}
                        <span class="label {{ kinds[item.statuses.status].class }}">
                            {{ kinds[item.statuses.status].label }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ item.conference is null ? '' : item.conference.ru.title }}</td>
                <td>{{ item.createdat|date('d.m.Y H:i') }}</td>
                <td>{{ item.updatedat|date('d.m.Y H:i') }}</td>
                <td>
                    {#{{ item.user is not empty ? item.user.username }}#}
                </td>
                <td class="td-sm">
                    <div class="btn-group btn-group-sm">
                        {#<a href="{{ path('conferencearticle_show', { id: item.id }) }}" class="btn btn-default">#}
                            {#<span class="fa fa-eye"></span>#}
                        {#</a>#}
                        {% if is_granted('ROLE_EDIT') %}
                            <a href="{{ path('conferencearticle_edit', {'id': item.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                            <a href="{{ path('conferencearticle_remove', {'id': item.id }) }}"
                               class="btn btn-default btn-remove js-confirm">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ knp_pagination_render(pagination) }}

        <div class="tab-pane" id="tab2">

        </div>

        <div class="tab-pane" id="tab3">

        </div>

        <div class="tab-pane" id="tab4">

        </div>

{% endblock %}

{% block page_script %}
    <script>
        $(function() {
            $('.js-confirm').click(function(e){
                if (!confirm('Вы уверены что хотите удалить статью конференции?')) {
                    e.preventDefault();
                }
            });
        });
    </script>
{% endblock %}
