{% extends "UserBundle::layout.html.twig" %}


{% block content %}
    <h4>Приветствуем Вас на портале Editorum</h4>

    {{ form_start(form) }}

    <div class="page-header" style="margin-top: 40px;">
        <h4 class="modal-title">Регистрация</h4>
    </div>

    <div class="form-group">
        <label>Ваше ФИО</label>
        <div class="row">
            <div class="col-xs-4">
                {{ form_widget(form.surname) }}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.name) }}
            </div>
            <div class="col-xs-4">
                {{ form_widget(form.patronymic) }}
            </div>
        </div>
    </div>

    <label>Номер мобильного телефона</label>
    <p>Номер мобильного телефона используется для восстановления вашей учетной записи, а также для уведомления о
        важных событиях, например, одобрение заявки на издание вашего произведения.</p>
    <div class="form-group">
        {{ form_widget(form.cell) }}
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-4">
                <label>E-mail</label>
                {{ form_widget(form.email) }}
            </div>

            <div class="col-xs-8">
                <label>Ваш пароль</label>

                <div class="row">
                    <div class="col-xs-6">
                        {{ form_widget(form.plainPassword.first) }}
                    </div>
                    <div class="col-xs-6">
                        {{ form_widget(form.plainPassword.second) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="agreement">Я согласен с условиями
            </label>
            <a href="{{ path('agreement_page') }}" class="btn btn-link" target="_blank">пользовательского соглашения</a>
        </div>
    </div>

    <div class="form-group hide" id="check_registration">
        <label>Введите код, отправленный на Ваш email</label>
        <div class="input-group">
            <input type="text" class="form-control" id="code" name="code">
                        <span class="input-group-btn">
                             <button id="check_reg" type="button" class="btn btn-primary">ОК</button>
                        </span>
        </div>
    </div>

    {#<button id="register_do" type="submit" class="json_button btn btn-primary">Зарегистрироваться</button>#}

    {{ form_row(form.register) }}

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('form[name=register]').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    register_surname: {
                        row: '.col-xs-4',
                        validators: {
                            notEmpty: {
                                message: 'Введите фамилию'
                            }
                        }
                    },
                    register_name: {
                        row: '.col-xs-4',
                        validators: {
                            notEmpty: {
                                message: 'Введите имя'
                            }
                        }
                    },
                    register_patronymic: {
                        row: '.col-xs-4',
                        validators: {
                            notEmpty: {
                                message: 'Введите отчество'
                            }
                        }
                    },
                    register_email: {
                        row: '.col-xs-4',
                        validators: {
                            emailAddress: {
                                message: 'Не верный формат'
                            },
                            notEmpty: {
                                message: 'Введите email'
                            },
                            regexp: {
                                regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                                message: 'Не верный формат'
                            }
                        }
                    },
                    register_cell: {
                        validators: {
                            notEmpty: {
                                message: 'Введите номер телефона'
                            },
                            phone: {
                                country: 'RU',
                                message: 'Пожалуйста, введите правильный номер телефона'
                            }
                        }
                    },
                    register_password: {
                        row: '.col-xs-6',
                        validators: {
                            notEmpty: {
                                message: 'Введите пароль'
                            },
                            stringLength: {
                                min: 8,
                                message: 'Пароль должен быть не менее 8'
                            },
                            regexp: {
                                regexp: /(?=.*\d)(?=.*[a-z])/,
                                message: 'Пароль должен содержать буквы и цыфры'
                            }
                        }
                    },
                    register_password_again: {
                        row: '.col-xs-6',
                        validators: {
                            identical: {
                                field: 'password1',
                                message: 'Пароль введен неверно'
                            }
                        }
                    },
                    register_agreement: {
                        validators: {
                            notEmpty: {
                                message: 'Для завершения регистрации необходимо принять условия пользовательского соглашения'
                            }
                        }
                    }
                }
            }).on('success.form.fv', function (e) {
                e.preventDefault();
                this.submit();
            }).find('#register_cell').mask('+7 (999) 999-9999');
        });
    </script>
{% endblock %}
