<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ title|default('EDITORUM E-mail') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block style %}{% endblock style %}
</head>
<body>
{% block body %}
Здравствуйте! Ранее оформленная Вами заявка на публикацию конференции #{{ id }} была обработана и теперь имеет статус "{{ request_status(sid).msg }}"!
{% endblock body %}
</body>
</html>