{# @ToDo: разобраться с закомментированным функционалом #}

<nav class="navbar navbar-default" id="admin-top-menu">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Editorum</a>
            <!--<a class="navbar-brand" href="{{ path(navigation_global.get('Global').getInterfaceHomepageUrl()) }}">Editorum</a>--->
        </div>

        <div class="collapse navbar-collapse" id="navbar">


            <ul class="nav navbar-nav navbar-right">
                {% if user_data.isLogged() %}
                    <li class="dropdown">
                        <a href="#user.profile" class="dropdown-toggle" data-toggle="dropdown">
                            {{ app.user.username is not empty ? app.user.username : app.user.lastName ~ ' ' ~ app.user.firstName ~ ' ' ~ app.user.secondName }}
                            {#{% if task_notification.getAmount() > 0 %}#}
                                {#<span data-toggle="tooltip" data-placement="bottom" title="У Вас {{ task_notification.getAmount() }} непросмотренных сообщений" class="fa fa-envelope"></span>#}
                            {#{% else %}#}
                                <span data-toggle="tooltip" data-placement="bottom" title="У Вас нет непросмотренных сообщений" class="fa fa-envelope-o"></span>
                            {#{% endif %}#}
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            {% for key,item in navigation_global.get('Global').getMenu('User') %}
                                {% if 'hr_' in key %}
                                    <li role="separator" class="divider"></li>
                                {% else %}
                                    <li{{ path(app.request.get('_route'), app.request.get('_route_params')) == item.url ? 'class="active"' }}><a href="{{ item.url }}">{{ item.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('login') }}"><span class="fa fa-sign-in"></span> Вход</a></li>
                    <li><a href="{{ path('user_registration') }}"><span class="fa fa-user-plus"></span> Регистрация</a></li>
                    
                    {#<li><a href="#modal_login" data-toggle="modal"><span class="fa fa-sign-in"></span> Вход</a></li>#}
                    {#<li><a href="#modal_registration" data-toggle="modal">Регистрация</a></li>#}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
