<!-- Modal -->
<div class="modal fade" id="modal_registration">
    <form id="form_registration">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Регистрация</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Ваше ФИО</label>
                        <div class="row">
                            <div class="col-xs-4">
                                <input type="text" name="familyName" class="form-control" id="last_name" placeholder="Фамилия">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" name="name" class="form-control" id="first_name" placeholder="Имя">
                            </div>
                            <div class="col-xs-4">
                                <input type="text" name="secondName" class="form-control" id="second_name" placeholder="Отчество">
                            </div>
                        </div>
                    </div>

                    <label>Номер мобильного телефона</label>
                    <p>Номер мобильного телефона используется для восстановления вашей учетной записи, а также для уведомления о важных событиях, например, одобрение заявки на издание вашего произведения.</p>
                    <div class="form-group">
                        <input type="text" name="phoneNumber" class="form-control" id="cell_phone" placeholder="Номер мобильного">
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>E-mail</label>
                                <input type="text" name="email" class="form-control" id="email" placeholder="E-mail">
                            </div>

                            <div class="col-xs-8">
                                <label>Ваш пароль</label>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <input type="password" name="password1" class="form-control" id="password1" placeholder="Укажите пароль">
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="password" name="password2" class="form-control" id="password2" placeholder="еще раз">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="agreement">Я согласен с условиями
                            </label>
                            <a href="/registration/agreement/" class="btn btn-link" target="_blank">пользовательского соглашения</a>
                        </div>
                    </div>

                    <div class="form-group hide" id="check_registration">
                        <label>Введите код, отправленный на Ваш email</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="code" name="code">
                            <span class="input-group-btn">
                                 <button id="check_reg" type="button" class="btn btn-primary">ОК</button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button id="register_do" type="submit" class="json_button btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    $(function() {
        $('#form_registration').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                familyName: {
                    row: '.col-xs-4',
                    validators: {
                        notEmpty: {
                            message: 'Введите фамилию'
                        }
                    }
                },
                name: {
                    row: '.col-xs-4',
                    validators: {
                        notEmpty: {
                            message: 'Введите имя'
                        }
                    }
                },
                secondName: {
                    row: '.col-xs-4',
                    validators: {
                        notEmpty: {
                            message: 'Введите отчество'
                        }
                    }
                },
                email: {
                    row: '.col-xs-4',
                    validators: {
                        emailAddress: {
                            message: 'Не верный формат'
                        },
                        notEmpty: {
                            message: 'Введите email'
                        },
                        regexp: {
                            regexp: '^[^@\\s]+@([^@\\s]+\\.)+[^@\\s]+$',
                            message: 'Не верный формат'
                        }
                    }
                },
                phoneNumber: {
                    validators: {
                        notEmpty: {
                            message: 'Введите номер телефона'
                        },
                        phone: {
                            country: 'RU',
                            message: 'Пожалуйста, введите правильный номер телефона'
                        }
                    }
                },
                password1: {
                    row: '.col-xs-6',
                    validators: {
                        notEmpty: {
                            message: 'Введите пароль'
                        },
                        stringLength: {
                            min: 8,
                            message: 'Пароль должен быть не менее 8'
                        },
                        regexp: {
                            regexp: /(?=.*\d)(?=.*[a-z])/,
                            message: 'Пароль должен содержать буквы и цыфры'
                        }
                    }
                },
                password2: {
                    row: '.col-xs-6',
                    validators: {
                        identical: {
                            field: 'password1',
                            message: 'Пароль введен неверно'
                        }
                    }
                },
                agreement: {
                    validators: {
                        notEmpty: {
                            message: 'Вы обязаны согласиться'
                        }
                    }
                }
            }
        }).on('success.form.fv', function(e) {
            e.preventDefault();
            submit_data('form_registration', '/registration/do/', function () {
                $('#check_registration').removeClass('hide');
            });
        }).find('#cell_phone').mask('+7 (999) 999-9999');

        $('#check_reg').on('click touchstart', function (e) {
            submit_data('form_registration', '/registration/check/', 1);
            e.preventDefault();
        });
    });
</script>