<ul class="nav nav-pills nav-stacked affix">
    {% for key,item in sidemenu %}
        {% if 'hr_' in key %}
            <li><hr /></li>
        {% else %}
            <li{% if item.url == path(app.request.get('_route'), app.request.get('_route_params')) %} class="active"{% endif %}>
                <a href="{{ item.url }}"{% if item.class is defined %} class="{{ item.class }}"{% endif %}>
                    {% if item.icon is defined %}
                        <span class="fa fa-{{ item.icon }}"></span>
                    {% endif %}
                    {% if (item.class is defined and item.class == 'text-danger') and item.icon is not defined %}
                        <span class="fa fa-trash-o"></span>
                    {% endif %}
                    {{ item.title }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>