{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <h3>Список статей номера |
        <small>
            Журнал "{{ issue.journal.ru.title|raw }}" Том {{ issue.volume }} Номер {{ issue.issue }}</small></h3><br>

    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Название русское</th>
                <th>Название английское</th>
            </tr>
            </thead>
            <tbody>
            {% for item in issue.articles %}
                <tr>
                    <td>{{ item.ru.title }}</td>
                    <td>{{ item.en.title }}</td>
                    <td class="td-sm">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('article_show', { id: item.id }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            {% if item.statuses.status != st_published %}
                            <a href="{{ path('article_edit', {'id': item.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            <a href="{{ path('article_issue_remove', { 'id': issue.id, 'article_id': item.id }) }}"
                               class="btn btn-default btn-remove js-confirm">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
