{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% from '@Asu/Parts/Bootstrap/helpers.html.twig' import label, badge, icon %}

{% block container %}
    <div class="page-header">
        <a href="{{ path('issue_edit', {'id': issue.id}) }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>Просмотр номера</h3>
    </div>

    <table class="table-data">
        <thead>
            <tr>
                <th colspan="2">Общие сведения</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Показан на сайте?</td>
                <td>{{ issue.statuses.is_show_nauka ? label('success', 'Да') : label('danger', 'Нет') }}

                </td>
            </tr>
            <tr>
                <td>{{ 'form.editorum.document.issue.journal'|trans }}</td>
                <td><h4>{{ issue.journal.ru.title|raw }}</h4></td>
            </tr>
            <tr>
                <td>DOI</td>
                <td>{{ issue.doi }}</td>
            </tr>
            <tr>
                <td>{{ 'form.editorum.document.issue.issue'|trans }}</td>
                <td>{{ issue.issue }}</td>
            </tr>
            <tr>
                <td>{{ 'form.editorum.document.issue.volume'|trans }}</td>
                <td>{{ issue.volume }}</td>
            </tr>
            <tr>
                <td>{{ 'form.editorum.document.issue.uri'|trans }}</td>
                <td>{{ issue.uri }}</td>
            </tr>
            <tr>
                <td>{{ 'form.editorum.document.issue.rinc_id'|trans }}</td>
                <td>{{ issue.rincId }}</td>
            </tr>
            <tr>
                <td>Содержимое номера</td>
                <td>
                    {% if issue.articles|length == 0 %}
                        Номер еще не сформирован
                    {% else %}
                    <ul>
                        {% for article in issue.articles %}
                        <li>#{{ article.id }}: {{ article.ru.title }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
        {#<thead>#}
            {#<tr>#}
                {#<th colspan="2">Классификаторы</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for classif in classifs %}#}
            {#<tr>#}
                {#<td>{{ classif.name }}</td>#}
                {#<td>#}
                    {#{{ issue.classif('classif_'~classif.type) ? issue.classif('classif_'~classif.type) : 'не присвоен' }}#}
                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}

        {#</tbody>#}
    </table>
{% endblock %}