{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    {% if is_granted('ROLE_EDIT') %}
        <a href="{{ path('issue_new_rubric', {'id': app.request.attributes.get('id') }) }}"
           class="btn btn-primary pull-right" id="publication_list_create">Добавить рубрику
        </a>
    {% endif %}
    <h3>Список рубрик номера |
        <small>
            Журнал "{{ issue.journal.ru.title|raw }}" Том {{ issue.volume }} Номер {{ issue.issue }}</small></h3><br>

    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Название русское</th>
                <th>Название английское</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in rubriclist %}
                <tr>
                    <td>{{ item.rubric.ru.title }}</td>
                    <td>{{ item.rubric.en.title }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('issue_rubric_edit', {'id': item.id}) }}" class="btn btn-primary">
                                    <span class="fa fa-pencil"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') %}
                                <a href="{{ path('issue_rubric_remove', {'id': app.request.attributes.get('id'), 'rubric': item.rubric.id}) }}"
                                   class="btn btn-default btn-remove"><span class="fa fa-trash-o text-danger"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
