{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Присвоение DOI журнальному номеру</h3>
    </div>

    <p>Для присвоения DOI, нажмите кнопку "Присвоить DOI".</p>
    <p>Обратите внимание, что в CrossRef будут отправлены сведения о журнале, номере и всех входящих в номер статьях.
        Чтобы присвоить DOI только журналу или конкретной статье, перейдите на карточку соответствующего объекта.
        Подробнее можно прочитать в инструкции в разделе "Присвоение DOI".
    </p>
    <br>

    <a href="{{ path('issue_senddoi', {'id': issue.id}) }}" class="btn btn-success">Присвоить DOI</a>

{% endblock %}