{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>
            Список номеров
            {% if issues is defined %}
                <small class="sub-header">
                    Всего <strong>{{ issues.getTotalItemCount }}</strong> журналов
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('issue_all_list') }}">Все</a>
        <a href="{{ path('issue_all_list', { 'filter': 'status:100:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:100:int' ? ' active' }}">Новый</a>
        <a href="{{ path('issue_all_list', { 'filter': 'status:200:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:200:int' ? ' active' }}">В работе</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:300:int' ? ' active' }}"
           href="{{ path('issue_all_list', { 'filter': 'status:300:int' }) }}">Опубликован</a>
    </div>
    <br>

    <div id="issues_list">
        {{ knp_pagination_render(issues) }}

        <table id="ilist" class="table table-striped table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">{{ knp_pagination_sortable(issues, 'ID', '_id') }}</th>
                    <th>{{ knp_pagination_sortable(issues, 'Журнал', 'journal_id') }}</th>
                    <th>{{ knp_pagination_sortable(issues, 'Статус', 'is_published') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(issues, 'Volume', 'volume') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(issues, 'Issue', 'issue') }}</th>
                    <th>{{ knp_pagination_sortable(issues, 'Дата публикации', 'dt_published_print') }}</th>
                    <th>{{ knp_pagination_sortable(issues, 'Дата создания', 'dt_published') }}</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in issues %}
                    <tr data-id="{{ item.id }}">
                        <td class="text-right">{{ item.id }}</td>
                        <td>{{ item.journal is not null ? item.journal.ru.title|raw }}</td>
                        <td>
                            {% if kinds[item.statuses.status] is defined %}
                                <span class="label {{ kinds[item.statuses.status].class }}">
                                    {{ kinds[item.statuses.status].label }}
                                </span>
                            {% endif %}
                        </td>
                        <td class="text-center">{{ item.volume }}</td>
                        <td class="text-center">{{ item.issue }}</td>
                        <td>{{ item.datePublished|date('d.m.Y') }}</td>
                        <td>{{ item.createdAt|date('d.m.Y') }}</td>
                        <td class="td-sm">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('issue_show', { id: item.id }) }}" class="btn btn-default">
                                    <span class="fa fa-eye"></span>
                                </a>
                                {% if is_granted('ROLE_EDIT') %}
                                    <a href="{{ path('issue_edit', { id: item.id }) }}" class="btn btn-default">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </a>
                                {% endif %}
                                {% if is_granted('ROLE_EDIT') and item.statuses.is_published != 1 %}
                                    <a href="{{ path('issue_remove', { id: item.id }) }}" class="btn btn-default
                                        btn-remove">
                                        <span class="fa fa-trash-o text-danger"></span>
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(issues) }}

    </div>
{% endblock %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(function () {
            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить?')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
