{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{{ path('journal_edit', {'id': journal.id}) }}">Журнал</a></li>
        <li class="active">Формирование номеров</li>
    </ol>

    <div class="page-header">
        <h3>Формирование журнальных номеров |
            <small>"{{ journal.ru.title }}"</small></h3>
    </div>

    <div id="publication_list">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Этот текст надо бы поменять на что-то более осмысленное и нужное</p>
        </div>

        <div class="row">
            <div class="col-md-5 left">
                <h4 class="text-center">Номера журнала</h4>

                <div class="form-group">
                    <input class="form-control" value="" placeholder="Поиск" id="issues-search">
                </div>

                <div class="scrollbar" id="issues">
                    {% if journal.issues.count == 0 %}
                        <div class="text-center">
                            <div class="alert alert-danger">
                                В данном журнале нет ни одного номера
                            </div>
                            <a href="{{ path('issue_create', {'id': journal.id}) }}" class="btn
                            btn-default">Создать номер</a>
                        </div>
                    {% else %}
                        {% for issue in issues %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% if issue.issuerubriclist.count > 0 %}
                                    <div class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Рубрики
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for rubriclist in issue.issuerubriclist %}
                                                <li class="dropdown-header">{{ rubriclist.rubric.ru.title }}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <strong>Volume:{{ issue.volume }}, Issue:{{ issue.issue }}</strong>
                            </div>
                            <ul class="list-group issue" data-id="{{ issue.id }}" data-draggable="target">
                                {% for article in issue.articles %}
                                    <li class="list-group-item article" data-id="{{ article.id }}" data-draggable="item">
                                        <ul class="list-inline">
                                            <li class="text-muted">#{{ article.id }}</li>
                                            <li class="text-muted">11.12.2015</li>
                                            {% if article.authors.count > 0 %}
                                                <li class="dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        Авторы
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        {% for author in article.authors %}
                                                            <li class="dropdown-header">{{ author.ru.last_name }}
                                                                {{ author.ru.first_name }} {{ author.ru.second_name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if article.rubric is not null %}
                                                <li class="dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        Рубрика
                                                        <span class="caret"></span>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li class="dropdown-header">{{ article.rubric.ru.title }}</li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            <li class="pull-right hidden">
                                                <a href="
                                                    {{ path('publication_show', {'id': article.id}) }}
                                                    " class="text-muted">
                                                <span class="fa fa-eye"></span></a>
                                            </li>
                                            <li class="pull-right hidden">
                                                <a href="
                                                {{ path('publication_metadata', {'id': article.id}) }}
                                                " class="text-muted">
                                                    <span class="fa fa-pencil"></span></a>
                                            </li>
                                        </ul>
                                        {{ article.ru.title }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div class="col-md-2 text-center">
                <br /><br />
                <div data-spy="affix" class="affix-btn-group">
                    <div class="btn-group">
                        <div id="move_left" class="btn btn-warning">
                            <span class="fa fa-arrow-left"></span>
                        </div>
                        <button id="save" class="btn btn-success" data-toggle="tooltip" data-container="body" title="Сохранить">
                            <span class="fa fa-floppy-o"></span>
                        </button>
                        <div id="move_right" class="btn btn-warning">
                            <span class="fa fa-arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 right">
                <h4 class="text-center">Поданные в журнал статьи</h4>

                <div class="form-group">
                    <input class="form-control" value="" placeholder="Поиск" id="articles-search">
                </div>

                <div class="scrollbar">
                    <ul id="articles" class="list-group" data-draggable="target">

                        {% for item in articles %}
                            <li class="list-group-item article" data-id="{{ item.id }}" data-draggable="item">
                                <ul class="list-inline">
                                    <li class="text-muted">#{{ item.id }}</li>
                                    <li class="text-muted">11.12.2015</li>
                                    {% if item.authors.count > 0 %}
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted">
                                                Авторы
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                {% for author in item.authors %}
                                                    <li class="dropdown-header">{{ author.ru.last_name }}
                                                        {{ author.ru.first_name }} {{ author.ru.second_name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endif %}
                                    {% if item.rubric is not null %}
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="text-muted">
                                                Рубрика
                                                <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="dropdown-header">{{ item.rubric.ru.title }}</li>
                                            </ul>
                                        </li>
                                    {% endif %}
                                    <li class="pull-right hidden">
                                        <a href="{{ path('publication_show', {'id': item.id}) }}" class="text-muted"><span class="fa fa-eye"></span></a>
                                    </li>
                                    <li class="pull-right hidden">
                                        <a href="{{ path('publication_metadata', {'id': item.id}) }}" class="text-muted"><span class="fa fa-pencil"></span></a>
                                    </li>
                                </ul>
                                {{ item.ru.title }}
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="success_save" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Сохранено</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/jquery.jscrollpane.min.js') }}"></script>

    <script>
        var articles = [];
        $(function() {
            var issues = [];

            var search1 =  $('#articles-search').quicksearch('#articles .list-group-item'),
                search2 =  $('#issues-search').quicksearch('#issues .list-group-item');

            var btnGroup = $('.affix-btn-group');
            btnGroup.width(btnGroup.parent().width());
            $(window).resize(function(){
                btnGroup.width(btnGroup.parent().width());
            });
            btnGroup.find('.btn').click(function(){
                setTimeout(function(){
                    search1.cache();
                    search2.cache();
                }, 100);
            });

            $('.scrollbar').jScrollPane({autoReinitialise: true});

            document.addEventListener('dragend', function(){
                setTimeout(function(){
                    search1.cache();
                    search2.cache();
                }, 100);
            });

            $('#save').on('click touchstart', function(event){
                var issues = {};
                $('.list-group.issue').each(function() {
                    var array = [];
                    $(this).find('li.article').each(function(){
                        array.push($(this).attr('data-id'));
                    });
                    issues[$(this).attr('data-id')] = array;
                });

                var heap_articles = [];
                $('#articles').find('li.article').each(function () {
                    heap_articles.push($(this).attr('data-id'));
                });

                $.ajax('{{ path('issue_multiple_compose_save') }}', {
                    async: false,
                    data: {
                        issues: JSON.stringify(issues),
                        articles: JSON.stringify(heap_articles)
                    },
                    type: 'POST'
                }).done(function(result) {
                    $('#success_save').modal();
                }).fail(function() {
                    alert('Ошибка сохранения');
                });
                $('#success_save').on('hidden.bs.modal', function (e) {
                    window.location.href = '{{ path('issues_multiply_compose', {'id': journal.id}) }}';
                });
            });

        });
    </script>
{% endblock %}