{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Рубрикаторы</h3>
    </div>
    <form id="iedit">
    <input id="_id" type="hidden" value="{{ id }}"/>
    <div class="row">
        {% for classif in classifs %}
            <div class="col-md-4">
                <fieldset>
                    <legend>{{ classif.name }}</legend>
                    <ul class="list-group-item-text">
                        {% for item in classif.childrens %}
                            {% if item.title is defined %}
                                {% if item.childrens is defined %}
                                    {% if is_in_array(journal.__get('classif_'~classif.type), item.new_code) %}
                                        <li>{{ item.title }} - {{ item.new_code }}</li>
                                    {% endif %}
                                    {% for children in item.childrens %}
                                        {% if is_in_array(journal.__get('classif_'~classif.type), children.new_code) %}
                                            <li>{{ children.title }} - {{ children.new_code }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if item.childrens is defined %}
                                    {% endif %}
                                {% else %}
                                    {% if is_in_array(journal.__get('classif_'~classif.type), item.new_code) %}
                                        <li>{{ item.title }} - {{ item.new_code }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </fieldset>
            </div>
        {% endfor %}
    </div>
{% endblock %}