{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    <style>
        .required:after {
            content: " *";
            color: red;
        }
        form:after {
            content: '* - поля обязательные для заполнения';
            color: red;
            font-size: 10px;
        }
    </style>

    <div class="page-header">
        <h3>Редактирование номера | <small>
                Журнал "{{ issue.journal.ru.title|raw }}" Том {{ issue.volume }} Номер {{ issue.issue }}</small>
        </h3>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
    </div>

    {% if issue.statuses.status != st_published %}

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.type_access) }}
                    {{ form_widget(form.type_access) }}
                    {{ form_errors(form.type_access) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.volume) }}
                    {{ form_widget(form.volume) }}
                    {{ form_errors(form.volume) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.issue) }}
                    {{ form_widget(form.issue) }}
                    {{ form_errors(form.issue) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.part) }}
                    {{ form_widget(form.part) }}
                    {{ form_errors(form.part) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.page_count) }}
                    {{ form_widget(form.page_count) }}
                    {{ form_errors(form.page_count) }}
                </div>
            </div>
        </div>

    {% endif %}

    <div class="form-group">
        {{ form_label(form.rinc_url) }}
        {{ form_widget(form.rinc_url) }}
        {{ form_errors(form.rinc_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script>
        $(function () {
            var form = $('[name="issue"]');

            form.formValidation({
                framework: 'bootstrap',
                excluded: [':disabled'],
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    "issue[uri]": {
                        validators: {
                            regexp: {
                                regexp: /^(https?:\/\/.*)?$/i,
                                message: 'Ссылка должна начинаться с "http://" или "https://"'
                            }
                        }
                    }
                }
            });
        });
    </script>
    {{ parent() }}
{% endblock %}