<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editorum</title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,300italic,400italic&subset=latin-ext,cyrillic-ext'
          rel='stylesheet' type='text/css'>
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/publication.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/lib.js') }}"></script>
    <style>
        .login{
            width: 600px;
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .login .checkbox{
            padding-top: 0;
        }
        .login .control-label{
            text-align: left !important;
            font-weight: normal !important;
            margin-bottom: 5px;
            color: #9a9da5;
        }
        .login .label-form{
            display: block;
            margin-bottom: 8px;
            margin-top: 20px;
            color: #9a9da5;
        }
    </style>
</head>
<body>

<header id="position_top">
        {% block topmenu %}
            {% include "UserBundle:Partial:_mainmenu.html.twig" %}
        {% endblock %}
</header>

<div class="content container">
    {% block content %}{% endblock %}
</div>

<footer>
    &copy; Powered by Editorum <span class="year"></span>
</footer>

<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% block javascripts %}
<script>
    $(function () {
        {% for type, messages in app.session.flashBag.all %}
            {% set message_type = 'info' %}
            {% if type == 'error' %}
                {% set message_type = 'danger' %}
            {% endif %}
            {% if type == 'notice' %}
                {% set message_type = 'success' %}
            {% endif %}
            {% for message in messages %}
                $.bootstrapGrowl('{{ (message|trim('.')|trans({}, 'app'))|raw }}', {
                    type: '{{ message_type }}',
                    align: 'right',
                    width: 300,
                    stackup_spacing: 30
                });
            {% endfor %}
        {% endfor %}
    });
</script>
{% endblock %}

</body>
</html>
