{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="clearfix">
        {% if pagination is defined %}
            <div class="alert alert-sm alert-success pull-right">
                <p class="result">Всего <strong id="result_count">{{ pagination.getTotalItemCount }}</strong> Произведений.</p>
            </div>
        {% endif %}
        <h3>Пул статей журнала |
            <small>"{{ journal.ru.title }}"</small></h3>
    </div>

    {% if pagination|length == 0 %}
        <div class="alert alert-danger text-center">
            <p>Нет статей</p>
        </div>
    {% else %}

    <div id="search" class="live-search">
        <div class="form-group">
            <input type="text" name="search" value="" placeholder="Поиск" class="form-control">
            <div class="btn">
                <span class="fa fa-remove text-danger"></span>
            </div>
        </div>

        <div class="alert alert-success">
            Найдено <strong></strong> пользователей.
        </div>

        <div class="alert alert-danger">
            <p>Ничего не найдено</p>
        </div>
    </div>

    <div class="form-group">
        <div class="btn-group btn-group-justified" data-toggle="buttons" id="filter">
            <div role="group" class="btn-group">
                <label class="btn btn-default active">
                    <input type="radio" name="filter" value="0" autocomplete="off" checked=""> Все
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="1" autocomplete="off"> Новые
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="2" autocomplete="off"> Отклоненные
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="3" autocomplete="off"> На доработке
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="4" autocomplete="off"> Принятые
                </label>
            </div>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

    <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
        <thead>
        <tr>
            <th class="text-right">{{ knp_pagination_sortable(pagination, 'Id', 'id') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Название произведения', 'ru.title') }}</th>
            <th>Авторы</th>
            <th>{{ knp_pagination_sortable(pagination, 'Статус', 'statuses.is_published') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Дата создания', 'createdAt') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updatedAt') }}</th>
            <th class="text-center">
                <span class="fa fa-cog"></span>
            </th>
        </tr>
        </thead>
        <tbody id="publication_list_content">
        {% for item in pagination %}
            <tr data-id="{{ item.getId() }}">
                <td class="text-right">{{ item.getId() }}</td>
                <td>{{ item.ru['title'] is defined ? item.ru['title'] : '' }}</td>
                <td>
                    {% for author in item.authors %}
                        {{ author.ru.fio }}{{ loop.last ? ', ' }}
                    {% endfor %}
                </td>
                <td>
                    {% if kinds[item.statuses.status] is defined %}
                        <span class="label {{ kinds[item.statuses.status].class }}">
                            {{ kinds[item.statuses.status].label }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                <td>{{ item.updatedAt|date('d.m.Y H:i') }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <a href="{{ path('article_show', { id: item.id }) }}" class="btn btn-default">
                            <span class="fa fa-eye"></span>
                        </a>
                        {% if is_granted('ROLE_EDIT') %}
                            <a href="{{ path('article_edit', {'id': item.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                            <a href="{{ path('article_remove', {'id': item.id }) }}"
                               class="btn btn-default btn-remove js-confirm">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
{% endif %}
    <script language="JavaScript">
        $(function () {
            $('tr td:not(:last-child)').click(function () {
                location.href = '/pubs/show/' + $(this).parent().data('id');
            });

            $('.btn-remove').on('click touchstart', function (e) {
                remove_data($(this).data('id'), '/pub/remove/false/', '{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}');
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>
    <script>
        $(function(){
            var search = $('#search'),
                searchInput = search.find(':text'),
                searchReset = search.find('.btn'),
                searchCounter = search.find('.alert-success');

            searchInput.quicksearch('.table tbody tr', {
                noResults: '#search .alert-danger',
                onAfter: function() {
                    var total = $('tbody tr').length, count = $('tbody tr:visible').length;
                    count <= 0 || count == total || count == (total-1) ? searchCounter.hide() : searchCounter.show().find('strong').text(count);
                }
            });

            searchInput.val('').on('keyup', function(){
                $(this).val().length > 0 ? searchReset.show() : searchReset.hide();
            });

            searchReset.click(function(){
                searchInput.val('');
                search.find('.alert').hide();
                $('.table').find('tr:hidden').show();
                $(this).hide();
            });
        });
    </script>
{% endblock %}