{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    {% if is_granted('ROLE_EDIT') %}
        <a href="{{ path('issue_create', {'id': app.request.get('id')}) }}" class="btn btn-primary pull-right"
           id="publication_list_create">Добавить номер</a>
    {% endif %}
    <h3>Список номеров журнала |
        <small>"{{ journal.ru.title }}"</small></h3><br>
    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(issues, 'Статус', 'is_published') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(issues, 'Volume', 'volume') }}</th>
                <th class="text-center">{{ knp_pagination_sortable(issues, 'Issue', 'issue') }}</th>
                <th>{{ knp_pagination_sortable(issues, 'Дата публикации', 'dt_published') }}</th>
                <th>{{ knp_pagination_sortable(issues, 'Дата создания', 'created_at') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in issues %}
                <tr>
                    <td>
                    {% if kinds[item.statuses.status] is defined %}
                        <span class="label {{ kinds[item.statuses.status].class }}">
                            {{ kinds[item.statuses.status].label }}
                        </span>
                    {% endif %}
                    </td>
                    <td class="text-center">{{ item.volume }}</td>
                    <td class="text-center">{{ item.issue }}</td>
                    <td>{{ item.datePublished|date('d.m.Y') }}</td>
                    <td>{{ item.createdAt|date('d.m.Y') }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('issue_show', { id: item.id }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('issue_edit', { id: item.id }) }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') and item.statuses.is_published != 1 %}
                                <a href="{{ path('issue_remove', {'id': item.id}) }}" class="btn btn-default btn-remove">
                                    <span class="fa fa-trash-o text-danger"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
