{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('journal_edit', {'id': app.request.get('id')}) }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>Просмотр журнала |
            <small>"{{ journal.ru.title }}"</small></h3>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Метаданные</a></li>
        {#<li><a href="#tab2" data-toggle="tab">Редсовет</a></li>#}
        <li><a href="#tab3" data-toggle="tab">Таксономия</a></li>
        {#<li><a href="#tab4" data-toggle="tab">Рубрики</a></li>#}
        <li><a href="#tab5" data-toggle="tab">Номера</a></li>
        {#<li><a href="#tab6" data-toggle="tab">Подписка</a></li>#}
        <li><a href="#tab7" data-toggle="tab">Пул статей</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table-data">
                <tbody>
                    <tr>
                        <td>Название журнала (RUS)</td>
                        <td><h4>{{ journal.ru.title|raw }}</h4></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Обложка</td>#}
                        {#<td>#}
                            {#<div class="thumbnail">#}
                                {#<img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">#}
                            {#</div>#}
                        {#</td>#}
                    {#</tr>#}
                    <tr>
                        <td>Название журнала (ENG)</td>
                        <td>{{ journal.en.title }}</td>
                    </tr>
                    <tr>
                        <td>Краткое название журнала</td>
                        <td>{{ journal.translittitle }}</td>
                    </tr>
                    <tr>
                        <td>Серия журнала</td>
                        {#<td>{{ journal.serie.__get('title') }}</td>#}
                    </tr>
                    <tr>
                        <td>Название учебного заведения</td>
                        {#<td>{{ journal.university.__get('title') }}</td>#}
                    </tr>
                    <tr>
                        <td>Показыван журнал на сайте naukaru.ru?</td>
                        <td>{{ journal.statuses.is_show_nauka ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>DOI</td>
                        <td><a href="http://dx.doi.org/{{ journal.doi }}" target="_blank">{{ journal.doi }}</a></td>
                    </tr>
                    <tr>
                        <td>ISSN печатной версии</td>
                        <td>{{ journal.issnprint }}</td>
                    </tr>
                    <tr>
                        <td>Адрес размещения журнала в сети Интернет</td>
                        <td>{{ journal.uri }}</td>
                    </tr>
                    <tr>
                        <td>Журнал включен в РИНЦ?</td>
                        <td>{{ journal.statuses['is_rinc'] ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Журнал включен в ВАК?</td>
                        <td>{{ journal.statuses['is_vak'] ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Код для создания договоров</td>
                        {#<td>{{ journal.__get('coden') }}</td>#}
                    </tr>
                    <tr>
                        <td>ISSN электронной версии</td>
                        <td>{{ journal.issnonline }}</td>
                    </tr>
                    <tr>
                        <td>Язык издания журнала</td>
                        <td>
                            {% for lang in journal.languages %}
                                {{ lang }}
                                {% if not loop.last %}
                                    ,
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Идентефикатор РИНЦ</td>
                        <td>{{ journal.rincid }}</td>
                    </tr>
                    <tr>
                        <td>Издательство, которому принадлежит журнал</td>
                        {#<td>{{ journal.publisher.__get('title') }}</td>#}
                    </tr>
                    <tr>
                        <td>Свидетельство о регистрации</td>
                        <td>{{ journal.sregister }}</td>
                    </tr>
                    <tr>
                        <td>Дата выдачи свидельства о регистрации издания</td>
                        {#<td>{{ journal.__get('sdt')|date('d.m.Y') }}</td>#}
                    </tr>
                    <tr>
                        <td>Миссия журнала</td>
                        <td>{{ journal.about|raw }}</td>
                    </tr>
                    <tr>
                        <td>Номера</td>
                        <td><a href="{{ path('issue_list', {'journal_id': journal.id }) }}">Просмотреть список</a></td>
                    </tr>
            {# tr>td.head+td #}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Добавить члена редсовета</a>
            </div>

            <table class="table table-striped vertical-align-middle">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Порядок</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Описание</th>
                    <th>Страна</th>
                    <th>Регион</th>
                    <th>Город</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab3">
            <table class="table table-striped vertical-align-middle">
                {#<thead>#}
                    {#<tr>#}
                        {#<th>Рубрикатор</th>#}
                        {#<th>Код</th>#}
                        {#<th>Название</th>#}
                        {#<th></th>#}
                    {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                    {#<tr>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                {#</tbody>#}
            {#</table>#}
            <tbody>
            {#{% for classif in classifs %}#}
                {#<tr>#}
                    {#<td>{{ classif.name }}</td>#}
                    {#<td>#}
                        {#{{ journal.classif('classif_'~classif.type) ?#}
                                {#journal.classif('classif_'~classif.type) :#}
                                {#'не присвоен'#}
                        {#}}#}
                    {#</td>#}
                {#</tr>#}
            {#{% endfor %}#}

            </tbody>
            </table>

            {#<div class="input-group">#}
                {#<select title="Выберите рубрикатор">#}
                    {#<option>ГРНТИ</option>#}
                    {#<option>УДК</option>#}
                    {#<option>ВАК</option>#}
                    {#<option>ОКСО</option>#}
                {#</select>#}
                {#<span class="input-group-btn">#}
                    {#<button type="button" class="btn btn-primary">Открыть</button>#}
                {#</span>#}
            {#</div>#}
        </div>

        <div class="tab-pane" id="tab4">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Добавить рубрику</a>
            </div>

            <table class="table table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Название рубрики</th>
                        <th>Порядок</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab5">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Создать выпуск журнала</a>
            </div>
            <table class="table table-striped vertical-align-middle">
                <thead>
                <tr>
                    <th>Статус</th>
                    <th class="text-center">Volume</th>
                    <th class="text-center">Issue</th>
                    <th>Дата публикации</th>
                    <th>Дата создания</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
            {% for item in journal.issues %}
                <tr>
                    {% if item.statuses.is_published %}
                        <td><span class="label label-success">Опубликован</span></td>
                    {% else %}
                        <td><span class="label label-primary">В работе</span></td>
                    {% endif %}
                    <td class="text-center">{{ item.volume }}</td>
                    <td class="text-center">{{ item.issue }}</td>
                    <td>{{ item.datePublished|date('d.m.Y') }}</td>
                    <td>{{ item.createdAt|date('d.m.Y') }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('issue_show', { id: item.id }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            <a href="{{ path('issue_edit', { id: item.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                            {#<div class="btn btn-default btn-remove" data-id ="{{ item.id }}">#}
                                {#<span class="fa fa-trash-o text-danger"></span>#}
                            {#</div>#}
                        </div>
                    </td>
                </tr>
            {% endfor %}
                </table>

            {#<table class="table table-striped vertical-align-middle">#}
                {#<thead>#}
                    {#<tr>#}
                        {#<th>ID</th>#}
                        {#<th>Volume</th>#}
                        {#<th>Issue</th>#}
                        {#<th>Статус</th>#}
                        {#<th></th>#}
                    {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                    {#<tr>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                {#</tbody>#}
            {#</table>#}
        </div>

        <div class="tab-pane" id="tab6">
            <h4>Выберите тарифный план для этого произведения</h4>
            <br>
            <div class="input-group">
                <select title="Не выбран">
                    <option value="1">Верстка</option>
                    <option value="2">Подписка на журнал</option>
                    <option value="7">Регистрация копирайта в Бюро по авторским правам США</option>
                    <option value="4">Услуга 1</option>
                    <option value="6">Услуга 2</option>
                    <option value="3">Цена на журнал</option>
                    <option value="5">Цена на статью</option>
                </select>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-success">Сохранить</button>
                </span>
            </div>
        </div>

        <div class="tab-pane" id="tab7">
            <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
                <thead>
                <tr>
                    <th>Название произведения</th>
                    <th>Авторы</th>
                    <th>Статус</th>
                    <th>Дата создания</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
                </thead>
                <tbody id="publication_list_content">
                {% for item in journal.articles %}
                    <tr data-id="{{ item.getId() }}">
                        <td>{{ item.ru.title }}</td>
                        <td>
                            {% for author in item.authors %}{{ author.ru.fio }}{{ loop.index < item.authors|length ? ', ' }}{% endfor %}
                        </td>
                        {% if item.statuses['is_published'] %}
                            <td><span class="status text-success">Опубликовано</span></td>
                        {% else %}
                            <td><span class="status text-primary">В работе</span></td>
                        {% endif %}
                        <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <a href="{{ path('publication_show', { id: item.getId() }) }}" class="btn btn-default">
                                    <span class="fa fa-eye"></span>
                                </a>
                                <a href="{{ path('publication_metadata', {'id': item.getId()}) }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}