{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div>
        <form>
            <legend>Присвоение DOI Журналу</legend>
        </form>
        <p>Для присвоения DOI, нажмите кнопку "Присвоить DOI".</p>
        <p>Обратите внимание, что в CrossRef будут отправлены только сведения о журнале в целом и ему будет присвоен уникальный идентификатор DOI.
            Информация о номерах журнала и статьях передана не будет.
            Чтобы присвоить DOI номеру или конкретной статье, перейдите на карточку соответствующего объекта.
            Подробнее можно прочитать в инструкции в разделе "Присвоение DOI".
        </p>

        <p></p>
        <a href="{{ path('journal_sendoi',{'id':id}) }}" class="btn btn-large btn-success">Присвоить DOI</a>
    </div>
{% endblock %}