{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/asu/css/bootstrap-multiselect.css') }}" rel="stylesheet"/>
    <script src="{{ asset('bundles/asu/js/bootstrap-multiselect.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h3>Классификаторы журнала "{{ journal.__get('title') }}"</h3>
    </div>

    <form id="jedit">
        <input id="_id" type="hidden" value="{{ journal.__get('_id') }}"/>

        {# +++++++ Классификаторы +++++++ #}

        <div class="row">
            {% for classif in classifs %}
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="{{ classif.type }}">{{ classif.name }}<sup>*</sup></label>
                        <select name="{{ classif.type }}[]" id="classif_{{ classif.type }}" data-size="15" multiple
                                data-live-search="true" data-width="100%" title="Выбирете {{ classif.name }}"
                                data-selected-text-format="count">
                            {% for item in classif.childrens %}

                                {% if item.title is defined %}

                                    {% if item.childrens is defined %}
                                    <optgroup label="{{ item.title }}">
                                        <option class="parent" {% if is_in_array(journal.__get('classif_'~classif.type), item.new_code) %}
                                                selected
                                                {% endif %}value="{{ item.new_code }}">Выбрать весь раздел
                                        </option>

                                        {% for children in item.childrens %}

                                            <option {% if is_in_array(journal.__get('classif_'~classif.type), children.new_code) %}
                                                selected
                                            {% endif %}
                                                    value="{{ children.new_code }}">
                                                {{ children.title }}, {{ children.new_code }}
                                            </option>

                                        {% endfor %}

                                        {% if item.childrens is defined %}
                                            </optgroup>
                                        {% endif %}
                                    {% else %}
                                        <optgroup label="{{ item.title }}">
                                            <option class="parent" {% if is_in_array(journal.__get('classif_'~classif.type), item.new_code) %}
                                                    selected
                                                    {% endif %}value="{{ item.new_code }}">{{ item.title }}
                                                , {{ item.new_code }}</option>
                                        </optgroup>
                                    {% endif %}

                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>
                </div>

            {% endfor %}
        </div>

        <button id="save" class="btn btn-success">Сохранить</button>
    </form>
    <script>
        $(function () {
            $('#save').on('click touchstart', function (e) {
                save_data('jedit', '{{ path('journal_save') }}', '{{ path('journal_classif',{'id':id}) }}');
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
