{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>
        {% if journal.id is not null %}
            Редактирование
        {% else %}
            Создание
        {% endif %}
            журнала | <small>"{{ journal.ru.title|default(null) }}"</small></h3>
    </div>

    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}

    {% if journal.statuses.status != st_publishing  %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.ru.title) }}
                    <small>| {{ ru }}</small>
                    {{ form_widget(form.ru.title) }}
                    {{ form_errors(form.ru.title) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.en.title) }}
                    <small>| {{ en }}</small>
                    {{ form_widget(form.en.title) }}
                    {{ form_errors(form.en.title) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.translit_title) }}
            {% set value = form.translit_title.vars.data is null ?
                translitIt(form.ru.title.vars.data) :
                form.translit_title.vars.data
            %}
            {{ form_widget(form.translit_title, { value: value }) }}
            {{ form_errors(form.translit_title) }}
        </div>
        {#<div class="form-group">#}
            {#{{ form_label(form.serie) }}#}
            {#{{ form_widget(form.serie) }}#}
            {#{{ form_errors(form.serie) }}#}
        {#</div>#}
        <div class="form-group">
            {{ form_label(form.statuses.is_opened) }}
            {{ form_widget(form.statuses.is_opened) }}
            {{ form_errors(form.statuses.is_opened) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                {{ form_label(form.publisher) }}
                {{ form_widget(form.publisher) }}
                {{ form_errors(form.publisher) }}
            </div>
        {% endif %}

    {% endif %}

    <div class="form-group">
        {{ form_label(form.cover) }}
        {{ form_widget(form.cover) }}
        {{ form_errors(form.cover) }}
    </div>

    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.co_publisher) }}
                {{ form_widget(form.co_publisher) }}
                {{ form_errors(form.co_publisher) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.founder) }}
                {{ form_widget(form.founder) }}
                {{ form_errors(form.founder) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.sregister) }}
                {{ form_widget(form.sregister) }}
                {{ form_errors(form.sregister) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.sdate) }}
                {{ form_widget(form.sdate) }}
                {{ form_errors(form.sdate) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.issn_print) }}
                {{ form_widget(form.issn_print) }}
                {{ form_errors(form.issn_print) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.issn_online) }}
                {{ form_widget(form.issn_online) }}
                {{ form_errors(form.issn_online) }}
            </div>
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.languages) }}
        {{ form_widget(form.languages) }}
        {{ form_errors(form.languages) }}
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.rinc_url) }}
                {{ form_widget(form.rinc_url) }}
                {{ form_errors(form.rinc_url) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.rinc_id) }}
                {{ form_widget(form.rinc_id) }}
                {{ form_errors(form.rinc_id) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_vak) }}
                {{ form_widget(form.statuses.is_vak) }}
                {{ form_errors(form.statuses.is_vak) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_rinc) }}
                {{ form_widget(form.statuses.is_rinc) }}
                {{ form_errors(form.statuses.is_rinc) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_request_allow) }}
                {{ form_widget(form.statuses.is_request_allow) }}
                {{ form_errors(form.statuses.is_request_allow) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.ru.about) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.about) }}
        {{ form_errors(form.ru.about) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.about) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.about) }}
        {{ form_errors(form.en.about) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.requirements_for_articles) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.requirements_for_articles) }}
        {{ form_errors(form.ru.requirements_for_articles) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.requirements_for_articles) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.requirements_for_articles) }}
        {{ form_errors(form.en.requirements_for_articles) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.ethics_publications) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.ethics_publications) }}
        {{ form_errors(form.ru.ethics_publications) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.ethics_publications) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.ethics_publications) }}
        {{ form_errors(form.en.ethics_publications) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ru.order_of_publication) }}
        <small>| {{ ru }}</small>
        {{ form_widget(form.ru.order_of_publication) }}
        {{ form_errors(form.ru.order_of_publication) }}
    </div>
    <div class="form-group">
        {{ form_label(form.en.order_of_publication) }}
        <small>| {{ en }}</small>
        {{ form_widget(form.en.order_of_publication) }}
        {{ form_errors(form.en.order_of_publication) }}
    </div>

    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script>
        $(function () {
            var form = $('[name="journal"]');

            $('[id$=cover]').fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
                allowedFileTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                maxFileSize: 2000,
                removeFromPreviewOnError: true,
                overwriteInitial: false{% if journal.cover is not null %},
                defaultPreviewContent: '<img src="{{ asset(journal.cover) }}" alt="Обложка" style="width:200px">'{% endif %}
            }).on('fileuploaded', function (event, data) {
                var response = data.response;
                $(this).fileinput('refresh', {showPreview: false, showUpload: false}).fileinput('clear').fileinput('enable');
            }).on('change', function (event) {
                $(this).fileinput('refresh', {showPreview: true, showUpload: false});
            }).on('fileclear', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            }).on('filereset', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            });

            var aboutRu = $('[id$=ru_about]').ckeditor(),
                aboutEn = $('[id$=en_about]').ckeditor(),
                requirementsRu = $('[id$=ru_requirements_for_articles]').ckeditor(),
                requirementsEn = $('[id$=en_requirements_for_articles]').ckeditor(),
                ethicsRu = $('[id$=ru_ethics_publications]').ckeditor(),
                ethicsEn = $('[id$=en_ethics_publications]').ckeditor(),
                orderRu = $('[id$=ru_order_of_publication]').ckeditor(),
                orderEn = $('[id$=en_order_of_publication]').ckeditor();

            form.formValidation({
                framework: 'bootstrap',
                excluded: [':disabled'],
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    "journal[ru][title]": {
                        validators: {
                            notEmpty: {
                                message: 'Введите название журнала'
                            }
                        }
                    },
                    "journal[serie]": {
                        validators: {
                            notEmpty: {
                                message: 'Выберите серию журнала'
                            }
                        }
                    },
                    "journal[uri]": {
                        validators: {
                            regexp: {
                                regexp: /^https?:\/\/.*$/i,
                                message: 'Ссылка должна начинаться с "http://" или "https://"'
                            }
                        }
                    }
                }
            }).on('success.form.fv', function (e) {
//                $('[id$=ru_mission]').val(aboutRu.getData());
//                $('[id$=en_mission]').val(aboutEn.getData());
//                $('[id$=ru_article_requirements]').val(requirementsRu.getData());
//                $('[id$=en_article_requirements]').val(requirementsEn.getData());
//                $('[id$=ru_ethics]').val(ethicsRu.getData());
//                $('[id$=en_ethics]').val(ethicsEn.getData());
//                $('[id$=ru_rules]').val(orderRu.getData());
//                $('[id$=en_rules]').val(orderEn.getData());
            }).find('[id$=issn_print], [id$=issn_online]').mask('9999-9999').end();
        });
    </script>
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>
    {{ parent() }}
{% endblock %}