{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path('journal_create') }}" class="btn btn-primary pull-right"
               id="publication_list_create">Создатьжурнал</a>
        {% endif %}
        <h3>
            Список журналов
            {% if pagination is defined %}
                <small class="sub-header">
                    Всего <strong>{{ pagination.getTotalItemCount }}</strong> журналов
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('journal_list') }}">Все</a>
        <a href="{{ path('journal_list', { 'filter': 'status:100:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:100:int' ? ' active' }}">Новый</a>
        <a href="{{ path('journal_list', { 'filter': 'status:200:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:200:int' ? ' active' }}">В работе</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:400:int' ? ' active' }}"
           href="{{ path('journal_list', { 'filter': 'status:400:int' }) }}">Выходит</a>
    </div>
    <br>

    <div id="publication_list">
        {{ knp_pagination_render(pagination) }}

        <table id="jlist" class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>

                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'statuses.is_published') }}</th>
                <th>ISSN печатной версии</th>
                <th>ISSN электр. версии</th>
                <th>DOI</th>
                <th>Дата регистрации</th>
                <th>{{ knp_pagination_sortable(pagination, 'Название журнала', 'title') }}</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
            </thead>
            <tbody>

            {% for item in pagination %}
                <tr data-id="{{ item.id }}">
                    <td class="text-right">{{ item.id }}</td>
                    <td>
                        {% if kinds[item.statuses.status] is defined %}
                            <span class="label {{ kinds[item.statuses.status].class }}">
                                    {{ kinds[item.statuses.status].label }}
                                </span>
                        {% endif %}
                    </td>
                    <td>{{ item.issnPrint }}</td>
                    <td>{{ item.issnOnline }}</td>
                    <td>{{ item.doi }}</td>
                    <td>{{ item.sdate|date('d.m.Y') }}</td>
                    <td>{{ item.ru.title|raw }}</td>
                    <td class="td-sm">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('journal_show', { id: item.id }) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href="{{ path('journal_edit', {'id': item.id}) }}" class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') %}
                                <a href="{{ path('journal_remove', {'id': item.id }) }}" class="btn btn-default">
                                    <span class="fa fa-trash-o text-danger"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(pagination) }}

    </div>
{% endblock %}