{% extends "@Asu/Default/templates/references.html.twig" %}

{% set add_path = 'monography_reference_add' %}
{% set reference_edit_path = 'monography_reference_edit' %}
{% set reference_remove_path = 'monography_reference_remove' %}
{% set delete_all_path = 'monography_reference_remove_all' %}
{% set property = 'references' %}
