{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование монографии |
            <small>"{{ monography.ru.title|default(null) }}"</small>
        </h3>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.statuses.is_opened) }}
                {{ form_widget(form.statuses.is_opened) }}
                {{ form_errors(form.statuses.is_opened) }}
            </div>
        </div>
    </div>

    {% if form.vars.value.statuses.status != st_published %}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.statuses.has_agreement) }}
                    {{ form_widget(form.statuses.has_agreement) }}
                    {{ form_errors(form.statuses.has_agreement) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.statuses.has_published) }}
                    {{ form_widget(form.statuses.has_published) }}
                    {{ form_errors(form.statuses.has_published) }}
                </div>
            </div>
            <div class="col-md-6 previously_published">
                <div class="form-group">
                    {{ form_label(form.previously_published) }}
                    {{ form_widget(form.previously_published) }}
                    {{ form_errors(form.previously_published) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.languages) }}
            {{ form_widget(form.languages) }}
            {{ form_errors(form.languages) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ru.title) }} <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.title) }}
            {{ form_errors(form.ru.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ru.annotation) }} <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.annotation) }}
            {{ form_errors(form.ru.annotation) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ru.keywords) }} <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.keywords) }}
            {{ form_errors(form.ru.keywords) }}
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.author_pages) }}
                    {{ form_widget(form.author_pages) }}
                    {{ form_errors(form.author_pages) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.page_total) }}
                    {{ form_widget(form.page_total) }}
                    {{ form_errors(form.page_total) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.isbn) }}
                    {{ form_widget(form.isbn) }}
                    {{ form_errors(form.isbn) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.isbn_online) }}
                    {{ form_widget(form.isbn_online) }}
                    {{ form_errors(form.isbn_online) }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.cover) }}
            {{ form_widget(form.cover) }}
            {{ form_errors(form.cover) }}
        </div>
        <div class="form-group">
            {{ form_label(form.en.title) }} <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.title) }}
            {{ form_errors(form.en.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.en.annotation) }} <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.annotation) }}
            {{ form_errors(form.en.annotation) }}
        </div>
        <div class="form-group">
            {{ form_label(form.en.keywords) }} <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.keywords) }}
            {{ form_errors(form.en.keywords) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.publication_number) }}
                    {{ form_widget(form.publication_number) }}
                    {{ form_errors(form.publication_number) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.comment) }}
            {{ form_widget(form.comment) }}
            {{ form_errors(form.comment) }}
        </div>

        <div class="form-group">
            {{ form_label(form.additional_information) }}
            {{ form_widget(form.additional_information) }}
            {{ form_errors(form.additional_information) }}
        </div>

        <div class="form-group">
            {{ form_label(form.copublisher) }}
            {{ form_widget(form.copublisher) }}
            {{ form_errors(form.copublisher) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="form-group">
                {{ form_label(form.publisher) }}
                {{ form_widget(form.publisher) }}
                {{ form_errors(form.publisher) }}
            </div>
        {% endif %}

    {% endif %}

    <div class="form-group">
        {{ form_label(form.rinc_url) }}
        {{ form_widget(form.rinc_url) }}
        {{ form_errors(form.rinc_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block page_script %}
    {{ parent() }}

    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('[id$=cover]').fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
                allowedFileTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                maxFileSize: 2000,
                removeFromPreviewOnError: true,
                overwriteInitial: false{% if monography.cover is not null %},
                defaultPreviewContent: '<img src="{{ asset(monography.cover) }}" alt="Обложка" style="width:200px">'{% endif %}
            }).on('fileuploaded', function (event, data) {
                var response = data.response;
                $(this).fileinput('refresh', {
                    showPreview: false,
                    showUpload: false
                }).fileinput('clear').fileinput('enable');
            }).on('change', function (event) {
                $(this).fileinput('refresh', {showPreview: true, showUpload: false});
            }).on('fileclear', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            }).on('filereset', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            });
        });

        $('div[id*="has_published"]').showAndHide(".previously_published");

    </script>
{% endblock page_script %}
