{% extends "AsuBundle:Default:pageonecol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Создание монографии</h3>
    </div>

    {{ form_start(form) }}

    {{ form_errors(form) }}
    {{ form_label(form.ru.title) }} <small>| {{ 'ru'|trans }}</small>
    {{ form_widget(form.ru.title) }}

    {{ form_end(form) }}
{% endblock %}
