{% extends "AsuBundle:Default:pageonecol.html.twig" %}
{% form_theme form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Создание статьи для конференции</h3>
    </div>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.ru.title) }}
        <small>| {{ 'ru'|trans }}</small>
        {{ form_widget(form.ru.title) }}
        {{ form_errors(form.ru.title) }}

    </div>
    <div class="form-group">
        {{ form_label(form.conference) }}
        {{ form_widget(form.conference) }}
        {{ form_errors(form.conference) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
