{% extends "@Asu/Default/pagetwocol.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_widget(form.text, { attr: { rows: 8 } }) }}
    </div>
    <input type="submit" class="btn btn-success" value="Сохранить" />
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace('{{ form.vars.full_name }}[text]', {
                filebrowserBrowseUrl: Routing.generate('filestorage_browse'),
                filebrowserUploadUrl: Routing.generate('filestorage_upload')
            });
        });
    </script>
{% endblock page_script %}