{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}

    {% set kindName = app.request.attributes.get('_route_params')['kind'] %}

    <div class="page-header">
        <a href="/pub/create/" class="btn btn-primary pull-right" id="publication_list_create">Создать произведение</a>
        <h3>
            {% switch kindName %}
            {% case 'article' %}
            Список статей
            {% case 'monography' %}
            Список монографий
            {% case 'textbook' %}
            Список учебников
            {% case 'journal_matter' %}
            Список журнальных материалов
            {% default %}
            Список произведений
            {% endswitch %}

            {% if pagination is defined %}
                <small class="sub-header">
                    Всего <strong>{{ pagination.getTotalItemCount }}</strong> произведений
                </small>
            {% endif %}
        </h3>
    </div>

    <form action="{{ path('publication_list', {'kind': kindName}) }}"  method="post" >
        <div class="form-group" id="publication_list">
            <div class="row">
                <div class="col-md-8">
                    <label>
                        {% switch kindName %}
                        {% case 'article' %}
                        Название статьи
                        {% case 'monography' %}
                        Название монографии
                        {% case 'textbook' %}
                        Название учебника
                        {% case 'journal_matter' %}
                        Название журнального материала
                        {% default %}
                        Название произведения
                        {% endswitch %}
                    </label>
                    <div class="input-group">
                        <input class="form-control" id="publication_list_search" name="search" value="{{ search_txt }}">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label>Формат списка</label>
                    <select class="form-control" id="publication_list_type">
                        <option value="doirinc">Присвоение DOI и РИНЦ</option>
                    </select>
                </div>
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="btn-group btn-group-justified" data-toggle="buttons" id="filter">
            <div role="group" class="btn-group">
                <label class="btn btn-default active">
                    <input type="radio" name="filter" value="0" autocomplete="off" checked=""> Все
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="1" autocomplete="off"> В работе
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="2" autocomplete="off"> Опубликованные
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="3" autocomplete="off"> Новые
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="4" autocomplete="off"> Отклоненные
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="5" autocomplete="off"> На проверке
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="6" autocomplete="off"> На доработке
                </label>
            </div>
            <div role="group" class="btn-group">
                <label class="btn btn-default">
                    <input type="radio" name="filter" value="7" autocomplete="off"> Принятые
                </label>
            </div>
        </div>
    </div>

    {{ knp_pagination_render(pagination) }}

        <table id="publist" class="table table-striped table-hover table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-right">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Тип', 'kind') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Название произведения', 'ru.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Статус', 'statuses.is_published') }}</th>
                    {% if kindName == 'article' or kindName == 'all' %}
                        <th>{{ knp_pagination_sortable(pagination, 'Журнал', 'journal_title') }}</th>
                    {% endif %}
                    {% if kindName == 'all' or kindName == 'article' or kindName == 'monography' or kindName == 'textbook' %}
                        <th>Авторы</th>
                    {% endif %}
                    <th>{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Создатель', 'user_id') }}</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody id="publication_list_content">
            {% for item in pagination %}
                {#{{ dump(item) }}#}
            <tr data-id="{{ item.getId() }}">
                <td class="text-right">{{ item.getId() }}</td>
                <td>{{ kinds[item.kind] }}</td>
                <td>{{ item.ru['title'] is defined ? item.ru['title'] : '' }}</td>
                {% if item.statuses['is_published'] %}
                    <td><span class="status text-success">Опубликовано</span></td>
                {% else %}
                    <td><span class="status text-primary">В работе</span></td>
                {% endif %}
                {% if kindName == 'article' or kindName == 'all' %}
                    <td>{{ item.getJournalTitle }}</td>
                {% endif %}
                {% if kindName == 'all' or kindName == 'article' or kindName == 'monography' or kindName == 'textbook' %}
                    <td>
                        {% for author in item.authors %}{{ author.ru.fio }}{{ loop.index < item.authors|length ? ', ' }}{% endfor %}
                    </td>
                {% endif %}
                <td>{{ item.getCreatedAtTime is not empty ? item.getCreatedAtTime|date('d.m.Y H:i') : '' }}</td>
                <td>{{ item.getUpdatedAtTime is not empty ? item.getUpdatedAtTime|date('d.m.Y H:i') : '' }}</td>
                <td>
                    {#{{ item.user is not empty ? item.user.username }}#}
                </td>
                <td class="td-sm">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ path('publication_show', { id: item.getId() }) }}" class="btn btn-default">
                            <span class="fa fa-eye"></span>
                        </a>
                        <a href="{{ path('publication_metadata', {'id': item.getId()}) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>


                        <div class="btn btn-default btn-remove" data-id="{{ item.getId() }}">
                            <span class="fa fa-trash-o text-danger"></span>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    {{ knp_pagination_render(pagination) }}

        <div class="tab-pane" id="tab2">

        </div>

        <div class="tab-pane" id="tab3">

        </div>

        <div class="tab-pane" id="tab4">

        </div>
    </div>

    <script language="JavaScript">
        $(function() {
            $('tr td:not(:last-child)').click(function(){
                location.href = '/pubs/show/' + $(this).parent().data('id');
            });

            $('.btn-remove').on('click touchstart',function(e){
                remove_data($(this).data('id'),'/pub/remove/false/', '{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}');
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}
