{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        <a href="{{ path('publication_reference_add', { 'publication_id': app.request.get('publication_id') }) }}" class="btn btn-primary pull-right">
            Загрузить список литературы
        </a>
        <h3>Список использованной в произведении литературы</h3>
    </div>

    {% set errors = app.session.flashBag.get('error') %}
    {% if errors|length > 0 %}
        <div class="alert alert-danger"><strong>Внимание!</strong> Во время предыдущей операции произошли следующие ошибки:
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <table class="table table-striped table-hover table-border">
        <thead>
            <tr>
                <th>#</th>
                <th>Текст ссылки</th>
                <th>Транслитерованный текст ссылки</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for reference in references %}
            <tr>
                <td>{{ reference.position }}</td>
                <td>{{ reference.text }}</td>
                <td>{{ reference.textTranslit }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <a href="{{ path('publication_reference_edit', { 'publication_id': app.request.get('publication_id'), 'reference_id': reference.id }) }}"
                           class="btn btn-default"><span class="fa fa-pencil"></span></a>
                        <a href="{{ path('publication_reference_remove', { 'publication_id': app.request.get('publication_id'), 'reference_id': reference.id }) }}"
                           class="btn btn-default"><span class="fa fa-trash text-danger"></span></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
