{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Список авторов произведения</h3>
    </div>

    {% if authors|length == 0 %}
        <div class="alert alert-info" id="authors_empty">
            <p>Данному произведению не присвоено ни одного автора.</p>
        </div>

        <ol id="authors" class="ordered-list hide"></ol>
    {% else %}
        <ol id="authors" class="ordered-list">
            {% for author in authors %}
                {% if author is not null %}
                    <li data-id="{{ author._id }}">{{ author.last_name }} {{ author.first_name }} {{ author.second_name }}
                        <span class="fa fa-trash-o text-danger author_del"></span>
                        <span class="fa fa-long-arrow-up author_up"></span>
                        <span class="fa fa-long-arrow-down author_down"></span>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}

    <button disabled="true" id="save_authors" class="json_button btn btn-success">Сохранить список авторов</button>
    <br/><br/><br/>


    <ul class="nav nav-tabs">
        <li class="active"><a href="#find_author" data-toggle="tab">Найти и добавить автора из базы</a></li>
        <li><a href="#create_author" data-toggle="tab">Создать нового автора</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="find_author">
            <form id="authors_suggest">
                <div class="form-group">
                    <label>Начните ввод фамилии автора для поиска</label>
                    <input class="form-control" type="text" id="search_query" placeholder="Фамилия" autocomplete="off">
                </div>
                <button id="add" disabled="true" class="btn btn-warning">Выбрать автора</button>
            </form>
        </div>

        <div class="tab-pane" id="create_author">
            <form id="author_new">
                <div class="form-group">
                    <label>Фамилия</label>
                    <input id="last_name" class="form-control" type="text" placeholder="Фамилия">
                </div>

                <div class="form-group">
                    <label>Имя</label>
                    <input id="first_name" class="form-control" type="text" placeholder="Имя">
                </div>

                <div class="form-group">
                    <label>Отчество</label>
                    <input id="second_name" class="form-control" type="text" placeholder="Имя">
                </div>

                <button id="save" class="json_button btn btn-warning">Создать автора</button>
            </form>
        </div>
    </div>

    <script language="JavaScript">
        var current_tab = 'find_author',
                current_author = {},
                mode_update = false;

        /**
         * Получить список авторов, согласно query с сервера
         * @param query
         * @param process
         */
        function getAuthors(query, process) {
            $.get('/author/typeahead/' + query + '/', function (res) {
                var typeahead = [];
                var data = jQuery.parseJSON(res);
                console.log(data);
                for (i in data) {
                    typeahead.push({
                        id: i,
                        name: data[i]
                    })
                }
                console.log(typeahead);
                process(typeahead);
            });

        }

        function selItem(item) {
            current_author = item;
            console.log('Updated');
            mode_update = true;
            $('#add').removeAttr('disabled');
            return {id: item.id, name: item.name};
        }

        /**
         * Добавить автора к списку авторов
         * @param id
         * @param name
         */
        function addAuthor(id, name) {
            $('#authors').removeClass('hide').append('<li data-id="' + id + '">' + name +
                    ' <span class="fa fa-trash-o text-danger author_del"></span>' +
                    ' <span class="fa fa-long-arrow-up author_up"></span>' +
                    ' <span class="fa fa-long-arrow-down author_down"></span>' +
                    '</li>');
            updateActions();
            decideEmpty();
        }

        function updateActions() {
            // Установить кнопки удаления
            $('.author_del').off('click touchstart').on('click touchstart', function () {
                if (confirm('Действительно удалить автора из списка? Из базы автор удален не будет.')) {
                    $(this).parent().remove();
                    decideEmpty();
                    updateActions();
                }
            });
            var cc = 0;
            $('.author_up').each(function () {
                if (cc == 0)
                    $(this).addClass('hide');
                else
                    $(this).removeClass('hide');

                cc++;

                $(this).off('click touchstart').on('click touchstart', function (event) {
                    console.log('Move up');
                    $(this).parent().insertBefore($(this).parent().prev());
                    decideEmpty();
                    updateActions();
                });
            });

            var cc = 0;
            var total = $('.author_down').length;
            $('.author_down').each(function () {
                if (cc == total - 1)
                    $(this).addClass('hide');
                else
                    $(this).removeClass('hide');

                cc++;

                $(this).off('click touchstart').on('click touchstart', function (event) {
                    console.log('Move down');
                    $(this).parent().insertAfter($(this).parent().next());
                    decideEmpty();
                    updateActions();
                });
            });

        }

        /**
         * Показать/спрятать надпись, что авторов нет
         */
        function decideEmpty() {
            if ($('#authors li').length == 0) {
                console.log('Hide warning');
                $('#authors_empty').removeClass('hide');
                $('#save_authors').attr('disabled', 'true');
            }
            else {
                console.log('Show warning');
                $('#authors_empty').addClass('hide');
                $('#save_authors').removeAttr('disabled');
            }

        }

        $(function () {

            updateActions();

            $('#save').on('click touchstart', function (event) {
                var fields_to_validate = ['last_name', 'first_name', 'second_name'];
                var errors = validate_empty(fields_to_validate);

                if (errors == 0) {
                    var id = save_data('author_new', '{{ path('author_save') }}', false);
                    validation_clear(fields_to_validate);

                    addAuthor(id, $('#last_name').val() + ' ' + $('#first_name').val() + ' ' + $('#second_name').val());

                    $('#last_name').val('');
                    $('#first_name').val('');
                    $('#second_name').val('');

                }

                console.log(id);


                event.preventDefault();
            });

            $("#search_query")
                    .typeahead({
                        source: getAuthors,
                        updater: selItem
                    });

            $('#search_query').on('change keydown', function (event) {
                console.log(event.keyCode);

                if (event.keyCode == 9)
                    return true;

                if (mode_update === true)
                    mode_update = false;
                else {
                    $('#add').attr('disabled', true);
                    current_author = {};
                }
            });

            $('#add').on('click touchstart', function (event) {
                addAuthor(current_author.id, current_author.name);
                $('#search_query').val('');
                $('#add').attr('disabled', true);
                current_author = {};
                event.preventDefault();
            });

            $('#save_authors').on('click touchstart', function (event) {
                var author_ids = [];
                $('#authors li').each(function () {
                    author_ids.push($(this).attr('data-id'));
                });
                console.log(author_ids);

                var data = {
                    _id: {{ id }},
                    authors: author_ids
                };

                var tosend = JSON.stringify(data);

                console.log(tosend);

                $('.json_button').attr('disabled', 'true');

                $.ajax('{{ path('publication_authors_save',{'id':id}) }}', {
                            async: false,
                            data: {data: tosend},
                            type: 'POST'
                        })
                        .done(function (result) {
                            try {
                                var res = jQuery.parseJSON(result);
                            }
                            catch (err) {
                                alert('Can not parse JSON');
                            }
                            $('.json_button').removeAttr('disabled');
                        })
                        .fail(function () {
                            alert('Ошибка сохранения')
                        });

                event.preventDefault();
            })
        });
    </script>
{% endblock %}
