{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Создание произведения</h3>
    </div>

    <form id="pedit">
        <div class="form-group">
            <label>
                Название произведения на русском языке
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="DOI, РИНЦ, SCOPUS, PUBLISH"></span>
            </label>

            <div id="title_div">
                <input id="ru_title" class="form-control" name="title" type="text" placeholder="Название на русском">
            </div>
        </div>

        <div class="form-group">
            <label>
                Тип произведения
                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="DOI, РИНЦ, SCOPUS, PUBLISH"></span>
            </label>

            <div id="kind_div">
                <select class="form-control" id="kind" name="kind">
                    {% for key,title in kinds %}
                        {%  if title != 'Журнальный материал' %}
                        <option data-location_name="{{ kindsURL[key] is defined ? kindsURL[key] : 'all' }}" value="{{ key }}">{{ title }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <button id="save" class="btn btn-success">Сохранить</button>
    </form>

    <script language="JavaScript">
            $('form#pedit').bind('submit', false);

            $('#save').on('click', function (event) {

                var errors = validate_empty(['ru_title', 'kind']),
                    location_name = $('#kind option:selected').data('location_name'),
//                    calbackUrl = '/pubs/' + location_name + '/';
                    calbackUrl = Routing.generate("publication_list", {"kind" : location_name});

                if (errors == 0) save_data('pedit', Routing.generate("publication_create_save"), calbackUrl);

                event.preventDefault();
            });
    </script>
{% endblock %}
