{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Редактирование общих сведений о произведении</h3>
    </div>

    <form id="jedit">
        {% if pub.id != 0 %}
            <input id="_id" type="hidden" value="{{ pub.id }}"/>
        {% endif %}
        <div class="form-group">
            <label>Показывать на сайте naukaru.ru?<sup>*</sup></label><br>

            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default {% if pub.isshownauka %} active {% endif %}">
                    <input type="radio" name="is_show_nauka" value="1"> Да
                </label>
                <label class="btn btn-default {% if not pub.isshownauka %} active {% endif %}">
                    <input type="radio" name="is_show_nauka" value="0" checked> Нет
                </label>
            </div>
        </div>

        <div class="form-group" id="lang_div">
            <label for="lang">Выберите язык материала</label>
            <select class="form-control show-tick" id="lang">
                <option {{ pub.lang == 'RUS' ? 'selected' : '' }} value="RUS">Русский</option>
                <option {{ pub.lang == 'ENG' ? 'selected' : '' }} value="ENG">English</option>
            </select>
        </div>

        {% set ru = pub.ru %}

        <div {{ pub.lang == 'RUS' ? '' : 'class="hide"' }} data-lang="RUS">
            <div class="form-group">
                <label for="ru_title">Заголовок<sup>*</sup></label>
                <input type="text" class="form-control" id="ru_title"
                       value="{{ ru['title'] is defined ? ru['title'] : '' }}">
            </div>

            <div class="form-group">
                <span class="label label-success pull-right counter"></span>
                <label for="ru_keywords">Ключевые слова на русском (через точку с запятой)<sup>*</sup></label>
                <input type="text" class="form-control" id="ru_keywords"
                       value="{{ ru['keywords'] is defined ? ru['keywords'] : '' }}">
            </div>

            <div class="form-group">
                <span class="label label-success pull-right counter"></span>
                <label for="ru_annotation">Аннотация</label>
                <textarea class="form-control" id="ru_annotation"
                          rows="5">{{ ru['annotation'] is defined ? ru['annotation'] : '' }}</textarea>
            </div>
        </div>

        {% set en = pub.en %}

        <div {{ pub.lang == 'ENG' ? '' : 'class="hide"' }} data-lang="ENG">
            <div class="form-group">
                <label>Заголовок на английском<sup>*</sup></label>
                <input type="text" class="form-control" name="title_en" id="en_title"
                       value="{{ en['title'] is defined ? en['title'] : '' }}">
            </div>

            <div class="form-group">
                <span class="label label-success pull-right counter"></span>
                <label>Ключевые слова на английском (через точку с запятой)<sup>*</sup></label>
                <input type="text" class="form-control" name="keywords_en" id="en_keywords"
                       value="{{ en['keywords'] is defined ? en['keywords'] : '' }}">
            </div>

            <div class="form-group">
                <span class="label label-success pull-right counter"></span>
                <label>Аннотация на английском</label>
                <textarea class="form-control" id="en_annotation"
                          rows="5">{{ en['annotation'] is defined ? en['annotation'] : '' }}</textarea>
            </div>
        </div>

        {% if kinds[pub.kind] == 'Статья' %}
            <div class="form-group" id="journal_id_div">
                <label>Выберите журнал для публикации статьи<sup>*</sup></label>
                <select class="form-control show-tick" id="journal_id" name="magazine" data-size="15"
                        data-live-search="true" title="Выберите журнал"
                        onchange="document.getElementById('journal_title').value = this.options[this.selectedIndex].text;">

                    {% if pub.journal is not null %}
                        {% set journal_id = pub.journal.id %}
                    {% else %}
                        {% set journal_id = 0 %}
                    {% endif %}
                    {% for item in journals %}
                        <option {{ item.id == journal_id ? 'selected' : '' }}
                                value="{{ item.id }}">{{ item.title }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" id="issue_rubric_id_div">
                <span class="label label-success pull-right counter"></span>
                <label>Выберите рубрику статьи</label>
                <select class="form-control show-tick" name="issue_rubric_id" id="issue_rubric_id" data-size="15"
                        data-live-search="true" title="Выберите рубрику">
                    {#{% for item in pub.journal.rubrics %}#}
                        {#<option {{ item.id == pub.issuerubricid ? 'selected' : '' }}#}
                                {#value="{{ item.id }}">{{ item.title }}</option>#}
                    {#{% endfor %}#}
                </select>
            </div>
        {% endif %}

        {#<div class="form-group" id="publisher_id_div">#}
            {#<label>Выберите издателя<sup>*</sup></label>#}
            {#<select class="form-control show-tick" id="publisher_id" name="publisher" data-size="15"#}
                    {#data-live-search="true" title="Выберите издателя">#}
                {#{% for item in publisher %}#}
                    {#<option {{ item.__get('_id') == pub.__get('publisher_id') ? 'selected' : '' }}#}
                            {#value="{{ item.__get('_id') }}">{{ item.__get('title') }}</option>#}
                {#{% endfor %}#}
            {#</select>#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="col-md-6">#}
                {#<div class="form-group" id="has_reviewers_div">#}
                    {#<label>Есть ли у произведения рецензенты?</label><br>#}
                    {#<div class="btn-group" data-toggle="buttons">#}
                        {#<label class="btn btn-default {% if pub.__get('has_reviewers') %} active {% endif %}">#}
                            {#<input type="radio" name="has_reviewers" value="1" {% if pub.__get('has_reviewers') %} checked {% endif %}> Да#}
                        {#</label>#}
                        {#<label class="btn btn-default {% if not pub.__get('has_reviewers') %} active {% endif %}">#}
                            {#<input type="radio" name="has_reviewers" value="0" {% if not pub.__get('has_reviewers') %} checked {% endif %}> Нет#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Дата публикации<sup>*</sup></label>#}

                    {#<div class="input-group date" data-provide="datepicker">#}
                        {#<input type="text" class="form-control" id="published_year" name="published_date_1"#}
                               {#value="{{ ((pub.__get('published_year') is defined) and ((pub.__get('published_year') != '0000-00-00')))#}
                               {#? pub.__get('published_year')|date('d.m.Y') : '' }}">#}

                        {#<div class="input-group-addon">#}
                            {#<span class="fa fa-calendar"></span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-6">#}
                {#<div class="form-group" id="has_published_div">#}
                    {#<label>Публиковалось ли произведение ранее?</label><br>#}
                    {#<div class="btn-group" data-toggle="buttons">#}
                        {#<label class="btn btn-default {% if pub.__get('has_published') %} active {% endif %}">#}
                            {#<input type="radio" name="has_published" value="1" {% if pub.__get('has_published') %} checked {% endif %}> Да#}
                        {#</label>#}
                        {#<label class="btn btn-default {% if not pub.__get('has_published') %} active {% endif %}">#}
                            {#<input type="radio" name="has_published" value="0" {% if not pub.__get('has_published') %} checked {% endif %}> Нет#}
                        {#</label>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="form-group">#}
                    {#<label>Дата публикации произведения<sup>*</sup></label>#}

                    {#<div class="input-group date" data-provide="datepicker">#}
                        {#<input type="text" class="form-control" id="dt_publication_print" name="published_date_2"#}
                               {#value="{{ ((pub.__get('dt_publication_print') is defined) and ((pub.__get('dt_publication_print') != '0000-00-00')))#}
                               {#? pub.__get('dt_publication_print')|date('d.m.Y') : '' }}">#}

                        {#<div class="input-group-addon">#}
                            {#<span class="fa fa-calendar"></span>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>Коментарий</label>#}
            {#<textarea class="form-control" id="comment" rows="5">{{ pub.__get('comment') }}</textarea>#}
        {#</div>#}

        {#<div class="form-group">#}
            {#<label>DOI<sup>*</sup></label>#}
            {#<input type="text" class="form-control" id="doi" name="doi" value="{{ pub.__get('doi') }}">#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label>Авторских листов<sup>*</sup></label>#}

                    {#<div class="input-group spinner">#}
                        {#<input type="text" class="form-control" id="author_pages" name="pages_author"#}
                               {#value="{{ pub.__get('author_pages') }}"/>#}

                        {#<div class="input-group-btn-vertical">#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}

            {#<div class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label>Всего страниц<sup>*</sup></label>#}

                    {#<div class="input-group spinner">#}
                        {#<input type="text" class="form-control" id="published_page_total" name="pages_total"#}
                               {#value="{{ pub.__get('published_page_total') }}"/>#}

                        {#<div class="input-group-btn-vertical">#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        {#{% if (kinds[pub.__get('kind')] == 'textbook' or kinds[pub.__get('kind')] == 'journal_matter') %}#}
            {#<div class="form-group">#}
                {#<label>ISBN<sup>*</sup></label>#}
                {#<input type="number" class="form-control" id="isbn" value="{{ pub.__get('isbn') }}">#}
            {#</div>#}
        {#{% endif %}#}

        {# +++++++ Классификаторы +++++++ #}
        {#<h3>Классификаторы</h3>#}
        {#<hr>#}

        {#{% for classif in classifs %}#}
            {#<div class="form-group">#}
                {#<label>{{ classif.name }}<sup>*</sup></label>#}
                {#<select name="{{ classif.type }}[]" id="classif_{{ classif.type }}" multiple data-live-search="true"#}
                        {#data-size="15" data-width="100%" title="Выбирете {{ classif.name }}"#}
                        {#data-selected-text-format="count">#}
                    {#{% for item in classif.childrens %}#}

                        {#{% if item.title is defined %}#}

                            {#{% if item.childrens is defined %}#}

                            {#<optgroup label="{{ item.title }}">#}
                                {#<option {% if is_in_array(pub.__get('classif_'~classif.type), item.new_code) %}#}
                                        {#selected#}
                                        {#{% endif %}value="{{ item.new_code }}">Выбрать весь раздел#}
                                {#</option>#}

                                {#{% for children in item.childrens %}#}

                                    {#<option {% if is_in_array(pub.__get('classif_'~classif.type), children.new_code) %}#}
                                        {#selected#}
                                    {#{% endif %}#}
                                            {#value="{{ children.new_code }}">#}
                                        {#{{ children.title }}, {{ children.new_code }}#}
                                    {#</option>#}

                                {#{% endfor %}#}

                                {#{% if item.childrens is defined %}#}
                                    {#</optgroup>#}
                                {#{% endif %}#}
                            {#{% else %}#}
                                {#<!--optgroup label="{{ item.title }}"-->#}
                                    {#<option {% if is_in_array(pub.__get('classif_'~classif.type), item.new_code) %}#}
                                            {#selected#}
                                            {#{% endif %}value="{{ item.new_code }}">{{ item.title }}#}
                                        {#, {{ item.new_code }}</option>#}
                                {#<!--/optgroup-->#}

                            {#{% endif %}#}

                        {#{% endif %}#}

                    {#{% endfor %}#}
                {#</select>#}
            {#</div>#}

        {#{% endfor %}#}
        {#<br>#}

        {#<div class="form-group">#}
            {#<div class="row">#}
                {#<div class="col-md-6">#}
                    {#<label>Страница с<sup>*</sup></label>#}

                    {#<div class="input-group spinner">#}
                        {#<input type="text" class="form-control" id="first_page" name="page_first"#}
                               {#value="{{ pub.__get('first_page') }}"/>#}

                        {#<div class="input-group-btn-vertical">#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}

                {#<div class="col-md-6">#}
                    {#<label>Страница по<sup>*</sup></label>#}

                    {#<div class="input-group spinner">#}
                        {#<input type="text" class="form-control" id="last_page" name="page_last"#}
                               {#value="{{ pub.__get('last_page') }}"/>#}

                        {#<div class="input-group-btn-vertical">#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>#}
                            {#<button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}

        <br>

        <a href="{{ path('publication_list',{'kind':'all'}) }}" class="btn btn-default pull-right">Отмена</a>
        <button type="submit" id="save" class="btn btn-success">Сохранить</button>

        {#{% if id != 0 %}#}
        {#<button id="remove" class="btn btn-success">Удалить</button>#}
        {#{% endif %}#}
    </form>

    <script language="javascript">
        $(function () {
            var date = new Date(),
                    year = date.getFullYear(),
                    month = ('0' + date.getMonth()).slice(-2),
                    day = ('0' + date.getDate()).slice(-2),
                    today = day + '.' + month + '.' + year;

            $('#jedit').formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    magazine: {
                        validators: {
                            notEmpty: {
                                message: 'Выберите журнал'
                            }
                        }
                    },
                    title_ru: {
                        validators: {
                            notEmpty: {
                                message: 'Введите заголовок на русском'
                            }
                        }
                    },
                    title_en: {
                        validators: {
                            notEmpty: {
                                message: 'Введите заголовок на английском'
                            }
                        }
                    },
                    keywords_ru: {
                        validators: {
                            notEmpty: {
                                message: 'Введите ключевые слова'
                            }
                        }
                    },
                    keywords_en: {
                        validators: {
                            notEmpty: {
                                message: 'Введите ключевые слова'
                            }
                        }
                    },
                    published_date_1: {
                        validators: {
                            notEmpty: {
                                message: 'Введите дату'
                            },
                            date: {
                                message: 'Неправильная дата',
                                format: 'DD.MM.YYYY',
                                min: '01.01.1970',
                                max: today
                            }
                        }
                    },
                    published_date_2: {
                        validators: {
                            notEmpty: {
                                message: 'Введите дату'
                            },
                            date: {
                                message: 'Неправильная дата',
                                format: 'DD.MM.YYYY',
                                min: '01.01.1970',
                                max: today
                            }
                        }
                    },
                    doi: {
                        validators: {
                            notEmpty: {
                                message: 'Введите DOI'
                            }
                        }
                    },
                    pages_author: {
                        validators: {
                            notEmpty: {
                                message: 'Введите количество листов'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Количество листов должно быть больше 0'
                            }
                        }
                    },
                    pages_total: {
                        validators: {
                            notEmpty: {
                                message: 'Введите количество листов'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Количество листов должно быть больше 0'
                            }
                        }
                    },
                    {% for classif in classifs %}
                    '{{ classif.type }}[]': {
                        validators: {
                            notEmpty: {
                                message: 'Выбирете {{ classif.name }}'
                            }
                        }
                    },
                    {% endfor %}
                    page_first: {
                        row: '.col-md-6',
                        validators: {
                            notEmpty: {
                                message: 'Введите номер страницы'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Номер страницы должен быть больше 0'
                            }
                        }
                    },
                    page_last: {
                        row: '.col-md-6',
                        validators: {
                            notEmpty: {
                                message: 'Введите номер страницы'
                            },
                            integer: {
                                message: 'Можно вводить только цифры'
                            },
                            between: {
                                min: 1,
                                max: 100000,
                                message: 'Номер страницы должен быть больше 0'
                            }
                        }
                    }
                }
            }).on('success.form.fv', function (e) {
                e.preventDefault();
                save_data(
                    'jedit',
                    '{{ path('publication_create_save') }}',
                    '{{ path('publication_authors', {'id':pub.id}) }}'
                );
            });

            var journalID = $('#journal_id'),
                rubricID = $('#issue_rubric_id_div');

            {#{% if pub.__get('journal_id') is defined %}#}
                {#journalID.val('{{ pub.__get('journal_id') }}');#}
            {#{% endif %}#}

//            console.log(journalID.val());
            if(journalID.val() == null){
                rubricID.addClass('hide');
            }
            journalID.change(function(){
                rubricID.removeClass('hide');
                //Подгружаем рубрики при смене журнала
                $.ajax(Routing.generate("ajax_journal_rubrics", { id: journalID.val() }),{
                            async: false,
                            type: 'POST'
                }).done(function(result) {
                    var res = jQuery.parseJSON(result);
                    console.log(res);
                    var rubrics = '';
                    for (var id in res.rubrics){
                        rubrics += '<option value="' + id + '">' + res.rubrics[id] + '</option>'
                    }
                    console.log(rubrics);
                    $('#issue_rubric_id').html(rubrics).selectpicker('refresh');
                });
            });

            var ru = $('[data-lang="RUS"]'), en = $('[data-lang="ENG"]');
            $('#lang').change(function () {
                var lang = $(this).val();

                if (lang == 'ENG') {
                    en.removeClass('hide');
                    ru.addClass('hide');
                } else if (lang == 'RUS') {
                    en.addClass('hide');
                    ru.removeClass('hide');
                }
            });

            var text_max = 500;
            $('#ru_annotation, #en_annotation, #ru_keywords, #en_keywords').each(function () {
                var counter = $(this).closest('.form-group').find('.counter');
                $(this).val().length > 0 ? counter.text(text_max - $(this).val().length) : counter.text(text_max);
                $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                $(this).keyup(function () {
                    counter.text(text_max - $(this).val().length);
                    $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                });
            });
        });
    </script>
{% endblock %}
