{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div>
        <form>
            <legend>Присвоение DOI произведению</legend>
        </form>
        <p>Для присвоения DOI, нажмите кнопку "Присвоить DOI".</p>
        <p>Обратите внимание, что в CrossRef будут отправлены только сведения данном произведении и ему будет присвоен уникальный идентификатор DOI.
            Если произведение входит в журнал или сборник, DOI им присвоен не будет.
            Чтобы присвоить DOI журнальному номеру, журналу или сборнику, перейдите на карточку соответствующего объекта.
            Подробнее можно прочитать в инструкции в разделе "Присвоение DOI".
        </p>

        <p></p>
        <a href="/pub/senddoi/{{ id }}/" class="btn btn-large btn-success">Присвоить DOI</a>
    </div>
{% endblock %}