{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="alert alert-danger text-center">
        <h3><span class="fa fa-exclamation-triangle"></span></h3>
        <h4>Непредвиденная ошибка.</h4>
        <p>У данного произведения указан несуществующий тип. Обратитесь в службу технической поддержки: <a href="mail-to:editorum-support@bmax.ru" class="text-danger">editorum-support@bmax.ru</a></p>
        <br>
    </div>
{% endblock %}
