{% extends "AsuBundle:Default:pagetwocol.html.twig" %}


{% block content %}
    <div class="page-header">
        <h3>Список глав произведения</h3>
    </div>


    {% if chapters|length == 0 %}
        <div class="alert alert-info" id="chapters_empty">
            <p>Для данного произведения еще не указано ни одной главы.</p>
        </div>

        <ol id="chapters" class="ordered-list hide"></ol>
    {% else %}
        <ol id="chapters" class="ordered-list">
            {% for chapter in chapters %}
                <li class="js-chapters" data-id= {{ chapter.__get('_id') }}>{{ chapter.__get('title') }}
                    <i class="fa fa-trash-o text-danger chapter-del"></i>
                    <i data-toggle="modal" data-target="#myModal" class="fa fa-pencil chapter-edit"></i>
                </li>
            {% endfor %}
        </ol>
    {% endif %}

    <br><br>

    <h3>Создать и добавить главу</h3>
    <hr>
    <form id="chapter_new">
        <input id="pub_id" value="{{ id }}" class='hide'>

        <div class="form-group">
            <label for="title">Укажите название главы</label>
            <input class="form-control" type="text" id="title" placeholder="Название главы">
        </div>
    </form>

    <div class="btn btn-success" id="btn_chapter_add">Создать главу</div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="form">
        <div class="modal-dialog modal-wide">
            <!-- Modal content-->
            <div class="modal-content text-center">
            </div>
        </div>
    </div>

    <script language="JavaScript">

        /*Инициализируем обработчики*/
        addRemove();
        addEdit();

        /*Обраотчики удаления*/
        function addRemove() {
            $('.chapter-del').off('click').on('click', function (event) {
                var res = remove_data($(this).parent().data('id'), '{{ path('chapter_create') }}', false);
                console.log(res);
                if (res !== 0) {
                    $(this).parent().remove();
                }
                if (!$('.chapter-del').length) {
                    $('#chapters_empty').removeClass('hide');
                    if (!$('div').is($('#chapters_empty'))) {
                        $('.page-header').after('<div class="alert alert-info" id="chapters_empty"><p>Для данного произведения еще не указано ни одной главы.</p> </div>');
                    }
                }
            });
        }

        /*Добавление главы*/
        $('#btn_chapter_add').on('click', function () {
            var text = $("#title").val();
            var pub_id = save_data('chapter_new', '{{ path('chapter_create') }}', false);
            console.log(pub_id);
            $('#chapters').removeClass('hide').append(
                    '<li class="js-chapters" data-id =' + pub_id + ' >'
                    + text +
                    '<i class="fa fa-trash-o text-danger chapter-del"></i>' +
                    '<i data-toggle="modal" data-target="#myModal" class="fa fa-pencil chapter-edit"></i></li>'
            );
            addRemove();
            addEdit();
            $('#chapters_empty').addClass('hide');
        });

        /*Редактирование*/
        function addEdit() {
            $('.chapter-edit').off().on('click', function (e) {
                var chap_id = $(this).parent().data('id');
                $('.modal-content').off().load('{{ path('chapter_edit') }}', {'id': chap_id}, function () {
                    $('#save_chapter').off().on('click', function () {
                        save_data('chapter_form_edit', '{{ path('chapter_create') }}', '{{ path('publication_chapters',{'publication_id':id}) }}')
                    })
                })
            })
        }
    </script>
{% endblock %}
