{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('publication_metadata', {'id': app.request.get('id')}) }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>Просмотр произведения</h3>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Метаданные</a></li>
        <li><a href="#tab2" data-toggle="tab">Авторы</a></li>
        {% if kinds[pub.__get('kind')] != 'Статья' %}
            <li><a href="#tab3" data-toggle="tab">Главы</a></li>
        {% endif %}
        {#<li><a href="#tab4" data-toggle="tab">Спислит</a></li>#}
        <!--li><a href="#tab5" data-toggle="tab">Договоры</a></li-->
        <li><a href="#tab6" data-toggle="tab">Управление</a></li>
        {#<li><a href="#tab7" data-toggle="tab">История</a></li>#}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table-data">
                <thead>
                    <tr>
                        <th colspan="2">Общие сведения</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Тип</td>
                        <td>{{ kinds[pub.kind] }}</td>
                    </tr>
                    <tr>
                        <td>Заголовок (RUS)</td>
                        <td><h4>{{ pub.ru is not null ? pub.ru.title }}</h4></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Обложка</td>#}
                        {#<td>#}
                            {#<div class="thumbnail">#}
                                {#<img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">#}
                            {#</div>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>PDF-файл</td>#}
                        {#<td><a href="{{ path('pdf_reader', {'id': app.request.get('id')}) }}"><span class="fa fa-file-pdf-o text-danger"></span> Посмотреть PDF</a></td>#}
                    {#</tr>#}
                    <tr>
                        <td>Дата публикации</td>
                        <td>{{ ((pub.__get('published_year') is defined) and ((pub.__get('published_year') != '0000-00-00'))) ? pub.__get('published_year')|date('d.m.Y') : '' }}</td>
                    </tr>
                    {% if kinds[pub.__get('kind')] is defined and ((kinds[pub.__get('kind')] == 'textbook' or kinds[pub.__get('kind')] == 'journal_matter')) %}
                        <tr>
                            <td>ISBN</td>
                            <td>{{ pub.__get('isbn') }}</td>
                        </tr>
                        <tr>
                            <td>ISBN-онлайн</td>
                            <td></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Издатель</td>
                        <td>{{ pub.publisher is not null and pub.publisher.__get('title') is defined  ? pub.publisher.__get('title') }}</td>
                    </tr>
                    <tr>
                        <td>Аннотация (RUS)</td>
                        <td>{{ pub.__get('ru') is not null and pub.__get('ru').annotation is defined ? pub.__get('ru').annotation }}</td>
                    </tr>
                    <tr>
                        <td>Ключевые слова (RUS)</td>
                        <td>{{ pub.__get('ru') is not null and pub.__get('ru').keywords is defined ? pub.__get('ru').keywords }}</td>
                    </tr>
                    <tr>
                        <td>Количество авторских листов</td>
                        <td>{{ pub.__get('author_pages') }}</td>
                    </tr>
                    <tr>
                        <td>Всего страниц</td>
                        <td>{{ pub.__get('published_page_total') }}</td>
                    </tr>
                    <tr>
                        <td>Заголовок (ENG)</td>
                        <td>{{ pub.__get('en') is not null ? pub.__get('en').title }}</td>
                    </tr>
                    <tr>
                        <td>Аннотация (ENG)</td>
                        <td>{{ pub.__get('en') is not null ? pub.__get('en').annotation }}</td>
                    </tr>
                    <tr>
                        <td>Ключевые слова (ENG)</td>
                        <td>{{ pub.__get('en') is not null ? pub.__get('en').keywords }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2 head">Язык материала</td>
                        <td>{{ pub.__get('lang') }}</td>
                    </tr>
                    <tr>
                        <td>Ссылка на znanium</td>
                        <td><a href="" target="_blank"></a></td>
                    </tr>
                    <tr>
                        <td>Гриф</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Рецензенты</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Комментарий</td>
                        <td>{{ pub.__get('comment') }}</td>
                    </tr>
                    <tr>
                        <td>Рубрики</td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Депонированный файл</td>#}
                        {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Договор с другим издательством</td>#}
                        {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                    {#</tr>#}
                    <tr>
                        <td>Идентификатор РИНЦ</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Ссылка РИНЦ</td>
                        <td><a href="#" target="_blank"></a></td>
                    </tr>
                    <tr>
                        <td>Дополнительные сведения</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Номер издания</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Номер УДК</td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Текст</td>#}
                        {#<td>{{ pub.__get('text') | raw }}</td>#}
                    {#</tr>#}
                    <tr>
                        <td>Показано на naukaru.ru?</td>
                        <td>{{ pub.__get('is_show_nauka') ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Адрес в сети</td>
                        <td>{% if pub.__get('uri') is not empty %}<a href="{{ pub.__get('uri') }}" target="_blank">{{ pub.__get('uri') }}</a>{% endif %}</td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        <td>
                            {% if pub.__get('statuses') is not null and pub.__get('statuses').is_published %}
                                <span class="label label-success">Опубликовано</span>
                            {% else %}
                                <span class="label label-primary">В работе</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ pub.createdAt is not empty ? pub.createdAt : '' }}</td>
                    </tr>
                    <tr>
                        <td>Дата обновления</td>
                        <td>{{ pub.updatedAt is not empty ? pub.updatedAt : '' }}</td>
                    </tr>
                    <tr>
                        <td>Журнал</td>
                        <td>{{ pub.__get('journal_title') }}</td>
                    </tr>
                    <tr>
                        <td>Есть ли у произведения рецензенты?</td>
                        <td>{{ pub.__get('has_reviewers') ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Публиковалось ли произведение ранее?</td>
                        <td>{{ pub.__get('has_published') ? 'Да' : 'Нет' }}</td>
                    </tr>
                    <tr>
                        <td>Дата публикации произведения</td>
                        <td>{{ ((pub.__get('dt_publication_print') is defined) and ((pub.__get('dt_publication_print') != '0000-00-00')))
                            ? pub.__get('dt_publication_print')|date('d.m.Y') : '' }}</td>
                    </tr>
                    <tr>
                        <td>DOI</td>
                        <td><a href="http://dx.doi.org/{{ pub.__get('doi') }}" target="_blank">{{ pub.__get('doi') }}</a></td>
                    </tr>
                    <tr>
                        <td>Страница с</td>
                        <td>{{ pub.__get('first_page') }}</td>
                    </tr>
                    <tr>
                        <td>Страница по</td>
                        <td>{{ pub.__get('last_page') }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Классификаторы</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classif in classifs %}
                        <tr>
                            <td>{{ classif.name }}</td>
                            <td>
                                {% if  pub.__get('classif_'~classif.type) is iterable %}
                                    {% if pub.__get('classif_'~classif.type)|length > 0 %}
                                        <ul class="list-unstyled">
                                            {% for type in pub.__get('classif_'~classif.type) %}<li>{{ type }}</li>{% endfor %}
                                        </ul>
                                    {% else %}
                                        Не присвоен
                                    {% endif %}
                                {% else %}
                                    {{ pub.__get('classif_'~classif.type) ? pub.__get('classif_'~classif.type) : 'не присвоен' }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="{{ path('publication_authors',{'id':pub.__get('_id')}) }}"><span class="fa fa-user-plus"></span> Добавить автора</a>
                    <a class="btn btn-success" href="#">Пригласить авторов</a>
                </div>
            </div>

            <table class="table table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>ФИО автора</th>
                        {#<th>Email оповещение</th>#}
                        {#<th>Гонорар %</th>#}
                        {#<th>Город</th>#}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for author in pub.authors %}
                    <tr>
                        <td>{{ author.__get('last_name')~' '~author.__get('first_name')~' '~author.__get('second_name') }}</td>
                        {#<td></td>#}
                        {#<td><input type="text" class="form-control input-small"></td>#}
                        {#<td></td>#}
                        <td class="text-right">
                            <a href="{{ path('author_show',{'id':author.__get('_id')}) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#<div class="btn btn-primary">Изменить распределение гонорара</div>#}
            {#<br><br>#}

            {#<h4>Шаблон письма оповещения <br><small>(отправляется при первичной генерации договора или при отправке оповешения автору)</small></h4><br>#}

            {#<div class="form-group">#}
                {#<textarea id="html" class="form-control" rows="5"></textarea>#}
            {#</div>#}

            {#<button class="btn btn-success">Сохранить</button>#}
            {#<br><br>#}

            {#<p><strong>Переменные используемы а шаблоне:</strong></p>#}
            {#<ul class="list-unstyled">#}
                {#<li>{_NAME_} - Ф.И.О. автора</li>#}
                {#<li>{_CONTRACT_} - ссылка на договор</li>#}
                {#<li>{_PUB_TITLE_} - название произведения</li>#}
            {#</ul>#}
        </div>

        <div class="tab-pane" id="tab3">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Добавить главу</a>
            </div>

            {% if pub.chapters %}
                <table class="table table-striped vertical-align-middle">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Название</th>
                            <th>DOI</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for chapter in pub.chapters %}
                            <tr>
                                <td>{{ chapter.__get('num') }}</td>
                                <td data-toggle="collapse" data-target="#collapse-{{ loop.index }}">{{ chapter.__get('title') }}</td>
                                <td></td>
                                <td class="text-right">
                                    <div class="btn-group">
                                        <a class="btn btn-default" href="#" data-toggle="tooltip" data-container="body" title="Изменить данные">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                        <a class="btn btn-default" href="#" data-toggle="tooltip" data-container="body" title="Текст">
                                            <span class="fa fa-file-text-o"></span>
                                        </a>
                                        <a href="#" class="btn btn-default">
                                            <span class="fa fa-trash-o text-danger"></span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="collapse-row">
                                <td></td>
                                <td colspan="3">
                                    <div id="collapse-{{ loop.index }}" class="collapse">
                                        <table class="table-data">
                                            <tbody>
                                                <tr>
                                                    <td>Произведение</td>
                                                    <td>{{ pub.__get('ru').title }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Номер главы</td>
                                                    <td>{{ chapter.__get('num') }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Название</td>
                                                    <td>{{ chapter.__get('title') }}</td>
                                                </tr>
                                                <tr>
                                                    <td>Аннотация (рус)</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Аннотация (англ)</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Дата создания</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Дата публикации</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>DOI</td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td>Ссылка на znanium</td>
                                                    <td><a href="#" target="_blank"></a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger">В данное произведение еще не добавлено ни одной главы</div>
            {% endif %}
        </div>

        <div class="tab-pane" id="tab4">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Загрузить список</a>
            </div>

            <table class="table table-hover table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Источник</th>
                        <th>Источник (транслит)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for chapter in pub.__get('chapters') %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ chapter.title }}</td>
                        <td></td>
                        <td class="text-right">
                            <a href="#" class="btn btn-default">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab5">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="#">Сгенерировать договор</a>
                    <a class="btn btn-success" href="#">Приложить договор</a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab6">
            <table class="table table-striped vertical-align-middle">
                <thead>
                    <tr>
                        <th>Объект</th>
                        <th>Состояние</th>
                        <th>Действие</th>
                        <th>Задачи</th>
                    </tr>
                </thead>
                <tbody>
                    {#<tr>#}
                        {#<td>Состояние заявки на издание:</td>#}
                        {#<td><div class="label label-warning">Заявка принята</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Изображения:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Дополнительные сведения:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Текст:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Договор:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Рубрики:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>#}
                            {#<div class="btn-group btn-group-sm">#}
                                {#<a href="#" class="btn btn-default">Назначить рубрики</a>#}
                                {#<a href="#" class="btn btn-default">Делегировать</a>#}
                            {#</div>#}
                        {#</td>#}
                        {#<td></td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Рецензия:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Гриф:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Обложка:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Корректура:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Редактура:</td>#}
                        {#<td><div class="label label-warning">Заявка принята</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Макет:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Готовность:</td>#}
                        {#<td><div class="label label-success">Работы завершены</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Naukaru.ru:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Znanium.com:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td>нет</td>#}
                        {#<td>задач нет</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td>Academuspublishing.com:</td>#}
                        {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                        {#<td><a class="btn btn-sm btn-default" href="#">Опубликовать</a></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                    <tr>
                        <td>DOI:</td>
                        <td><a target="_blank" href="http://dx.doi.org/10.12737/2477">10.12737/2477</a></td>
                        <td><a class="btn btn-sm btn-default" href="#">Присвоить/обновить DOI</a></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>РИНЦ:</td>
                        <td>??</td>
                        <td><a class="btn btn-sm btn-default" href="#">Сгенерировать данные РИНЦ</a></td>
                        <td></td>
                    </tr>
                    {#<tr>#}
                        {#<td>Тарификация:</td>#}
                        {#<td>Тариф не выбран:0 руб.</td>#}
                        {#<td><a class="btn btn-sm btn-default" href="#">Установить стоимость</a></td>#}
                        {#<td></td>#}
                    {#</tr>#}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab7">
            <table class="table">
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Пользователь</th>
                        <th>Действие</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>11-09-2014 15:06:25</td>
                        <td>Букин Денис Юрьевич</td>
                        <td>Редактирование метаданных произведения. Изменено кол-во авторских листов произведения. Изменен номер УДК. </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>

    <script>
        $(function () {
            tinymce.init({
                selector: "#html",
                language: "ru",
                height: 500,
                plugins: [
                    "advlist autolink lists link image",
                    "searchreplace visualblocks code paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });
        });
    </script>
{% endblock %}