{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% block content %}

    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.conference, 'Конференция') }}
            {{ form_widget(form.conference, {'attr': {'class': 'form-control', 'data-size' : '15', 'data-live-search' : 'true'}}) }}
        </div>
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
    {{ form_end(form) }}

{% endblock %}