{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path('author_create') }}" class="btn btn-primary pull-right"
               id="publication_list_create"><span class="fa fa-user-plus"></span>Создать автора</a>
        {% endif %}
        <h3>
            Список авторов
            {% if pagination is defined %}
                <small class="sub-header">
                    Всего <strong>{{ pagination.getTotalItemCount }}</strong> авторов
                </small>
            {% endif %}
        </h3>
    </div>

    <div class="form-group">
        <ul class="nav nav-justified abc">
            {% set alphabet = 'А,Б,В,Г,Д,Е,Ё,Ж,З,И,Й,К,Л,М,Н,О,П,Р,С,Т,У,Ф,Х,Ц,Ч,Ш,Щ,Э,Ю,Я'|split(',') %}
            {% for char in alphabet %}
                <li{{ app.request.get('alphabet') == char ? ' class="active"' }}>
                    <a href="{{ path('authors_list', { 'alphabet': char }) }}">{{ char }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <form action="{{ path('authors_list') }}"  method="post" >
        <div class="form-group" id="publication_list">
            <div class="input-group">
                <input class="form-control" id="publication_list_search" name="search" value="{{ search_txt }}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div id="authors_list">
        {{ knp_pagination_render(pagination) }}

        <table id="ilist" class="table table-striped table-condensed table-align-vertical">
            <thead>
                <tr>
                    <th class="text-left">{{ knp_pagination_sortable(pagination, 'ID', '_id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Фамилия', 'last_name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Имя', 'first_name') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Отчество', 'second_name') }}</th>
                    <th class="text-center">
                        <span class="fa fa-cog"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for author in pagination %}
                    <tr>
                        <td>{{ author.id }}</td>
                        <td>{{ author.ru.last_name|default(null) }}</td>
                        <td>{{ author.ru.first_name|default(null) }}</td>
                        <td>{{ author.ru.second_name|default(null) }}</td>
                        <td class="td-sm">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-default">
                                    <span class="fa fa-eye"></span></a>
                                {% if is_granted('ROLE_EDIT') %}
                                    <a href="{{ path('author_edit',{ 'id': author.id }) }}" class="btn btn-default">
                                        <span class="fa fa-pencil-square-o"></span>
                                    </a>
                                {% endif %}
                                {#{% if is_granted('ROLE_DELETE') %}#}
                                    {#<a href="{{ path('author_remove',{ 'id': author.id }) }}" class="btn btn-default btn-remove">#}
                                        {#<span class="fa fa-trash-o text-danger"></span>#}
                                    {#</a>#}
                                {#{% endif %}#}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}