{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <a href="{{ path('author_edit',{ 'id': author.id }) }}" class="btn btn-primary pull-right">
            <span class="fa fa-pencil-square-o"></span> Редактировать
        </a>
        <h3>{{ author.lastName~' '~author.firstName~' '~author.secondName }}</h3>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Общие сведения</a></li>
        <li><a href="#tab2" data-toggle="tab">Научные сведения</a></li>
        <li><a href="#tab3" data-toggle="tab">Банковские реквизиты</a></li>
        <li><a href="#tab4" data-toggle="tab">Произведения</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table-data table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Личные данные</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Фамилия</td>
                        <td>{{ author.ru.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия (на английском языке)</td>
                        <td>{{ author.en.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ author.ru.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Имя (на английском языке)</td>
                        <td>{{ author.en.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Отчество</td>
                        <td>{{ author.ru.second_name }}</td>
                    </tr>
                    <tr>
                        <td>Второе имя (на английском)</td>
                        <td>{{ author.en.second_name|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Дата рождения</td>
                        <td>{{ author.birth|date('d.m.Y') }}</td>
                    </tr>
                    {% if author.dateEnd is not null %}
                    <tr>
                        <td>Дата смерти</td>
                        <td>{{ author.dateEnd is not null and author.dateEnd != '0000-00-00' and author.dateEnd is not empty ? author.dateEnd|date('d.m.Y') }}</td>
                    </tr>
                    {% endif %}
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Адрес регистрации</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Страна проживания</td>
                        <td>{{ author.regCountry ? author.regCountry.ru.title }}</td>
                    </tr>
                    <tr>
                        <td>Индекс</td>
                        <td>{{ author.regIndex }}</td>
                    </tr>
                    <tr>
                        <td>Город</td>
                        <td>{{ author.regCity }}</td>
                    </tr>
                    <tr>
                        <td>Область проживания</td>
                        <td>{{ author.regRegion ? author.regRegion.ru.title }}</td>
                    </tr>
                    <tr>
                        <td>Адрес регистрации</td>
                        <td>{{ author.regAdress }}</td>
                    </tr>
                </tbody>
                {% if author.workplaces|length > 0 %}
                <thead>
                <tr>
                    <th colspan="2">Информация о работе</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2">
                        <ul>
                            {% for job in author.workplaces %}
                            <li>{{ job.place.ru.title }} ({{ job.department }}, {{ job.position }})</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                </tbody>
                {% endif %}
                {% if author.hasFactAddr %}
                <thead>
                <tr>
                    <th colspan="2">Адрес фактического проживания</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Страна фактического проживания</td>
                        <td>{{ author.country ? author.country.ru.title }}</td>
                    </tr>
                    <tr>
                        <td>Фактический индекс</td>
                        <td>{{ author.factIndex }}</td>
                    </tr>
                    <tr>
                        <td>Фактический город</td>
                        <td>{{ author.city }}</td>
                    </tr>
                    <tr>
                        <td>Область фактического проживания</td>
                        <td>{{ author.region ? author.region.ru.title }}</td>
                    </tr>
                    <tr>
                        <td>Адрес фактического проживания</td>
                        <td>{{ author.factAdress }}</td>
                    </tr>
                </tbody>
                {% endif %}
                <thead>
                    <th colspan="2">Контактные данные</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Телефон</td>
                        <td>{{ author.cellPhone }}</td>
                    </tr>
                    <tr>
                        <td>Электронная почта</td>
                        <td>{% if author.email is not null %}<a href="mailto:{{ author.email }}">{{ author.email }}</a>{% endif %}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Паспортные данные</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Серия</td>
                        <td>{{ author.passSeria }}</td>
                    </tr>
                    <tr>
                        <td>Номер</td>
                        <td>{{ author.passNumber }}</td>
                    </tr>
                    <tr>
                        <td>Дата выдачи</td>
                        <td>{{ author.passDt is not null and author.passDt is not empty ? author.passDt|date('d.m.Y') }}</td>
                    </tr>
                    <tr>
                        <td>Код подразделения</td>
                        <td>{{ author.passCode }}</td>
                    </tr>
                    <tr>
                        <td>Кем выдан</td>
                        <td>{{ author.passGiven }}</td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Идентификационные номера</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ORCID</td>
                        <td>{{ author.orcidId }}</td>
                    </tr>
                    <tr>
                        <td>СНИЛС</td>
                        <td>{{ author.snils }}</td>
                    </tr>
                    <tr>
                        <td>ИНН</td>
                        <td>{{ author.inn }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <table class="table-data">
                <thead>
                    <tr>
                        <th colspan="2">Авторские профили</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ссылка на профиль автора в Scopus</td>
                        <td><a href="{{ author.scopus }}" target="_blank">{{ author.scopus }}</a></td>
                    </tr>
                    <tr>
                        <td>Ссылка на профиль автора в ResearcherID</td>
                        <td><a href="{{ author.scopus }}" target="_blank">{{ author.researcherid }}</a></td>
                    </tr>
                    <tr>
                        <td>Ссылка на профиль автора в РИНЦ</td>
                        <td><a href="{{ author.scopus }}" target="_blank">{{ author.rinc }}</a></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="2">Степень и звания</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ученые степени</td>
                        <td>{% for item in author.degreeList %}{{ item.degree.ru.title }} {{ item.science.ru.title }}{{ loop.last ? '' : ', ' }}{% endfor %}</td>
                    </tr>
                    <tr>
                        <td>Ученое звание</td>
                        <td>{{ author.scienceRang.ru.title|default(null) }}</td>
                    </tr>
                    <tr>
                        <td>Почетное звание</td>
                        <td>{{ author.academicTitle }}</td>
                    </tr>
                    <tr>
                        <td>Готов ли вы рецензировать произведения?</td>
                        <td>{{ author.isReviewer ? 'Да' : 'Нет' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab3">
            <table class="table-data">
                <thead>
                    <tr>
                        <th colspan="2">Реквизиты</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ФИО получателя</td>
                        <td class="td-lg">{{ author.bankReciver }}</td>
                    </tr>
                    <tr>
                        <td>Номер банковского счета</td>
                        <td>{{ author.bankAccount }}</td>
                    </tr>
                    <tr>
                        <td>Наименование банка</td>
                        <td>{{ author.bankName }}</td>
                    </tr>
                    <tr>
                        <td>Корреспондентский счет банка</td>
                        <td>{{ author.bankCoaccount }}</td>
                    </tr>
                    <tr>
                        <td>БИК Банка</td>
                        <td>{{ author.bankBik }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab4">
            {% if pubs.articles|length > 0 %}
                <h3>Статьи</h3>
                <table class="table teable-border table-hover">
                    <thead>
                    <tr>
                        <th class="text-right">ID</th>
                        <th>Название статьи</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Дата обновления</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publication in pubs.articles %}
                        <tr>
                            <td class="text-right">{{ publication.id }}</td>
                            <td>{{ publication.ru['title'] is defined ? publication.ru['title'] : '' }}</td>
                            {% if publication.statuses['status'] == 300 %}
                                <td><span class="label label-success">Опубликовано</span></td>
                            {% endif %}
                            {% if publication.statuses['status'] == 200 %}
                                <td><span class="label label-primary">В работе</span></td>
                            {% endif %}
                            <td>{{ publication.createdAt|date('d.m.Y H:i') }}</td>
                            <td>{{ publication.updatedAt|date('d.m.Y H:i') }}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href="{{ path('article_show', { 'id': publication.id }) }}" class="btn btn-default">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if pubs.textbooks|length > 0 %}
                <h3>Учебники</h3>
                <table class="table teable-border table-hover">
                    <thead>
                    <tr>
                        <th class="text-right">ID</th>
                        <th>Название учебника</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Дата обновления</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publication in pubs.textbooks %}
                        <tr>
                            <td class="text-right">{{ publication.id }}</td>
                            <td>{{ publication.ru['title'] is defined ? publication.ru['title'] : '' }}</td>
                            {% if publication.statuses['is_published'] %}
                                <td><span class="label label-success">Опубликовано</span></td>
                            {% else %}
                                <td><span class="label label-primary">В работе</span></td>
                            {% endif %}
                            <td>{{ publication.createdAt|date('d.m.Y H:i') }}</td>
                            <td>{{ publication.updatedAt|date('d.m.Y H:i') }}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a href="{{ path('textbook_show', { 'id': publication.id }) }}" class="btn btn-default">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            {% if pubs.monographys|length > 0 %}
                <h3>Монографии</h3>
                <table class="table teable-border table-hover">
                    <thead>
                    <tr>
                        <th class="text-right">ID</th>
                        <th>Название монографии</th>
                        <th>Статус</th>
                        <th>Дата создания</th>
                        <th>Дата обновления</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publication in pubs.monographys %}
                        <tr>
                            <td class="text-right">{{ publication.id }}</td>
                            <td>{{ publication.ru['title'] is defined ? publication.ru['title'] : '' }}</td>
                            {% if publication.statuses['is_published'] %}
                                <td><span class="label label-success">Опубликовано</span></td>
                            {% else %}
                                <td><span class="label label-primary">В работе</span></td>
                            {% endif %}
                            <td>{{ publication.createdAt|date('d.m.Y H:i') }}</td>
                            <td>{{ publication.updatedAt|date('d.m.Y H:i') }}</td>
                            <td class="text-right">
                                <div class="btn-group">
                                    {# @ToDo когда появится роут - заменить #}
                                    {#<a href="{{ path('monography_show', { 'id': publication.id }) }}" class="btn#}
                                    <a href="{{ path('monography_show', { 'id': publication.id }) }}"
                                       class="btn btn-default">
                                        <span class="fa fa-eye"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}