{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if app.session.get('way[route]') is not null %}
            <a href="{{ path(app.session.get('way[route]'), { id: app.session.get('way[id]')}) }}"
               class="btn btn-warning pull-right">Вернуться к произведению</a>
        {% endif %}
        <h3>Научные степени</h3>
    </div>

    <div class="well">
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="form-group col-md-5">
                {{ form_widget(form.degree) }}
            </div>
            <div class="form-group col-md-5">
                {{ form_widget(form.science) }}
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">{{'form.button.add'|trans}}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {% if entity.degreeList|length == 0 %}
        <div class="alert alert-info" role="alert">{{ 'author.degree.empty'|trans }}</div>
    {% else %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Позиция</th>
                <th>Научная степень</th>
                <th class="col-md-2 text-right"><i class="fa fa-cog"></i></th>
            </tr>
            </thead>
            <tbody>
            {% for item in entity.degreeList %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ item.degree.ru.title }} {{ item.science.ru.title }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            {% if not loop.first %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="down">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                            {% endif %}
                            {% if not loop.last %}
                                <button class="btn btn-default btn-sm" type="button" data-pos="{{ loop.index - 1 }}"
                                        data-toggle="position" data-direction="up">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            {% endif %}
                        </div>
                        <a href="{{ path('author_degree_remove', {'id': app.request.get('id'), 'degreeId': item.id}) }}"
                           class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block page_script %}
    <script>
        $(document).ready(function () {
            $('[data-toggle="position"]').each(function () {
                $(this).on('click', function () {
                    var oldPos = $(this).data('pos'),
                            posDirection = $(this).data('direction'),
                            newPos = false;
                    switch (posDirection) {
                        case 'up':
                            newPos = oldPos + 2;
                            break;
                        case 'down':
                            newPos = oldPos;
                            if (oldPos > 0) {
                                newPos = oldPos - 1;
                            }
                            break;
                    }

                    window.location.href = Routing.generate('sortable_collection', {
                        docId: {{ app.request.get('id') }},
                        newPos: newPos,
                        oldPos: oldPos,
                        docName: 'author',
                        property: 'degree_list'
                    });
                });
            });
        });
    </script>
{% endblock page_script %}
