{% if app.request.get('id') != 0 %}
    {% set extendsFile = "AsuBundle:Default:pagetwocol.html.twig" %}
{% endif %}
{% extends extendsFile|default("AsuBundle:Default:pageonecol.html.twig") %}
{% form_theme form "AsuBundle:Parts/Form:fields.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if app.session.get('way[route]') is not null %}
            <a href="{{ path(app.session.get('way[route]'), { id: app.session.get('way[id]')}) }}"
               class="btn btn-warning pull-right">Вернуться к произведению</a>
        {% endif %}
        <h3>{% if app.request.get('id') != 0 %}Редактирование автора "{{ form.vars.data.ru.last_name }} {{ form.vars.data.ru.first_name }} {{ form.vars.data.ru.second_name }}"{% else %}Создание нового автора{% endif %}</h3>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#common" aria-controls="common" role="tab"
                                                  data-toggle="tab">{{ 'form.editorum.author.title.common'|trans }}</a>
        <li role="presentation"><a href="#science" aria-controls="common" role="tab"
                                   data-toggle="tab">{{ 'form.editorum.author.title.science'|trans }}</a>
        <li role="presentation"><a href="#finance" aria-controls="common" role="tab"
                                   data-toggle="tab">{{ 'form.editorum.author.title.finance'|trans }}</a>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="common">
            <div data-toggle="collapse" data-target="#fio">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.fio'|trans }}</h4>
            </div>
            <div class="row collapse in" id="fio">
                <div class="row col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_label(form.ru.last_name) }}
                        <small>| {{ ru }}</small>
                        {{ form_widget(form.ru.last_name) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.ru.first_name) }}
                        <small>| {{ ru }}</small>
                        {{ form_widget(form.ru.first_name) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.ru.second_name) }}
                        <small>| {{ ru }}</small>
                        {{ form_widget(form.ru.second_name) }}
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="form-group col-md-4">
                        {{ form_label(form.en.last_name) }}
                        <small>| {{ en }}</small>
                        {{ form_widget(form.en.last_name) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.en.first_name) }}
                        <small>| {{ en }}</small>
                        {{ form_widget(form.en.first_name) }}
                    </div>
                    <div class="form-group col-md-4">
                        {{ form_label(form.en.second_name) }}
                        <small>| {{ en }}</small>
                        {{ form_widget(form.en.second_name) }}
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#lifetime">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.lifetime'|trans }}</h4>
            </div>
            <div class="row collapse in" id="lifetime">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.birth) }}
                        {{ form_widget(form.birth) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.date_end) }}
                        {{ form_widget(form.date_end) }}
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#address">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.address'|trans }}</h4>
            </div>
            <div class="row collapse in" id="address">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.reg_country) }}
                        {{ form_widget(form.reg_country) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.reg_region) }}
                        {{ form_widget(form.reg_region) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.reg_index) }}
                        {{ form_widget(form.reg_index) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.reg_city) }}
                        {{ form_widget(form.reg_city) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-12">
                        {{ form_label(form.reg_adress) }}
                        {{ form_widget(form.reg_adress) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-12">
                        {{ form_label(form.has_fact_addr) }}
                        {{ form_widget(form.has_fact_addr) }}
                    </div>
                </div>

                <div id="fact_addr">
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.region) }}
                            {{ form_widget(form.region) }}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-6">
                            {{ form_label(form.fact_index) }}
                            {{ form_widget(form.fact_index) }}
                        </div>
                        <div class="form-group col-md-6">
                            {{ form_label(form.city) }}
                            {{ form_widget(form.city) }}
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="form-group col-md-12">
                            {{ form_label(form.fact_adress) }}
                            {{ form_widget(form.fact_adress) }}
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#contacts">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.contacts'|trans }}</h4>
            </div>
            <div class="row collapse in" id="contacts">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.cell_phone) }}
                        {{ form_widget(form.cell_phone) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#passport">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.passport'|trans }}</h4>
            </div>
            <div class="row collapse in" id="passport">
                <div class="row col-md-12">
                    <div class="form-group col-md-3">
                        {{ form_label(form.pass_seria) }}
                        {{ form_widget(form.pass_seria) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.pass_number) }}
                        {{ form_widget(form.pass_number) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.pass_code) }}
                        {{ form_widget(form.pass_code) }}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form_label(form.pass_dt) }}
                        {{ form_widget(form.pass_dt) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-12">
                        {{ form_label(form.pass_given) }}
                        {{ form_widget(form.pass_given) }}
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#id">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.id'|trans }}</h4>
            </div>
            <div class="row collapse in" id="id">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.snils) }}
                        {{ form_widget(form.snils) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.inn) }}
                        {{ form_widget(form.inn) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane" role="tabpanel" id="science">
            {{ form_row(form.is_reviewer) }}
            <div data-toggle="collapse" data-target="#profile">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.profile'|trans }}</h4>
            </div>
            <div class="row collapse in" id="profile">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <a href="http://www.scopus.com/search/form/authorFreeLookup.url" target="_blank"
                           class="pull-right" data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="Профиль на сайте Scopus">
                            <span class="fa fa-link"></span>
                        </a>
                        {{ form_label(form.scopus) }}
                        {{ form_widget(form.scopus) }}
                    </div>
                    <div class="form-group col-md-6">
                        <a href="http://www.researcherid.com/" target="_blank" class="pull-right"
                           data-toggle="tooltip"
                           data-placement="top" title="" data-original-title="Профиль на сайте ResearcherID">
                            <span class="fa fa-link"></span>
                        </a>
                        {{ form_label(form.researcherid) }}
                        {{ form_widget(form.researcherid) }}
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        <a href="http://elibrary.ru/authors.asp" target="_blank" class="pull-right"
                           data-toggle="tooltip" data-placement="top" title=""
                           data-original-title="Профиль на сайте РИНЦ">
                            <span class="fa fa-link"></span>
                        </a>
                        {{ form_label(form.rinc) }}
                        {{ form_widget(form.rinc) }}
                    </div>
                    <div class="form-group col-md-6">
                        <a href="http://orcid.org/" target="_blank" class="pull-right" data-toggle="tooltip"
                           data-placement="top" title="" data-original-title="Профиль на сайте ORCID">
                            <span class="fa fa-link"></span>
                        </a>
                        {{ form_label(form.orcid_id) }}
                        {{ form_widget(form.orcid_id) }}
                    </div>
                </div>
            </div>

            <hr>

            <div data-toggle="collapse" data-target="#rang">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>{{ 'form.editorum.author.subtitle.rang'|trans }}</h4>
            </div>
            <div class="row collapse in" id="rang">
                <div class="row col-md-12">
                    <div class="form-group col-md-6">
                        {{ form_label(form.science_rang) }}
                        {{ form_widget(form.science_rang) }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form_label(form.academic_title) }}
                        {{ form_widget(form.academic_title) }}
                    </div>
                </div>
            </div>

        </div>

        <div class="tab-pane" role="tabpanel" id="finance">
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_label(form.bank_reciver) }}
                    {{ form_widget(form.bank_reciver) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.bank_account) }}
                    {{ form_widget(form.bank_account) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.bank_name) }}
                    {{ form_widget(form.bank_name) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    {{ form_label(form.bank_coaccount) }}
                    {{ form_widget(form.bank_coaccount) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_label(form.bank_bik) }}
                    {{ form_widget(form.bank_bik) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <div id="author">
        <div class="btnPrevious"></div>
        <div class="btnNext"></div>
    </div>
    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script>
        $.maskAll({
            '#{{ form.vars.name }}_cell_phone': '+7 (999) 999-99-99',
            '#{{ form.vars.name }}_pass_seria': '99 99',
            '#{{ form.vars.name }}_pass_number': '999999',
            '#{{ form.vars.name }}_pass_code': '999-999'
        });
        $('#{{ form.vars.name }}_has_fact_addr').showAndHide('#fact_addr');
        $('#author').tabbedStep();

        $('#{{ form.country.vars.id }}').disableSelect('#{{ form.region.vars.id }}');
        $('#{{ form.reg_country.vars.id }}').disableSelect('#{{ form.reg_region.vars.id }}');
    </script>
{% endblock page_script %}
