{% extends '@Asu/Default/pageonecol.html.twig' %}

{% block content %}
<div class="page-header">
    <a href="{{ path('role_new') }}" class="btn btn-default pull-right" id="privilegie_create">Создать привилегию</a>

    <h3>Список привилегий
        {% if roles is defined %}
            <small class="sub-header">
                Всего <strong>{{ roles.getTotalItemCount }}</strong> привилегий
            </small>
        {% endif %}
    </h3>
</div>

<div id="role_list">

    {{ knp_pagination_render(roles) }}

    <table class="table table-bordered table-striped vertical-align-middle">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(roles, 'Название', 'name') }}</th>
            <th>{{ knp_pagination_sortable(roles, 'Системное название', 'systemName') }}</th>
            <th>Описание</th>
            <th>Наследуемые привилегии</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.systemName }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <ul>
                        {% for child in role.childrens %}
                            <li>{{ child.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="btn-group">
                        <a href="{{ path('role_edit', {'id': role.id}) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                        <a href="{{ path('role_remove', {'id': role.id}) }}" class="btn btn-default">
                            <span class="fa fa-trash-o text-danger"></span>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(roles) }}

</div>

{% endblock content %}
