{% extends '@Asu/Default/pageonecol.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Добавление привилегии</h3>
    </div>

    {{ form_start(form) }}
    <div class="form-group col-xs-6">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group col-xs-6">
        {{ form_label(form.system_name) }}
        {{ form_widget(form.system_name) }}
    </div>
    <div class="form-group col-xs-12">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
    </div>
    <div class="form-group col-xs-12">
        {{ form_label(form.childrens) }}
        {{ form_widget(form.childrens) }}
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <a href="{{ path('role_list') }}" class="btn btn-default">Отмена</a>
        </div>
        <div class="form-group col-xs-6 text-right">
            <button class="btn btn-success">Добавить привилегию</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock content %}