{% extends 'JournalsBundle:Base/RequestStep:main.html.twig' %}

{% block step_content %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.title) }}
                <small>| {{ 'ru'|trans }}</small>
                {{ form_widget(form.ru.title) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_label(form.ru.keywords) }}
            <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.keywords) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.title) }}
                <small>| {{ 'en'|trans }}</small>
                {{ form_widget(form.en.title) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_label(form.en.keywords) }}
            <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.keywords) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_label(form.ru.annotation) }}
            <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.annotation) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_label(form.en.annotation) }}
            <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.annotation) }}
        </div>
    </div>
    {{ form_widget(form) }}

{% endblock step_content %}

{% block page_script %}
    {{ parent() }}

    <script src="{{ asset('bundles/asu/js/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/mathquill.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('{{ form.vars.name }}[{{ form.ru.vars.name }}][{{ form.ru.annotation.vars.name }}]');
            CKEDITOR.replace('{{ form.vars.name }}[{{ form.en.vars.name }}][{{ form.en.annotation.vars.name }}]');

            $("#{{ form.depofile.vars.id }}").fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
                maxFileSize: 15728640,
                removeFromPreviewOnError: true,
                overwriteInitial: false
            }).on('filebatchuploadsuccess', function (event, data) {
                var out = '';
                if (data.files.length > 0) {
                    $.each(data.files, function (key, file) {
                        out = out + '<li>' + 'Файл # ' + (key + 1) + ' - ' + file.name + ' загружен.' + '</li>';
                    });
                    $('.file-preview-status').after('<div class="alert alert-success" id="files-alert"><button type="button" class="close" data-dismiss="alert">&times;</button><ul>' + out + '</ul></div>');
                }
            }).on('filebatchselected', function (event, files) {
                $('#files-alert').remove();
            });
        });
    </script>
{% endblock page_script %}
