{% extends 'JournalsBundle:Base/RequestStep:main.html.twig' %}

{% block step_content %}
    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.ru.last_name) }}
            <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.last_name) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.ru.first_name) }}
            <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.first_name) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.ru.second_name) }}
            <small>| {{ 'ru'|trans }}</small>
            {{ form_widget(form.ru.second_name) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_label(form.en.last_name) }}
            <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.last_name) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.en.first_name) }}
            <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.first_name) }}
        </div>
        <div class="col-md-4">
            {{ form_label(form.en.second_name) }}
            <small>| {{ 'en'|trans }}</small>
            {{ form_widget(form.en.second_name) }}
        </div>
    </div>
    {{ form_widget(form) }}
{% endblock step_content %}
