{% extends 'JournalsBundle:Base/RequestStep:main.html.twig' %}

{% block step_content %}
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                {{ form_label(form.active_conference) }}
                {{ form_widget(form.active_conference) }}
            </div>
            <div class="col-md-12">
                {{ form_label(form.section) }}
                {{ form_widget(form.section) }}
            </div>
        </div>
    </div>
{% endblock step_content %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            var section = function (object) {
                var conferenceId = object.val();
                $.get(
                        Routing.generate('process_sections_by_conference', { id: conferenceId }),
                        {},
                        function (response) {
                            var target = $('#{{ form.section.vars.id }}');

                            target
                                .find('option')
                                .remove()
                                .end()
                            ;

                            for (key in response) {
                                target.append('<option value="'+key+'">'+response[key]+'</option>');
                            }

                            target.selectpicker('refresh');
                            target.selectpicker('render');
                        },
                        'json'
                );
            };

            section($('#{{ form.active_conference.vars.id }} option:selected'));
            $('#{{ form.active_conference.vars.id }}').on('changed.bs.select', function () {
                section($(this));
            });
        });
    </script>
{% endblock %}

