{% extends 'JournalsBundle:Base/RequestStep:main.html.twig' %}
{% form_theme degree_form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block step_content %}
    <div class="row well">
        {{ form_start(degree_form) }}
        <div class="col-md-6">
            {{ form_label(degree_form.degree) }}
            {{ form_widget(degree_form.degree) }}
        </div>
        <div class="col-md-6">
            {{ form_label(degree_form.science) }}
            {{ form_widget(degree_form.science) }}
        </div>
        {{ form_widget(degree_form) }}

        <div class="col-md-12 text-right">
            <br>
            <button type="submit" class="btn btn-primary">{{'form.button.add'|trans}}</button>
        </div>
        {{ form_end(degree_form) }}
    </div>

    {% if degree_list|length == 0 %}
        <div class="alert alert-info">{{ 'request.degree.empty'|trans({}, 'flow_steps') }}</div>
    {% endif %}

    {% for degree in degree_list %}
        {% if loop.first %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Позиция</th>
                    <th>Степень</th>
                </tr>
                </thead>
                <tbody>
        {% endif %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ degree.degree.ru.title }} {{ degree.science.ru.title }}</td>
            </tr>
        {% if loop.last %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock step_content %}
