{% extends 'JournalsBundle:Base/RequestStep:main.html.twig' %}
{% form_theme job_form 'AsuBundle:Parts/Form:fields.html.twig' %}

{% block step_content %}
    <div class="well">
        {{ form_start(job_form) }}

        {{ form_widget(job_form.is_exists) }}

        <div id="selectList">
            {{ form_row(job_form.is_vuz) }}
            <div id="vuz">
                <div class="form-group">
                    {{ form_label(job_form.vuz) }}
                    {{ form_widget(job_form.vuz) }}
                </div>
            </div>
            <div id="corporate">
                <div class="form-group">
                    {{ form_label(job_form.corporate) }}
                    {{ form_widget(job_form.corporate) }}
                </div>
            </div>
        </div>
        <div id="byHand">
            <div class="row">
                <div class="form-group col-md-12">
                    {{ form_label(job_form.hand.title) }}
                    {{ form_widget(job_form.hand.title) }}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{ form_label(job_form.hand.country) }}
                    {{ form_widget(job_form.hand.country) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(job_form.hand.city.ru) }}
                    <small>| {{ 'ru'|trans }}</small>
                    {{ form_widget(job_form.hand.city.ru) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_label(job_form.hand.city.en) }}
                    <small>| {{ 'en'|trans }}</small>
                    {{ form_widget(job_form.hand.city.en) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                {{ form_label(job_form.department) }}
                {{ form_widget(job_form.department) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(job_form.position) }}
                {{ form_widget(job_form.position) }}
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12 text-right">
                <button type="submit" class="btn btn-primary">{{ 'form.button.add'|trans }}</button>
            </div>
        </div>
        {{ form_end(job_form) }}
    </div>

    {% if jobs|length == 0 %}
        <div class="alert alert-info" role="alert">{{ 'request.job.empty'|trans({}, 'flow_steps') }}</div>
    {% endif %}

    {% for job in jobs %}
        {% if loop.first %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Позиция</th>
                    <th>Организация</th>
                    <th>Департамент</th>
                    <th>Должность</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
        {% endif %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ job.place.ru.title|default(null) }}</td>
                    <td>{{ job.department }}</td>
                    <td>{{ job.position }}</td>
                    <td></td>
                </tr>
        {% if loop.last %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock step_content %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $("#{{ job_form.vars.name }}_is_exists").showBySelect('#selectList', '#byHand');
            $("#{{ job_form.vars.name }}_is_vuz").showBySelect('#vuz', '#corporate');
        });
    </script>
{% endblock page_script %}