{% extends "UserBundle::layout.html.twig" %}

{% block content %}
    <h2>Профиль пользователя</h2>
    <br />

    <div class="row">
        <div class="col-lg-4 col-md-4 text-center">
            <div style="display: inline-block; width: 250px; height: 300px; background-color: ghostwhite; margin: 10px;">

            </div>
            <a href="#" class="btn btn-success">
                Изменить аватар
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
        <div class="col-lg-8 col-md-8">
            <table class="table table-hover table-border">
                <thead>
                <tr>
                    <th colspan="2">Персональная информация</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Фамилия</th>
                    <td>{{ app.user.lastName }}</td>
                </tr>
                <tr>
                    <th>Имя</th>
                    <td>{{ app.user.firstName }}</td>
                </tr>
                <tr>
                    <th>Отчество</th>
                    <td>{{ app.user.secondName }}</td>
                </tr>
                <tr>
                    <th>E-mail</th>
                    <td>{{ app.user.email }}</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="xs-12 sm-12 md-12 lg-12 text-right">
            <a href="/nauka/flow/request/conference_article" class="btn btn-primary">
                Подать заявку на публикацию
                <span class="glyphicon glyphicon-upload"></span>
            </a>
        </div>
    </div>



{% endblock content %}
