header{
    padding-bottom: 0;

}
@font-face {
    font-family: MuseoSansCyrl_2;
    src: local("MuseoSansCyrl_2"),
    url(/bundles/asu/fonts/MuseoSansCyrl_2.otf);
}
#position_top{

    height: 64px;
}
#admin-top-menu .navbar-brand{
    margin: 10px 0 0 0 !important;
}
#admin-top-menu{
    background-color: #2f2f2f;
    border-radius: 0px;
    color: #e0e0e0;
    height: 64px;
    font-family: MuseoSansCyrl_2, arial;
}
#admin-top-menu .dropdown-toggle{
    height: 63px;
    line-height: 34px;
}
#admin-top-menu a{
    color: #e0e0e0;

}
#admin-top-menu .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color: #6c6a6a;
}
#admin-top-menu .dropdown-menu {
    background-color: #2f2f2f;
}
#admin-top-menu .dropdown-menu>li>a:hover{
    background-color: #6c6a6a;
}
#admin-top-menu .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: #6c6a6a;
}




footer{
    background-color: #2f2f2f;
    height: 48px;
    text-align: center;
    padding-top: 15px;
    font-family: MuseoSansCyrl_2, arial;
    position: fixed;
    z-index: 200;
}
.wrapper-content{
    background-color: #f2f2f2;
    min-height: 100%;

}
.content{
    padding-top: 100px;
    padding-bottom: 100px;
}
.form-table {
    border-spacing: 0px;
    width: 100%;
    height: 100%
}

.form-table td:first-child {
    width: 70%;
}

.form-table td:last-child {
    vertical-align: middle;
    height: 100%;
}

.form-table td{
    // border: 1px solid red;
    padding: 10px;
    vertical-align: top;
}
#position_left{
    padding-top: 20px;
}
.bootstrap-select .dropdown-header{
    text-transform: uppercase;
}
.tab-content{
    padding-top: 20px;
}

/* Функциональные стили Editorum */
.ed-info {
    border-radius: 5px;
    background-color: #e3e3e3;
    padding: 10px;
}

.ed-hidden {
    display: none;
}

.ed-message {
    height: 100%;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    padding: 10px;
}


.ed-message-error {
    border-color: #a94442;
}

.ed-message-success {
    border-color: #44a944;
}

.isfilled a {
    color: #58c468;
}

h1 {
    font-size: 16pt;
    margin-top: 0px;
    border-bottom: 1px solid lightgray;
}

h2 {
    font-size: 14pt;
}

.zupload {
    border-radius: 10px;
    border: 5px solid lightgray;
}

.zupload h1 {
    color: #9d9d9d;
    text-align: center;
    border-bottom: 0px;
}

.notavailable a {
    color: #aaa;
}
.ordered-list{
    margin-bottom: 20px;
    padding: 0;
}
.ordered-list li{
    list-style-position: inside;
    margin-bottom: 10px;
}
.ordered-list .fa{
    cursor: pointer;
    margin-left: 5px;
}
textarea{
    resize: vertical;
}

.modal-wide{
    width: 50%;
}

.left-menu {
    background-color: #bfcad2;
    height: 100%;
    width: 128px;
    float: left;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
}


.left-menu ul {
    background-color: #bfcad2;
    position: absolute;
    top: -50px;
}

.left-menu ul.menu {
    padding: 128px 0 0 0;
    bottom: 0;
}

.left-menu li.node1 {
    width: 110px;
    height: 110px;
    margin-left: 8px;
    list-style-type: none;
}
.left-menu li.node1:hover {
  background-color: #aebdc8;
}

.left-menu li.node1:hover .categories-panel {
    left: 128px;
}

.left-menu li.node1 a {
    color: #2d2f65;
    text-align: center;
    height: 15px;
    display: block;
    position: relative;
    z-index: 5;
    font-family: MuseoSansCyrl_2, arial;
}
.left-menu li.node1 a:hover {
    text-decoration: none;
}
.left-menu li.node1{
    background-position: 23px 10px;
    background-repeat: no-repeat;
}

.left-menu li.node1:nth-child(1){
    background-image:  url(/bundles/asu/images/left_menu_publisher.png);
}
.left-menu li.node1:nth-child(2){
    background-image:  url(/bundles/asu/images/left_menu_settings.png);
}

.left-menu li.node1:nth-child(3){
    background-image:  url(/bundles/asu/images/left_menu_main.png);
}
.left-menu li.node1:nth-child(4){
    background-image:  url(/bundles/asu/images/left_menu_library.png);
}
.left-menu li.node1:nth-child(5){
    background-image:  url(/bundles/asu/images/left_menu_modules.png);
}
.left-menu li.node1:nth-child(6){
    background-image:  url(/bundles/asu/images/left_menu_mysites.png);
}
.left-menu .parent {
     padding: 80px 0 16px 0;
}

.categories-panel {
    background: #d5dee5;
    height: 100%;
    width: 284px;
    position: fixed;
    top: 63px;
    left: -400px;
    z-index: -1;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.left-menu li ul {
    background: none;
    overflow: visible;
    position: relative;
    top: 0;
}

.left-menu li ul li {
    width: 265px;
    height: 35px;
    padding: 0;
    position: relative;
    left: -30px;
    margin-top: 10px;
    list-style-type: none;
    text-align: left;
}
.left-menu li ul li:hover {
    background-color: #aebdc8;
}

.left-menu li ul li a {
    color: #4e5055;
    font-size: 12px;
    font-family: MuseoSansCyrl_2, arial;
     text-align: left;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    display: block;
     margin-left: 36px;
    float: left;
    clear: both;
    margin-top: 9px;
 }

.left-menu li ul li a:hover {
    color: #494b8b;
}
.left-menu li.active {
    background-color: #aebdc8;
}

.list_elements_parent{
    background-image:  url(/bundles/asu/images/arrow_toggle.png);
    background-position: 15px 13px;
    background-repeat: no-repeat;
}
.list_elements_parent_click{
    background-image:  url(/bundles/asu/images/arrow_un_toggle.png);
}