{% extends "@Asu/Default/templates/authors.html.twig" %}

{% set ajax_load_route = 'textbook_author_ajax' %}
{% set author_remove_route = 'textbook_author_remove' %}
{% set author_article_route = 'textbook_authors' %}