{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        {% if is_granted('ROLE_EDIT') %}
            <a href="{{ path('textbook_edit', {'id': app.request.get('id')}) }}" class="btn btn-primary pull-right">
                <span class="fa fa-pencil-square-o"></span> Редактировать
            </a>
        {% endif %}
        <h3>Просмотр произведения</h3>
    </div>

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tab1" data-toggle="tab">Метаданные</a></li>
        <li><a href="#tab2" data-toggle="tab">Авторы</a></li>
        <li><a href="#tab3" data-toggle="tab">Главы</a></li>
        {#<li><a href="#tab4" data-toggle="tab">Спислит</a></li>#}
        <!--li><a href="#tab5" data-toggle="tab">Договоры</a></li-->
        <li><a href="#tab6" data-toggle="tab">Управление</a></li>
        {#<li><a href="#tab7" data-toggle="tab">История</a></li>#}
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <table class="table-data">
                <thead>
                <tr>
                    <th colspan="2">Общие сведения</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-md-2 head">Язык</td>
                    <td>{{ entity.lang }}</td>
                </tr>
                <tr>
                    <td>Название (RUS)</td>
                    <td><h4>{{ entity.ru.title }}</h4></td>
                </tr>
                <tr>
                    <td>Аннотация (RUS)</td>
                    <td>{{ entity.ru.annotation }}</td>
                </tr>
                <tr>
                    <td>Ключевые слова (RUS)</td>
                    <td>{{ entity.ru.keywords }}</td>
                </tr>
                <tr>
                    <td>Дата публикации</td>
                    <td>{{ entity.datePublished|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td>Объем произведения в авторских листах</td>
                    <td>{{ entity.authorPages }}</td>
                </tr>
                <tr>
                    <td>Всего страниц</td>
                    <td>{{ entity.pageTotal }}</td>
                </tr>
                <tr>
                    <td>ISBN</td>
                    <td>{{ entity.isbn }}</td>
                </tr>
                <tr>
                    <td>ISBN-онлайн</td>
                    <td>{{ entity.isbnOnline }}</td>
                </tr>
                <tr>
                    <td>DOI</td>
                    <td><a href="http://dx.doi.org/{{ entity.doi }}" target="_blank">{{ entity.doi }}</a></td>
                </tr>
                <tr>
                    <td>Обложка</td>
                    <td>{# {{ entity.cover }} #}</td>
                </tr>
                <tr>
                    <td>Название (ENG)</td>
                    <td>{{ entity.en.title }}</td>
                </tr>
                <tr>
                    <td>Аннотация (ENG)</td>
                    <td>{{ entity.en.annotation }}</td>
                </tr>
                <tr>
                    <td>Ключевые слова (ENG)</td>
                    <td>{{ entity.en.keywords }}</td>
                </tr>
                <tr>
                    <td>Гриф</td>
                    <td>{{ entity.statuses.has_grif ? 'Есть' : 'Нет' }}</td>
                </tr>
                <tr>
                    <td>Издатель</td>
                    <td>{{ entity.publisher ? entity.publisher.ru.title }}</td>
                </tr>
                {#<tr>#}
                    {#<td>Ссылка на znanium</td>#}
                    {#<td><a href="" target="_blank"></a></td>#}
                {#</tr>#}
                <tr>
                    <td>Рецензенты</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Комментарий</td>
                    <td>{{ entity.comment }}</td>
                </tr>
                <tr>
                    <td>Рубрики</td>
                    <td></td>
                </tr>
                {#<tr>#}
                {#<td>Депонированный файл</td>#}
                {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Договор с другим издательством</td>#}
                {#<td><a href="#"><span class="fa fa-file-word-o"></span> Скачать файл</a></td>#}
                {#</tr>#}
                <tr>
                    <td>Идентификатор РИНЦ</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ссылка РИНЦ</td>
                    <td><a href="#" target="_blank"></a></td>
                </tr>
                <tr>
                    <td>Дополнительные сведения</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Номер издания</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Номер УДК</td>
                    <td></td>
                </tr>
                {#<tr>#}
                {#<td>Текст</td>#}
                {#<td>{{ entity.__get('text') | raw }}</td>#}
                {#</tr>#}
                <tr>
                    <td>Показано на naukaru.ru?</td>
                    <td>{{ entity.statuses.is_show_nauka ? 'Да' : 'Нет' }}</td>
                </tr>
                <tr>
                    <td>Адрес в сети</td>
                    <td><a href="{{ entity.uri }}" target="_blank">{{ entity.uri }}</a></td>
                </tr>
                <tr>
                    <td>Статус</td>
                    <td>
                        {% if entity.statuses.is_published %}
                            <span class="label label-success">Опубликовано</span>
                        {% else %}
                            <span class="label label-primary">В работе</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ entity.createdAt|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td>Дата обновления</td>
                    <td>{{ entity.updatedAt|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td>Есть ли у произведения рецензенты?</td>
                    <td>{{ entity.statuses.has_reviewers ? 'Да' : 'Нет' }}</td>
                </tr>
                <tr>
                    <td>Публиковалось ли произведение ранее?</td>
                    <td>{{ entity.statuses.has_published ? 'Да' : 'Нет' }}</td>
                </tr>
                <tr>
                    <td>Дата публикации произведения</td>
                    <td>{{ entity.datePublished|date('d.m.Y') }}</td>
                </tr>
                </tbody>
                <thead>
                <tr>
                    <th colspan="2">Классификаторы</th>
                </tr>
                </thead>
                <tbody>
                {#{% for classif in classifs %}#}
                    {#<tr>#}
                        {#<td>{{ classif.name }}</td>#}
                        {#<td>#}
                            {#{% if  entity.__get('classif_'~classif.type) is iterable %}#}
                                {#{% if entity.__get('classif_'~classif.type)|length > 0 %}#}
                                    {#<ul class="list-unstyled">#}
                                        {#{% for type in entity.__get('classif_'~classif.type) %}<li>{{ type }}</li>{% endfor %}#}
                                    {#</ul>#}
                                {#{% else %}#}
                                    {#Не присвоен#}
                                {#{% endif %}#}
                            {#{% else %}#}
                                {#{{ entity.__get('classif_'~classif.type) ? entity.__get('classif_'~classif.type) : 'не присвоен' }}#}
                            {#{% endif %}#}
                        {#</td>#}
                    {#</tr>#}
                {#{% endfor %}#}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab2">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="{{ path('textbook_authors',{'id': entity.id}) }}"><span
                    class="fa fa-user-plus"></span> Добавить автора</a>
                    <a class="btn btn-success" href="#">Пригласить авторов</a>
                </div>
            </div>

            <table class="table table-striped vertical-align-middle">
                <thead>
                <tr>
                    <th>ФИО автора</th>
                    {#<th>Email оповещение</th>#}
                    {#<th>Гонорар %</th>#}
                    {#<th>Город</th>#}
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for author in entity.authors %}
                    <tr>
                        <td>{{ author.ru.fio }}</td>
                        <td class="text-right">
                            <a href="{{ path('author_show', {'id': author.id}) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {#<div class="btn btn-primary">Изменить распределение гонорара</div>#}
            {#<br><br>#}

            {#<h4>Шаблон письма оповещения <br><small>(отправляется при первичной генерации договора или при отправке оповешения автору)</small></h4><br>#}

            {#<div class="form-group">#}
            {#<textarea id="html" class="form-control" rows="5"></textarea>#}
            {#</div>#}

            {#<button class="btn btn-success">Сохранить</button>#}
            {#<br><br>#}

            {#<p><strong>Переменные используемы а шаблоне:</strong></p>#}
            {#<ul class="list-unstyled">#}
            {#<li>{_NAME_} - Ф.И.О. автора</li>#}
            {#<li>{_CONTRACT_} - ссылка на договор</li>#}
            {#<li>{_PUB_TITLE_} - название произведения</li>#}
            {#</ul>#}
        </div>

        <div class="tab-pane" id="tab3">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Добавить главу</a>
            </div>

            {% if entity.chapters %}
                <table class="table table-striped vertical-align-middle">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>DOI</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for chapter in entity.chapters %}
                        <tr>
                            <td>{{ chapter.num }}</td>
                            <td data-toggle="collapse" data-target="#collapse-{{ loop.index }}">{{ chapter.title }}</td>
                            <td></td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <a class="btn btn-default" href="#" data-toggle="tooltip" data-container="body" title="Изменить данные">
                                        <span class="fa fa-pencil"></span>
                                    </a>
                                    <a class="btn btn-default" href="#" data-toggle="tooltip" data-container="body" title="Текст">
                                        <span class="fa fa-file-text-o"></span>
                                    </a>
                                    <a href="#" class="btn btn-default">
                                        <span class="fa fa-trash-o text-danger"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr class="collapse-row">
                            <td></td>
                            <td colspan="3">
                                <div id="collapse-{{ loop.index }}" class="collapse">
                                    <table class="table-data">
                                        <tbody>
                                        <tr>
                                            <td>Произведение</td>
                                            <td>{{ entity.ru.title }}</td>
                                        </tr>
                                        <tr>
                                            <td>Номер главы</td>
                                            <td>{{ chapter.num }}</td>
                                        </tr>
                                        <tr>
                                            <td>Название</td>
                                            <td>{{ chapter.title }}</td>
                                        </tr>
                                        <tr>
                                            <td>Аннотация (рус)</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Аннотация (англ)</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Дата создания</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Дата публикации</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>DOI</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Ссылка на znanium</td>
                                            <td><a href="#" target="_blank"></a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-danger">В данное произведение еще не добавлено ни одной главы</div>
            {% endif %}
        </div>

        <div class="tab-pane" id="tab4">
            <div class="form-group text-right">
                <a class="btn btn-success" href="#">Загрузить список</a>
            </div>

            <table class="table table-hover table-striped vertical-align-middle">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Источник</th>
                    <th>Источник (транслит)</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for chapter in entity.chapters %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ chapter.title }}</td>
                        <td></td>
                        <td class="text-right">
                            <a href="#" class="btn btn-default">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab5">
            <div class="form-group text-right">
                <div class="btn-group">
                    <a class="btn btn-success" href="#">Сгенерировать договор</a>
                    <a class="btn btn-success" href="#">Приложить договор</a>
                </div>
            </div>
        </div>

        <div class="tab-pane" id="tab6">
            <table class="table table-striped vertical-align-middle">
                <thead>
                <tr>
                    <th>Объект</th>
                    <th>Состояние</th>
                    <th>Действие</th>
                    <th>Задачи</th>
                </tr>
                </thead>
                <tbody>
                {#<tr>#}
                {#<td>Состояние заявки на издание:</td>#}
                {#<td><div class="label label-warning">Заявка принята</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Изображения:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Дополнительные сведения:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Текст:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Договор:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Рубрики:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>#}
                {#<div class="btn-group btn-group-sm">#}
                {#<a href="#" class="btn btn-default">Назначить рубрики</a>#}
                {#<a href="#" class="btn btn-default">Делегировать</a>#}
                {#</div>#}
                {#</td>#}
                {#<td></td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Рецензия:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Гриф:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Обложка:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Корректура:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Редактура:</td>#}
                {#<td><div class="label label-warning">Заявка принята</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Макет:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Готовность:</td>#}
                {#<td><div class="label label-success">Работы завершены</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Naukaru.ru:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Znanium.com:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td>нет</td>#}
                {#<td>задач нет</td>#}
                {#</tr>#}
                {#<tr>#}
                {#<td>Academuspublishing.com:</td>#}
                {#<td><div class="label label-danger">Неверный статус: 0</div></td>#}
                {#<td><a class="btn btn-sm btn-default" href="#">Опубликовать</a></td>#}
                {#<td></td>#}
                {#</tr>#}
                <tr>
                    <td>DOI:</td>
                    <td><a target="_blank" href="http://dx.doi.org/10.12737/2477">10.12737/2477</a></td>
                    <td><a class="btn btn-sm btn-default" href="#">Присвоить/обновить DOI</a></td>
                    <td></td>
                </tr>
                <tr>
                    <td>РИНЦ:</td>
                    <td>??</td>
                    <td><a class="btn btn-sm btn-default" href="#">Сгенерировать данные РИНЦ</a></td>
                    <td></td>
                </tr>
                {#<tr>#}
                {#<td>Тарификация:</td>#}
                {#<td>Тариф не выбран:0 руб.</td>#}
                {#<td><a class="btn btn-sm btn-default" href="#">Установить стоимость</a></td>#}
                {#<td></td>#}
                {#</tr>#}
                </tbody>
            </table>
        </div>

        <div class="tab-pane" id="tab7">
            <table class="table">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Пользователь</th>
                    <th>Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>11-09-2014 15:06:25</td>
                    <td>Букин Денис Юрьевич</td>
                    <td>Редактирование метаданных произведения. Изменено кол-во авторских листов произведения. Изменен номер УДК. </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>

    <script>
        $(function () {
            tinymce.init({
                selector: "#html",
                language: "ru",
                height: 500,
                plugins: [
                    "advlist autolink lists link image",
                    "searchreplace visualblocks code paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
            });
        });
    </script>
{% endblock %}