{% macro label(type, message) %}
    <span class="label label-{{ type }}">{{ message }}</span>
{% endmacro %}

{% macro badge(message) %}
    <span class="badge">{{ message }}</span>
{% endmacro %}

{% macro icon(name, engine) %}
    <span class="{{ engine|default('fa') }} {{ engine|default('fa') }}-{{ name }}"></span>
{% endmacro %}
