.rounded {
    padding: 20px 0;
    border-bottom: 1px solid #e3e3e3;
}
.rounded:last-child{
    border-bottom: none;
}
.rounded .col-md-3 .btn-group-sm{
    margin-bottom: 0;
}
.rounded .thumbnail{
    display: inline-block;
}
.autocomplete-suggestions {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    background: #FFF;
    overflow: auto;
    margin-top: 3px;
}
.autocomplete-suggestion{
    padding: 5px 20px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected{
    background: #F0F0F0;
}
.autocomplete-group {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 20px 5px;
}
.autocomplete-group strong{
    font-weight: normal;
    color: #777;
}
.autocomplete-suggestion strong {
    font-weight: normal;
    color: #337ab7;
}
.folder_checkbox {width: 20px; float: left;}

.top_link{
    color: #222222;!important;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #cccccc;
    margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



