{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% macro addMultiField(formfield, options = {}) %}
    <div class="form-group"><span class="label">{{ form_label(formfield) }}</span>
        <div class="row">
            {% for lang in formfield %}
                <div class="form-group field col-md-6">
                    <small>{{ form_label(lang) }}</small>
                    {{ form_widget(lang, options) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro addField(formfield, options = {}) %}
    <div class="form-group field">
        {{ form_label(formfield) }}
        {{ form_widget(formfield, options) }}
    </div>
{% endmacro %}

{% import _self as forms %}

{% block content %}
    {{ form_start(form) }}
    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
        <div style="padding: 15px;">
            <div data-toggle="collapse" data-target="#personal_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Персональная информация</h4>
            </div>
            <div class="row collapse in" id="personal_info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.fio) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.fio) }}
                            {{ form_errors(form.ru.fio) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.fio) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.fio) }}
                            {{ form_errors(form.en.fio) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.position) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.position) }}
                            {{ form_errors(form.ru.position) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.position) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.position) }}
                            {{ form_errors(form.en.position) }}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div data-toggle="collapse" data-target="#working_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Рабочая информация</h4>
            </div>
            <div class="row collapse in" id="working_info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.workPosition) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.workPosition) }}
                            {{ form_errors(form.ru.workPosition) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.workPosition) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.workPosition) }}
                            {{ form_errors(form.en.workPosition) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.workPlace) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.workPlace) }}
                            {{ form_errors(form.ru.workPlace) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.workPlace) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.workPlace) }}
                            {{ form_errors(form.en.workPlace) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.scienceLevel) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.scienceLevel) }}
                            {{ form_errors(form.ru.scienceLevel) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.scienceLevel) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.scienceLevel) }}
                            {{ form_errors(form.en.scienceLevel) }}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div data-toggle="collapse" data-target="#geography_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Территориальная информация</h4>
            </div>
            <div class="row collapse in" id="geography_info">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                            {{ form_errors(form.country) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.region) }}
                            {{ form_widget(form.region) }}
                            {{ form_errors(form.region) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.ru.city) }}
                            <small>| {{ ru }}</small>
                            {{ form_widget(form.ru.city) }}
                            {{ form_errors(form.ru.city) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.en.city) }}
                            <small>| {{ en }}</small>
                            {{ form_widget(form.en.city) }}
                            {{ form_errors(form.en.city) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    {{ parent() }}
    <script>
        $('#{{ form.country.vars.id }}').disableSelect('#{{ form.region.vars.id }}');
    </script>
    {#<script>#}
        {#$(document).ready(function () {#}
            {#{% set translatedMember = member|gedmoTranslate %}#}
            {#var lang_data = {#}
                {#ru: {#}
                    {#fio: '{{ member.ru.fio }}',#}
                    {#position: '{{ member.ru.position }}',#}
                    {#workPosition: '{{ member.ru.workPosition }}',#}
                    {#workPlace: '{{ member.ru.workPlace }}',#}
                    {#scienceLevel: '{{ member.ru.scienceLevel }}',#}
                    {#city: '{{ member.ru.city }}'#}
                {#},#}
                {#en: {#}
                    {#fio: '{{ translatedMember.en is defined ? translatedMember.en.fio }}',#}
                    {#position: '{{ translatedMember.en is defined ? translatedMember.en.position }}',#}
                    {#workPosition: '{{ translatedMember.en is defined and translatedMember.en.workPosition is defined ? translatedMember.en.workPosition }}',#}
                    {#workPlace: '{{ translatedMember.en is defined and translatedMember.en.workPlace is defined ? translatedMember.en.workPlace }}',#}
                    {#scienceLevel: '{{ translatedMember.en is defined and translatedMember.en.scienceLevel is defined ? translatedMember.en.scienceLevel }}',#}
                    {#city: '{{ translatedMember.en is defined ? translatedMember.en.city }}'#}
                {#}#}
            {#};#}

            {#var default_data = {#}
                {#id: {{ member.id }},#}
                {#country: {{ member.country.id }},#}
                {#region: {{ member.region is not null ? member.region.id : 'null'}},#}
                {#journal: {{ member.journal.id }}#}
            {#};#}

            {#var fillMultilangFields = function (lang_data, default_data) {#}
                {#for (lang in lang_data) {#}
                    {#for (key in lang_data[lang]) {#}
                        {#var element = $('[id$=' + key + '_' + lang + ']');#}
                        {#var value = lang_data[lang][key];#}
                        {#element.val(value);#}
                    {#}#}
                {#}#}

                {#for (key in default_data) {#}
                    {#var element = $('[id$='+key+']');#}
                    {#var value = default_data[key];#}
                    {#if (element.is('select')) {#}
                        {#element.find('option[value='+value+']').attr('selected', 'selected');#}
                        {#element.selectpicker('refresh');#}
                        {#element.selectpicker('render');#}
                    {#} else {#}
                        {#element.val(value);#}
                    {#}#}
                {#}#}
            {#};#}

            {#fillMultilangFields(lang_data, default_data);#}
        {#});#}
    {#</script>#}
{% endblock page_script %}

