{% if member is not null %}
    {% set translatedMember = member|gedmoTranslate %}
    <table class="table table-hover table-border">
        <thead>
            <tr>
                <th colspan="2">Персональная информация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Фамилия</th>
                <td>{{ member.lastName }}</td>
            </tr>
            <tr>
                <th>Фамилия (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.lastName }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ member.firstName }}</td>
            </tr>
            <tr>
                <th>Имя (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.firstName }}</td>
            </tr>
            <tr>
                <th>Отчество</th>
                <td>{{ member.secondName }}</td>
            </tr>
            <tr>
                <th>Отчество (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.secondName }}</td>
            </tr>
            <tr>
                <th>Должность члена ред. коллегии</th>
                <td>{{ member.position }}</td>
            </tr>
            <tr>
                <th>Должность члена ред. коллегии (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.position }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">Рабочая информация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Должность</th>
                <td>{{ member.workPosition }}</td>
            </tr>
            <tr>
                <th>Должность (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.workPosition }}</td>
            </tr>
            <tr>
                <th>Место работы</th>
                <td>{{ member.workPlace }}</td>
            </tr>
            <tr>
                <th>Место работы (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.workPlace }}</td>
            </tr>
            <tr>
                <th>Ученая степень</th>
                <td>{{ member.scienceLevel }}</td>
            </tr>
            <tr>
                <th>Ученая степень (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.scienceLevel }}</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th colspan="2">Географическая информация</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Страна</th>
                <td>{{ member.country.title }}</td>
            </tr>
            <tr>
                <th>Страна (Английский язык)</th>
                <td>{{ member.country.engTitle }}</td>
            </tr>
            <tr>
                <th>Регион</th>
                <td>{{ member.region is not null ? member.region.title }}</td>
            </tr>
            <tr>
                <th>Регион (Английский язык)</th>
                <td>{{ member.region is not null ? member.region.titleEng }}</td>
            </tr>
            <tr>
                <th>Город</th>
                <td>{{ member.city }}</td>
            </tr>
            <tr>
                <th>Город (Английский язык)</th>
                <td>{{ translatedMember.en is defined ? translatedMember.en.city }}</td>
            </tr>
        </tbody>
    </table>
{% else %}
    <h3 class="text-center">Данные не найдены</h3>
{% endif %}