{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% macro addMultiField(formfield) %}
    <div class="form-group"><span class="label">{{ form_label(formfield) }}</span>
        <div class="row">
            {% for lang in formfield %}
                <div class="form-group field col-md-6">
                    <small>{{ form_label(lang) }}</small>
                    {{ form_widget(lang) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro addField(formfield) %}
    <div class="form-group field">
        {{ form_label(formfield) }}
        {{ form_widget(formfield) }}
    </div>
{% endmacro %}

{% import _self as forms %}

{% block content %}
    {#{% set translated = member|gedmoTranslate %}#}
    <div class="page-header">
        <h3>Список членов редакционной коллегии |
            <small>"{{ entity.ru.title }}"</small></h3>
    </div>

    {% set session = app.session.flashBag.get('error') %}
    {% if session|length > 0 %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for message in session %}{{ message }}{% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% if team is defined %}
            <div class="alert alert-sm alert-success pull-right">
                <p class="result">Всего <strong id="result_count">{{ team.getTotalItemCount }}</strong> сотрудников.
                </p>
            </div>
        {% endif %}

        {{ knp_pagination_render(team) }}

        <table class="table table-border table-hover">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(team, 'Порядок', 'position_in_journal') }}</th>
                <th>{{ knp_pagination_sortable(team, 'ФИО', 'ru.fio') }}</th>
                <th>{{ knp_pagination_sortable(team, 'Должность', 'ru.position') }}</th>
                <th>{{ knp_pagination_sortable(team, 'Добавлен', 'createdAt') }}</th>
                <th>{{ knp_pagination_sortable(team, 'Обновлен', 'updatedAt') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for member in team %}
            <tr>
                <th>{{ member.order }}</th>
                <td>{{ member.ru.fio }}</td>
                <td>{{ member.ru.position }}</td>
                <td>{{ member.createdAt|date('d.m.Y H:i') }}</td>
                <td>{{ member.updatedAt|date('d.m.Y H:i') }}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button data-member="{{ member.id }}" class="up btn btn-default" data-toggle="tooltip" data-placement="top" title="Поднять вверх">
                            <span class="fa fa-sort-up"></span>
                        </button>
                        <button data-member="{{ member.id }}" class="down btn btn-default" data-toggle="tooltip" data-placement="top" title="Опустить вниз">
                            <span class="fa fa-sort-down"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <a href="#"  data-member="{{ member.id }}" class="showButton btn btn-default">
                            <span class="fa fa-eye"></span>
                        </a>
                        {% if is_granted('ROLE_EDIT') %}
                            <a href="{{ path('editorial_edit', { 'id': member.id }) }}" class="btn btn-default">
                                <span class="fa fa-pencil-square-o"></span>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_DELETE') %}
                            <button class="btn btn-default delete_member" data-member="{{ member.id }}">
                                <span class="fa fa-trash-o text-danger"></span>
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            {% if is_granted('ROLE_EDIT') %}
            <tfoot>
            <tr>
                <td colspan="6" class="text-right">
                    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#newUser"><i class="fa fa-plus"></i> Добавить члена редколлегии</a>
                </td>
            </tr>
            </tfoot>
            {% endif %}
        </table>

        {{ knp_pagination_render(team) }}
    </div>

    {% if is_granted('ROLE_EDIT') %}
    <div class="modal fade" tabindex="-1" role="dialog" id="newUser">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ 'form.editorum.document.council.addModalTitle'|trans }}</h4>
                </div>
                {{ form_start(form) }}

                {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
                {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
                <div class="modal-body">
                    <div style="padding: 15px;">
                        <div data-toggle="collapse" data-target="#search">
                            <span class="fa fa-chevron-down pull-right"></span>
                            <h4>Заполнить из существующего</h4>
                        </div>
                        <div class="row collapse in" id="search">
                            <input type="text" class="form-control searchByExists">
                            <button type="reset" class="btn btn-warning">Сбросить</button>
                        </div>
                        <div data-toggle="collapse" data-target="#personal_info">
                            <span class="fa fa-chevron-down pull-right"></span>
                            <h4>Персональная информация</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.fio) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.fio) }}
                                    {{ form_errors(form.ru.fio) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.fio) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.fio) }}
                                    {{ form_errors(form.en.fio) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.position) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.position) }}
                                    {{ form_errors(form.ru.position) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.position) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.position) }}
                                    {{ form_errors(form.en.position) }}
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div data-toggle="collapse" data-target="#working_info">
                            <span class="fa fa-chevron-down pull-right"></span>
                            <h4>Рабочая информация</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.workPosition) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.workPosition) }}
                                    {{ form_errors(form.ru.workPosition) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.workPosition) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.workPosition) }}
                                    {{ form_errors(form.en.workPosition) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.workPlace) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.workPlace) }}
                                    {{ form_errors(form.ru.workPlace) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.workPlace) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.workPlace) }}
                                    {{ form_errors(form.en.workPlace) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.scienceLevel) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.scienceLevel) }}
                                    {{ form_errors(form.ru.scienceLevel) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.scienceLevel) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.scienceLevel) }}
                                    {{ form_errors(form.en.scienceLevel) }}
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div data-toggle="collapse" data-target="#geography_info">
                            <span class="fa fa-chevron-down pull-right"></span>
                            <h4>Территориальная информация</h4>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.country) }}
                            {{ form_widget(form.country) }}
                            {{ form_errors(form.country) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.region) }}
                            {{ form_widget(form.region) }}
                            {{ form_errors(form.region) }}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.ru.city) }}
                                    <small>| {{ ru }}</small>
                                    {{ form_widget(form.ru.city) }}
                                    {{ form_errors(form.ru.city) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.en.city) }}
                                    <small>| {{ en }}</small>
                                    {{ form_widget(form.en.city) }}
                                    {{ form_errors(form.en.city) }}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save) }}
                </div>

                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="modal fade" tabindex="-1" role="dialog" id="showUserModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Информация о члене редакционной коллегии</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block page_script %}
    {{ parent() }}
    <script src="{{ asset('bundles/asu/js/bootstrap.typeahead.bundle.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/asu/css/typeaheadjs.css') }}">
    <script>
        $(document).ready(function () {
            // поиск по существующему
            var findByFieldName = function (fieldName) {
                var users = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.whitespace(fieldName),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    remote: {
                        url: '{{ path('editorial_ajax_find_by_field', { string: 'QUERY_DATA', fieldName: 'FIELD_NAME', journalId: app.request.get('id') }) }}'.replace('FIELD_NAME', fieldName),
                        wildcard: 'QUERY_DATA'
                    }
                });

                return users;
            };

            $('.searchByExists').typeahead(null, {
                name: 'exist-member',
                display: 'lastName_ru',
                source: findByFieldName('lastName')
            }).on('typeahead:select', function (data, item) {
                for (key in item) {
                    var element = $('[id$='+key+']');
                    if (element.is('select')) {
                        element.find('option[value='+item[key]+']').attr('selected', 'selected');
                        if (item[key] != null) {
                            element.removeAttr('disabled');
                        }
                        element.selectpicker('render');
                        element.selectpicker('refresh');
                    } else {
                        if (key != 'journal') {
                            element.val(item[key]);
                        }
                    }
                }
            });


            $('#{{ form.country.vars.id }}').disableSelect('#{{ form.region.vars.id }}');

            country.each(function () {
                $(this).on('changed.bs.select', function() {
                    var $this = $(this);
                    disableSelect($this, region);
                });
            });

            // удаление члена
            $('.delete_member').each(function () {
                $(this).click(function () {
                    var url = "{{ path('editorial_remove', {'id': 'member_id', 'journal_id': app.request.get('id') }) }}";
                    url = url.replace('member_id', $(this).attr('data-member'));

                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(result) {
                            window.location.href = result;
                        }
                    });
                });
            });

            // сортировка позиции
            $('.up').each(function () {
                $(this).click(function () {
                    var url = '{{ path('editorial_sort_position', { 'documentName': 'EditorialTeam', 'bundleName': 'AsuBundle', 'documentId': 'member_id', 'propertyName': 'positionInJournal', 'moveTo': 'down'}) }}';
                    url = url.replace('member_id', $(this).attr('data-member'));

                    $.get(url, {}, function (response) {
                        window.location.reload();
                    })
                });
            });

            $('.down').each(function () {
                $(this).click(function () {
                    var url = '{{ path('editorial_sort_position', { 'documentName': 'EditorialTeam', 'bundleName': 'AsuBundle', 'documentId': 'member_id', 'propertyName': 'positionInJournal', 'moveTo': 'up'}) }}';
                    url = url.replace('member_id', $(this).attr('data-member'));

                    $.get(url, {}, function (response) {
                        window.location.reload();
                    })
                });
            });

            // просмотр члена
            $('.showButton').click(function () {
                var url = '{{ path('editorial_show', {id: 'member_id'}) }}';
                url = url.replace('member_id', $(this).attr('data-member'));

                $.get(url, {}, function (response) {
                    $('#showUserModal').find('.modal-body').html(response);
                    $('#showUserModal').modal('show');
                });
            });

            // Хак для убирания звездочек над группами полей
            $('span.label').find('label').each(function () {
                $(this).removeClass('required');
                $(this).removeClass('control-label');
                $(this).parent().removeClass('label');
            });
        });
    </script>
{% endblock page_script %}


{% block head %}
    <style>
        .required:after {
            color: red;
            content:" *";
        }
    </style>​
{% endblock head %}
