{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Редактирование члена ред.совета</h3>
    </div>
    {{ form_start(form) }}

    {% set en = (form.en.vars.label is null ? form.en.vars.name : form.en.vars.label)|trans %}
    {% set ru = (form.ru.vars.label is null ? form.ru.vars.name : form.ru.vars.label)|trans %}
    <div data-toggle="collapse" data-target="#personal_info">
        <span class="fa fa-chevron-down pull-right"></span>
        <h4>Персональная информация</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.fio) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.fio) }}
                {{ form_errors(form.ru.fio) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.fio) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.fio) }}
                {{ form_errors(form.en.fio) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.position) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.position) }}
                {{ form_errors(form.ru.position) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.position) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.position) }}
                {{ form_errors(form.en.position) }}
            </div>
        </div>
    </div>

    <hr>
    <div data-toggle="collapse" data-target="#working_info">
        <span class="fa fa-chevron-down pull-right"></span>
        <h4>Рабочая информация</h4>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.workPosition) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.workPosition) }}
                {{ form_errors(form.ru.workPosition) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.workPosition) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.workPosition) }}
                {{ form_errors(form.en.workPosition) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.workPlace) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.workPlace) }}
                {{ form_errors(form.ru.workPlace) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.workPlace) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.workPlace) }}
                {{ form_errors(form.en.workPlace) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.scienceLevel) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.scienceLevel) }}
                {{ form_errors(form.ru.scienceLevel) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.scienceLevel) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.scienceLevel) }}
                {{ form_errors(form.en.scienceLevel) }}
            </div>
        </div>
    </div>

    <hr>
    <div data-toggle="collapse" data-target="#geography_info">
        <span class="fa fa-chevron-down pull-right"></span>
        <h4>Территориальная информация</h4>
    </div>
    <div class="form-group">
        {{ form_label(form.country) }}
        {{ form_widget(form.country) }}
        {{ form_errors(form.country) }}
    </div>
    <div class="form-group">
        {{ form_label(form.region) }}
        {{ form_widget(form.region) }}
        {{ form_errors(form.region) }}
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.ru.city) }}
                <small>| {{ ru }}</small>
                {{ form_widget(form.ru.city) }}
                {{ form_errors(form.ru.city) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.en.city) }}
                <small>| {{ en }}</small>
                {{ form_widget(form.en.city) }}
                {{ form_errors(form.en.city) }}
            </div>
        </div>
    </div>

    {{ form_widget(form) }}
    {{ form_end(form) }}
    <script>
        $('#{{ form.country.vars.id }}').disableSelect('#{{ form.region.vars.id }}');
    </script>
{% endblock %}
