{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% macro addMultiField(formfield, options = {}) %}
    <div class="form-group"><span class="label">{{ form_label(formfield) }}</span>
        <div class="row">
            {% for lang in formfield %}
                <div class="form-group field col-md-6">
                    <small>{{ form_label(lang) }}</small>
                    {{ form_widget(lang, options) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro addField(formfield, options = {}) %}
    <div class="form-group field">
        {{ form_label(formfield) }}
        {{ form_widget(formfield, options) }}
    </div>
{% endmacro %}

{% import _self as forms %}

{% block content %}
    {{ form_start(form) }}
        <div style="padding: 15px;">
            <div data-toggle="collapse" data-target="#personal_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Персональная информация</h4>
            </div>
            <div class="row collapse in" id="personal_info">
                {{ forms.addMultiField(form.fio) }}
                {{ forms.addMultiField(form.position) }}
            </div>
            <hr>
            <div data-toggle="collapse" data-target="#working_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Рабочая информация</h4>
            </div>
            <div class="row collapse in" id="working_info">
                {{ forms.addMultiField(form.workPosition) }}
                {{ forms.addMultiField(form.workPlace) }}
                {{ forms.addMultiField(form.scienceLevel) }}
            </div>
            <hr>
            <div data-toggle="collapse" data-target="#geography_info">
                <span class="fa fa-chevron-down pull-right"></span>
                <h4>Территориальная информация</h4>
            </div>
            <div class="row collapse in" id="geography_info">
                {{ forms.addField(form.country) }}
                {{ forms.addField(form.region) }}
                {{ forms.addMultiField(form.city) }}
            </div>
            {{ form_widget(form.conference) }}
            {{ form_widget(form) }}
        </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
    {{ form_end(form) }}
{% endblock content %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            {% set translatedMember = member|gedmoTranslate %}
            var lang_data = {
                ru: {
                    lastName: '{{ member.lastName }}',
                    firstName: '{{ member.firstName }}',
                    secondName: '{{ member.secondName }}',
                    position: '{{ member.position }}',
                    workPosition: '{{ member.workPosition }}',
                    workPlace: '{{ member.workPlace }}',
                    scienceLevel: '{{ member.scienceLevel }}',
                    city: '{{ member.city }}'
                },
                en: {
                    lastName: '{{ translatedMember.en is defined ? translatedMember.en.lastName }}',
                    firstName: '{{ translatedMember.en is defined ? translatedMember.en.firstName }}',
                    secondName: '{{ translatedMember.en is defined ? translatedMember.en.secondName }}',
                    position: '{{ translatedMember.en is defined ? translatedMember.en.position }}',
                    workPosition: '{{ translatedMember.en is defined and translatedMember.en.workPosition is defined ? translatedMember.en.workPosition }}',
                    workPlace: '{{ translatedMember.en is defined and translatedMember.en.workPlace is defined ? translatedMember.en.workPlace }}',
                    scienceLevel: '{{ translatedMember.en is defined and translatedMember.en.scienceLevel is defined ? translatedMember.en.scienceLevel }}',
                    city: '{{ translatedMember.en is defined ? translatedMember.en.city }}'
                }
            };

            var default_data = {
                id: {{ member.id }},
                country: {{ member.country.id }},
                region: {{ member.region is not null ? member.region.id : 'null'}},
                conference: {{ member.conference.id }},
                order: {{ member.order }}
            };

            var fillMultilangFields = function (lang_data, default_data) {
                for (lang in lang_data) {
                    for (key in lang_data[lang]) {
                        var element = $('[id$=' + key + '_' + lang + ']');
                        var value = lang_data[lang][key];
                        element.val(value);
                    }
                }

                for (key in default_data) {
                    var element = $('[id$='+key+']');
                    var value = default_data[key];
                    if (element.is('select')) {
                        element.find('option[value='+value+']').attr('selected', 'selected');
                        element.selectpicker('refresh');
                        element.selectpicker('render');
                    } else {
                        element.val(value);
                    }
                }
            };

            fillMultilangFields(lang_data, default_data);
        });
    </script>
{% endblock page_script %}

