{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <h3>Список Сборников</h3><br>

    <div id="search" class="live-search">
        <div class="form-group">
            <input type="text" name="search" value="" placeholder="Поиск" class="form-control">

            <div class="btn">
                <span class="fa fa-remove text-danger"></span>
            </div>
        </div>

        <div class="alert alert-success">
            Найдено <strong></strong> документов.
        </div>

        <div class="alert alert-danger">
            <p>Ничего не найдено</p>
        </div>
    </div>


    <div class="btn-group btn-group-justified">
        <a class="btn btn-default{{ app.request.get('filter') is null ? ' active' }}"
           href="{{ path('collection_list') }}">Все</a>
        <a href="{{ path('collection_list', { 'filter': 'status:200:int' }) }}"
           class="btn btn-default{{ app.request.get('filter') == 'status:200:int' ? ' active' }}">В работе</a>
        <a class="btn btn-default{{ app.request.get('filter') == 'status:300:int' ? ' active' }}"
           href="{{ path('collection_list', { 'filter': 'status:300:int' }) }}">Опубликован</a>
    </div>
    <br>

    {% if pagination is defined %}
        <div class="alert alert-sm alert-success pull-right">
            <p class="result">Всего <strong id="result_count">{{ pagination.getTotalItemCount }}</strong> Сборников.</p>
        </div>
    {% endif %}

    {{ knp_pagination_render(pagination) }}

    <div id="collection_list">
        <table id="jlist" class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th class="text-right">{{ knp_pagination_sortable(pagination, 'Id', '_id') }}</th>
                <th class="td-lg">{{ knp_pagination_sortable(pagination, 'Название', 'ru.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Статус', 'is_published') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Дата публикации', 'date_publication_print') }}</th>
                <th class="text-nowrap">{{ knp_pagination_sortable(pagination, 'Дата создания', 'created_at') }}</th>
                <th class="text-nowrap">{{ knp_pagination_sortable(pagination, 'Дата обновления', 'updated_at') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr data-id="{{ item.getId }}">
                    <th class="text-right">{{ item.getId }}</th>
                    <td>{{ item.ru['title'] is defined ? item.ru['title'] : '' }}</td>
                    <td>
                        {% if kinds[item.statuses.status] is defined %}
                            <span class="label {{ kinds[item.statuses.status].class }}">
                                {{ kinds[item.statuses.status].label }}
                            </span>
                        {% endif %}
                    </td>
                    <td>{{ item.datePublished|date('d.m.Y') }}</td>
                    <td>{{ item.createdAt|date('d.m.Y H:i') }}</td>
                    <td>{{ item.updatedAt|date('d.m.Y H:i') }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('collection_show', {'id': item.id}) }}" class="btn btn-default">
                                <span class="fa fa-eye"></span>
                            </a>
                            {% if is_granted('ROLE_EDIT') %}
                                <a href='{{ path('collection_edit', {'id': item.id}) }}' class="btn btn-default">
                                    <span class="fa fa-pencil-square-o"></span>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                                <a href='{{ path('collection_remove', {'id': item.id}) }}' class="btn btn-default
                                    btn-remove"><span class="fa fa-trash-o text-danger"></span>
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {{ knp_pagination_render(pagination) }}

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>

    <script>
        $(function () {
            var search = $('#search'),
                    searchInput = search.find(':text'),
                    searchReset = search.find('.btn'),
                    searchCounter = search.find('.alert-success');

            searchInput.quicksearch('.table tbody tr', {
                noResults: '#search .alert-danger',
                onAfter: function () {
                    var total = $('tbody tr').length, count = $('tbody tr:visible').length;
                    count <= 0 || count == total || count == (total - 1) ? searchCounter.hide() : searchCounter.show().find('strong').text(count);
                }
            });
            searchInput.val('').on('keyup', function () {
                $(this).val().length > 0 ? searchReset.show() : searchReset.hide();
            });
            searchReset.click(function () {
                searchInput.val('');
                search.find('.alert').hide();
                $('.table').find('tr:hidden').show();
                $(this).hide();
            });

            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}