{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h3>Редактирование сборника "{{ collection.ru.title|raw }}" |
            <small>Конференция&nbsp;"{{ collection.conference.ru.title|raw }}"</small>
        </h3>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.is_opened) }}
                {{ form_widget(form.statuses.is_opened) }}
                {{ form_errors(form.statuses.is_opened) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.is_show_nauka) }}
                {{ form_widget(form.statuses.is_show_nauka) }}
                {{ form_errors(form.statuses.is_show_nauka) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.in_rinc) }}
                {{ form_widget(form.statuses.in_rinc) }}
                {{ form_errors(form.statuses.in_rinc) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.in_vak) }}
                {{ form_widget(form.statuses.in_vak) }}
                {{ form_errors(form.statuses.in_vak) }}
            </div>
        </div>
    </div>

    {% if collection.statuses.status != st_published %}

        <div class="form-group">
            {{ form_label(form.ru.title) }}
            {{ form_widget(form.ru.title) }}
            {{ form_errors(form.ru.title) }}
        </div>

        <div class="form-group">
            {{ form_label(form.cover) }}
            {{ form_widget(form.cover) }}
            {{ form_errors(form.cover) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.ru.annotation) }}
            {{ form_widget(form.ru.annotation, {'id': 'ru_annotation'}) }}
            {{ form_errors(form.ru.annotation) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.ru.keywords) }}
            {{ form_widget(form.ru.keywords, {'id': 'ru_keywords'}) }}
            {{ form_errors(form.ru.keywords) }}
        </div>

        <div class="form-group">
            {{ form_label(form.en.title) }}
            {{ form_widget(form.en.title) }}
            {{ form_errors(form.en.title) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.en.annotation) }}
            {{ form_widget(form.en.annotation, {'id': 'en_annotation'}) }}
            {{ form_errors(form.en.annotation) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.en.keywords) }}
            {{ form_widget(form.en.keywords, {'id': 'en_keywords'}) }}
            {{ form_errors(form.en.keywords) }}
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.date_reg_certificate) }}
                    {{ form_widget(form.date_reg_certificate) }}
                    {{ form_errors(form.date_reg_certificate) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.author_pages) }}
                    {{ form_widget(form.author_pages) }}
                    {{ form_errors(form.author_pages) }}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.published_page_total) }}
                    {{ form_widget(form.published_page_total) }}
                    {{ form_errors(form.published_page_total) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn) }}
            {{ form_errors(form.isbn) }}
        </div>

        <div class="form-group">
            {{ form_label(form.isbn_online) }}
            {{ form_widget(form.isbn_online) }}
            {{ form_errors(form.isbn_online) }}
        </div>

    {% endif %}

    <div class="form-group">
        {{ form_label(form.rinc_url) }}
        {{ form_widget(form.rinc_url) }}
        {{ form_errors(form.rinc_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('[id$=cover]').fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
                allowedFileTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                maxFileSize: 2000,
                removeFromPreviewOnError: true,
                overwriteInitial: false{% if collection.cover is not null %},
                defaultPreviewContent: '<img src="{{ asset(collection.cover) }}" alt="Обложка" style="width:200px">'{% endif %}
            }).on('fileuploaded', function (event, data) {
                var response = data.response;
                $(this).fileinput('refresh', {
                    showPreview: false,
                    showUpload: false
                }).fileinput('clear').fileinput('enable');
            }).on('change', function (event) {
                $(this).fileinput('refresh', {showPreview: true, showUpload: false});
            }).on('fileclear', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            }).on('filereset', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            });
        });

        $('div[id*="has_published"]').showAndHide(".previously_published");

    </script>
{% endblock %}