{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% block content %}

<h3>Список статей | <small>Сборник&nbsp;"{{ collection.ru.title|raw }}"</small></h3>

    <br>
<div>
    <table class="table table-striped table-condensed table-align-vertical">
        <thead>
        <tr>
            <th>Название русское</th>
            <th>Название английское</th>
            <th>Конференция</th>
        </tr>
        </thead>
        <tbody>
        {% for item in pagination %}
        <tr>
            <td>{{ item.ru.title }}</td>
            <td>{{ item.en.title }}</td>
            <td>{{ item.conference.ru.title }}</td>
            <td class="td-sm">
                <div class="btn-group btn-group-sm">
                    <a href="{{ path('conferencearticle_show', { id: item.id }) }}" class="btn btn-default">
                        <span class="fa fa-eye"></span>
                    </a>
                    {% if is_granted('ROLE_EDIT') %}
                        <a href="{{ path('conferencearticle_edit', {'id': item.id }) }}" class="btn btn-default">
                            <span class="fa fa-pencil-square-o"></span>
                        </a>
                    {% endif %}
                    {% if is_granted('ROLE_DELETE') and item.statuses.status != st_published %}
                        <a href="{{ path('conferencearticle_collection_remove',
                                        { 'id': item.collection.id, 'article_id': item.id }) }}"
                           class="btn btn-default btn-remove">
                            <span class="fa fa-trash-o text-danger"></span>
                        </a>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block page_script %}
    {{ parent() }}
    <script>
        $(function () {
            $('.btn-remove').on('click touchstart', function (e) {
                if(!confirm('Точно удалить?')){
                    e.preventDefault();
                }
                e.stopPropagation();
            });
        });
    </script>
{% endblock %}