{% extends "AsuBundle:Default:pageonecol.html.twig" %}
{% form_theme form '@Asu/Parts/Form/fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h3>Создание сборника |
            <small>Конференция&nbsp;"{{ collection.conference.ru.title|default(null) }}"</small>
        </h3>
    </div>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.is_opened) }}
                {{ form_widget(form.statuses.is_opened) }}
                {{ form_errors(form.statuses.is_opened) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.in_rinc) }}
                {{ form_widget(form.statuses.in_rinc) }}
                {{ form_errors(form.statuses.in_rinc) }}
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                {{ form_label(form.statuses.in_vak) }}
                {{ form_widget(form.statuses.in_vak) }}
                {{ form_errors(form.statuses.in_vak) }}
            </div>
        </div>
    </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        {{ form_label(form.statuses.is_show_nauka) }}
                        {{ form_widget(form.statuses.is_show_nauka) }}
                        {{ form_errors(form.statuses.is_show_nauka) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.ru.title) }}
            {{ form_widget(form.ru.title) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.ru.annotation) }}
            {{ form_widget(form.ru.annotation, {'id': 'ru_annotation'}) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.ru.keywords) }}
            {{ form_widget(form.ru.keywords, {'id': 'ru_keywords'}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.en.title) }}
            {{ form_widget(form.en.title) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.en.annotation) }}
            {{ form_widget(form.en.annotation, {'id': 'en_annotation'}) }}
        </div>

        <div class="form-group">
            <span class="label label-success pull-right counter"></span>
            {{ form_label(form.en.keywords) }}
            {{ form_widget(form.en.keywords, {'id': 'en_keywords'}) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.date_reg_certificate) }}
                    {{ form_widget(form.date_reg_certificate) }}
                    {{ form_errors(form.date_reg_certificate) }}
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">

                <div class="col-md-6">
                    {{ form_label(form.author_pages, 'Авторских листов') }}
                    <div class="input-group spinner">
                        {{ form_widget(form.author_pages) }}
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    {{ form_label(form.published_page_total, 'Всего страниц') }}
                    <div class="input-group spinner">
                        {{ form_widget(form.published_page_total) }}
                        <div class="input-group-btn-vertical">
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-up"></i></button>
                            <button class="btn btn-default" type="button"><i class="fa fa-caret-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="form-group">
        {{ form_label(form.rinc_url) }}
        {{ form_widget(form.rinc_url) }}
        {{ form_errors(form.rinc_url) }}
    </div>
    <div class="form-group">
        {{ form_label(form.doi_url) }}
        {{ form_widget(form.doi_url) }}
        {{ form_errors(form.doi_url) }}
    </div>

    <div class="form-group">
        {{ form_label(form.isbn_online) }}
        {{ form_widget(form.isbn_online) }}
        {{ form_errors(form.isbn_online) }}
    </div>

    {{ form_end(form) }}


{% endblock %}

{% block page_script %}
    <script>
        $(function(){
            var text_max = 500;
            $('#ru_annotation, #en_annotation, #ru_keywords, #en_keywords').each(function () {
                var counter = $(this).closest('.form-group').find('.counter');
                $(this).val().length > 0 ? counter.text(text_max - $(this).val().length) : counter.text(text_max);
                $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                $(this).keyup(function () {
                    counter.text(text_max - $(this).val().length);
                    $(this).val().length > text_max ? counter.removeClass('label-success').addClass('label-danger') : counter.removeClass('label-danger').addClass('label-success');
                });
            });
        });
    </script>
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput_locale_ru.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('[id$=cover]').fileinput({
                language: '{{ app.request.locale }}',
                dropZoneEnabled: true,
                showPreview: true,
                showUpload: false,
                browseOnZoneClick: true,
                allowedFileTypes: ['image'],
                allowedFileExtensions: ['jpg', 'gif', 'png'],
                maxFileSize: 2000,
                removeFromPreviewOnError: true,
                overwriteInitial: false{% if collection.cover is not null %},
                defaultPreviewContent: '<img src="{{ asset(collection.cover) }}" alt="Обложка" style="width:200px">'{% endif %}
            }).on('fileuploaded', function (event, data) {
                var response = data.response;
                $(this).fileinput('refresh', {
                    showPreview: false,
                    showUpload: false
                }).fileinput('clear').fileinput('enable');
            }).on('change', function (event) {
                $(this).fileinput('refresh', {showPreview: true, showUpload: false});
            }).on('fileclear', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            }).on('filereset', function (event) {
                $(this).fileinput('refresh', {showPreview: false, showUpload: false});
            });
        });
    </script>
{% endblock %}