{% extends "AsuBundle:Default:pagetwocol.html.twig" %}
{% block content %}
    <a href="{{ path('collection_new_section', {'id': app.request.attributes.get('id') }) }}"
       class="btn btn-primary pull-right" id="publication_list_create">
        Добавить секцию
    </a>

    <h3>Список секций | <small>Сборник "{{ collection.ru.title|raw }}"</small></h3>
    <br>
    <div>
        <table class="table table-striped table-condensed table-align-vertical">
            <thead>
            <tr>
                <th>Название русское</th>
                <th>Название английское</th>
                <th class="text-center">
                    <span class="fa fa-cog"></span>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in sectionlist %}
                <tr>
                    <td>{{ item.section.ru.title }}</td>
                    <td>{{ item.section.en.title }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <a href="{{ path('collection_section_edit', {'id': item.id}) }}" class="btn btn-primary">
                                <span class="fa fa-pencil"></span>
                            </a>
                            <a href="{{ path('collection_section_remove', {'id': app.request.attributes.get('id'),
                                'section_id': item.section.id}) }}" class="btn btn-default btn-remove">
                                <span class="fa fa-trash-o text-danger"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}