{% extends "AsuBundle:Default:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header" xmlns="http://www.w3.org/1999/html">
        <h3>Просмотр коллекции</h3>
    </div>
    <table class="table table-hover">
        <tr>
            <td>Показано на сайте naukaru.ru</td>
            <td>{{ collection.statuses.is_show_nauka ? 'Да' : 'Нет' }}</td>
        </tr>
        <tr>
            <td>Статус</td>
            {% if collection.statuses.is_published %}
            <td><span class="label label-success">Опубликован</span></td>
            {% else %}
            <td><span class="label label-primary">В работе</span></td>
            {% endif %}
        </tr>
        <tr>
            <td>Название Коллекции</td>
            <td>{{ collection.ru.title }}</td>
        </tr>
        <tr>
            <td>Название Коллекции(англ)</td>
            <td>{{ collection.en.title }}</td>
        </tr>
        <tr>
            <td>Издательство</td>
            <td>{{ collection.publisher.ShortTitle }}</td>
        </tr>
        <tr>
            <td>Аннотация</td>
            <td>{{ collection.ru.annotation }}</td>
        </tr>
        <tr>
            <td>Аннотация(англ)</td>
            <td>{{ collection.en.annotation }}</td>
        </tr>
        <tr>
            <td>Ключевые слова(через запятую)</td>
            <td>{{ collection.ru.keywords }}</td>
        </tr>
        <tr>
            <td>Ключевые слова на Английском языке(через запятую)</td>
            <td>{{ collection.en.keywords }}</td>
        </tr>
        <tr>
            <td>Дата публикации произведения</td>
            <td>{{ collection.DatePublicationPrint|date('d.m.Y') }}</td>
        </tr>
        <tr>
            <td>Авторских листов</td>
            <td>{{ collection.authorPages }}</td>
        </tr>
        <tr>
            <td>Всего страниц</td>
            <td>{{ collection.publishedPageTotal }}</td>
        </tr>
        <tr>
            <td>Ссылка на произведение на сайте Znanium.com</td>
            <td>{% if collection.uri %}<a href="{{ collection.uri|raw }}" target="_blank">{{ collection.uri }}
                    <sup><span class="fa fa-external-link-square"></span></sup></a>{% endif %}</td>
        </tr>
    </table>
{% endblock %}
