{% extends "AsuBundle:Default:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Формирование сборника | <small>Сборник "{{ collection.ru.title|raw }}"</small></h3>
    </div>

    <div id="publication_list">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Слева - отображается список статей поданных в конференцию. Справа - список доступных для добавления
                статей. Выберите статью и перетащите её в другой столбец.</p>
        </div>

        <div class="row">
            <div class="col-md-5 left">
                <h4 class="text-center">Содержимое сборника</h4>

                <div class="form-group">
                    <input class="form-control" value="" placeholder="Поиск" id="articles-search">
                </div>

                {% for item in collection_section_list %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{ item.section.ru.title }}</strong>
                        </div>
                        <ul class="list-group rubric" data-id="{{ item.section.id }}" data-draggable="target">
                            {% for article in collection.articlesBySection(item.section) %}
                                <li class="list-group-item article" data-id="{{ article.id }}" data-draggable="item">
                                    <ul class="list-inline">
                                        <li class="text-muted">#{{ article.id }}</li>
                                        <li class="text-muted">11.12.2015</li>
                                        {% if article.authors.count > 0 %}
                                            <li class="dropdown">
                                                <a href="#" data-toggle="dropdown" class="text-muted">
                                                    Авторы
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    {% for author in article.authors %}
                                                        <li class="dropdown-header">{{ author.ru.fio }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                        {% if article.section is not null %}
                                            <li class="dropdown">
                                                <a href="#" data-toggle="dropdown" class="text-muted">
                                                    Рубрика
                                                    <span class="caret"></span>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header">{{ article.section.ru.title }}</li>
                                                </ul>
                                            </li>
                                        {% endif %}
                                        <li class="pull-right hidden">
                                            <a href="{{ path('publication_show', {'id': article.id}) }}" class="text-muted"><span class="fa fa-eye"></span></a>
                                        </li>
                                        <li class="pull-right hidden">
                                            <a href="{{ path('publication_metadata', {'id': article.id}) }}" class="text-muted"><span class="fa fa-pencil"></span></a>
                                        </li>
                                    </ul>

                                    {{ article.ru.title }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>

            <div class="col-md-2 text-center">
                <br /><br />
                <div data-spy="affix" class="affix-btn-group">
                    <div class="btn-group">
                        <div id="move_left" class="btn btn-warning">
                            <span class="fa fa-arrow-left"></span>
                        </div>
                        <button id="save" class="btn btn-success">
                            <span class="fa fa-floppy-o"></span>
                        </button>
                        <div id="move_right" class="btn btn-warning">
                            <span class="fa fa-arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5 right">
                <h4 class="text-center">Поданные в Конференцию статьи</h4>

                <div class="form-group">
                    <input class="form-control" value="" placeholder="Поиск" id="article-heap-search">
                </div>

                <ul id="article_heap" class="list-group" data-draggable="target">
                    {% for item in available %}
                        <li class="list-group-item article" data-id="{{ item.id }}" data-draggable="item">
                            <ul class="list-inline">
                                <li class="text-muted">#{{ item.id }}</li>
                                <li class="text-muted">11.12.2015</li>
                                {% if item.authors.count > 0 %}
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="text-muted">
                                            Авторы
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for author in item.authors %}
                                                <li class="dropdown-header">{{ author.ru.fio }}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if item.section is not null %}
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="text-muted">
                                            Секция
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-header">{{ item.section.ru.title }}</li>
                                        </ul>
                                    </li>
                                {% endif %}
                                <li class="pull-right hidden">
                                    <a href="{{ path('publication_show', {'id': item.id}) }}" class="text-muted"><span class="fa fa-eye"></span></a>
                                </li>
                                <li class="pull-right hidden">
                                    <a href="{{ path('publication_metadata', {'id': item.id}) }}" class="text-muted"><span class="fa fa-pencil"></span></a>
                                </li>
                            </ul>

                            {{ item.ru.title }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="modal fade" id="success_save" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Сохранено</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block page_script %}
    <script src="{{ asset('bundles/asu/js/jquery.quicksearch.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/jquery-ui.min.js') }}"></script>
    <script>
        var articles = [];
        $(function() {
            var articles = [];
            var article_heap = [];

            var search1 =  $('#articles-search').quicksearch('.panel .list-group-item'),
                    search2 =  $('#article-heap-search').quicksearch('#article_heap .list-group-item');

            var btnGroup = $('.affix-btn-group');
            btnGroup.width(btnGroup.parent().width());
            $(window).resize(function(){
                btnGroup.width(btnGroup.parent().width());
            });
            btnGroup.find('.btn').click(function(){
                setTimeout(function(){
                    search1.cache();
                    search2.cache();
                }, 100);
            });

            document.addEventListener('dragend', function(){
                setTimeout(function(){
                    search1.cache();
                    search2.cache();
                }, 100);
            });

            $('#save').on('click touchstart', function(event){
                var rubrics = {};

                $('.rubric').each(function() {
                    var array = [];
                    $(this).find('li.article').each(function(){
                        array.push($(this).attr('data-id'));
                    });
                    rubrics[$(this).data('id')] = array;
                });

                article_heap = [];
                $("#article_heap").find(".list-group-item").each(function(){
                    article_heap.push($(this).attr('data-id'));
                });

                var data = {};
                data['articles'] = rubrics;
                data['article_heap'] = article_heap;
                data['_id'] = {{ collection.id }};
                var tosend = JSON.stringify(data);

                $.ajax('{{ path('collection_save_compose') }}', {async: false, data: {data: tosend}, type: 'POST'}).done
                (function(result) {
                    $('#success_save').modal();
                }).fail(function() {
                    alert('Ошибка сохранения');
                });
                $('#success_save').on('hidden.bs.modal', function (e) {
                    window.location.href = '{{ path('collection_compose', {'id': collection.id }) }}';
                });
            });
        });
    </script>
{% endblock %}