{% extends "JournalsBundle:Base:indexpage.html.twig" %}

{% block content %}
    <div class="page-header">
        <h1>Пользовательское соглашение (публичная оферта)</h1>
    </div>

    <p>Компания-владелец предоставляет информационные услуги Web-сервиса на условиях настоящего Пользовательского Соглашения (далее - «Соглашение»).<br><br></p>

    <h4>1. Определения</h4>
    <p>1.1. Стороны признают, что все термины и понятия, используемые в настоящем Соглашении, а равно в любых приложениях и дополнениях к нему, толкуются в соответствии с нижеприведенными определениями.</p>
    <p>«Сайт» - расположенный по адресу <a href="www.infra-m.ru" target="_blank">www.infra-m.ru</a>, <a href="www.znanium.com" target="_blank">www.znanium.com</a>, <a href="www.rior.ru" target="_blank">www.rior.ru</a>, <a href="www.apollonprint.ru" target="_blank">www.apollonprint.ru</a>, <a href="www.naukaru.ru" target="_blank">www.naukaru.ru</a>.</p>
    <p>«Публичная оферта» - содержащее все существенные условия договора предложение, из которого усматривается воля лица, делающего предложение, заключить договор на указанных в предложении условиях с любым, кто отзовется.</p>
    <p>«Акцепт» - ответ лица, кому адресована оферта, а именно полное и безоговорочное согласие с условиями настоящего Соглашения. Получением извещения об акцепте Пользователя Администрация признает факт регистрации Пользователя на Cайте и считает заключенным настоящее Соглашение на предлагаемых условиях.</p>
    <p>«Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных), в том числе его фамилия, имя, отчество, год, месяц, дата и место рождения, адрес, образование, профессия, другая информация.</p>
    <p>«Администрация» - юридическое или физическое лицо Компании-владельца и ее доверенных лиц, устанавливающее порядок использования Сайта, управляющее его работой, контролирующее выполнением Пользователями настоящего Соглашения.</p>
    <p>«Пользователь» - физическое лицо, прошедшее процедуру регистрации на Сайте в установленном порядке.</p>
    <p>«Оператор» - юридическое или физическое лицо Администрации, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональныхданных, а также определяющие цели обработки персональныхданных, состав персональныхданных, подлежащих обработке, действия (операции), совершаемые с персональнымиданными.</p>
    <p>«Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.</p>
    <p>«Автоматизированная обработка персональных данных» - обработка персональных данных с помощью средств вычислительной техники.</p>
    <p>«Распространение персональных данных» - действия, направленные на раскрытие персональных данных неопределенному кругу лиц.</p>
    <p>«Предоставление персональных данных» - действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц.</p>
    <p>Трансграничная передача персональных данных» - передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому лицу или иностранному юридическому лицу.<br><br></p>

    <h4>2. Предмет Соглашения</h4>
    <p>2.1. Настоящее Соглашение регулирует отношения по пользованию Сайтом между Администрацией и Пользователем.</p>
    <p>2.2. Администрация оказывает Пользователю платные и бесплатные услуги по использованию Сайтом на условиях настоящего Соглашения.</p>
    <p>2.3. Настоящее Соглашение может быть изменено Администрацией без какого-либо специального уведомления.</p>
    <p>2.4. Единственно верная версия Соглашения всегда находится на странице по адресу: http://nauka.infra-m.ru/services/info/licence</p>
    <p>2.5. Принимая данное Соглашение, Пользователь:</p>
    <p>2.5.1. подтверждает, что обладает необходимой правоспособностью, дееспособностью, способен исполнять условия настоящего Соглашения и нести ответственность за нарушение настоящего Соглашения, в том числе по правоотношениям, возникшим вследствие пользования Сайтом;</p>
    <p>2.5.2. дает свое согласие на обработку, автоматизированную обработку, распространение, предоставление и трансграничную передачу указанных им в Личном кабинете персональных данных.</p>
    <p>2.6. Персональные данные:</p>
    <ul>
        <li>обработка персональных данных необходима для исполнения договора, стороной которого либо выгодоприобретателем или поручителем по которому является субъект персональных данных, а также для заключения договора по инициативе субъекта персональных данных или договора, по которому субъект персональных данных будет являться выгодоприобретателем или поручителем;</li>
        <li>согласие на обработку персональных данных может быть отозвано субъектом персональных данных. В случае отзыва субъектом персональных данных согласия на обработку персональных данных оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в пунктах 2 - 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона 27 июля 2006 года N 152-ФЗ «О персональных данных»</li>
        <li>персональные данные, полученные Оператором в связи с заключением договора, стороной которого является субъект персональных данных, распространяются, а также предоставляются третьим лицам только с согласия субъекта персональных данных, (данного им путем заключения настоящего соглашения) и используются оператором исключительно для исполнения настоящего соглашения, а также для заключения иных договоров с субъектом персональных данных.<br><br></li>
    </ul>

    <h4>3. Права и обязанности сторон<br><br></h4>
    <h5><strong>3.1. Права и Обязанности Пользователя</strong></h5>
    <p>3.1.1. Пользователь несет полную юридическую ответственность, наступающую в результате пользования Сайтом.</p>
    <p>3.1.2. При регистрации Пользователь обязуется полностью заполнять все позиции формы регистрации, указывая точную и достоверную информацию. В дальнейшем эти данные будут использоваться для ведения всей документации на Сайте, касающейся публикации произведений, оформления подписки и т. д.</p>
    <p>3.1.3. Пользователь несет ответственность за сохранение конфиденциальности своего пароля для доступа на сайт. О фактах или попытках использования другими лицами его регистрационных данных Пользователь должен немедленно сообщить в Службу поддержки.</p>
    <p>3.1.4. Пользователь обязуется периодически обновлять регистрационные данные и другую личную информацию, которую представил при регистрации, чтобы обеспечить ее точность, актуальность и полноту.</p>
    <p>3.1.5. Пользователь обязуется немедленно принимать уведомления и рекомендации Администрации, касающиеся действий Пользователя на Сайте.</p>
    <p>3.1.6. Пользователь обязуется строить общение на Сайте на принципах общепринятой морали и сетевого этикета.</p>
    <p>3.1.7. Пользователь имеет право по всем возникающим вопросам обращаться в бесплатную Службу поддержки.<br><br></p>

    <h5><strong>3.2. Пользователю запрещается:</strong></h5>
    <p>3.2.1. Регистрировать более одной учетной записи одним Пользователем, вне зависимости от целей, с которыми такая регистрация проводится. Данное нарушение является крайне серьезным и ведет к блокированию всех учетных записей. При возникновении трудностей с входом в Личный кабинет, обращайтесь в бесплатную Службу поддержки.</p>
    <p>3.2.2. Регистрировать пользовательский аккаунт от имени лица, которым Пользователь не является (фальшивый аккаунт), или регистрировать аккаунт группы лиц или организации.</p>
    <p>3.2.3. Размещать любую рекламу, в том числе рекламу Интернет-проектов (за исключением случаев предварительного согласования с Администрацией).</p>
    <p>3.2.4. Использовать Сайт в каких-либо коммерческих целях без предварительного разрешения Администрации или Компании-владельца.</p>
    <p>3.2.5. Размещать на Сайте адреса электронной почты, паспортные данные и прочие персональные данные других Пользователей или любых третьих лиц без их личного согласия на такие действия.</p>
    <p>3.2.6. Размещать любые файлы, которые содержат или могут содержать вирусы и другие вредоносные программы.</p>
    <p>3.2.7. Любым способом, в том числе путем взлома, пытаться получить доступ к чужому аккаунту вопреки воле лица, которому он принадлежит.</p>
    <p>3.2.8. Осуществлять сбор персональных данных других Пользователей с целью их последующей обработки т.е. совершения действий (операций) с персональными данными, включая их сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование и уничтожение.</p>
    <p>3.2.9. Размещать любую информацию, нарушающую исключительные права Пользователей или третьих лиц на объекты интеллектуальной собственности.<br><br></p>

    <h5><strong>3.3. Права и обязанности Администрации</strong></h5>
    <p>3.3.1. Администрация обязуется сохранять конфиденциальность данных о Пользователе. Данные о Пользователе могут быть предоставлены только в случаях, предусмотренных законодательством Российской Федерации, Администрация также гарантирует тайну переписки с Пользователем.</p>
    <p>3.3.2. Администрация оставляет за собой право изменять правила с последующим уведомлением об этом Пользователей Сайта. Все изменения и новации на сайте производятся с учетом мнений и интересов пользователей.</p>
    <p>3.3.3. Сайт или его сервисы могут быть в то или иное время частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера. Администрация имеет право проводить необходимые профилактические или иные работы в то или иное время по личному усмотрению с предварительным уведомлением Пользователей или без такового.</p>
    <p>3.3.4. Администрация сохраняет за собой право в любое время изменять оформление Сайта, его контент, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые или хранящиеся на Сайте, любые северные приложения в любое время с предварительным уведомлением или без такового.</p>
    <p>3.3.5. Администрация не несет ответственности за любые ошибки, упущения, прерывания, удаление, дефекты, задержку в обработке или передаче данных, сбое линий связи, кражу, уничтожение или неправомерный доступ к материалам пользователей, размещенным на Cайте или в любом другом месте.</p>
    <p>3.3.6. Ни при каких обстоятельствах Администрация или ее представители не несут ответственности перед Пользователем или любыми третьими лицами за любой косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, нарушение личных не имущественных прав, а именно причинение вреда чести, достоинству или деловой репутации, полученные в связи с использованием Сайта, содержимого Сайта или иных материалов, к которым Пользователь или иные лица получили доступ с помощью Сайта, даже, если Администрация предупреждала или указывала на возможность такого вреда.</p>
    <p>3.3.7. При использовании Пользователем платных услуг, предоставлять предусмотренные законодательством Российской Федерации документы, подтверждающие предоставление платных услуг.<br><br></p>

    <h4>4. Заключительные положения</h4>
    <p>4.1. Настоящее Соглашение является юридическим соглашением Пользователя и Администрации относительно порядка использования Сайта и его сервисов.</p>
    <p>4.2. Настоящее Соглашение регулируется и толкуется в соответствии с законодательством Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат разрешению в соответствии с законодательством Российской Федерации.<br><br></p>

    <h4>Срок действия Соглашения</h4>
    <p>Настоящее Соглашение вступает в силу с момента его заключения и действует неопределенный срок.</p>
    <br>
    <p><em>Я согласен с условиями Пользовательского соглашения и настоящим подтверждаю заключение Соглашения.</em></p>
{% endblock %}