{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}
{% block content %}
    <div class="page-header">
        <h3>{{ article.__get('title') }}</h3>
    </div>

    <dl class="dl-horizontal">
        <dt>Авторы:</dt>
        <dd>
            {% for auth in authors %}
                <a href="/nauka/author/{{ auth.__get('_id') }}/">{{ auth.__get('fio') }}</a>,
            {% endfor %}
        </dd>
        <dt>Doi:</dt>
        <dd>{{ article.__get('doi') }}</dd>
        <dt>Журнал:</dt>
        <dd><a href="/nauka/{{ journal.__get('_id') }}">{{ journal.__get('title') }}</a>, <a href="/nauka/issue/{{ issue.__get('_id') }}">Volume {{ issue.__get('volume')  }} Issue {{ issue.__get('issue') }}</a></dd>
        <dt>Статья опубликована:</dt>
        <dd>{{ article.__get('dt_publication_print') }}</dd>
    </dl>

    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Цитировать статью
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    {% for auth in authors %}
                        {{ auth.__get('last_name') }} {{ auth.__get('first_name')|first }}.{{ auth.__get('second_name')|first }}. /
                    {% endfor %}
                    {{ article.__get('title') }} / {{ journal.__get('title') }} /T. {{ issue.__get('volume') }} № {{ issue.__get('issue') }}. C.{{ article.__get('first_page') }} - {{ article.__get('last_page') }}
                    DOI: {{ article.__get('doi') }}
                    <br>
                    {% for auth in authors %}
                        {{ translitIt(auth.__get('last_name')) }} {{ translitIt(auth.__get('first_name')|first) }}.{{ translitIt(auth.__get('second_name')|first) }}. /
                    {% endfor %}
                    {{ article.__get('eng_title') }} / {{ journal.__get('title') }} /T. {{ issue.__get('volume') }} № {{ issue.__get('issue') }}. C.{{ article.__get('first_page') }} - {{ article.__get('last_page') }}
                    DOI: {{ article.__get('doi') }}
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Инормация об авторах
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>%инфо об авторах%</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Сведения о публикации
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>%сведения%</p>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#annotation" data-toggle="tab">Аннотация</a></li>
        <li><a href="#preview" data-toggle="tab">Предварительный просмотр</a></li>
        <li><a href="#fulltext" data-toggle="tab">Полный текст</a></li>
        <li><a href="#refs" data-toggle="tab">Список литературы</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="preview"></div>
        <div class="tab-pane" id="annotation"></div>
        <div class="tab-pane" id="fulltext"></div>
        <div class="tab-pane" id="refs"></div>
    </div>

{% endblock %}