{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block content %}
    <div class="row author">
        <div class="col-md-4 col-sm-5 text-center">
            <div class="thumbnail">
                <img class="img-responsive" src="{{ asset('bundles/journals/images/author.jpg') }}">
            </div>

            <div class="btn-group">
                <a href="#" class="btn btn-default">
                    <span class="fa fa-facebook"></span>
                </a>
                <a href="#" class="btn btn-default">
                    <span class="fa fa-twitter"></span>
                </a>
                <a href="#" class="btn btn-default">
                    <span class="fa fa-vk"></span>
                </a>
                <a href="mailto:dexter77@list.ru" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="dexter77@list.ru">
                    <span class="fa fa-envelope"></span>
                </a>
            </div>
        </div>

        <div class="col-md-8 col-sm-7">
            <h2>{{ author.fio }}</h2>
            <hr>

            <dl class="dl-horizontal">
                <dt>Учёная степень:</dt>
                <dd>{{ author.ru.degree }}</dd>

                <dt>Ученое звание:<dt>
                <dd>{{ author.ru.academic_title }}</dd>

                <dt>Почетное звание:</dt>
                <dd>{{ author.ru.adv_title }}</dd>

                <dt>Место работы:</dt>
                <dd>{{ author.ru.work_title }}</dd>

                <dt>Должность:</dt>
                <dd>{{ author.ru.position }}</dd>

                <dt>Позразделение:</dt>
                <dd>{{ author.ru.department }}</dd>

                <dt>Местонахождение</dt>
                <dd>{{ author.city }}</dd>
            </dl>

            <div class="btn-toolbar">
                <div class="dropdown">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Наукометрика
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="{{ author.orcidId|length > 1 ? 'http://orcid.org/'~author.orcidId : '#' }}"
                               target="_blank">ORCID</a></li>
                        <li><a href="#" target="_blank">Профиль автора в Scopus</a></li>
                        <li><a href="http://www.researcherid.com/ProfileView.action?returnCode=ROUTER.Unauthorized&queryString=KG0UuZjN5WmoB8bI5snMN6h62Mw%252BpSylSuzHPCMVLo0%253D&SrcApp=CR&Init=Yes" target="_blank">Профиль автора в ResearcherID</a></li>
                        <li><a href="#" target="_blank">Профиль автора в РИНЦ</a></li>
                        <li><a href="#" target="_blank">Профиль в других системах</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-upload"></span>
                        Загрузить
                        <span class="caret"></span>
                    </div>

                    <ul class="dropdown-menu">
                        <li><a href="#">Монографию</a></li>
                        <li><a href="#">Учебник</a></li>
                        <li><a href="#">Учебное Пособие</a></li>
                        <li><a href="#">Статью</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-upload-vkr">ВКР</a></li>
                    </ul>
                </div>

                <div class="dropdown">
                    <div class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-pencil-square-o"></span>
                        Онлайн редактор
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">Меню</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-articles">Статьи</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#modal-notperiodicals">Непериодика</a></li>
                        <li><a href="#">HTML-блоки</a></li>
                        <li><a href="#">Реклама</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Целевые аудитории</a></li>
                    </ul>
                </div>

                <a href="#" class="btn btn-default">
                    <span class="fa fa-shopping-cart"></span>
                    Корзина
                    <span class="label label-danger">2</span>
                </a>
            </div>

            <hr>

            <div class="row">
                <dl class="rating col-lg-4">
                    <dt data-toggle="modal" data-target="#modal-analysis-1" class="btn btn-default">Тематический анализ</dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>

                <dl class="rating col-lg-4 text-center">
                    <dt data-toggle="modal" data-target="#modal-analysis-2" class="btn btn-default">Анализ научного текста</dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>

                <dl class="rating col-lg-4 text-right">
                    <dt data-toggle="modal" data-target="#modal-analysis-3" class="btn btn-default">Оценка оригинальности</dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <br>
    <h3 class="text-center">Произведения автора</h3>
    <br>

    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Статья
                    </a>
                </h4>
            </div>
            <div id="collapse-1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="media-list">
                        {% for pub in pubs.articles %}
                            <li class="media col-lg-3">
                                <div class="media-left">
                                    <a href="{{ path('monography_show', {'id': pub.id}) }}" class="thumbnail">
                                        <img src="http://znanium.com/images/0435/435691.jpg">
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="{{ path('article_show', {'id': pub.id}) }}">{{ pub.ru.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Монография
                    </a>
                </h4>
            </div>
            <div id="collapse-4" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="media-list">
                        {% for pub in pubs.monographys %}
                            <li class="media col-md-3 col-sm-6 col-xs-12">
                                <div class="media-left">
                                    <a href="{{ path('monography_show', {'id': pub.id}) }}" class="thumbnail">
                                        <img src="http://znanium.com/images/0435/435691.jpg">
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="{{ path('monography_show', {'id': pub.id}) }}">{{ pub.ru.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2">
                        <span class="fa fa-chevron-down pull-right"></span>
                        Учебник
                    </a>
                </h4>
            </div>
            <div id="collapse-2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="media-list">
                        {% for pub in pubs.textbooks %}
                            <li class="media col-lg-3">
                                <div class="media-left">
                                    <a href="{{ path('textbook_show', {'id': pub.id}) }}" class="thumbnail">
                                        <img src="http://znanium.com/images/0435/435691.jpg">
                                    </a>
                                </div>

                                <div class="media-body">
                                    <a href="{{ path('textbook_show', {'id': pub.id}) }}">{{ pub.ru.title }}</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5">
                        <span class="fa fa-chevron-down pull-right"></span>
                        ВКР
                    </a>
                </h4>
            </div>
            <div id="collapse-5" class="panel-collapse collapse">
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-analysis-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Тематический анализ</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-1">
                                            <span class="fa fa-chevron-down pull-right"></span>
                                            Справка
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-help-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется анализ публикационной активности по заданной теме. Выберите коллекции и временной период, задайте тему с помощью фраз или ключевых слов. В результате система сформирует отчёт, содержащий относительное количество публикаций по заданной теме за каждый год из выбранного интервала, а также распределение найденных документов по коллекциям.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-search-settings-1">
                                            <span class="fa fa-chevron-down pull-right"></span>
                                            Настройки поиска
                                        </a>
                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                    </h4>
                                </div>
                                <div id="collapse-search-settings-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="list-unstyled row">
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Все коллекции
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Авторефераты
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Российские журналы
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Википедия
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Внешние коллекции ВУЗов
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Инфра М
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Hindawi
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Springer open access
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Springer
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-advanced-search">
                                            <span class="fa fa-chevron-down pull-right"></span>
                                            Расширенный поиск
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-advanced-search" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <label>
                                                                Годы публикации
                                                                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите период времени, к которому должны относиться найденные публикации."></span>
                                                            </label>

                                                            <div class="form-inline">
                                                                <label>с</label>
                                                                <select data-width="auto">
                                                                    <option>1970</option>
                                                                </select>
                                                                <label>по</label>
                                                                <select data-width="auto">
                                                                    <option>2015</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <label>Язык произведения</label>
                                                            <select data-width="100%">
                                                                <option>Русский</option>
                                                                <option>Английский</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Авторы
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле фамилии авторов, чьи публикации необходимо найти"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        ORCID
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ORCID (Open Researcher and Contributor ID) документа – уникальный идентификатор автора, публикации которого Вы хотите найти"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Ключевые слова
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ключевые слова, которыми должны описываться найденные документы"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Издательство
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле издательство документа"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Рубрики ГРНТИ
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле код рубрики ГРНТИ (Государственного рубрикатора научно-технической информации) или слова, входящие в названия интересующих Вас рубрик"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Вид документа
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле тип документа в коллекции «ИНФРА-М»: «статья», «книга», «диссертация»"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Торговый Код</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Заглавие
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название публикации или фразу, которая должна встречаться в названии"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        DOI
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле DOI (Digital Object Identifier) документа – уникальный идентификатор цифрового объекта (например, публикации)"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Аннотация
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле аннотацию или часть аннотации, которой должны описываться найденные документы"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Название журнала
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название журнала, в котором опубликованы искомые научные статьи"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Рубрики ОКСО
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле рубрики ОКСО, к которым должен относиться документ"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        ISBN
                                                        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ISBN документа"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-unstyled row">
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Есть в наличии
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Новинка
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> ТБК
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> ББК
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Наличие рекомендательного грифа
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                Поисковый запрос
                                <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле предложения, фразы или ключевые слова, которые должны встречаться в текстах искомых публикаций и которые должны отражать содержание этих публикаций"></span>
                            </label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Отобразить тренды
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Поиск</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-analysis-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Анализ научных текстов</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-2">
                                            <span class="fa fa-chevron-down pull-right"></span>
                                            Справка
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-help-2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется анализ научных публикаций. Определяется научный уровень публикации, выявляются полученные результаты, извлекаются термины, введенные в публикации. Уровень публикации оценивается по шкале "Является/не является научной" с промежуточными значениями. Введите текст или выберите файл публикации и нажмите кнопку "Анализировать". Анализ качества научных текстов в настоящее время доступен только для русского языка.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Введите текст публикации:</label>
                            <textarea class="form-control" rows="10"></textarea>
                        </div>

                        <div class="form-group">
                            <label>...или загрузите файл публикации:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Файл не выбран">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-search-settings-2">
                                        <span class="fa fa-chevron-down pull-right"></span>
                                        Настройки поиска
                                    </a>
                                    <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                </h4>
                            </div>
                            <div id="collapse-search-settings-2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled row">
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Все коллекции
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Авторефераты
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Российские журналы
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Википедия
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Внешние коллекции ВУЗов
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Инфра М
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Hindawi
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer open access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Анализировать</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-analysis-3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h4 class="modal-title text-center">Оценка оригинальности</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-3">
                                            <span class="fa fa-chevron-down pull-right"></span>
                                            Справка
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse-help-3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется поиск текстовых заимствований в коллекциях документов. Введите проверяемый текст в соответствующее поле или загрузите файл с текстом для поиска заимствований. Вы можете выбрать год опубликования проверяемого текста для разделения найденных совпадений на две категории: множество документов-источников, из которых заимствует проверяемый текст, (опубликованных ранее), а также множество документов, заимствующих из проверяемого текста, (опубликованных позднее). При оценке оригинальности проверяемого текста Вы можете исключить из рассмотрения совпадающие фрагменты, относящиеся к цитированиям в списках литературы (выделяются автоматически).</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Введите текст публикации:</label>
                            <textarea class="form-control" rows="10"></textarea>
                        </div>

                        <div class="form-group">
                            <label>...или загрузите файл публикации:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Файл не выбран">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Год публикации:</label>
                                    <select data-width="auto">
                                        <option>2015</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Не учитывать список литературы
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-search-settings-3">
                                        <span class="fa fa-chevron-down pull-right"></span>
                                        Настройки поиска
                                    </a>
                                    <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                </h4>
                            </div>
                            <div id="collapse-search-settings-3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled row">
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Все коллекции
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Авторефераты
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Российские журналы
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Википедия
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Внешние коллекции ВУЗов
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Инфра М
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Hindawi
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer open access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Анализировать</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-articles">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Выбрать статью</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Загрузить и отредактировать произведение онлайн в формате epub/html/pdf/docx</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Выбрать файл</button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Нарезка существующего контента</label>
                        <select class="form-control">
                            <option>Выберите тип произведения</option>
                            <option>Монография</option>
                            <option>Учебник</option>
                            <option>Учебное Пособие</option>
                            <option>Статья</option>
                            <option>ВКР</option>
                        </select>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-articles" data-toggle="collapse" class="collapsed">Список статей</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-articles">

                            <table class="table table-striped vertical-align-middle">
                                <tbody>
                                <tr>
                                    <td><a href="#">Advances in Law Studies</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Advances in Management &amp; Marketing</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Foods and Raw Materials</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Russian Journal of Management</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Актуальные направления научных исследований XXI века: теория и практика</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Аудитор</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Безопасность в техносфере</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">В мире неразрушающего контроля</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Вестник Ассоциации вузов туризма и сервиса</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Вестник Донского государственного технического университета</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-articles-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-articles-online-editor">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Редактирование статьи</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>К чему вы хотите привязать эту статью <strong class="text-danger">*</strong></label><br>
                                    <div data-toggle="radio" class="btn-group" data-toggle-name="object">
                                        <button class="btn btn-default active" value="" type="button">Ни к чему</button>
                                        <button class="btn btn-default" value="NAuditory" type="button">К целевой аудитории</button>
                                        <button class="btn btn-default" value="NJournal" type="button">К журналу</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Привязка к конкретному объекту <strong class="text-danger">*</strong></label>
                                    <select class="form-control">
                                        <option>Нет привязки</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Язык</label>
                                    <select class="form-control">
                                        <option>Русский</option>
                                        <option>Английский</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ЧПУ статьи</label>
                                    <input type="text" class="form-control" value="about_nauka">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Секции меню</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Название статьи</label>
                            <input type="text" class="form-control" value="Naukaru.ru: бесплатная публикация научных статей, включение в международные базы цитирования">
                        </div>

                        <div class="form-group">
                            <label>SEO. Ключевые слова</label>
                            <input type="text" class="form-control" value="научные журналы, научные статьи, разместить статью бесплатно">
                        </div>

                        <div class="form-group">
                            <label>SEO. Описание</label>
                            <textarea class="form-control" rows="5">Naukaru.ru - сайт научных журналов: бесплатная публикация статей, присвоение DOI, подписка на журналы.</textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Это услуга?</label><br>
                                    <div data-toggle="radio" class="btn-group" data-toggle-name="is_landing">
                                        <button class="btn btn-default active" value="no" type="button">Нет</button>
                                        <button class="btn btn-default" value="yes" type="button">Да</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group hide" id="landing">
                                    <label>Какой маркетинговый функционал подключить?</label>
                                    <select class="form-control">
                                        <option>Не подключать блок</option>
                                        <option>Подписка на журнал</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <label>Статья</label>

                        <div id="article-editor">
                            <p>Naukaru.ru - портал научной периодики, площадка для публикации статей и чтения новых материалов.</p>
                            <p>Задачей проекта является привлечение максимально широкого круга исследователей в каждой предметной области для обсуждения реальных научных вопросов и проблем и сплочения научного сообщества для решения задач, встающих перед ним.</p>
                            <p>Проект Naukaru.ru также имеет своей целью привлечение внимания зарубежных ученых к исследованиям, которые проводятся в России. Для достижения этой цели ведется работа по включению всех журналов сайта в иностранные реферативные базы данных (Scopus, World of Science и др.), а всем материалам присваивается идентификатор цифрового объекта DOI для облегчения их поиска.</p>
                            <p>Также для зарегистрированных пользователей есть возможность получить идентификатор ORCID, который позволяет собрать все свои публикации в одном месте.
                            <p>На сайте Naukaru.ru располагаются научные журналы по различным отраслям знаний, основанные руководителями состоявшихся научных школ, имеющих богатый опыт в своей сфере и сложившиеся традиции научных исследований. Редсоветы журналов полностью независимы в отборе произведений, главными критериями отбора являются научность, актуальность и новизна исследований.</p>
                            <p>Обращаем ваше внимание на то, что публикация в части журналов, расположенных на сайте, бесплатна.</p>
                            <p>Для того чтобы использовать максимум возможностей системы, предлагаем Вам посетить раздел <a href="#">Услуги</a> и <a href="#">зарегистрироваться</a>.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-notperiodicals">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Выбрать непериодику</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Загрузить и отредактировать произведение онлайн в формате epub/html/pdf/docx</label>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Выбрать файл</button>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Нарезка существующего контента</label>
                        <select class="form-control">
                            <option>Выберите тип произведения</option>
                            <option>Монография</option>
                            <option>Учебник</option>
                            <option>Учебное Пособие</option>
                            <option>Статья</option>
                            <option>ВКР</option>
                        </select>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse-notperiodicals" data-toggle="collapse" class="collapsed">Список непериодики</a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse" id="collapse-notperiodicals">

                            <table class="table table-striped vertical-align-middle">
                                <tbody>
                                <tr>
                                    <td><a href="#">Жизнь сократа как основа его философии</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-notperiodical-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">История рима от основания города Саламбо</a></td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">
                                                Редактировать
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal" data-target="#modal-notperiodical-online-editor" data-dismiss="modal">Онлайн редактирование</a></li>
                                                <li><a href="#">Открыть для редактирования в epub</a></li>
                                                <li><a href="#">Открыть для редактирования в pdf</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-notperiodical-online-editor">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">Редактирование непериодики</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>К чему вы хотите привязать эту непериодики <strong class="text-danger">*</strong></label><br>
                                    <div data-toggle="radio" class="btn-group" data-toggle-name="object">
                                        <button class="btn btn-default active" value="" type="button">Ни к чему</button>
                                        <button class="btn btn-default" value="NAuditory" type="button">К целевой аудитории</button>
                                        <button class="btn btn-default" value="NJournal" type="button">К журналу</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Привязка к конкретному объекту <strong class="text-danger">*</strong></label>
                                    <select class="form-control">
                                        <option>Нет привязки</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Язык</label>
                                    <select class="form-control">
                                        <option>Русский</option>
                                        <option>Английский</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>ЧПУ непериодики</label>
                                    <input type="text" class="form-control" value="about_nauka">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Секции меню</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Название непериодики</label>
                            <input type="text" class="form-control" value="">
                        </div>

                        <div class="form-group">
                            <label>SEO. Ключевые слова</label>
                            <input type="text" class="form-control" value="">
                        </div>

                        <div class="form-group">
                            <label>SEO. Описание</label>
                            <textarea class="form-control" rows="5"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Это услуга?</label><br>
                                    <div data-toggle="radio" class="btn-group" data-toggle-name="is_landing">
                                        <button class="btn btn-default active" value="no" type="button">Нет</button>
                                        <button class="btn btn-default" value="yes" type="button">Да</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-10">
                                <div class="form-group hide" id="landing">
                                    <label>Какой маркетинговый функционал подключить?</label>
                                    <select class="form-control">
                                        <option>Не подключать блок</option>
                                        <option>Подписка на журнал</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <label>Непериодика</label>

                        <div id="notperiodical-editor">
                            <p>Это было в Мегаре, предместье Карфагена, в садах Гамилькара. Солдаты, которыми он командовал в Сицилии, устроили большое  пиршество, чтобы  отпраздновать  годовщину  Эрикской  битвы,   и   так   как   хозяин отсутствовал, а их было много, они ели и пили без всякого стеснения.</p>
                            <p>Начальники, обутые в бронзовые котурны, поместились в  среднем  проходе под пурпуровым навесом с золотой бахромой. Навес тянулся от стены  конюшен до первой террасы дворца. Простые  солдаты  расположились  под  деревьями; оттуда видно было  множество  строений  с  плоскими  крышами  -  давильни, погреба, амбары, хлебопекарни, арсеналы, а также двор для слонов, рвы  для диких зверей я тюрьма для рабов.</p>
                            <p>Фиговые деревья окружали кухни; лес смоковниц тянулся до  зеленых  куш, где  рдели  гранаты   меж   белых   хлопчатников;   отягченные   гроздьями виноградники поднимались ввысь к ветвям сосен; под  платанами  цвело  поле роз; на лужайках местами покачивались лилии; дорожки были посыпаны  черным песком, смешанным  с  коралловым  порошком,  а  посредине  тянулась  аллея кипарисов, как двойная колоннада зеленых обелисков.</p>
                            <p>Дворец Гамилькара, построенный из нумидийского мрамора в желтых пятнах, громоздился в отдалении на широком фундаменте; четыре этажа его  выступали террасами один над другим. Его монументальная прямая лестница  из  черного дерева, где в углах каждой  ступеньки  стояли  носовые  части  захваченных вражеских галер, красные  двери,  помеченные  черным  крестом,  с  медными решетками  -  защитой  снизу  от  скорпионов;  легкие  золотые  переплеты, замыкавшие верхние оконца, - все это придавало дворцу суровую пышность,  и он казался солдатам столь  же  торжественным  и  непроницаемым,  как  лицо Гамилькара.</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-upload-vkr">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Загрузить ВКР</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input id="upload-vkr-input" type="file">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/fileinput.min.js') }}"></script>
    <script>
        $(function(){
            $('[data-toggle="radio"]').find('.btn').click(function(){
                $(this).parent().find('.btn').removeClass('active');
                $(this).addClass('active');
            });

            $('[data-target][data-dismiss="modal"]').click(function(){
                var target = $(this).data('target');
                $(target).on('shown.bs.modal', function () {
                    $('body').addClass('modal-open');
                });
            });

            $('[data-toggle-name="is_landing"]').find('.btn').click(function(){
                if($(this).val() == 'yes'){
                    $('#landing').removeClass('hide');
                }else{
                    $('#landing').addClass('hide');
                }
            });

            tinymce.init({
                selector: "#article-editor",
                language: "ru",
                min_height: 300,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fullscreen"
            });

            tinymce.init({
                selector: "#notperiodical-editor",
                language: "ru",
                min_height: 300,
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fullscreen"
            });
        });
    </script>
{% endblock %}