
{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>
    <br>

    <div class="order-list">
        {% for key,value in classif.childrens %}

            {#{{ dump(key) }}#}
            {#{{ dump(value) }}#}

            {% if value.id is defined %}
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse{{ loop.index }}" class="btn pull-right collapsed">
                        <span class="fa fa-chevron-down" data-toggle="tooltip" data-placement="top" data-container="body" title="Свернуть/развернуть"></span>
                    </a>
                    <a href="/classif/{{ collection }}/{{ classif.type }}/{{ value.new_code }}" class="btn pull-right" data-toggle="tooltip" data-placement="top" data-container="body" title="Перейти по ссылке">
                        <span class="fa fa-link"></span>
                    </a>
                    <span data-toggle="collapse" data-target="#collapse{{ loop.index }}">
                        {{ value.new_code }}. {{ value.title }} &nbsp;<span class="badge">{{ object.countByCode(collection, classif.type, value.new_code) }}</span>
                    </span>
                </h4>
                {#<h3>{{ value.title }} ({{ value.new_code }})</h3>#}
                {#{% if object.getPubByCode(classif.type, value.new_code).currentrecord is not null %}#}
                    {#<h3>{{ value.title }} ({{ value.new_code }})</h3>#}
                    {#{% for pub in object.getPubByCode(classif.type, value.new_code) %}#}
                        {#<a href="/nauka/{{ pub.__get('_id') }}/">{{ pub.__get('title') }}</a>#}
                        {#<br>#}
                    {#{% endfor %}#}
                {#{% endif %}#}

                {% if value.childrens is defined %}
                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse">
                        <ul class="list">
                        {% for children in value.childrens %}

                            <li>
                                <a href="/classif/{{ collection }}/{{ classif.type }}/{{ children.new_code }}">
                            {{ children.new_code }}. {{ children.title }}
                            {#{{ children.new_code }}. {{ children.title }} ({{ object.сountByCode(classif.type, children.new_code) }})#}
                                </a>
                            </li>

                            {#{% if object.getPubByCode(classif.type, children.new_code).currentrecord is not null %}#}
                                {#{% for pub in object.getPubByCode(classif.type, children.new_code) %}#}
                                    {#<a href="/nauka/{{ pub.__get('_id') }}/">{{ pub.__get('title') }}</a>#}
                                    {#<br>#}
                                {#{% endfor %}#}
                            {#{% endif %}#}

                        {% endfor %}
                        </ul>
                        <br>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}