{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>{{ article.__get('title') }}</h3>
    </div>

   {{ article.__get('text')|raw }}
{% endblock %}