{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <div class="dropdown pull-right">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Экспорт результатов
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li><a href="#">ISO</a></li>
                <li><a href="#">RUSMARK</a></li>
                <li><a href="#">TXT</a></li>
                <li><a href="#">XLS</a></li>
                <li><a href="#">CSV</a></li>
            </ul>
        </div>

        <h3>{{ title }}</h3>
    </div>

    <ul class="media-list list-group">
        {% for article in articles %}
        <li class="media list-group-item">
            <div class="btn-group btn-group-sm pull-right">
                <div class="btn-group btn-group-sm">
                    <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-star"></span> В избранное</a></li>
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span> Поделиться</a></li>
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-import"></span> На книжную полку</a></li>
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Создать новую книжную полку</a></li>
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-comment"></span> Комментировать</a></li>
                        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span> Купить онлайн</a></li>
                    </ul>
                </div>
                <label class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Выбрать">
                    <span aria-hidden="true" class="glyphicon glyphicon-check"></span>
                    <input type="checkbox">
                </label>
            </div>

            <a href="/encyclopedia/{{ type }}/{{ article._id }}/">
                <div class="media-left">
                    <div class="thumbnail">
                        <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                    </div>
                </div>

                <div class="media-body">
                    <h4 class="media-heading">{{ article.title }}</h4>
                    <dl class="dl-horizontal">
                        <dt>Издатель:</dt>
                        <dd>ИНФРА-М</dd>
                        <dt>Вид издания:</dt>
                        <dd>Энциклопедия</dd>
                        <dt>Рубрика:</dt>
                        <dd>Статьи</dd>
                    </dl>
                    <p class="list-group-item-text">В статье обсуждается утверждение о существовании фундаментальных законов ранее неизвестного экономико-технологического типа и на ряде примеров демонстрируются их прогнозные возможности.</p>
                </div>
            </a>
        {% endfor %}
    </ul>

{% endblock %}