{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block head %}
    <link href="{{ asset('bundles/journals/tree/tree.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/journals/tree/tree.js') }}"></script>
    <script src="{{ asset('bundles/journals/editorum/editorum.js') }}"></script>
    <script src="{{ asset('bundles/journals/editorum/data.js') }}"></script>
    <script src="{{ asset('bundles/journals/editorum/folders.js') }}"></script>
    <script src="{{ asset('bundles/journals/editorum/folders_actions.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                Действия
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" id="appSelectAll">Выделить все</a></li>
                <li><a href="#" id="appDeselectAll">Снять выделение</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Переместить в</a>
                    <ul class="dropdown-menu" id="appMoveTo"></ul>
                </li>
                <li class="dropdown-submenu">
                    <a href="#">Скопировать в</a>
                    <ul class="dropdown-menu" id="appCopyTo"></ul>
                </li>
                <li><a href="#" id="appFolderRemove">Удалить</a></li>
            </ul>
        </div>

        <div id="appFolderTitle">
            <h3>Папка</h3>
        </div>
    </div>

    <div id="appFolderEdit">
        <div id="appSelectedPub" class="alert alert-info hide"></div>
        {#<div class="dropdown">#}
            {#<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownFolders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">#}
                {#Папки#}
                {#<span class="caret"></span>#}
            {#</button>#}
            {#<ul class="dropdown-menu" aria-labelledby="dropdownFolders" id="appUserFolders">#}
            {#</ul>#}
        {#</div>#}
        <div class="bf-hidden" id="appMoveFolderList">
        </div>
        <div class="bf-hidden" id="appCopyFolderList">
        </div>
    </div>

    <ul class="media-list list-group folder-content" id="folder_content"></ul>

    <div class="hide" id="template-folder-item">
        <li class="media list-group-item">
            <div class="media-left">
                <div class="checkbox">
                    <label><input type="checkbox"></label>
                </div>
            </div>

            <div class="media-body">
                <a href=""></a>
            </div>
        </li>
    </div>

    <div class="modal fade text-center" id="foldername-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Название папки</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="foldername" class="form-control" id="foldername">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Сохранить</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade text-center" id="removge-folder-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Удаление папки</h4>
                </div>
                <div class="modal-body">
                    <p>Удалить папку и всё её содержимое?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Нет</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Да</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
    <script>
        $(function() {
            editorum = new Editorum();
            editorum.init();
            editorum.folders.showFolders();
            editorum.folders.treeInit();
            editorum.folders.subMenu();
            {% if goto is defined %}
                var folder = $('a.e_folder#{{ goto }}');
                folder.click();
            {% endif %}
        });
    </script>
{% endblock %}

{% block sidemenu %}
    <div class="page-header">
        <h3>Ваши папки</h3>
    </div>

    <div class="show_folders">
        <div id="appFolderTree">
            <ul id="tree"></ul>
        </div>
    </div>
{% endblock %}