{% extends "JournalsBundle:Base:indexpage.html.twig" %}

{% block head %}
    <script src="{{ asset('bundles/journals/js/jquery.autocomplite.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="page-header">
                <h3>Журналы</h3>
            </div>
            <ul class="list">
                {% for journal in journals %}
                    <li><a href="{{ path('nauka_journal', {'id': journal.id}) }}">{{ journal.ru.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-6">
            <div class="page-header">
                <div data-target="#collapse-statistics" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Znanium сегодня</h3>
                </div>
            </div>

            <div class="collapse in row" id="collapse-statistics">
                <div class="col-sm-9">
                    <dl class="dl-horizontal">
                        <dt><span class="fa fa-institution"></span> Фонд:</dt><dd>250644 произведений</dd>
                        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar-o"></span> За сегодня:</dt><dd>178</dd>
                        <dt><span class="fa fa-user"></span> Пользователей:</dt><dd>128 627</dd>
                        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-calendar-o"></span> За сегодня:</dt><dd>3278</dd>
                        <dt>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-success"><span class="fa fa-power-off"></span> Онлайн:</span></dt><dd class="text-success">2627</dd>
                        <dt><span class="fa fa-book"></span> Учебников (учебных пособий):</dt><dd>38336</dd>
                        <dt><span class="fa fa-file-text"></span> Монографий:</dt><dd>26564</dd>
                        <dt><span class="fa fa-file-text-o"></span> Научных статей:</dt><dd>62515</dd>
                        <dt><span class="fa fa-book"></span> Журналов:</dt><dd>12515</dd>
                        <dt><span class="fa fa-file-o"></span> ВКР:</dt><dd>42340</dd>
                    </dl>
                </div>

                <div class="col-sm-3 text-right">
                    <a class="btn btn-default" href="/nauka/statistics/1/">Подробнее</a>
                </div>
            </div>
            <br>

            <div class="page-header">
                <div data-target="#collapse-collection" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Коллекции нашего фонда</h3>
                </div>
            </div>

            <ul class="media-list media-list-sm list-group collapse in" id="collapse-collection">
                {% for issue in issues %}
                    <li class="media list-group-item">
                        <a href="/nauka/{{ issue.journal.id }}/">
                            <div class="media-left">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                                </div>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">{{ issue.journal.ru.title }}</h4>
                                <dl class="dl-horizontal">
                                    <dt>Автор:</dt>
                                    <dd>Крахмальный Т. А.</dd>
                                    <dt>Издатель:</dt>
                                    <dd>ИНФРА-М</dd>
                                    <dt>Вид издания:</dt>
                                    <dd>Учебное пособие</dd>
                                    <dt>Рубрика:</dt>
                                    <dd>Статьи</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="page-header">
                <div data-target="#collapse-books" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Книги</h3>
                </div>
            </div>

            <ul class="media-list media-list-sm list-group collapse in" id="collapse-books">
                {% for issue in issues %}
                    <li class="media list-group-item">
                        <a href="/nauka/{{ issue.journal.id }}/">
                            <div class="media-left">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                                </div>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">{{ issue.journal.ru.title }}</h4>
                                <dl class="dl-horizontal">
                                    <dt>Автор:</dt>
                                    <dd>Крахмальный Т. А.</dd>
                                    <dt>Издатель:</dt>
                                    <dd>ИНФРА-М</dd>
                                    <dt>Вид издания:</dt>
                                    <dd>Учебное пособие</dd>
                                    <dt>Рубрика:</dt>
                                    <dd>Статьи</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="page-header">
                <div data-target="#collapse-magazines" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Научные журналы</h3>
                </div>
            </div>

            <ul class="media-list media-list-sm list-group collapse in" id="collapse-magazines">
                {% for issue in issues %}
                    <li class="media list-group-item">
                        <a href="/nauka/{{ issue.journal.id }}/">
                            <div class="media-left">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                                </div>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">{{ issue.journal.ru.title }}</h4>
                                <dl class="dl-horizontal">
                                    <dt>Автор:</dt>
                                    <dd>Крахмальный Т. А.</dd>
                                    <dt>Издатель:</dt>
                                    <dd>ИНФРА-М</dd>
                                    <dt>Вид издания:</dt>
                                    <dd>Учебное пособие</dd>
                                    <dt>Рубрика:</dt>
                                    <dd>Статьи</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="page-header">
                <div data-target="#collapse-encyclopedia" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Энциклопедия знаниум</h3>
                </div>
            </div>

            <ul class="media-list media-list-sm list-group collapse in" id="collapse-encyclopedia">
                {% for issue in issues %}
                    <li class="media list-group-item">
                        <a href="/nauka/{{ issue.journal.id }}/">
                            <div class="media-left">
                                <div class="thumbnail">
                                    <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                                </div>
                            </div>

                            <div class="media-body">
                                <h4 class="media-heading">{{ issue.journal.ru.title }}</h4>
                                <dl class="dl-horizontal">
                                    <dt>Автор:</dt>
                                    <dd>Крахмальный Т. А.</dd>
                                    <dt>Издатель:</dt>
                                    <dd>ИНФРА-М</dd>
                                    <dt>Вид издания:</dt>
                                    <dd>Учебное пособие</dd>
                                    <dt>Рубрика:</dt>
                                    <dd>Статьи</dd>
                                </dl>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div class="page-header">
                <div data-target="#collapse-webinars" data-toggle="collapse">
                    <div class="btn pull-right">
                        <span data-container="body" data-placement="top" data-toggle="tooltip" class="fa fa-chevron-down" title="Свернуть/развернуть"></span>
                    </div>
                    <h3>Вебинары</h3>
                </div>
            </div>

            <ul class="media-list media-list-sm list-group collapse in" id="collapse-webinars">
                <li class="media list-group-item">
                    <a href="#">
                        <div class="media-left">
                            <div class="thumbnail">
                                <img class="img-responsive" src="{{ asset('bundles/journals/images/journal.jpg') }}">
                            </div>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading">Видеоинструкция для авторов и членов редсоветов и редколлегий журналов</h4>
                            <dl class="dl-horizontal">
                                <dt>Автор:</dt>
                                <dd>Крахмальный Т. А.</dd>
                                <dt>Издатель:</dt>
                                <dd>ИНФРА-М</dd>
                                <dt>Тема:</dt>
                                <dd>Регистрация и заполнение Профиля</dd>
                            </dl>
                            <p class="list-group-item-text">Видеоинструкция для авторов и членов редсоветов и редколлегий журналов о первых шагах на сайте научной периодики Naukaru.ru. Не содержит звукового сопровождения, поэтому для просмотра не требуются колонки или наушники.</p>
                        </div>
                    </a>
                </li>
            </ul>
            <!--div class="row">
                {% for issue in issues %}
                    <div class="rounded">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <a href="/nauka/{{ issue.journal.id }}/" class="thumbnail">
                                    <img src="{{ asset('bundles/journals/images/journal.jpg') }}" class="img-rounded" width="100px">
                                </a>

                                <div class="btn-group btn-group-sm">
                                    <div class="btn btn-default" data-container="body" data-toggle="tooltip" data-placement="top" title="Поделиться"><span class="glyphicon glyphicon-share"></span></div>
                                    <div class="btn btn-default" data-container="body" data-toggle="tooltip" data-placement="top" title="Комментировать"><span class="glyphicon glyphicon-comment"></span></div>
                                    <div class="btn btn-default" data-container="body" data-toggle="tooltip" data-placement="top" title="В избранное"><span class="glyphicon glyphicon-star"></span></div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p><a href="/nauka/{{ issue.journal.id }}/"><h4>{{ issue.journal.ru.title }}</h4></a></p>
                                <p><a href="#">Рубрика 1 , Рубрика 2 </a></p>
                                <div class="item-"></div>
                                <p><a href="/nauka/issue/{{ issue.id }}/">Volume {{ issue.volume ~ ', Issue' ~ issue.issue }}</a></p>
                                <p><a href="/nauka/order/alphabet/"><button type="button" class="btn btn-success btn-xs">Journal</button></a>  Дата опуликования</p>
                                <p>Издательства</p>
                                <p>DOI: %DoI%</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div-->
        </div>

        <div class="col-md-3">
            <div class="page-header">
                <h3>Непериодика</h3>
            </div>
            <ul class="list">
                {% for journal in journals %}
                    <li><a href="/nauka/{{ journal.id }}/">{{ journal.ru.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <script src="{{ asset('bundles/journals/js/search.js') }}"></script>
{% endblock %}