{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>{{ issue.journal.ru.title }}<br>
            <small>Volume{{ issue.volume }}, Issue{{ issue.issue }}</small>
        </h3>
    </div>

    <p>Дата выхода номера</p>
    <p>{{ issue.datePublished|date('d.m.Y') }}</p>
    <br>
    <ul class="list-unstyled">
        {% for article in issue.articles %}
            {% if article.statuses.is_show_nauka %}
                <li><a href="{{ path('nauka_article', {'id': article.id}) }}/nauka/publication/{{ article.id }}">{{
                        article.ru.title
                        }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}