{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>Список авторов</h1>

            {% for item in authors %}
                {% if item.__get('_id') is defined %}
                <a href="/nauka/author/{{ item.__get('_id') }}" class="top_link"><p>{{ item.__get('fio') }}</p></a>
                    <ul>
                        {% for pub in object.getPublication(item.__get('_id')) %}
                            <li><a href="/nauka/{{ pub.__get('_id') }}"> {{ pub.__get('title') }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}