{% extends "JournalsBundle:Base:pageonecol.html.twig" %}
{% block content %}
    <div class="row card">
        <div class="col-md-3 col-sm-5 text-center">
            <div class="thumbnail">
                <img src="/bundles/journals/images/cover.jpg" alt="">
                <div class="ribbon">
                    <span class="label-danger">Новинка</span>
                </div>
            </div>

            <dl class="rating">
                <dt>Рейтинг:</dt>
                <dd>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </dd>
            </dl>

            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <div class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown">
                        <small>
                            <span class="glyphicon glyphicon-download-alt"></span>
                            Скачать
                        </small>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">PDF</a></li>
                        <li><a href="#">PDC</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <div class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown">
                        <small>
                            <span class="glyphicon glyphicon-export"></span>
                            Экспорт
                        </small>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">ISO</a></li>
                        <li><a href="#">RUSMARK</a></li>
                        <li><a href="#">TXT</a></li>
                        <li><a href="#">XLS</a></li>
                        <li><a href="#">CSV</a></li>
                    </ul>
                </div>

                <div class="btn-group">
                    <div class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown">
                        <small>
                            <span class="glyphicon glyphicon-book"></span>
                            Читать
                        </small>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">Онлайн - 500 руб.</a></li>
                        <li><a href="#">Бумажный вариант - 700 руб.</a></li>
                        <li><a href="#">Бумажный + онлайн - 800 руб.</a></li>
                        <li><a href="/nauka/pdfreader/1">Читать в pdf</a></li>
                        <li><a href="/nauka/epubreader/1">Читать в epub</a></li>
                    </ul>
                </div>
            </div>

            <div class="btn-group">
                <a href="/nauka/statistics/1/" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Статистика"><span class="glyphicon glyphicon-stats"></span></a>
                <div class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Поделиться"><span class="glyphicon glyphicon-share"></span></div>
                <div class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Отправить на e-mail"><span class="glyphicon glyphicon-envelope"></span></div>
                <div class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Комментировать"><span class="glyphicon glyphicon-comment"></span></div>
                <div class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="В избранное"><span class="glyphicon glyphicon-star"></span></div>
            </div>
        </div>

        <div class="col-lg-6 col-md-5 col-sm-7">
            <h3>Государственное управление: английский для академических целей: Учебное пособие Л.В.Бондарева, 2 изд.</h3>
            <hr>
            <dl class="dl-horizontal">
                <dt>Автор:</dt>
                <dd><a href="/nauka/author/7838/">Г.С.Стародубцев</a></dd>
                <dt>ORCID:</dt>
                <dd>0000-0000-0000-0000</dd>
                <dt>Researcher ID:</dt>
                <dd>C-0000-0000</dd>
            </dl>
            <hr>
            <p>Учебное пособие для студентов «Public Administration. English For Academic Purposes» подготовлено коллективом акторов факультета государственного управления МГУ имени М.В.Ломоносова. Пособие дает возможностьстудентам ознакомиться с англоязычной литературой по государственному управлению Великобритании и США. Предложенные авторами материалы включают официальные издания по государственной службе и управлению, Интернет-публикации, толковые терминологические словари и т.д. Для студентов, специализирующихся в области государственного и муниципального управления. </p>
            <hr>
            <dl class="dl-horizontal">
                <dt>ГРНТИ 16.00</dt>
                <dd><a href="/classif/publication/grnti/16.00/">Языкознание</a></dd>
                <dt>ГРНТИ 11.00</dt>
                <dd><a href="/classif/publication/grnti/11.00/">Политические науки</a></dd>
            </dl>

            <hr>

            <dl class="dl-horizontal">
                <dt>Издатель:</dt>
                <dd><a href="#">ИНФРА-М</a></dd>
                <dt>Вид издания:</dt>
                <dd>Учебное пособие</dd>
                <dt>ISBN:</dt>
                <dd>978-5-16-010077-7</dd>
                <dt>DOI:</dt>
                <dd><a href="http://znanium.com/catalog.php?bookinfo=374582">10.12737/407</a></dd>
                <dt>Книга находится в:</dt>
                <dd><a href="http://znanium.com/catalog.php">Коллекция Znanium</a></dd>
                <dt><a href="http://elibrary.ru/item.asp?id=18357246">Наукометрика публикации РИНЦ</a></dt>
                <dd></dd>
                <dt><a href="#">Статистика публикации</a></dt>
                <dd></dd>
            </dl>

            <hr>

            <div class="row">
                <dl class="rating col-lg-4">
                    <dt data-toggle="modal" data-target="#modal-analysis-1" class="btn btn-default"><small>Тематический анализ</small></dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>

                <dl class="rating col-lg-4 text-center">
                    <dt data-toggle="modal" data-target="#modal-analysis-2" class="btn btn-default"><small>Анализ научного текста</small></dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>

                <dl class="rating col-lg-4 text-right">
                    <dt data-toggle="modal" data-target="#modal-analysis-3" class="btn btn-default"><small>Оценка оригинальности</small></dt>
                    <dd>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </dd>
                </dl>
            </div>
        </div>

        <div class="col-lg-3 col-md-4">
            <h3>Academus Index</h3>
            <dl>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
                Число цитирований:
                </dt>
                <dd>12</dd>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                </div>
                Число цитирований в РИНЦ:
                </dt>
                <dd>15</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                </div>
                Общая оригинальность:
                </dt>
                <dd>95%</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
                Рейтинг:
                </dt>
                <dd>0.071</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"></div>
                </div>
                Слов:
                </dt>
                <dd>137,634</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
                Уникальных слов:
                </dt>
                <dd>5,452</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                </div>
                Слов в предложении:
                </dt>
                <dd>21.95</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%;"></div>
                </div>
                Букв в слове (средн.):
                </dt>
                <dd>4.76</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                </div>
                Глав:
                </dt>
                <dd>47</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                </div>
                Абзацев:
                </dt>
                <dd>2,151</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                </div>
                Время прочтения (средн.):
                </dt>
                <dd>9:11</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                </div>
                Персоналии:
                </dt>
                <dd>223</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                </div>
                Места:
                </dt>
                <dd>80</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
                </div>
                Бренды:
                </dt>
                <dd>222</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                </div>
                Предметы:
                </dt>
                <dd>207</dt>
                <dt>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                </div>
                Рецензий:
                </dt>
                <dd>4</dt>
            </dl>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col-lg-3">
            <ul class="list-group" role="tablist">
                <li href="#tab-0" class="list-group-item active" role="tab" data-toggle="tab">
                    <span class="badge">1256</span>
                    Ключенвые слова
                </li>
                <li href="#tab-1" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">1256</span>
                    Существительные
                </li>
                <li href="#tab-2" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">1555</span>
                    Глаголы
                </li>
                <li href="#tab-3" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">1505</span>
                    Прилагательные
                </li>
                <li href="#tab-4" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">2315</span>
                    Наречия
                </li>
                <li href="#tab-5" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">223</span>
                    Персоналии
                </li>
                <li href="#tab-6" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">80</span>
                    Места
                </li>
                <li href="#tab-7" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">222</span>
                    Бренды
                </li>
                <li href="#tab-8" class="list-group-item" role="tab" data-toggle="tab">
                    <span class="badge">207</span>
                    Предметы
                </li>
            </ul>
        </div>

        <div class="tab-content col-lg-9">
            <div role="tabpanel" class="tab-pane active" id="tab-0">
                <div style="font-size: 32px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">работы бакалавров</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">бакалавры форм</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">информационный-методическая деятельность</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">контроль преподавателя</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">академический бакалавр</div>&nbsp;<div style="font-size: 24px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">библиотека гуу</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">муниципальное управление</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">деловые коммуникации</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">структура ооп</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">проекты фгос</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">этика службы</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">тема программы</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">административно-правовое регулирование</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">вид занятий</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">деловое общение</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">освоение дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политико-административные реформы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">муниципальное имущество</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">место дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">гиму</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">требованный фундамент</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">выделяемые часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общепрофессиональные компетенции</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">аудиторные часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">задачи дисциплины</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственная служба</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общеправовое знание</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политическая этика</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственное управление</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">профессиональный цикл</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">управленческое решение</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">учебная дисциплина</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">гражданские правоотношения</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">вспомогательный-технологический</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственный-политическое управление</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">коммуникации руководителя</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">конституционно-правовой статус</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">зачетные единицы</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">управленческие решения</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">общественно-политические организации</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">бакалавр</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">интернет-библиотека сми</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">государственный сектор</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">государственный служащий</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">учебные занятия</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">общая трудоемкость</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">должности службы</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">государственные решения</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">разбор кейсов</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">электронные диалоги</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">история управления</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">внеаудиторная работа</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">итоги освоения</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">административно-правовой статус</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">административное право</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">аннотирование материалов</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">части ооп</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">организационный-управленческая деятельность</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">административная этика</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">муниципальные функции</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">гуу</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">изучение дисциплин</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">программа дисциплин</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">служебное поведение</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">основы самоуправления</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">общественные расходы</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">обеспечение дисциплины</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">местное самоуправление</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">маржинальный анализ</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">академический бакалавриат</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">организационный-управленческие решения</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">конституционные права</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">позиции значимости</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">веденные практики</div>&nbsp;<div style="font-size: 13px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">освоение материала</div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-1">
                <div style="font-size: 32px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">работы бакалавров</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">бакалавры форм</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">информационный-методическая деятельность</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">контроль преподавателя</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">академический бакалавр</div>&nbsp;<div style="font-size: 24px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">библиотека гуу</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">муниципальное управление</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">деловые коммуникации</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">структура ооп</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">проекты фгос</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">этика службы</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">тема программы</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">административно-правовое регулирование</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">вид занятий</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">деловое общение</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">освоение дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политико-административные реформы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">муниципальное имущество</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">место дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">гиму</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">требованный фундамент</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">выделяемые часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общепрофессиональные компетенции</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">аудиторные часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">задачи дисциплины</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственная служба</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общеправовое знание</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политическая этика</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственное управление</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">профессиональный цикл</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">управленческое решение</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">учебная дисциплина</div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-2">
                <div style="font-size: 32px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">discourse research</div>&nbsp;<div style="font-size: 28px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">cours du</div>&nbsp;<div style="font-size: 26px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">genre research</div>&nbsp;<div style="font-size: 25px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">курса</div>&nbsp;<div style="font-size: 25px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">competence discourse</div>&nbsp;<div style="font-size: 24px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">kurses</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">для языков</div>&nbsp;<div style="font-size: 22px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">scientific communication</div>&nbsp;<div style="font-size: 22px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">целей</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">wissenschaftlichen der</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">internationale scientifique</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">du description</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">langue la</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">behavior discourse</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">competence research</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">wissenschaftlichen des</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">понятия вводится</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">cognitive question</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">design syllabus</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">сообщества научного</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">threedimensional approach</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">научно-исследовательских</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">задач</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">development course</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">diskursiven</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">et connaissances</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">описания для</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">langue dans</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">discourse</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">rhetorical technique</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">rhetorical function</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">scientific discourse</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">strategy discourse</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">buts</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">description la</div>&nbsp;<div style="font-size: 16px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">beschreibung der</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">трехмерный подход</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">forschungsziele</div>&nbsp;<div style="font-size: 15px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">post-graduate</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">structure grammar</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">component framework</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">purpose research</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">millrood</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">описания</div>&nbsp;<div style="font-size: 14px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">cours</div>&nbsp;<div style="font-size: 13px; margin: 1px 4px 1px 1px; text-decoration: underline; display: inline-block;">nikulshina</div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-3">
                <div style="font-size: 32px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">работы бакалавров</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">бакалавры форм</div>&nbsp;<div style="font-size: 29px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">информационный-методическая деятельность</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">контроль преподавателя</div>&nbsp;<div style="font-size: 27px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">академический бакалавр</div>&nbsp;<div style="font-size: 24px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">библиотека гуу</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">муниципальное управление</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">деловые коммуникации</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">структура ооп</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">проекты фгос</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">этика службы</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">тема программы</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">административно-правовое регулирование</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">вид занятий</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">деловое общение</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">освоение дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политико-административные реформы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">муниципальное имущество</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">место дисциплин</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">гиму</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">требованный фундамент</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">выделяемые часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общепрофессиональные компетенции</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">аудиторные часы</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">задачи дисциплины</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственная служба</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">общеправовое знание</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">политическая этика</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">государственное управление</div>
            </div>

            <div role="tabpanel" class="tab-pane" id="tab-4">
                <div style="font-size: 32px; margin: 9px 12px 9px 9px; text-decoration: underline; display: inline-block;">discourse research</div>&nbsp;<div style="font-size: 28px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">cours du</div>&nbsp;<div style="font-size: 26px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">genre research</div>&nbsp;<div style="font-size: 25px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">курса</div>&nbsp;<div style="font-size: 25px; margin: 7px 10px 7px 7px; text-decoration: underline; display: inline-block;">competence discourse</div>&nbsp;<div style="font-size: 24px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">kurses</div>&nbsp;<div style="font-size: 23px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">для языков</div>&nbsp;<div style="font-size: 22px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">scientific communication</div>&nbsp;<div style="font-size: 22px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">целей</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">wissenschaftlichen der</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">internationale scientifique</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">du description</div>&nbsp;<div style="font-size: 21px; margin: 5px 8px 5px 5px; text-decoration: underline; display: inline-block;">langue la</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">behavior discourse</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">competence research</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">wissenschaftlichen des</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">понятия вводится</div>&nbsp;<div style="font-size: 20px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">cognitive question</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">design syllabus</div>&nbsp;<div style="font-size: 19px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">сообщества научного</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">threedimensional approach</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">научно-исследовательских</div>&nbsp;<div style="font-size: 18px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">задач</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">development course</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">diskursiven</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">et connaissances</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">описания для</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">langue dans</div>&nbsp;<div style="font-size: 17px; margin: 3px 6px 3px 3px; text-decoration: underline; display: inline-block;">discourse</div>
            </div>
        </div>
    </div>

    <br><br>

    <div class="well">
        <h3 class="text-center">С этой книгой также читают</h3>
        <div class="jcarousel">
            <div class="jcarousel-inner">
                <ul>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0413/413174.jpg" alt="">
                        </a>
                        <a href="#">Гидрогеодинамическое моделирование взаимодействия подземных и поверхностных вод</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0435/435691.jpg" alt="">
                        </a>
                        <a href="#">Словацкий экспрессионизм</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0404/404403.jpg" alt="">
                        </a>
                        <a href="#">Экономика инновационного развития</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0359/359185.jpg" alt="">
                        </a>
                        <a href="#">Гидрогеоэкология городов</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0373/373734.jpg" alt="">
                        </a>
                        <a href="#">Основы логики</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0371/371993.jpg" alt="">
                        </a>
                        <a href="#">Геоэкология</a>
                    </li>
                </ul>
            </div>

            <span class="jcarousel-prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="jcarousel-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
        </div>
    </div>

    <div class="well">
        <h3 class="text-center">Рекомендовано к прочтению</h3>
        <div class="jcarousel">
            <div class="jcarousel-inner">
                <ul>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0371/371993.jpg" alt="">
                        </a>
                        <a href="#">Геоэкология</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0413/413174.jpg" alt="">
                        </a>
                        <a href="#">Гидрогеодинамическое моделирование взаимодействия подземных и поверхностных вод</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0404/404403.jpg" alt="">
                        </a>
                        <a href="#">Экономика инновационного развития</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0435/435691.jpg" alt="">
                        </a>
                        <a href="#">Словацкий экспрессионизм</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0359/359185.jpg" alt="">
                        </a>
                        <a href="#">Гидрогеоэкология городов</a>
                    </li>
                    <li>
                        <a href="#" class="thumbnail">
                            <img src="http://znanium.com/images/0373/373734.jpg" alt="">
                        </a>
                        <a href="#">Основы логики</a>
                    </li>
                </ul>
            </div>

            <span class="jcarousel-prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </span>
            <span class="jcarousel-next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </span>
        </div>
    </div>

    <div class="modal fade" id="modal-analysis-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">Тематический анализ</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-1">Справка</a>
                                    </h4>
                                </div>
                                <div id="collapse-help-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется анализ публикационной активности по заданной теме. Выберите коллекции и временной период, задайте тему с помощью фраз или ключевых слов. В результате система сформирует отчёт, содержащий относительное количество публикаций по заданной теме за каждый год из выбранного интервала, а также распределение найденных документов по коллекциям.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-search-settings-1">Настройки поиска</a>
                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                    </h4>
                                </div>
                                <div id="collapse-search-settings-1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <ul class="list-unstyled row">
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Все коллекции
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Авторефераты
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Российские журналы
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Википедия
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Внешние коллекции ВУЗов
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Инфра М
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Hindawi
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Springer open access
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Springer
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-advanced-search">Расширенный поиск</a>
                                    </h4>
                                </div>
                                <div id="collapse-advanced-search" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-7">
                                                            <label>
                                                                Годы публикации
                                                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите период времени, к которому должны относиться найденные публикации."></span>
                                                            </label>

                                                            <div class="form-inline">
                                                                <label>с</label>
                                                                <select data-width="auto">
                                                                    <option>1970</option>
                                                                </select>
                                                                <label>по</label>
                                                                <select data-width="auto">
                                                                    <option>2015</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-5">
                                                            <label>Язык произведения</label>
                                                            <select data-width="100%">
                                                                <option>Русский</option>
                                                                <option>Английский</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Авторы
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле фамилии авторов, чьи публикации необходимо найти"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        ORCID
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ORCID (Open Researcher and Contributor ID) документа – уникальный идентификатор автора, публикации которого Вы хотите найти"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Ключевые слова
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ключевые слова, которыми должны описываться найденные документы"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Издательство
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле издательство документа"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Рубрики ГРНТИ
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле код рубрики ГРНТИ (Государственного рубрикатора научно-технической информации) или слова, входящие в названия интересующих Вас рубрик"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Вид документа
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле тип документа в коллекции «ИНФРА-М»: «статья», «книга», «диссертация»"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Торговый Код</label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Заглавие
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название публикации или фразу, которая должна встречаться в названии"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        DOI
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле DOI (Digital Object Identifier) документа – уникальный идентификатор цифрового объекта (например, публикации)"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Аннотация
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле аннотацию или часть аннотации, которой должны описываться найденные документы"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Название журнала
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название журнала, в котором опубликованы искомые научные статьи"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        Рубрики ОКСО
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле рубрики ОКСО, к которым должен относиться документ"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>

                                                <div class="form-group">
                                                    <label>
                                                        ISBN
                                                        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ISBN документа"></span>
                                                    </label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <ul class="list-unstyled row">
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Есть в наличии
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Новинка
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> ТБК
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-3">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> ББК
                                                    </label>
                                                </div>
                                            </li>
                                            <li class="col-lg-4">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> Наличие рекомендательного грифа
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                Поисковый запрос
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле предложения, фразы или ключевые слова, которые должны встречаться в текстах искомых публикаций и которые должны отражать содержание этих публикаций"></span>
                            </label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Отобразить тренды
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Поиск</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-analysis-2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">Анализ научных текстов</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-2">Справка</a>
                                    </h4>
                                </div>
                                <div id="collapse-help-2" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется анализ научных публикаций. Определяется научный уровень публикации, выявляются полученные результаты, извлекаются термины, введенные в публикации. Уровень публикации оценивается по шкале "Является/не является научной" с промежуточными значениями. Введите текст или выберите файл публикации и нажмите кнопку "Анализировать". Анализ качества научных текстов в настоящее время доступен только для русского языка.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Введите текст публикации:</label>
                            <textarea class="form-control" rows="10"></textarea>
                        </div>

                        <div class="form-group">
                            <label>...или загрузите файл публикации:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Файл не выбран">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-search-settings-2">Настройки поиска</a>
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                </h4>
                            </div>
                            <div id="collapse-search-settings-2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled row">
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Все коллекции
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Авторефераты
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Российские журналы
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Википедия
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Внешние коллекции ВУЗов
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Инфра М
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Hindawi
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer open access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Анализировать</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-analysis-3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-center">Оценка оригинальности</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse-help-3">Справка</a>
                                    </h4>
                                </div>
                                <div id="collapse-help-3" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>На этой вкладке выполняется поиск текстовых заимствований в коллекциях документов. Введите проверяемый текст в соответствующее поле или загрузите файл с текстом для поиска заимствований. Вы можете выбрать год опубликования проверяемого текста для разделения найденных совпадений на две категории: множество документов-источников, из которых заимствует проверяемый текст, (опубликованных ранее), а также множество документов, заимствующих из проверяемого текста, (опубликованных позднее). При оценке оригинальности проверяемого текста Вы можете исключить из рассмотрения совпадающие фрагменты, относящиеся к цитированиям в списках литературы (выделяются автоматически).</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Введите текст публикации:</label>
                            <textarea class="form-control" rows="10"></textarea>
                        </div>

                        <div class="form-group">
                            <label>...или загрузите файл публикации:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Уголовное право РОссийской Федерации">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Год публикации:</label>
                                    <select data-width="auto">
                                        <option>2015</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Не учитывать список литературы
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-search-settings-3">Настройки поиска</a>
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                </h4>
                            </div>
                            <div id="collapse-search-settings-3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled row">
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Все коллекции
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Авторефераты
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Российские журналы
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Википедия
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Внешние коллекции ВУЗов
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Инфра М
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Hindawi
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer open access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Анализировать</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <script src="{{ asset('bundles/asu/js/jcarousel.min.js') }}"></script>
    <script>
        $(function(){
            $('.jcarousel-inner').jcarousel({wrap: 'circular'});

            $('.jcarousel-prev').on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            }).on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            }).jcarouselControl({
                target: '-=1'
            });

            $('.jcarousel-next').on('jcarouselcontrol:active', function() {
                $(this).removeClass('inactive');
            }).on('jcarouselcontrol:inactive', function() {
                $(this).addClass('inactive');
            }) .jcarouselControl({
                target: '+=1'
            });
        });
    </script>
{% endblock %}
