
{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Список журналов по темам</h3>
    </div>

    {% for classif in classifs %}

        {% for key,value in classif.childrens %}

            {#{{ dump(key) }}#}
            {#{{ dump(value) }}#}

            {% if value.id is defined %}

                {% if object.getJournalByCode(classif.type, value.new_code).currentrecord is not null %}
                    <h3>{{ value.title }} ({{ value.new_code }})</h3>
                    {% for journal in object.getJournalByCode(classif.type, value.new_code) %}
                        <a href="/nauka/{{ journal.__get('_id') }}/">{{ journal.__get('title') }}</a>
                        <br>
                    {% endfor %}
                {% endif %}

                {% if value.childrens is defined %}
                    {% for children in value.childrens %}

                        {% if object.getJournalByCode(classif.type, children.new_code).currentrecord is not null %}
                            <h3>{{ children.title }} ({{ children.new_code }})</h3>
                            {% for journal in object.getJournalByCode(classif.type, children.new_code) %}
                                <a href="/nauka/{{ journal.__get('_id') }}/">{{ journal.__get('title') }}</a>
                                <br>
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endif %}

            {% endif %}

        {% endfor %}

    {% endfor %}

{% endblock %}