
{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Список журналов по алфавиту</h3>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th class="text-center">Название</th>
            </tr>
        </thead>
        <tbody>
        {% for journal in journals %}
            <tr>
                <td>{{ journal.id }}</td>
                <td>
                    <a href="{{ path('nauka_journal', {'id': journal.id}) }}">
                        {{ journal.ru.title }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}