{% extends "JournalsBundle:Base:readerpage.html.twig" %}

{% block content %}
    <ul class="book epub">
        <li>
            <div class="page">
                <p>Genre</p>
                <p>Author Info</p>
                <p>&nbsp;convertfileonline.com</p>
                <p>_2015_12_04_09_58_12_693</p>
                <p>INSTITUTIONAL THEORY</p>
                <p>OF MONEY</p>
                <p>THE ESSENCE AND LEGAL STATUS</p>
                <p>OF MONEY AND SECURITIES</p>
                <p>A. Yu. Gribov</p>
                <p>Academus Publishing</p>
                <p>2015</p>
                <p>Academus Publishing, Inc.</p>
                <p>1999 S, Bascom Avenue, Suite 700 Campbell CA 95008</p>
                <p>Website: www.academuspublishing.com</p>
                <p>E-mail: info@academuspublishing.com</p>
                <p>© Publisher, Academus Publishing, Inc., 2014</p>
                <p>© Translators, Daria Kulesh, Emma Fenwick, 2008</p>
                <p>The right of A. Yu. Gribov is identified as author of this work.</p>
                <p>Translated and copyedited by ELSE Professional Business Editors, Moscow</p>
                <p>Literary Editors, Translators: Daria Kulesh, Emma Fenwick</p>
                <p>ISBN 10: 1 4946 0000 5</p>
                <p>ISBN 13: 978 1 4946 0000 6</p>
                <p>DOI 10.12737/6433</p>
                <p>All rights reserved. No part of this publication may be reproduced, stored in a retrieval system, or</p>
                <p>transmitted in any form or by any means, electronic, mechanical, photocopying, recording or otherwise,</p>
                <p>without the prior written permission of the publisher. This book may not be lent, resold, hired out or</p>
                <p>otherwise disposed of by way of trade in any form of binding or cover other than that in which it is</p>
                <p>published, without the prior consent of the Publisher.</p>
                <p>All trademarks used herein are the property of their respective owners. The use of any trademark in this text</p>
                <p>does not vest in the author or publisher any trademark ownership rights in such trademarks, nor does the use</p>
                <p>of such trademarks imply any affiliation with or endorsement of this book by such owners.</p>
                <p>Introduction</p>
                <p>The aim of this study is to deduct and demonstrate current definitions (which are essential for the normal</p>
                <p>functioning of a country’s financial system) of a security, money, currency and, most importantly, of the</p>
                <p>rules of circulation for different forms of money and securities.</p>
                <p>Definition of a security</p>
                <p>A security is a document that has been completed in the prescribed manner and in accordance with</p>
                <p>compulsory requirements, and which secures a sum total of property rights and non-property rights that are</p>
                <p>subject to certification, concession and unconditional realisation as prescribed by federal law, and which</p>
                <p>may be alienated by the right-possessing side to any party, regardless of the wishes of the legally bound side.</p>
                <p>In some cases, for example, with acceptance of a promissory note, the legally bound side can change without</p>
            </div>
        </li>

        <li>
            <div class="page">
                <p>the agreement of the right-possessing side.</p>
                <p>With the alienation of a security, all rights (obligations) secured by it transfer in the aggregate.</p>
                <p>A security has an obligatory nature regardless of which bearer it is filled in for.</p>
                <p>A security of which the owner’s rights are secured in a special register (ordinary or computerised) is a</p>
                <p>registered security.</p>
                <p>In a case provided for by law or in accordance with it, for the realisation or alienation of rights certified by a</p>
                <p>security, evidence of these rights, which is kept in a special register, is sufficient.</p>
                <p>A security for which the right-possessing side is the owner of its bearer is called a bearer security. A bearer</p>
                <p>security is completed in a single copy.</p>
                <p>Rules for circulation of securities</p>
                <p>Securities, with the exception of bearer securities, are treated in accordance with liability laws.</p>
                <p>Bearer securities are treated in accordance with laws of estate, but they are issued and redeemed in</p>
                <p>accordance with liability laws.</p>
                <p>Definition of money</p>
                <p>Various property goods can be used as money — objects, liabilities and entity-liability combinations, which</p>
                <p>fulfil the following functions of money:</p>
                <p>• a measure of value;</p>
                <p>• means of circulation;</p>
                <p>• means of accumulation.</p>
                <p>Money can have value:</p>
                <p>1) either on the strength of its natural useful properties — use value (commodity money):</p>
                <p>• precious and other metals;</p>
                <p>• rare minerals;</p>
                <p>• hides, grain, livestock;</p>
                <p>2) or as containing a liability (credit money or financial money):</p>
                <p>• promissory notes;</p>
                <p>• banknotes and billon coins containing an insignificant amount of a precious metal;</p>
                <p>• deeds for accounts in banks and registers;</p>
                <p>• bonds;</p>
                <p>• cheques;</p>
                <p>• other securities;</p>
                <p>3) or as entity-liability combinations, for example, coins with a specifically valuable content of a precious</p>
                <p>metal1.</p>
                <p>Definition of currency</p>
                <p>Currency — liabilities, stipulated for circulation, of a State bank (treasury, reserve system) — State cash or</p>
                <p>non-cash money — is defined as bearer securities issued by the State without a time-limit for presentation in</p>
                <p>the bearer’s name with an endorsement, which must be accepted in all regions of a country in accordance</p>
                <p>with the norms of its public law.</p>
                <p>Rules for circulation of different forms of money</p>
                <p>The rules of circulation of different forms of money are defined by the rules of circulation for those material</p>
                <p>goods that fulfil the functions of money.</p>
            </div>
        </li>

        <li>
            <div class="page">
                <p>According to the circulation rules, all forms of money can be divided into three broad categories: entities,</p>
                <p>liabilities and derivative securities (derivatives).</p>
                <p>Entities:</p>
                <p>1) natural, non-standardised commodity money;</p>
                <p>2) metal ingots of exact weight;</p>
                <p>3) full-weight metal coins.</p>
                <p>This type of money (entities) is treated in accordance with the rules applied in the law of estate/proprietary</p>
                <p>law.</p>
                <p>Pure liabilities:</p>
                <p>1) registered securities in cash form:</p>
                <p>a) registered bills;</p>
                <p>b) registered bonds, promissory notes of banks, and other quasi-money;</p>
                <p>c) nominal shares and other stock valuables;</p>
                <p>2) nominal accounts in non-cash form:</p>
                <p>a) non-cash currency (deposit money, cheque accounts);</p>
                <p>b) any business-type accounts, which reflect:</p>
                <p>• promissory notes;</p>
                <p>• bonds, banks bills, and other quasi-money;</p>
                <p>• nominal shares and other stock valuables.</p>
                <p>This type of money (liabilities) is circulated in accordance with the rules applied in law of obligations.</p>
                <p>Derivative securities, where the right to own an entity, which is the bearer of the liability, generates a legal</p>
                <p>binding relationship with the debtor:</p>
                <p>1) ordinary bearer bills;</p>
                <p>2) banknotes from private banks;</p>
                <p>3) cash currency — State bank notes and coins;</p>
                <p>4) bonds, bank bills, and other quasi-money in the form of bearer securities;</p>
                <p>5) shares and other stock valuables in the form of bearer securities.</p>
                <p>Such derivative securities are circulated in accordance with laws of estate, with the exception of their issue</p>
                <p>and redemption, in which case they are circulated in accordance with laws of obligation.</p>
                <p>In this study, use has been made of detailed quotes from Russian and foreign researchers into the legal and</p>
                <p>economic nature of money, in order to deduct and demonstrate these definitions and rules.</p>
                <p>1 Extremely rarely encountered in practice. The circulation of money as entity-liability combinations with</p>
                <p>components that are comparable in significance is not included in this study.</p>
                <p>Part I</p>
                <p>&nbsp; &nbsp; &nbsp; WHY IS AN INSTITUTIONAL</p>
                <p>&nbsp; &nbsp; &nbsp; THEORY OF MONEY NEEDED?</p>
                <p>On errors in the legal treatment of the concept of money and securities and their consequences</p>
                <p>In 1995, during Russia’s first banking crisis, the largest of the ruined banks was the Moscow interregional</p>
                <p>commercial bank (MMKB) — formerly Promstroibank of the Moscow region. Despite the considerable sum</p>
                <p>of its assets, the bank returned very little in the way of funds to the creditors. The bank’s lawyers played a</p>
                <p>large role in this, taking an extremely interesting stance, which contradicted the economic treatment of the</p>
            </div>
        </li>
    </ul>
{% endblock %}