{% extends "JournalsBundle:Base:pageonecol.html.twig" %}

{% block head %}
    <script src="{{ asset('bundles/journals/js/jquery.autocomplite.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="pull-right text-success">
            Найдено: <strong>{{ all_count   }}</strong>
        </div>
        <h3>Результаты поиска по запросу: <strong>"{{ search_txt }}"</strong></h3>
    </div>
    <br>

    <!--div class="btn-group btn-group-sm pull-right">
        <div class="btn-group btn-group-sm">
            <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </div>
            <ul class="dropdown-menu">
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-star"></span> В избранное</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span> Поделиться</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-import"></span> На книжную полку</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Создать новую книжную полку</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-comment"></span> Комментировать</a></li>
                <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span> Купить онлайн</a></li>
            </ul>
        </div>
        <label class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Выбрать">
            <span aria-hidden="true" class="glyphicon glyphicon-check"></span>
            <input type="checkbox">
        </label>
    </div-->

    <div class="row search-results">
    {% for key, value  in blocks %}
        {#{{ dump(key) }}#}
        {#{{ dump(value) }}#}
        <div class="col-md-4">
            <div class="btn-group btn-group-sm pull-right">
                <div data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                    Экспорт результатов
                    <span class="caret"></span>
                </div>

                <ul class="dropdown-menu">
                    <li><a href="#">ISO</a></li>
                    <li><a href="#">RUSMARK</a></li>
                    <li><a href="#">TXT</a></li>
                    <li><a href="#">XLS</a></li>
                    <li><a href="#">CSV</a></li>
                </ul>
            </div>

            <h4>
                {{ getResultType(key) }}
                <div data-toggle="collapse" data-target="#collapse{{ key }}" class="btn btn-sm">
                    <span title="" class="fa fa-chevron-down" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Свернуть/развернуть"></span>
                </div>
            </h4>
            <hr>

            <ul class="search-results-list collapse in" id="collapse{{ key }}">
                {% for item in value.items %}

                        <li>
                            <div class="item-body">
                                <div class="btn-group btn-group-sm pull-right">
                                    <div class="btn-group btn-group-sm">
                                        <div class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </div>
                                        <ul class="dropdown-menu">
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-star"></span> В избранное</a></li>
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-share"></span> Поделиться</a></li>
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-import"></span> На книжную полку</a></li>
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> Создать новую книжную полку</a></li>
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-comment"></span> Комментировать</a></li>
                                            <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-shopping-cart"></span> Купить онлайн</a></li>
                                        </ul>
                                    </div>
                                    <label class="btn btn-default" data-toggle="tooltip" data-placement="top" data-container="body" title="Выбрать">
                                        <span aria-hidden="true" class="glyphicon glyphicon-check"></span>
                                        <input type="checkbox">
                                    </label>
                                </div>

                    {% if key == 200 %}
                        <h4 class="item-heading"><a href="/nauka/{{ item.id}}/">{{ item.value }}</a></h4>
                    {% elseif key == 100 %}
                        <h4 class="item-heading"><a href="/nauka/publication/{{ item.id}}/">{{ item.value }}</a></h4>
                    {% elseif key == 300 %}
                        <h4 class="item-heading"><a href="/nauka/author/{{ item.id}}/">{{ item.value }}</a></h4>
                    {% else %}
                        <h4 class="item-heading"><a href="#">{{ item.value }}</a></h4>
                    {% endif %}

                                <dl class="dl-horizontal">
                                    <dt>Автор:</dt>
                                    <dd>Крахмальный Т. А.</dd>
                                    <dt>Вид издания:</dt>
                                    <dd>Учебное пособие</dd>
                                </dl>
                            </div>
                        </li>

                {% endfor %}
            </ul>

            {% if value.link is defined and value.count > 10%}
            <br>
             <a href="{{ value.link }}" class="btn btn-default">Посмотреть еще {{ value.count -10 }} ...</a>
            {% endif %}
        </div>
    {% endfor %}
    </div>

    <script src="{{ asset('bundles/journals/js/search.js') }}"></script>
    <script>
        $(function(){
            $('#search_input').val('{{ search_txt }}');

            var checboxes = $(this).find('.search-results-list').find(':checkbox');

            checboxes.prop('checked', false);

            checboxes.change(function(){
                var btn = $(this).closest('.btn'),
                        row =  $(this).closest('li');

                if($(this).is(':checked')){
                    btn.addClass('active');
                    row.addClass('alert-success');
                }else{
                    btn.removeClass('active');
                    row.removeClass('alert-success');
                }
            });
        });
    </script>

{% endblock %}