{% extends "JournalsBundle:Base:pagetwocol.html.twig" %}

{% block content %}
    <div class="page-header">
        <h3>Список журналов по сериям</h3>
    </div>

    {% for item in series %}

        <h4>{{ item.__get('title') }}</h4>
        {{ item.__get('about')|raw }}
        <br>

        <ul class="list">
            {% for journal in item.getJournals(item.__get('_id')) %}
               <li><a href="/nauka/{{ journal.__get('_id') }}"> {{ journal.__get('title') }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

{% endblock %}