<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Editorum</title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/journals/css/journals.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/bframe.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/asu/js/lib.js') }}"></script>
    <script src="{{ asset('bundles/journals/js/jquery.autocomplite.js') }}"></script>

    {% block head %}
    {% endblock %}
</head>
<body>
<div class = 'list-group sub_menu hide'>
    <a href="#" class="list-group-item prevDefault change_folder">Изменить</a>
    <a href="#" class="list-group-item prevDefault remove_folder">Удалить</a>
    <a href="#" class="list-group-item prevDefault create_folder">Создать папку</a>
</div>

<header id="position_top">
    <div class="container">
        {% block topmenu %}
            {% include "AsuBundle:Parts:mainmenu.html.twig" %}

            {% block search %}
                <form role="search" action="/result" method="POST">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Поиск" id="search_input" name="query">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary"><span class="fa fa-search"></span></button>
                        </div>
                    </div>
                </form>
            {% endblock %}
        {% endblock %}
    </div>
</header>

<div class="content container">
    {% block content %}{% endblock %}
    <div class="pull-right hide" id="up">
        <div class="btn btn-default">
            <span class="fa fa-long-arrow-up"></span>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <hr>
        &copy; Editorum <span class="year"></span>
    </div>
</footer>

{% block registration %}
    {% include "AsuBundle:Parts:registration.html.twig" %}
{% endblock %}

{% block login %}
    {% include "AsuBundle:Parts:login.html.twig" %}
{% endblock %}

<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/validator.js') }}"></script>
<script src="{{ asset('bundles/journals/js/search.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-select.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/main.js') }}"></script>
<script src="{{ asset('bundles/asu/js/jquery.bootstrap-growl.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

<script>
    $(function () {
        {% for type, messages in app.session.flashBag.all %}
        {% set message_type = 'info' %}
        {% if type == 'error' %}
        {% set message_type = 'danger' %}
        {% endif %}
        {% if type == 'notice' %}
        {% set message_type = 'success' %}
        {% endif %}
        {% for message in messages %}
        $.bootstrapGrowl('{{ message|trim('.')|trans({}, 'app') }}', {
            type: '{{ message_type }}',
            align: 'right',
            width: 300,
            stackup_spacing: 30
        });
        {% endfor %}
        {% endfor %}
    });
</script>

{% block page_script %}{% endblock page_script %}

</body>
</html>