<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ридер</title>
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.png') }}" type="image/png">
    <link rel="shortcut icon" href="{{ asset('bundles/asu/images/favicon.ico') }}" type="image/x-icon">
    <link href="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/asu/css/reader.css') }}" rel="stylesheet">
</head>
<body>

{% block header %}
    <nav>
        <div class="pull-left">
            <div class="btn btn-warning" data-target="#modal-online-editor" data-toggle="modal">
                <span class="fa fa-pencil-square-o" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Онлайн редактор"></span>
            </div>

            <div class="btn" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Закладки">
                <span class="fa fa-bookmark"></span>
            </div>

            <div class="btn" data-toggle="modal" data-target="#modal-quote">
                <span class="fa fa-quote-right" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Цитировать"></span>
            </div>

            <div class="btn" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Заметки">
                <span class="fa fa-list-alt"></span>
            </div>

            <div class="btn" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Сноски">
                <span class="fa fa-superscript"></span>
            </div>

            <div class="dropdown">
                <div class="btn dropdown-toggle" data-toggle="dropdown">
                    Анализ
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#modal-analysis-1">Тематический анализ</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal-analysis-2">Анализ научного текста</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal-analysis-3">Оценка оригинальности</a></li>
                </ul>
            </div>
        </div>

        <div class="pull-right">
            <div class="btn" data-target="#table-of-contents" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Содержание">
                <span class="fa fa-list"></span>
            </div>

            <div class="btn" data-target="#font-size" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Форматирование текста">
                <span class="fa fa-font"></span>
            </div>

            <div class="btn" data-target="#search" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Поиск">
                <span class="fa fa-search"></span>
            </div>

            <div class="btn">
                <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Информация о произведении"></span>
            </div>

            <div class="btn" data-target="#reference" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Справка">
                <span class="fa fa-question-circle"></span>
            </div>

            <div class="btn" data-toggle="tooltip" data-placement="bottom" data-container="body" title="Каталог">
                <span class="fa fa-home"></span>
            </div>
        </div>

        <div class="form-inline text-center">
            <div class="btn" id="first-page">
                <span class="fa fa-step-backward"></span>
            </div>

            <div class="btn" id="prev-page">
                <span class="fa fa-chevron-left"></span>
            </div>

            <input type="text" value="1" class="form-control" id="current-page">
            <label>/ <span id="total-pages">&nbsp;&nbsp;</span></label>

            <div class="btn" id="next-page">
                <span class="fa fa-chevron-right"></span>
            </div>

            <div class="btn" id="last-page">
                <span class="fa fa-step-forward"></span>
            </div>
        </div>
    </nav>

    <div class="left-panel">
        <div class="btn-group-vertical">
            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Увеличить масштаб">
                <span class="fa fa-plus"></span>
            </div>
            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Уменьшить масштаб">
                <span class="fa fa-minus"></span>
            </div>
            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Повернуть влево">
                <span class="fa fa-rotate-left"></span>
            </div>
            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Повернуть вправо">
                <span class="fa fa-rotate-right"></span>
            </div>
            <div class="btn btn-default" id="two-pages" data-toggle="tooltip" data-placement="right" data-container="body" title="Показвать по две страницы">
                <span class="fa fa-columns"></span>
            </div>
        </div>

        <div class="btn-group-vertical">
            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Скачать">
                <span class="fa fa-download"></span>
            </div>

            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Добавить на книжную полку">
                <span class="fa fa-upload"></span>
            </div>

            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Отправить на почту">
                <span class="fa fa-envelope"></span>
            </div>

            <div class="btn btn-default" data-toggle="tooltip" data-placement="right" data-container="body" title="Добавить в избранное">
                <span class="fa fa-star"></span>
            </div>
        </div>
    </div>


    <div class="right-panel" id="table-of-contents">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="table-of-contents">
            <h4>Содержание</h4>

            <ul class="list">
                <li><a href="#">1. Понятние, предмет, задачи и принципы уголовного права</a></li>
                <li><a href="#">2. Уголовный закон</a></li>
                <li><a href="#">3. Преступление</a></li>
                <li><a href="#">4. Уголовная ответственность и состав преступления</a></li>
                <li><a href="#">5. Объект преступления</a></li>
                <li><a href="#">6. Объективная сторона преступления</a></li>
                <li><a href="#">7. Субъективная сторона преступления</a></li>
                <li><a href="#">8. Субъект преступления</a></li>
                <li><a href="#">9. Стадии совершения преступления</a></li>
                <li><a href="#">10. Соучастие в преступлении</a></li>
            </ul>
        </div>
    </div>

    <div class="right-panel" id="font-size">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="font-size text-center">
            <div class="size">
                <div class="btn">
                    <span class="glyphicon glyphicon-font"></span>
                </div>
                <div class="btn">
                    <span class="glyphicon glyphicon-font"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4 white">
                    <p><span class="glyphicon glyphicon-align-left"></span></p>
                    <div class="btn btn-default">Белый</div>
                </div>
                <div class="col-xs-4 sepia">
                    <p><span class="glyphicon glyphicon-align-center"></span></p>
                    <div class="btn btn-default">Сепия</div>
                </div>
                <div class="col-xs-4 black">
                    <p><span class="glyphicon glyphicon-align-right"></span></p>
                    <div class="btn btn-default">Черный</div>
                </div>
            </div>

            <h4>Формат</h4>
            <div class="dropdown">
                <div class="btn btn-block btn-default dropdown-toggle" data-toggle="dropdown">
                    Адаптированный формат
                    <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li><a href="#">Адаптированный формат</a></li>
                    <li><a href="#">Исходный формат</a></li>
                </ul>
            </div>
            <br>

            <ul class="list">
                <li><a href="#" style="font-family: Georgia">Georgia</a></li>
                <li><a href="#" style="font-family: Times">Times</a></li>
                <li><a href="#" style="font-family: Arial">Arial</a></li>
                <li><a href="#" style="font-family: Verdana">Verdana</a></li>
            </ul>
        </div>
    </div>

    <form id="search" class="search-form">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>

        <div class="input-group">
            <input type="text" placeholder="Поиск" class="form-control">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>

    <div class="right-panel" id="reference">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4>Справка</h4>
        <ul class="list">
            <li><a href="#">Об этой книге</a></li>
            <li><a href="#">Справочный центр Google Play</a></li>
            <li><a href="#">Использование веб-браузера для чтения</a></li>
            <li><a href="#">Сообщение о неприемлемом содержании</a></li>
            <li><a href="#">Сообщение о проблеме</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}{% endblock %}

<div class="modal fade" id="modal-analysis-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Тематический анализ</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-help-1">Справка</a>
                                </h4>
                            </div>
                            <div id="collapse-help-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>На этой вкладке выполняется анализ публикационной активности по заданной теме. Выберите коллекции и временной период, задайте тему с помощью фраз или ключевых слов. В результате система сформирует отчёт, содержащий относительное количество публикаций по заданной теме за каждый год из выбранного интервала, а также распределение найденных документов по коллекциям.</p>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-search-settings-1">Настройки поиска</a>
                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                                </h4>
                            </div>
                            <div id="collapse-search-settings-1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <ul class="list-unstyled row">
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Все коллекции
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Авторефераты
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Российские журналы
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Википедия
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Внешние коллекции ВУЗов
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Инфра М
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Hindawi
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer open access
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Springer
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-advanced-search">Расширенный поиск</a>
                                </h4>
                            </div>
                            <div id="collapse-advanced-search" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-lg-7">
                                                        <label>
                                                            Годы публикации
                                                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите период времени, к которому должны относиться найденные публикации."></span>
                                                        </label>

                                                        <div class="form-inline">
                                                            <label>с</label>
                                                            <select data-width="auto">
                                                                <option>1970</option>
                                                            </select>
                                                            <label>по</label>
                                                            <select data-width="auto">
                                                                <option>2015</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-5">
                                                        <label>Язык произведения</label>
                                                        <select data-width="100%">
                                                            <option>Русский</option>
                                                            <option>Английский</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Авторы
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле фамилии авторов, чьи публикации необходимо найти"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    ORCID
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ORCID (Open Researcher and Contributor ID) документа – уникальный идентификатор автора, публикации которого Вы хотите найти"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Ключевые слова
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ключевые слова, которыми должны описываться найденные документы"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Издательство
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле издательство документа"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Рубрики ГРНТИ
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле код рубрики ГРНТИ (Государственного рубрикатора научно-технической информации) или слова, входящие в названия интересующих Вас рубрик"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Вид документа
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле тип документа в коллекции «ИНФРА-М»: «статья», «книга», «диссертация»"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Торговый Код</label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Заглавие
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название публикации или фразу, которая должна встречаться в названии"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    DOI
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле DOI (Digital Object Identifier) документа – уникальный идентификатор цифрового объекта (например, публикации)"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Аннотация
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле аннотацию или часть аннотации, которой должны описываться найденные документы"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Название журнала
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле название журнала, в котором опубликованы искомые научные статьи"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    Рубрики ОКСО
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле рубрики ОКСО, к которым должен относиться документ"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label>
                                                    ISBN
                                                    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле ISBN документа"></span>
                                                </label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="list-unstyled row">
                                        <li class="col-lg-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Есть в наличии
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Новинка
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> ТБК
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> ББК
                                                </label>
                                            </div>
                                        </li>
                                        <li class="col-lg-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Наличие рекомендательного грифа
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>
                            Поисковый запрос
                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Введите в это поле предложения, фразы или ключевые слова, которые должны встречаться в текстах искомых публикаций и которые должны отражать содержание этих публикаций"></span>
                        </label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Отобразить тренды
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Поиск</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-analysis-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Анализ научных текстов</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-help-2">Справка</a>
                                </h4>
                            </div>
                            <div id="collapse-help-2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>На этой вкладке выполняется анализ научных публикаций. Определяется научный уровень публикации, выявляются полученные результаты, извлекаются термины, введенные в публикации. Уровень публикации оценивается по шкале "Является/не является научной" с промежуточными значениями. Введите текст или выберите файл публикации и нажмите кнопку "Анализировать". Анализ качества научных текстов в настоящее время доступен только для русского языка.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Введите текст публикации:</label>
                        <textarea class="form-control" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <label>...или загрузите файл публикации:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Файл не выбран">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse-search-settings-2">Настройки поиска</a>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                            </h4>
                        </div>
                        <div id="collapse-search-settings-2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled row">
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Все коллекции
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Авторефераты
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Российские журналы
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Википедия
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Внешние коллекции ВУЗов
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Инфра М
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Hindawi
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Springer open access
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Springer
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Анализировать</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-analysis-3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Оценка оригинальности</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse-help-3">Справка</a>
                                </h4>
                            </div>
                            <div id="collapse-help-3" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>На этой вкладке выполняется поиск текстовых заимствований в коллекциях документов. Введите проверяемый текст в соответствующее поле или загрузите файл с текстом для поиска заимствований. Вы можете выбрать год опубликования проверяемого текста для разделения найденных совпадений на две категории: множество документов-источников, из которых заимствует проверяемый текст, (опубликованных ранее), а также множество документов, заимствующих из проверяемого текста, (опубликованных позднее). При оценке оригинальности проверяемого текста Вы можете исключить из рассмотрения совпадающие фрагменты, относящиеся к цитированиям в списках литературы (выделяются автоматически).</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Введите текст публикации:</label>
                        <textarea class="form-control" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <label>...или загрузите файл публикации:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Уголовное право РОссийской Федерации">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Загрузить</button>
                                </span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Год публикации:</label>
                                <select data-width="auto">
                                    <option>2015</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> Не учитывать список литературы
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse-search-settings-3">Настройки поиска</a>
                                <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Выберите коллекции"></span>
                            </h4>
                        </div>
                        <div id="collapse-search-settings-3" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled row">
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Все коллекции
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Авторефераты
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Российские журналы
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Википедия
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Внешние коллекции ВУЗов
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Инфра М
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Hindawi
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Springer open access
                                            </label>
                                        </div>
                                    </li>
                                    <li class="col-lg-4">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Springer
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Анализировать</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-quote">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Цитировать</h4>
            </div>
            <div class="modal-body">
                <p>Скопируйте отформатированную библиографическую ссылку через буфер обмена или перейдите по одной из ссылок для импорта в Менеджер библиографий.</p>

                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab-1" data-toggle="tab">Электронная ссылка</a></li>
                    <li><a href="#tab-2" data-toggle="tab">Печатная ссылка</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            Импортировать
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">BibTex</a></li>
                            <li><a href="#">EndNote</a></li>
                            <li><a href="#">RefMan</a></li>
                        </ul>
                    </li>
                </ul>

                <div class="tab-content">
                    <div  class="tab-pane active" id="tab-1">
                        <ul class="nav nav-tabs-vertical" role="tablist">
                            <li class="active"><a href="#tab-1-gost" data-toggle="tab">ГОСТ</a></li>
                            <li><a href="#tab-1-editorum" data-toggle="tab">Editorum</a></li>
                            <li><a href="#tab-1-mla" data-toggle="tab">MLA</a></li>
                            <li><a href="#tab-1-apa" data-toggle="tab">APA</a></li>
                            <li><a href="#tab-1-wiki" data-toggle="tab">Wiki</a></li>
                        </ul>

                        <div class="tab-content">
                            <div  class="tab-pane active" id="tab-1-gost">
                                <p>Тимшин Вадим Алексеевич ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА // Вестник ВятГГУ . 2013. №1. URL: http://cyberleninka.ru/article/n/filosofy-i-filosofskoe-obrazovanie-v-vyatskom-gosudarstvennom-gumanitarnom-universitete-k-100-letnemu-yubileyu-vuza (дата обращения: 02.12.2015).</p>
                            </div>

                            <div  class="tab-pane" id="tab-1-mla">
                                <p>Тимшин Вадим Алексеевич "ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА" Вестник Вятского государственного гуманитарного университета (2013). URL: http://cyberleninka.ru/article/n/filosofy-i-filosofskoe-obrazovanie-v-vyatskom-gosudarstvennom-gumanitarnom-universitete-k-100-letnemu-yubileyu-vuza (дата обращения: 02.12.2015).</p>
                            </div>

                            <div  class="tab-pane" id="tab-1-apa">
                                <p>Тимшин Вадим Алексеевич (2013). ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА. Вестник Вятского государственного гуманитарного университета URL: http://cyberleninka.ru/article/n/filosofy-i-filosofskoe-obrazovanie-v-vyatskom-gosudarstvennom-gumanitarnom-universitete-k-100-letnemu-yubileyu-vuza (дата обращения: 02.12.2015).</p>
                            </div>

                            <div  class="tab-pane" id="tab-1-wiki">
                                <p>{{ '{{' }}cite web |url=http://cyberleninka.ru/article/n/filosofy-i-filosofskoe-obrazovanie-v-vyatskom-gosudarstvennom-gumanitarnom-universitete-k-100-letnemu-yubileyu-vuza|title=Тимшин Вадим Алексеевич ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА // Вестник ВятГГУ . 2013. (дата обращения: 02.12.2015).{{ '}}' }}</p>
                            </div>

                            <div class="tab-pane" id="tab-1-editorum">
                                <p>Хассельбальк О. . CORRUPTION AND LOBBYISM: THE DANISH EXPERIENCE / О. . Хассельбальк // Журнал зарубежного законодательства и сравнительного правоведения. 2015. Т. 1. №. 5. C. 0-0. DOI: 10.12737/16133</p>
                                <p>Khassel´bal´k, O. CORRUPTION AND LOBBYISM: THE DANISH EXPERIENCE Zhurnal zarubezhnogo zakonodatel´stva i sravnitel´nogo pravovedeniya. 2015. V. 1, I. 5: p. 0-0. DOI: 10.12737/16133</p>
                            </div>
                        </div>
                    </div>

                    <div  class="tab-pane" id="tab-2">
                        <ul class="nav nav-tabs-vertical" role="tablist">
                            <li class="active"><a href="#tab-2-gost" data-toggle="tab">ГОСТ</a></li>
                            <li><a href="#tab-2-editorum" data-toggle="tab">Editorum</a></li>
                            <li><a href="#tab-2-mla" data-toggle="tab">MLA</a></li>
                            <li><a href="#tab-2-apa" data-toggle="tab">APA</a></li>
                            <li><a href="#tab-2-wiki" data-toggle="tab">Wiki</a></li>
                        </ul>

                        <div class="tab-content">
                            <div  class="tab-pane active" id="tab-2-gost">
                                <p>Тимшин Вадим Алексеевич ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА // Вестник ВятГГУ . 2013. №1. С.6-12.</p>
                            </div>

                            <div  class="tab-pane" id="tab-2-mla">
                                <p>Тимшин Вадим Алексеевич "ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА" Вестник Вятского государственного гуманитарного университета (2013).</p>
                            </div>

                            <div  class="tab-pane" id="tab-2-apa">
                                <p>Тимшин Вадим Алексеевич (2013). ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА. Вестник Вятского государственного гуманитарного университета </p>
                            </div>

                            <div  class="tab-pane" id="tab-2-wiki">
                                <p>{{ '{{' }}статья|автор=Тимшин Вадим Алексеевич|заглавие=ФИЛОСОФЫ И ФИЛОСОФСКОЕ ОБРАЗОВАНИЕ В ВЯТСКОМ ГОСУДАРСТВЕННОМ ГУМАНИТАРНОМ УНИВЕРСИТЕТЕ: К 100-ЛЕТНЕМУ ЮБИЛЕЮ ВУЗА|издание=Вестник Вятского государственного гуманитарного университета|номер=|год=2013{{ '}}' }}</p>
                            </div>

                            <div class="tab-pane" id="tab-2-editorum">
                                <p>Хассельбальк О. . CORRUPTION AND LOBBYISM: THE DANISH EXPERIENCE / О. . Хассельбальк // Журнал зарубежного законодательства и сравнительного правоведения. 2015. Т. 1. №. 5. C. 0-0. DOI: 10.12737/16133</p>
                                <p>Khassel´bal´k, O. CORRUPTION AND LOBBYISM: THE DANISH EXPERIENCE Zhurnal zarubezhnogo zakonodatel´stva i sravnitel´nogo pravovedeniya. 2015. V. 1, I. 5: p. 0-0. DOI: 10.12737/16133</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-online-editor">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">Редактирование текста</h4>
            </div>
            <div class="modal-body">
                <div id="editor" class="editor">
                    <p>Naukaru.ru - портал научной периодики, площадка для публикации статей и чтения новых материалов.</p>
                    <p>Задачей проекта является привлечение максимально широкого круга исследователей в каждой предметной области для обсуждения реальных научных вопросов и проблем и сплочения научного сообщества для решения задач, встающих перед ним.</p>
                    <p>Проект Naukaru.ru также имеет своей целью привлечение внимания зарубежных ученых к исследованиям, которые проводятся в России. Для достижения этой цели ведется работа по включению всех журналов сайта в иностранные реферативные базы данных (Scopus, World of Science и др.), а всем материалам присваивается идентификатор цифрового объекта DOI для облегчения их поиска.</p>
                    <p>Также для зарегистрированных пользователей есть возможность получить идентификатор ORCID, который позволяет собрать все свои публикации в одном месте.
                    <p>На сайте Naukaru.ru располагаются научные журналы по различным отраслям знаний, основанные руководителями состоявшихся научных школ, имеющих богатый опыт в своей сфере и сложившиеся традиции научных исследований. Редсоветы журналов полностью независимы в отборе произведений, главными критериями отбора являются научность, актуальность и новизна исследований.</p>
                    <p>Обращаем ваше внимание на то, что публикация в части журналов, расположенных на сайте, бесплатна.</p>
                    <p>Для того чтобы использовать максимум возможностей системы, предлагаем Вам посетить раздел <a href="#">Услуги</a> и <a href="#">зарегистрироваться</a>.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="{{ asset('bundles/asu/js/jquery-2.1.3.min.js') }}"></script>
<script src="{{ asset('bundles/asu/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/asu/js/bootstrap-select.min.js') }}"></script>
<script>
    /* scrollTo 2.1.3 */
    ;(function(f){"use strict";"function"===typeof define&&define.amd?define(["jquery"],f):"undefined"!==typeof module&&module.exports?module.exports=f(require("jquery")):f(jQuery)})(function($){"use strict";function n(a){return!a.nodeName||-1!==$.inArray(a.nodeName.toLowerCase(),["iframe","#document","html","body"])}function h(a){return $.isFunction(a)||$.isPlainObject(a)?a:{top:a,left:a}}var p=$.scrollTo=function(a,d,b){return $(window).scrollTo(a,d,b)};p.defaults={axis:"xy",duration:0,limit:!0};$.fn.scrollTo=function(a,d,b){"object"=== typeof d&&(b=d,d=0);"function"===typeof b&&(b={onAfter:b});"max"===a&&(a=9E9);b=$.extend({},p.defaults,b);d=d||b.duration;var u=b.queue&&1<b.axis.length;u&&(d/=2);b.offset=h(b.offset);b.over=h(b.over);return this.each(function(){function k(a){var k=$.extend({},b,{queue:!0,duration:d,complete:a&&function(){a.call(q,e,b)}});r.animate(f,k)}if(null!==a){var l=n(this),q=l?this.contentWindow||window:this,r=$(q),e=a,f={},t;switch(typeof e){case "number":case "string":if(/^([+-]=?)?\d+(\.\d+)?(px|%)?$/.test(e)){e= h(e);break}e=l?$(e):$(e,q);case "object":if(e.length===0)return;if(e.is||e.style)t=(e=$(e)).offset()}var v=$.isFunction(b.offset)&&b.offset(q,e)||b.offset;$.each(b.axis.split(""),function(a,c){var d="x"===c?"Left":"Top",m=d.toLowerCase(),g="scroll"+d,h=r[g](),n=p.max(q,c);t?(f[g]=t[m]+(l?0:h-r.offset()[m]),b.margin&&(f[g]-=parseInt(e.css("margin"+d),10)||0,f[g]-=parseInt(e.css("border"+d+"Width"),10)||0),f[g]+=v[m]||0,b.over[m]&&(f[g]+=e["x"===c?"width":"height"]()*b.over[m])):(d=e[m],f[g]=d.slice&& "%"===d.slice(-1)?parseFloat(d)/100*n:d);b.limit&&/^\d+$/.test(f[g])&&(f[g]=0>=f[g]?0:Math.min(f[g],n));!a&&1<b.axis.length&&(h===f[g]?f={}:u&&(k(b.onAfterFirst),f={}))});k(b.onAfter)}})};p.max=function(a,d){var b="x"===d?"Width":"Height",h="scroll"+b;if(!n(a))return a[h]-$(a)[b.toLowerCase()]();var b="client"+b,k=a.ownerDocument||a.document,l=k.documentElement,k=k.body;return Math.max(l[h],k[h])-Math.min(l[b],k[b])};$.Tween.propHooks.scrollLeft=$.Tween.propHooks.scrollTop={get:function(a){return $(a.elem)[a.prop]()}, set:function(a){var d=this.get(a);if(a.options.interrupt&&a._last&&a._last!==d)return $(a.elem).stop();var b=Math.round(a.now);d!==b&&($(a.elem)[a.prop](b),a._last=this.get(a))}};return p});
</script>
<script src="{{ asset('bundles/asu/js/tinymce/tinymce.min.js') }}"></script>
<script>
    $(function(){
        $('[data-toggle="radio"]').find('.btn').click(function(){
            $(this).parent().find('.btn').removeClass('active');
            $(this).addClass('active');
        });

        $('[data-toggle-name="is_landing"]').find('.btn').click(function(){
            if($(this).val() == 'yes'){
                $('#landing').removeClass('hide');
            }else{
                $('#landing').addClass('hide');
            }
        });

        tinymce.init({
            selector: "#editor",
            language: "ru",
            min_height: 300,
            plugins: [
                "advlist autolink lists link image charmap print preview anchor",
                "searchreplace visualblocks code fullscreen",
                "insertdatetime media table contextmenu paste"
            ],
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | fullscreen"
        });
    });
</script>
<script>
    $(function(){
        var rightPanel = $('.right-panel'), searchForm = $('.search-form');

        $(document).on('click', 'nav .btn[data-target]:not(.active, .btn-warning)', function(){
            var target = $(this).data('target');
            rightPanel.hide();
            searchForm.hide();
            $(target).fadeIn();
            $('.btn[data-target]').removeClass('active');
            $(this).addClass('active');
        });

        $(document).on('click', 'nav .btn.active', function(){
            rightPanel.hide();
            searchForm.hide();
            $(this).removeClass('active');
        });

        $('.close').click(function(){
            rightPanel.fadeOut();
            searchForm.hide();
            $('.btn[data-target]').removeClass('active');
        });

        $('.white .btn').click(function(){
            $('body').css('background', 'white');
        });
        $('.black .btn').click(function(){
            $('body').css('background', '#333');
        });
        $('.sepia .btn').click(function(){
            $('body').css('background', '#F5EFDD');
        });

        $('#two-pages').click(function(){
            $(this).toggleClass('active');
            $('.book').toggleClass('two-pages');
        });

        $('select').selectpicker();

        $('[data-toggle="tooltip"]').tooltip();

        $.easing.elasout = function(x, t, b, c, d) {
            var s=1.70158;var p=0;var a=c;
            if (t==0) return b;  if ((t/=d)==1) return b+c;  if (!p) p=d*.3;
            if (a < Math.abs(c)) { a=c; var s=p/4; }
            else var s = p/(2*Math.PI) * Math.asin (c/a);
            return a*Math.pow(2,-10*t) * Math.sin( (t*d-s)*(2*Math.PI)/p ) + c + b;
        };

        $(document).scrollTo(0);
        $.scrollTo(0);

        var totalPages = $('.book').find('li').length,
            currentPage = $('#current-page');

        currentPage.val(1).change();

        $('#total-pages').text(totalPages);
        $('#next-page').click(function() {
            var val =  parseInt(currentPage.val());
            if(val!=totalPages){
                currentPage.val(val+1);
                $(document).scrollTo('.book li:eq('+val+')', 800);
            }
        });
        $('#prev-page').click(function() {
            var val = parseInt(currentPage.val());

            if(val!=1){
                currentPage.val(val-1);
                console.log(val-1);
                $(document).scrollTo('.book li:eq('+(val-2)+')', 800);
            }
        });
        currentPage.change(function(){
            var val =  parseInt(currentPage.val());
            $(document).scrollTo('.book li:eq('+(val-1)+')', 800);
        });
        $('#first-page').click(function(){
            $(document).scrollTo('.book li:eq(0)', 800);
            currentPage.val(1);
        });
        $('#last-page').click(function(){
            $(document).scrollTo('.book li:eq('+(totalPages-1)+')', 800);
            currentPage.val(totalPages);
        });

//        $(document).scroll(function(){
//            var val =  parseInt(currentPage.val());
//            var pos = $('.book li:eq('+(val)+')').offset().top;
//            if($(this).scrollTop() >= (pos/1.4)) currentPage.val(val+1);
//        });
    });
</script>
</body>
</html>