{% for block in sidemenu %}
    <div class="page-header">
        <h4>{{ block.block_title }}</h4>
    </div>

    <ul class="list">
        {% for key,item in block.links %}
            {% if 'hr_' in key %}
                <li><hr /></li>
            {% else %}
                <li
                        {% if key == active %}
                            class="active"
                        {% endif %}
                        ><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul><br>
{% endfor %}